<section class="client-logos">
  <div class="logo-boxes sq">
    <div class="single-box">
      <a href="https://www.whistle.ca/" target="_blank" title="Whistle! — The first ride-hailing service in BC, Canada.">
        <img data-src="/uploads/global/client-logos/whistle-sq.png" data-srcset="/uploads/global/client-logos/whistle-sq@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.coastercycles.com/" target="_blank" title="Coaster Cycles — Inspiring communities and brands to move, connect, and deliver.">
        <img data-src="/uploads/global/client-logos/coaster-sq.svg" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.christinas.vn/search/transportation/" target="_blank" title="Müvv — Offering travellers a simpler way to get around Vietnam.">
        <img data-src="/uploads/global/client-logos/muvv-sq.svg" />
      </a>
    </div>
  </div>
</section>

<main>

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="text-center px-lg-5">
            <p>Lernen Sie Wunder Shuttle kennen</p>
            <h2 class="headline-medium">Die Ridehailing-Technologie als zukunftssichere Lösung für Ihr Unternehmen. Machen Sie aus erstmaligen Mitfahrern innerhalb von 2 Wochen loyale Kunden.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="block block-video-1" id="main-video">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="plyr-video px-lg-4 px-xl-5 position-relative">
            <div class="plyr__video-embed" id="player">
              <iframe src="https://player.vimeo.com/video/384963127?title=0&byline=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a id="shuttle-playbtn" class="plyr__custom-starter invert gt-videoplay"></a>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <a class="btn btn-primary gt-navcta" href="#section-contact">
          Kontaktieren Sie uns
        </a>
      </div>
    </div>

  </section>

  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-1">
          <div class="phonemockup-animation screens-5">
            <img class="phonemockup-animation_notch" data-src="uploads/global/mockups/notch-black.png" data-srcset="uploads/global/mockups/notch-black@2x.png 2x" alt="Black notch covering a part of the screen as in many new mobile phones" />
            <div class="phonemockup-animation_screen-mask">
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/results.png" srcset="uploads/global/mockups/PAX/results@2x.png 2x" alt="Wunder shuttle screen for search results showing a map with a list of potential vehicles" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/matching.png" srcset="uploads/global/mockups/PAX/matching@2x.png 2x" alt="Wunder shuttle screen showing matching drivers in the area on a map" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/pickup.png" srcset="uploads/global/mockups/PAX/pickup@2x.png 2x" alt="Wunder shuttle screen showing matched driver 'Sarah' and an eta pickup time" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/dropoff.png" srcset="uploads/global/mockups/PAX/dropoff@2x.png 2x" alt="Wunder shuttle screen showing a map with a pin at the dropoff location and an eta" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/ride-finish.png" srcset="uploads/global/mockups/PAX/ride-finish@2x.png 2x" alt="Wunder shuttle screen showing a review screen to rate a driver with stars" />
            </div>
            <img class="phonemockup-animation_base" src="uploads/global/mockups/mockupbase-black.png" srcset="uploads/global/mockups/mockupbase-black@2x.png 2x" alt="Mobile phone frame for a mockup" />
            <div class="progress-bar"></div>
          </div>
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Mitfahrer-App</p>
          <h2 class="headline-large">Fahren, lächeln, wiederholen.</h2>
          <div class="row">
            <div class="col-xl-8">
              <p>Verbreiten Sie die Nachricht und locken Sie neue Mitfahrer mit Ihrer stylishen, benutzerfreundlichen App an.</p>
              <p>Zufriedene Mitfahrer werden wiederkehrende Kunden. Wiederkehrende Kunden bringen Ihrem Geschäft mehr Geld.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="phonemockup-animation screens-5">
            <img class="phonemockup-animation_notch" data-src="uploads/global/mockups/notch-white.png" data-srcset="uploads/global/mockups/notch-white@2x.png 2x" alt="Black notch covering a part of the screen as in many new mobile phones" />
            <div class="phonemockup-animation_screen-mask">
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/request.png" srcset="uploads/global/mockups/DAX/request@2x.png 2x" alt="Wunder shuttle screen for search results showing a map with a list of potential vehicles" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/turn-by-turn_collapsed.png" srcset="uploads/global/mockups/DAX/turn-by-turn_collapsed@2x.png 2x" alt="Wunder shuttle screen showing matching drivers in the area on a map" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/turn-by-turn_dropoff.png" srcset="uploads/global/mockups/DAX/turn-by-turn_dropoff@2x.png 2x" alt="Wunder shuttle screen showing matched driver 'Sarah' and an eta pickup time" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/finish-ride.png" srcset="uploads/global/mockups/DAX/finish-ride@2x.png 2x" alt="Wunder shuttle screen showing a map with a pin at the dropoff location and an eta" />
            </div>
            <img class="phonemockup-animation_base" src="uploads/global/mockups/mockupbase-white.png" srcset="uploads/global/mockups/mockupbase-white@2x.png 2x" alt="Mobile phone frame for a mockup" />
            <div class="progress-bar"></div>
          </div>
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Fahrer-App</p>
          <h2 class="headline-large">Machen Sie Ihre Fahrer glücklich.</h2>
          <div class="row">
            <div class="col-xl-8">
              <p>Die automatische Fahrer-Zuteilung spart Ihnen wertvolle Zeit und Energie.</p>
              <p>Reduzieren Sie die Wartezeit, indem die Mitfahrer dem Fahrer zugeordnet werden, der sich am nächsten befindet.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg blue-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-sm-left">
          <p>Betreiber-Dashboard</p>
          <h2 class="headline-large">Für einen reibungslosen Ablauf.</h2>
          <div class="row">
            <div class="col-xl-8">
              <p>SaVerabschieden Sie sich von langen Tabellen mithilfe eines digitalen Verwaltungssystems. Es ist flexibel, sicher und einfach. Verfolgen Sie sowohl Daten und Berichte online als auch die Standorte der Fahrer in Echtzeit und sehen Sie, wie Ihre Nutzungsrate sprunghaft ansteigt.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 py-5">
          <img class="web-mockup" src="uploads/global/mockups/mockup-shuttle_admin.png" srcset="uploads/global/mockups/mockup-shuttle_admin@2x.png 2x" alt="Wunder shuttle admin screen showing on a white laptop displaying a map and a list of drivers" />
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg white-bg my-0">
    <div class="container-fluid text-center">
      <p>Konfiguration</p>
      <h2 class="headline-large">Immer flexibel.</h2>
      <div class="row mt-3 pt-5">
        <div class="col-sm-4">
          <img src="uploads/global/icon-sq-car.svg" alt="blue icon of a cool looking car"/>
          <h3 class="headline-small">Fahrzeugtyp</h3>
          <p>Rikschas, Fahrräder oder Busse?<br>Ihre Wahl.</p>
        </div>
        <div class="col-sm-4">
          <img src="uploads/global/icon-sq-pricing.svg" alt="blue icon of a hand holding a dollar sign symbolising getting some sweet sweet cash"/>
          <h3 class="headline-small">Preiskalkulation</h3>
          <p>Fest, dynamisch oder entfernungsabhängig.<br>Nutzen Sie die Methode, die zu Ihnen passt.</p>
        </div>
        <div class="col-sm-4">
          <img src="uploads/global/icon-sq-payment.svg" alt="blue icon of a phone with a credit card alongside it"/>
          <h3 class="headline-small">Bezahlung</h3>
          <!-- something about stripe -->
          <p style="max-width: 280px;margin: 0 auto;">Mit Karte oder bar. Kein Problem mit unserer globalen Zahlungsverkehrsplattform.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img class="shuttle-branding" src="uploads/global/shuttle-branding-group.png" srcset="uploads/global/shuttle-branding-group@2x.png 2x" alt="Wunder shuttle screens customized with different colours and vehicles and logos" />
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Markenkennzeichnung</p>
          <h2 class="headline-large">Ihre Marke, Ihre App.</h2>
          <div class="row">
            <div class="col-xl-8">
              <p>Lassen Sie Ihr Geschäft mit einer benutzerdefinierbaren App und einer auf das Branding Ihres Unternehmens zugeschnittenen Benutzeroberfläche aufblühen.</p>
              <p>Verwenden Sie Ihre eigenen Farben, Logos und Icons, um Ihre Kunden zu begeistern und einen bleibenden Eindruck zu hinterlassen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg bg-white tab-section mt-5 mb-5">
    <div class="container-fluid text-center">
      <p>Kundenerfahrungen</p>
      <h3 class="headline-medium">Erfahren Sie mehr von unseren Partnern <br>auf der ganzen Welt</h3>
      <ul class="nav nav-pills justify-content-center my-5 py-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="pills-whistle-tab" data-toggle="pill" href="#pills-whistle" role="tab" aria-controls="pills-whistle" aria-selected="true">
            <img data-src="/uploads/global/client-logos/whistle-trans-sq.png" data-srcset="/uploads/global/client-logos/whistle-trans-sq@2x.png 2x" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" id="pills-muvv-tab" data-toggle="pill" href="#pills-muvv" role="tab" aria-controls="pills-muvv" aria-selected="false">
            <img data-src="/uploads/global/client-logos/muvv-sq.svg" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-coaster-tab" data-toggle="pill" href="#pills-coaster" role="tab" aria-controls="pills-coaster" aria-selected="false">
            <img data-src="/uploads/global/client-logos/coaster-sq.svg" />
          </a>
        </li>
      </ul>
      <div class="row text-left">
        <div class="col-md-10 offset-md-1">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade" id="pills-whistle" role="tabpanel" aria-labelledby="pills-whistle-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img src="/uploads/global/whistle-car.jpg" srcset="/uploads/global/whistle-car@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Whistle!</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.whistle.ca/" title="Whistle! — The first ride-hailing service in BC, Canada">www.whistle.ca</a><p>
                  <p>Der erste zugelassene Ridehailing-Serviceanbieter in British Columbia – „Whistle!“ ist eine Transportdienstleistungsfirma in lokalem Besitz, die in Whistler und Tofino agiert.</p>
                  <p>Die Gründer von Whistle! haben fast zwei Jahrzehnte Erfahrung im Ferntransportbereich und freuen sich darauf, ein Teil der neuen Ridehailing-Industrie zu sein, von der die Gründer glauben, dass sie Transportlösungen sowohl für die Einwohner als auch für Besucher bietet.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade show active" id="pills-muvv" role="tabpanel" aria-labelledby="pills-muvv-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img data-src="/uploads/global/muvv-photo.jpg" data-srcset="/uploads/global/muvv-photo@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Müvv</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.christinas.vn/" title="Müvv — Offering travellers a simpler way to get around Vietnam">www.christinas.vn</a><p>
                  <p>Müvv gehört zu „Christina‘s Vietnam“ und ist für den Transport zuständig – ein Reiseunternehmen, das Reisenden aus aller Welt Abenteuer vor Ort anbietet.</p>
                  <p>Das Müvv-Team bietet den Reisenden einen einfachen Service an, mit dem sie Vietnam praktisch und stressfrei erkunden können.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-coaster" role="tabpanel" aria-labelledby="pills-coaster-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img src="/uploads/global/coaster-bike.jpg" srcset="/uploads/global/coaster-bike@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Coaster Cycles</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.coastercycles.com/" title="Coaster Cycles — Inspiring communities and brands to move, connect, and deliver">www.coastercycles.com</a><p>
                  <p>Coaster Cycles motiviert die Bevölkerung und Marken, in Bewegung zu kommen und sich mit der Welt um sie herum zu verbinden.</p>
                  <p>Coaster Cycles bietet umweltfreundliche Mobilitätslösungen für die letzte Meile. Dazu gehören: Transport, Lieferung und Markenkennzeichnung für Kunden, die zu den 500 umsatzstärksten Unternehmen gehören, für Regierungen, Universitäten, Veranstaltungen und den Einzelhandel.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr class="d-sm-none">
  </div>


</main>
