<main class="with-form">

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="text-center px-lg-5">
            <p>Wunder Rent</p>
            <h2 class="headline-medium">Digitalisieren Sie Ihr Unternehmen: Online-Fahrzeugvermietung und eine Vielfalt von Features machen es möglich</h2>
          </div>
          <div class="row py-5 mb-5 mt-3 rent-icons align-items-end">
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text mb-4 mb-md-0 text-center">
                <object type="image/svg+xml" data="uploads/global/animated/customer_app_externaljs.svg"></object>
                <p>Nutzer-App</p>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text mb-4 mb-md-0 text-center">
                <object type="image/svg+xml" data="uploads/global/animated/fleet_management.svg"></object>
                <p>Flottenmanagement</p>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text text-center">
                <object type="image/svg+xml" data="uploads/global/animated/account_management.svg"></object>
                <p>Buchhaltung & Reporting</p>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text text-center">
                <object type="image/svg+xml" data="uploads/global/animated/telematics_vehicles.svg"></object>
                <p>Telematik & Fahrzeuge</p>
              </div>
            </div>
        </div>

        <div class="bg-grey mt-5 p-5">
          <div class="px-lg-5 pt-3">
            <h3 class="headline-medium mb-3">Ich bin ein</h3>
            <div class="rent-filters btn-group-filters mb-4">
              <div class="nav btn-group mb-3" role="group" id="pills-tab" role="tablist">
                  <a class=" btn btn-outline-primary active" id="pills-dealership-tab" data-toggle="pill" href="#pills-dealership" role="tab" aria-controls="pills-dealership" aria-selected="true">Autohändler</a>
                  <a class=" btn btn-outline-primary" id="pills-rental-tab" data-toggle="pill" href="#pills-rental" role="tab" aria-controls="pills-rental" aria-selected="false">Autovermietung</a>
                  <a class=" btn btn-outline-primary" id="pills-corporate-tab" data-toggle="pill" href="#pills-corporate" role="tab" aria-controls="pills-corporate" aria-selected="false">Firmenflotte</a>
                  <a class=" btn btn-outline-primary" id="pills-oem-tab" data-toggle="pill" href="#pills-oem" role="tab" aria-controls="pills-oem" aria-selected="false">Hersteller</a>
              </div>
              <h3 class="headline-medium mt-5 mb-4">So kann mir Wunder Rent helfen</h3>
              <div class="tab-content" id="rentintro-tabContent">
                <div class="tab-pane fade show active" id="pills-dealership" role="tabpanel" aria-labelledby="pills-dealership-tab">
                  <ul class="feature-list darker-check dealer list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="100">Erhöhung der Einnahmen durch Vermietung ungenutzter Fahrzeuge (und Verbesserung der Nutzungsraten)</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="150">Gewinnen Sie neue Kunden mit einer schnellen und bequemen Anmietung</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="200">Erfassung von Fahrzeugdaten wie Standort, Kilometerstand und Kraftstoff-/Batteriestand</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="250">Diversifizierung der Einnahmequellen mit neuen Geschäftsmodellen</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="pills-rental" role="tabpanel" aria-labelledby="pills-rental-tab">
                  <ul class="feature-list darker-check rental list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="100">Kostenreduzierung durch Automatisierung und papierlosen Betrieb</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="150">Gewinnen Sie neue Kunden mit einer schnellen und bequemen Anmietung</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="200">Einnahmen durch Erhöhung der Nutzungsraten erzielen</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="250">Diversifizierung der Einnahmequellen mit neuen Geschäftsmodellen</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="pills-corporate" role="tabpanel" aria-labelledby="pills-corporate-tab">
                  <ul class="feature-list darker-check corporate list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="100">Ermöglichen Sie Mitarbeitern den Zugang zu Fahrzeugen über eine gebrandete Mobil-App</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="150">Nutzen Sie die Vorteile des schlüssellosen Fahrzeugzugangs</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="200">Kostenreduzierung durch Self-Service-Vermietung, die weniger Personal und Platz erfordert</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="250">Schnelles Scale-up mit wenig Aufwand</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="pills-oem" role="tabpanel" aria-labelledby="pills-oem-tab">
                  <ul class="feature-list darker-check oem list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="100">Erkunden Sie neue Einnahmequellen mit mehreren Geschäftsmodellen</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="150">Erfassung von Fahrzeugdaten wie Standort, Kilometerstand und Kraftstoff-/Batteriestand</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="200">Erfassung von Fahrzeugdaten wie Standort, Kilometerstand und Kraftstoff-/Batteriestand</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="250">Zugang zu maßgeschneiderten, benutzerdefinierten Reports</li>
                  </ul>
                </div>
              </div>
              <a href="#section-contact" class="btn btn-outline-primary my-4" data-aos="fade-in" data-aos-easing="apple-easing">Demo anfordern</a>
            </div>

        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Flottenmanagement</p>
            <h2 class="headline-large">Behalten Sie den Überblick</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Verwalten und verfolgen Sie Ihre Flotte aus der Ferne. Überprüfen Sie den Kraftstoffstand, Schadensberichte und den Verriegelungsstatus  Ihrer Cloud verbundenen Fahrzeuge überall und jederzeit.</p>
          </div>
          <div class="icon-text-list management">
            <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="100"><img src="uploads/global/icons/icon-charging.svg" />Kraftstoff- und Schadensstände prüfen</p>
            <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="200"><img src="uploads/global/icons/icon-lock.svg" />Verriegelungsstatus verwalten</p>
            <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="300"><img src="uploads/global/icons/icon-looping-arrow.svg" />Aufgaben automatisieren</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="out-right mt-5 mt-md-0">
            <img data-src="uploads/global/rent-macbook.png" data-srcset="uploads/global/rent-macbook@2x.png 2x" class=lazy" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5 order-md-2">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Nutzer-App</p>
            <h2 class="headline-large">Schaffen Sie ein digitales Erlebnis</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Nutzer können ein Fahrzeug von jedem beliebigen Gerät aus buchen und ihre Fahrt auf ihrem Smartphone beginnen oder beenden. Die Nutzer-App ist einer der wichtigsten Bestandteile Ihres Unternehmens, weshalb ie vollständig mit Ihren Logos, Farben, Symbolen und mehr anpassbar ist - die Details überlassen wir Ihnen.</p>
            <div class="icon-text-list app">
              <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="100"><img src="uploads/global/icons/icon-design.svg" />Anpassbare Schnittstelle</p>
              <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="200"><img src="uploads/global/icons/icon-downhand.svg" />On-Demand-Buchungen</p>
              <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="300"><img src="uploads/global/icons/icon-usertick.svg" />Benutzerfreundliches Design</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <img class="rent-mockups mt-5 mt-md-0" src="uploads/global/rent-mockups.png" srcset="uploads/global/rent-mockups@2x.png 2x" alt="Wunder rent mockup screens" />
        </div>
      </div>
    </div>
  </section>


  <section id="rent-reporting" class="fullwidth-bg bg-white mt-5 mb-0 pb-0 pb-md-5">
    <div class="container">
      <div data-aos="soft-up" data-aos-easing="apple-easing">
        <p class="text-center">Buchhaltung und Reporting</p>
        <h3 class="headline-large pb-3 pb-md-5 mb-5 text-center">Reporting nach Ihren Vorstellungen</h3>
      </div>
      <div class="bg-grey">

        <div class="mini-section p-5 p-md-0">
          <div class="row align-items-center">
            <div class="col-md-5 order-md-1">
              <div class="text-nowrap mb-5 mb-md-3" id="twochart-dash">
                <object id="rent-pie" class="rounded-xl w-x-shadow single-chart" type="image/svg+xml" width="365" data="uploads/global/animated/pie-chart_outlines.svg"></object>
                <object id="rent-bars" class="rounded-xl w-x-shadow single-chart ml-2 ml-lg-4" type="image/svg+xml" width="365" data="uploads/global/animated/bar-graph_outlined.svg"></object>
                <p class="small-label text-muted" style="opacity: .8"><small>* beispiel dashboards</small></p>
              </div>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="mini-section__text">
                <div data-aos="soft-up" data-aos-easing="apple-easing">
                  <h3 class="headline-medium">Genau auf Ihr Unternehmen abgestimmt</h3>
                  <p>Digitale Reporting, Rechnungsstellung und Kundenmanagement auf Knopfdruck: Die Wunder Rent Plattform unterstützt Reports, die Sie selbst erstellen und auf Ihre Bedürfnisse zuschneiden können. Integration mit Datendiensten wie PowerBi und mehr sind Teil des Pakets.</p>
                </div>
                <div class="icon-text-list report">
                  <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.report" data-aos-delay="100"><img src="uploads/global/icons/icon-bargraph.svg" />Personalisierte Reporting</p>
                  <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.report" data-aos-delay="200"><img src="uploads/global/icons/icon-dollarcoin.svg" />Automatisierte Rechnungsstellung</p>
                  <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.report" data-aos-delay="300"><img src="uploads/global/icons/icon-orgchart.svg" />Integration von Datendiensten</p>
                </div>
                <a class="btn btn-outline-primary mt-5" href="#section-contact">Demo anfordern</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section id="rent-benefits">
    <div class="container">
      <hr class="mb-5">
      <div class="py-4"></div>
      <p class="mt-md-5 text-center">Ihre Vorteile</p>
      <h2 class="headline-large text-center mb-5 pb-md-5" data-aos="soft-up" data-aos-easing="apple-easing">Nie wieder ein Fahrzeug <br class="d-none d-md-block" />stillstehen lassen</h2>

      <div class="row align-items-center py-5  my-5">
        <div class="col-md-5 offset-md-1 order-md-2 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-grant-access.jpg" data-srcset="uploads/global/rent-grant-access@2x.jpg 2x" alt="Back of woman looking at a car rental app on her smartphone" />
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
          <div>
            <object class="rent-animgif" type="image/svg+xml" data="uploads/global/animated/lock.svg"></object>
            <h2 class="headline-medium mt-4">Bieten Sie on-demand Zugriff</h2>
            <p>Durch schlüssellosen Zugang, On-Demand-Vermietungen und papierlose Buchungen kommen ihre Kunden schneller ans Ziel. Mit “sharing ready” Fahrzeugen können Sie Ihre Nutzungsraten mit geringem Aufwand schnell steigern.</p>
          </div>
        </div>
      </div>

      <div class="row align-items-center py-5 my-5">
        <div class="col-md-5 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-cut-costs.jpg" data-srcset="uploads/global/rent-cut-costs@2x.jpg 2x" alt="A bearded man with glasses has one hand on his laptop but is looking and smiling at his smartphone." />
        </div>
        <div class="col-md-6 col-lg-5 offset-md-1 col-xl-4">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <object class="rent-animgif" type="image/svg+xml" data="uploads/global/animated/wallet_animation_externaljs.svg"></object>
            <h2 class="headline-medium mt-4">Sparen Sie Betriebskosten</h2>
            <p>OperatingAnstatt unnötige Flotten- und Zugangsmanagementsysteme zu zahlen, könnten Sie papierlos arbeiten und Betriebskosten sparen.</p>
          </div>
        </div>
      </div>



      <div class="row align-items-center py-5  my-5">
        <div class="col-md-5 offset-md-1 order-md-2 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-new-possibilities.jpg" data-srcset="uploads/global/rent-new-possibilities@2x.jpg 2x" alt="Smartly dressed man leaning against a car looking at his smartphone" />
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <object class="rent-animgif" type="image/svg+xml" width="48" data="uploads/global/animated/compass.svg"></object>
            <h2 class="headline-medium mt-4">Entdecken Sie neue Möglichkeiten</h2>
            <p>Entdecken Sie mehrere Einnahmequellen, indem Sie Ihren Kunden Service-Bündelungen, Fahrzeugabonnements oder Concierge-Dienste anbieten - oder vermieten Sie Ihre bestehenden Fahrzeugflotte.</p>
            <ul class="feature-list mt-4 poss list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="100">Unternehmensflotten</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="150">Stationsbasierte Vermietungen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="200">Fahrzeug-Abonnements</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="250">B2B2B</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-md-center mt-5 pt-md-5 mx-auto">
        <h3 class="headline-medium pb-3 rent-getstarted" data-aos="soft-up" data-aos-easing="apple-easing" >Los geht’s</h3>
        <a href="#section-contact" class="btn btn-outline-primary mb-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".rent-getstarted">Demo anfordern</a>
      </div>


    </div>

  </section>



  <section id="rent-features-section" class="fullwidth-bg bg-white my-0 pt-0 overflow-visible" >
    <div class="container">
      <hr class="mb-5">
      <div class="py-5"></div>
      <div class="text-md-center px-md-5">
        <p>Produkt-Features</p>
        <h3 class="headline-large mb-md-5 px-xl-5">Schlüssellose, papierlose Fahrzeugvermietung für moderne Kunden</h3>
      </div>

      <div class="feature-section pt-5 px-lg-3">
        <div class="row">
          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-desktopphone.svg" alt="Outline icon of a desktop and a smartphone" />
              <h4 class="headline-small">Digitale Benutzererfahrung</h4>
            </div>
            <ul class="feature-list ux list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="100">Schlüsselloser Zugang</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="150">"Tap & go" bequemer Zugang</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="200">App-basierte Buchungen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="250">Bluetooth-Kompatibilität</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="300">Papierloses Dienstleistungsmodell</li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-globe.svg" alt="Outline icon of a globe" />
              <h4 class="headline-small">Globale Benutzerfreundlichkeit</h4>
            </div>
            <ul class="feature-list list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="300">24/7 Support</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="350">Automatische Zeitzonen-Erkennung</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="400">Unterstützung mehrerer Sprachen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="450">Einstellbarer Geofence-Radius</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="500">Einstellbare Geschäftszeiten</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-design.svg" alt="Outline icon of a square and a pencil" />
              <h4 class="headline-small">Personalisierung</h4>
            </div>
            <ul class="feature-list customize list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="500">White labelling</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="500">Push/Pull-API</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="550">Benutzerdefinierte Vorlagen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="600">Integrierbar mit internen Helpdesks</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="650">Erstellen Sie Ihre eigenen Berichte</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-sedan.svg" alt="Outline icon of a sedan car" />
              <h4 class="headline-small">Fahrzeug-Management</h4>
            </div>
            <ul class="feature-list list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="100">Fahrzeuge automatisch zuweisen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="150">Einstellbare Fahrzeugsortierung</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="200">Wartungsmodus</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="250">Master-Schlüsselkarte</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-shield.svg" alt="Outline icon of a shield" />
              <h4 class="headline-small">Sicherheit</h4>
            </div>
            <ul class="feature-list security list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="250">Single-Sign-On-Funktionalität</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="300">Kostenstellen Sicherheit</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="350">Filialbezogene Sicherheit</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="400">Granulare, rollenbasierte Sicherheit</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-users.svg" alt="Outline icon of two users, one behind the other" />
              <h4 class="headline-small" >Kundenmanagement</h4>
            </div>
            <ul class="feature-list customers list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customers" data-aos-delay="400">Sperren von Fahrern mit abgelaufenen Führerscheinen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customers" data-aos-delay="450">Profilaktualisierung beim 1. Login</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customers" data-aos-delay="500">Bis zu zwei Jahre Buchungshistorie speichern</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-bill.svg" alt="Outline icon of receipt with a dollar sign on it" />
              <h4 class="headline-small">Buchungen & Rechnungsstellung</h4>
            </div>
            <ul class="feature-list billing list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="100">Buchungsfelder ein- und ausschalten</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="150">Fahrzeugabgabe an verschiedenen Niederlassungen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="200">Buchungsdauer anpassen</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="250">Automatisches Verfallsdatum und Wiederholungen </li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="300">Pro Stunde/pro km rechnen</li>
            </ul>
          </div>


        </div>
      </div>
    </div>

  </section>

  <section class="fullwidth-bg dark-bg image-bg mt-0 position-relative">
    <div class="container-fluid py-md-5">
      <div class="row pb-5 py-md-5">
        <div class="col-md-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Beratung</p>
            <h2 class="headline-large">Wir bringen Sie ins Rollen</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Lassen Sie uns Ihr Unternehmen innerhalb von sechs Wochen zum Laufen bringen. Wir begleiten Sie bei der Navigation durch neue Geschäftsmodelle und geben Ihnen praktische Ratschläge für die Digitalisierung.</p>
            <p>Wir nehmen auch nach Ihrem erfolgreichen Start den Hörer ab - das Wunder Rent Team hilft Ihnen wann immer Sie es brauchen.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-stretch">
      <picture class="desktop-stretch__pic offset-md-6">
        <source media="(min-width: 768px)" srcset="uploads/global/peter-wide.jpg 1x, uploads/global/peter-wide@2x.jpg 2x">
        <img src="uploads/global/peter-portrait.jpg" srcset="uploads/global/peter-portrait@2x.jpg 2x" alt="Portrait image of Peter Mazzioli, account manager for Wunder Rent. Short black hair, glowing smile, standing in front of a natural golden sunset." />
      </picture>
    </div>
  </section>


  <section id="rent-numbers" class="my-5 pb-md-5">
    <div class="container">
      <div class="row pt-5">
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing">
            <h2 class="headline-large mb-0">300+</h2>
            <h4 class="headline-small">Standorte</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="150">
            <h2 class="headline-large mb-0">70K+</h2>
            <h4 class="headline-small">Buchungen pro Monat</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="300">
            <h2 class="headline-large mb-0">12K+</h2>
            <h4 class="headline-small">Registrierte Fahrer</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="450">
            <h2 class="headline-large mb-0">20+</h2>
            <h4 class="headline-small">Betriebsflotten</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="rent-partners" class="mt-5">
    <div class="container px-5 text-center">
      <div class="partners my-4 pb-5">
        <p class="mb-5 pb-3">Unsere Partner</p>
        <picture class="lazy">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/rent-logos-wide.png 1x, /uploads/global/rent-logos-wide@2x.png 2x" >
          <img data-src="/uploads/global/rent-logos-mobile.png" data-srcset="/uploads/global/rent-logos-mobile@2x.png 2x" alt="Group of black and white logos of mobility companies, including Toyota, IVECO, stryker, Green Mobility and hive." />
        </picture>
      </div>
      <hr class="pb-5">
      <div class="partners my-4 pt-5">
        <p class="mb-5 pb-3">Im Presse</p>
        <picture class="lazy">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/rent-press-logos.png 1x, /uploads/global/rent-press-logos@2x.png 2x" >
          <img data-src="/uploads/global/rent-press-logos-mobile.png" data-srcset="/uploads/global/rent-press-logos-mobile@2x.png 2x" alt="2 logos of reputable online news sites TechCrunch and AutoRental news." />
        </picture>
      </div>

    </div>



</main>

<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/361066939?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
