<main class="with-form larger">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-os">Die app</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-benefits">Unternehmen</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-steps">Los Geht's</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">

    <section id="section-os" class="my-5 my-md-0 mt-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto" style="max-width: 650px;">
              <h2 class="page-heading text-center">Technologie Für Carpooling & Parking</h2>
              <p class="section-intro text-center">Carpooling ist ein einfacher und angenehmer Weg für Mitarbeiter gemeinsam zur Arbeit zu fahren. Arbeitskollegen mit ähnlichen Wegen können sich gegenseitig mitnehmen und dabei Parkraum und Straßen entlasten.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-commute" class="product-section grey-bg" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5">
                <img data-src="/uploads/global/phone-mockup_carpool_ride.png" data-srcset="/uploads/global/phone-mockup_carpool_ride@2x.png 2x" class="product-image phone-mockup d-block mx-auto mr-md-auto ml-md-0" />
              </div>
              <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Gemeinsam Fahren</h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Unsere App ermöglicht Mitarbeitern sich gegenseitig zu finden und gemeinsame Fahrten zu organisieren. Weniger Autos bedeuten mehr verfügbarer Parkraum und weniger Verkehr.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-park" class="product-section" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5 order-md-1">
                <img data-src="/uploads/global/phone-mockup_carpool_parking.png" data-srcset="/uploads/global/phone-mockup_carpool_parking@2x.png 2x" class=" product-image phone-mockup d-block mx-auto ml-md-auto mr-md-0" />
              </div>
              <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Smart Parking Integration</h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Priorisierte Parkplätze für Mitarbeiter, die aktiv Carpooling betreiben, führt zu weniger benötigtem Parkraum und geringeren Betriebskosten.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-sustainable" class="product-section grey-bg" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5">
                <img data-src="/uploads/global/phone-mockup_carpool_co2.png" data-srcset="/uploads/global/phone-mockup_carpool_co2@2x.png 2x" class="product-image phone-mockup d-block mx-auto mr-md-auto ml-md-0" />
              </div>
              <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Nachhaltigkeit Ihres Unternehmens Fördern</h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Wunder Carpool reduziert die Umweltbelastung durch Berufsverkehr effektiv.<br><br>Mitarbeiter können ihre persönlichen Statistiken, wie z.B. CO2 Ersparnis und Top-Carpooler, jederzeit in der App verfolgen.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-admin" class="product-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
                <div class="col-md-7 align-self-center text-center text-md-left order-1 order-md-0">
                    <div class="media-text__text">
                      <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Tracking Und Reporting</h2>
                      <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Mit Live-Daten Ihrer Carpool Operations und monatlichen CSR Berichten haben Sie jederzeit ein detailliertes Bild von Ihrem Einfluss auf Verkehr und Umwelt.</p>
                    </div>

                </div>
                <div class="col-md-5 order-0 order-md-1 mb-4 mb-md-0">
                    <div class="right-image-wrapper">
                      <img class="pushed-right ml-auto d-block mr-auto mt-5 mt-md-0" data-src="/uploads/global/mockup_dashboard_5.png" data-srcset="/uploads/global/mockup_dashboard_5@2x.png 2x" />
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-benefits" class="grey-bg new-section pb-120">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">Bereit Für Ihr Unternehmen</h2>
              <div class="grid-wrapper two-col">
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="0" src="/uploads/global/icon-finance-policy-gr.svg" alt="Blue outlined parking meter icon" class="mb-3" />
                    <p class="body-intro mb-3">DSGVO konform</p>
                    <p>Wir nehmen Privatsphäre und Datensicherheit ernst! Wunder Carpool ist komplett DSGVO konform.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-password-lock-gr.svg" class="mb-3" />
                    <p class="body-intro mb-2">SSO Authentifizierung</p>
                    <p>Wir bieten sicheren Zugang zu Ihrer Carpoolgemeinschaft via E-Mail, Telefonnummer oder Single Sign-On (SSO).</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="/uploads/global/icon-portfolio-gr.svg" alt="Blue outlined icon of a happy face" class="mb-3" />
                    <p class="body-intro mb-2">Operations & Analytics Berichte</p>
                    <p>Unsere regelmäßigen Berichte geben Ihnen einen umfassenden Einblick in die Carpool-Aktivitäten, Verbesserungen der Parkplatzsituation und Einfluss auf die Umwelt.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="uploads/global/icon-iphone-gr.svg" class="mb-3" />
                    <p class="body-intro mb-2">Individuelles Design</p>
                    <p>Wunder Carpool kann mit Namen, Farben und Logos an Ihre Corporate Identity angepasst werden.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-steps" class="product-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-1 mt-4">Ihr Weg Zum Erfolg</h2>
            <p class="section-intro">Wir helfen Ihrem Team innerhalb eines Monats zu starten.</p>
            <div class="row mt-5">
              <div class="col-md-4">
                <div class="step-block m">
                  <div class="row">
                    <div class="col-2">
                      <h3 class="text-blue" data-aos="soft-up" data-aos-delay="0">01</h3>
                    </div>
                    <div class="col-10">
                      <h3 class="mb-3">Planung & Anpassung</h3>
                      <ul>
                        <li>Wir gestalten die App mit Ihrem Logo und Design</li>
                        <li>Wir konfigurieren die Plattform nach Ihrem Bedarf und Anwendungsfall</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="step-block">
                  <div class="row">
                    <div class="col-2">
                      <h3 class="text-blue" data-aos="soft-up" data-aos-delay="100">02</h3>
                    </div>
                    <div class="col-10">
                      <h3 class="mb-3">Aufbau & Launch</h3>
                      <ul>
                        <li>Design der Launchstrategie</li>
                        <li>Launch Ihrer Carpoolplattform</li>
                        <li>Aufbau Ihrer Carpool-Community</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="step-block m">
                  <div class="row">
                    <div class="col-2">
                      <h3 class="text-blue" data-aos="soft-up" data-aos-delay="200">03</h3>
                    </div>
                    <div class="col-10">
                      <h3 class="mb-3">Kontrolle & Verbesserung</h3>
                      <ul>
                        <li>Verfolgen Sie Ihre Carpool Operations</li>
                        <li>Verbessern Sie die Plattform stetig</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>

</main>
