<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block mb-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-os">Wunder Park</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-value">Nutzen-<br>versprechen</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-parksoftware">Software</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-parkhardware">Hardware</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-parkadmin">Mission <br>Control</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper" style="padding-bottom: 100px; margin-bottom:-100px">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Das Parkraum-Management, leicht gemacht</h2>
                <p class="lead">Verschaffen Sie einen Überblick des Firmenparkplatzes und beherrschen Sie das Parkraum-Chaos mit Wunder Park.</p><br/>
                <p class="lead">Unsere Technologie hilft Ihnen dabei, die Austlastungsrate des Firmenparkplatzes zu erhöhen und dadurch Kosten zu sparen. Zusätzlich verschwenden Mitarbeiter keine Zeit mehr bei der stressigen Parkplatzsuche - Mitarbeiterzufriedenheit wird also auch verbessert.</p>
                <br>
                <br>
                <div class="card mt-3">
                  <ul class="list-group list-group-flush icon-list">
                    <li class="list-group-item"><img src="/uploads/global/iot.svg" class="card-left" /> <span class="icon-list__text">Hardware</span></li>
                    <li class="list-group-item"><img src="/uploads/global/laptop-smartphone.svg" class="card-left" /> <span class="icon-list__text">Software</span></li>
                    <li class="list-group-item"><img src="/uploads/global/presentation.svg" class="card-left" /> <span class="icon-list__text">Mission Control</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7 align-self-center">
                <div class="top-image-wrapper">
                  <img alt="3D-Animation der digitalisierten Parklösung" style="width: calc(100% + 200px);" class="lazy" data-src="/uploads/global/park_hero.svg" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <section class="block block-video-1 mt-3" id="main-video">
        <div class="row ">
          <div class="col-lg-10 offset-lg-2">

            <h2 class="page-heading">&nbsp; </h2>

            <div class="home-video">

              <div class="plyr__video-embed" id="player">

                <iframe src="https://player.vimeo.com/video/351628844?title=0&byline=0&portrait=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

              </div>
              <a id="video-btn" class="dark round-cta gt-videoplay">Watch Video</a>
            </div>

          </div>

        </div>
      </section>

      <br>
      <br>
      <br>

      <div class="product-area">

        <section id="section-value" class="product-section" >

          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              {% comment %}<h2 class="page-heading mb-5 mt-5 pb-3">Wie Kann Wunder Park Helfen?</h2>{% endcomment %}

              <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-5">
                  <div class="icon-feature d-flex flex-md-column align-items-md-start mb-5">
                    <img class="mb-md-4 wide" src="/uploads/global/parking-meter.svg" alt="Blue outlined parking meter icon" />
                    <div class="d-flex flex-column d-md-block icon-feature__text pr-3">
                      <h3 class="mb-2">Vermieten Sie ungenutzte Parkplätze an Dritte</h3>
                      <div class="content-dropdown  mt-2">
                        <div class="content-dropdown__content">
                          <ul class="dropdown-padded pt-2">
                            <li>GenerGenerieren Sie eine völlig neue Einnahmequelle mit minimalem Aufwand</li>
                            <li>Vermieten Sie Parkingplätze an lokale Unternehmen, nachdem Ihre Mitarbeiter Feierabend gemacht haben</li>
                            <li>Kein großer Überschuss an unbenutzten Parkplätzen notwendig</li>
                          </ul>
                        </div>
                        <div class="content-dropdown__opener">
                          <a class="with-down-arrow text-blue">Mehr</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-5 offset-sm-1">
                  <div class="icon-feature d-flex flex-md-column  align-items-md-start mb-5">
                    <img class="mb-md-4 wide" src="/uploads/global/user-card.svg" alt="Blue outline of user id card" />
                    <div class="d-flex flex-column d-md-block icon-feature__text pr-3">
                      <h3 class="mb-2">Personalisieren Sie das Parkerlebnis für Ihre Gäste</h3>
                      <div class="content-dropdown  mt-2">
                        <div class="content-dropdown__content">
                          <ul class="dropdown-padded pt-2">
                            <li>“Scan-and-Go” Parkmanagement-Terminals sind einzigartig, effektiv und vermeiden Personalkosten</li>
                            <li>Hochwertige digitale LCD-Displays an jedem Parkplatz sorgen für einen VIP-Touch</li>
                            <li>Zeigen Sie die Technologieaffinität Ihres Unternehmens mit einem innovativen, App-basierten Parksystem</li>
                          </ul>
                        </div>
                        <div class="content-dropdown__opener">
                          <a class="with-down-arrow text-blue">Mehr</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center pt-sm-4">
                <div class="col-12 col-sm-5">
                  <div class="icon-feature d-flex flex-md-column align-items-md-start mb-5">
                    <img class="mb-md-4 wide" src="/uploads/global/happy-face.svg" alt="Blue outlined icon of a happy face" />
                    <div class="d-flex flex-column d-md-block icon-feature__text pr-3">
                      <h3 class="mb-2">Steigern Sie Ihre Mitarbeiterzufriedenheit</h3>
                      <div class="content-dropdown  mt-2">
                        <div class="content-dropdown__content">
                          <ul class="dropdown-padded pt-2">
                            <li>Machen Sie Ihre Mitarbeiter glücklich mit dem Vorverkauf und verkürzten Wartezeiten am Gate</li>
                            <li>Die Mitarbeiter genießen eine kürzere gesamt Pendelzeit</li>
                            <li>Sonderleistungen wie Vorteile fär  sind ein zusätzlicher Bonus</li>
                          </ul>
                        </div>
                        <div class="content-dropdown__opener">
                          <a class="with-down-arrow text-blue">Mehr</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-5 offset-sm-1">
                  <div class="icon-feature d-flex flex-md-column align-items-md-start mb-5">
                    <img class="mb-md-4 wide" src="/uploads/global/growth.svg" alt="Blue outlined icon of a small plant growing" />
                    <div class="d-flex flex-column d-md-block icon-feature__text pr-3">
                      <h3 class="mb-2">Reduzieren Sie die Umwelt-Entlastung Ihres Unternehmens</h3>
                      <div class="content-dropdown mt-2">
                        <div class="content-dropdown__content">
                          <ul class="dropdown-padded pt-2">
                            <li>Im Durchschnitt werden pro 1000 Mitarbeiter bei der Suche nach Parkplätzen am Arbeitsplatz 300 Liter Gas verbraucht! Reduzieren Sie dies, indem Sie die Mitarbeiter im Voraus Plätze reservieren lassen</li>
                            <li>Reduzieren Sie den Kraftstoffverbrauch und die CO2-Emissionen, indem Sie den Park-Prozess Ihres Unternehmens optimieren</li>
                            <li>Schaffen Sie den Anreiz für Fahrgemeinschaften und Fahrgemeinschaften von Mitarbeitern, indem Sie bevorzugte Parkplätze anbieten</li>
                            <li>Seien Sie ein gutes Beispiel für andere FIrmen indem Sie die Auslastung erhöhen und so sicherstellen, dass Ressourcen und leere Parkplätze nicht verschwendet werden.</li>
                          </ul>
                        </div>
                        <div class="content-dropdown__opener">
                          <a class="with-down-arrow text-blue">Mehr</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-lg-9 offset-lg-3">
            <hr>
          </div>
        </div>


        <section id="section-parksoftware" class="product-section" >
          <div class="wunder-bg left top-1"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/laptop-smartphone.svg" class="icon-left" /> Software</h2>
              <div class="row pt-4">
                <div class="col-md-11 offset-md-1">

                  <div class="row">
                    <div class="col-md-6 offset-md-1 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Die Buchungs-App</h3>
                            <p>Unsere Buchungs-App hilft Unternehmen dabei, freie Parkplätze so effizient wie möglich Ihren Mitarbeiter, Gäste und Bewerber zuzuweisen.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Automatische Authentifizierung bei Ein- und Ausfahrt durch Nummernschilderkennung</li>
                              <li>Öffnung der Schranke bei erfolgreicher Verifizierung</li>
                              <li>Alternative Authentifizierung über einen QR-Code am Terminal</li>
                              <li>Weiterleitung der Daten an das Dashboard in Echtzeit</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">Mehr</a>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="0">
                      <img data-src="/uploads/global/ParkHere.png" data-srcset="/uploads/global/ParkHere@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-lg-9 offset-lg-3">
            <hr>
          </div>
        </div>

        <section id="section-parkadmin" class="product-section" >
          <div class="wunder-bg right top-2"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/presentation.svg" class="icon-left" /> Mission Control</h2>
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-0 align-self-center" data-aos="fade-up" data-aos-delay="0">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Operating Dashboard</h3>
                        <p>Das Dashboard liefert Informationen zur Parkraumbelegung und ist der persönliche Zugang zu allen Daten und Steuerungsmöglichkeiten. Neben Echtzeit-Informationen stehen auch Funktionen zur Datenanalyse und zum Nutzermanagement zur Verfügung.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ul class="dropdown-padded">
                          <li>Detaillierte Echtzeit-Informationen über Gesamtbelegung des Parkraums</li>
                          <li>Im Dashboard können verfügbare Restplätze und falsch geparkte Fahrzeuge verfolgt werden</li>
                          <li>Datengetriebene Prognosen über zukünftige Parkraumbelegung sind möglich</li>
                          <li>Kompatibel mit jeglicher Wunder Park Hard- und Software</li>
                          <li>Beim optionalen Einsatz eines digitalen Abrechnungssystems können Zahlungen automatisch über das Dashboard verwaltet werden</li>
                        </ul>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">Mehr</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-dashboard.png" data-srcset="/uploads/global/park-dashboard@2x.png 2x" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0 mw-auto" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-lg-9 offset-lg-3">
            <hr>
          </div>
        </div>

        <section id="section-parkhardware" class="product-section" >
          <div class="wunder-bg left top-3"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/iot.svg" class="icon-left" /> Hardware</h2>
              <div class="row">
                <div class="col-md-11 offset-md-1">

                  <div class="row">
                    <div class="col-md-6 offset-md-1 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Parkraummanagement</h3>
                            <p>Unser modernes, automatische Parkmanagement-Terminal ist mit <strong>Nummernschild-Ablesern</strong> und <strong>QR-Scanner</strong> ausgestattet, die einen schnellen und unkomplizierten Zugriff auf Parkplätzen ermöglichen. Das Terminal ist mit allen von uns angebotenen Lösungen kompatibel.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Authentifizierung von Kennzeichen oder QR-Codes</li>
                              <li>Funktioniert zuverlässig mit einer hohen Detektionsrate</li>
                              <li>Im Notfall stellt der Serviceknopf eine Telefonverbindung zur Verwaltung her</li>
                              <li>Kompatibel mit jeder Schrankenanlage. Auch eine parallele Nutzung ist möglich</li>
                              <li>Digitales Bezahlsystem optional verfügbar</li>
                              <li>Reduzierung der Wartezeiten für Angestellte und Gäste durch optimierte Durchflussrate</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">Mehr</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="0">
                      <!--<img data-src="/uploads/global/parkterminal.jpg" data-srcset="/uploads/global/parkterminal@2x.jpg 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                        -->
                        <svg id="parkterminal" width="423px" height="685px" viewBox="0 0 423 685" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <filter id="f2" x="0" y="0" width="200%" height="200%">
                              <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />
                              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
                              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                            </filter>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="park-terminal">
                                    <image id="parkterminal@2x" x="0" y="0" width="423" height="685" xlink:href="/uploads/global/svg-parkterminal.png"></image>
                                    <image id="phoneqr" x="272" y="183" width="86" height="192" xlink:href="/uploads/global/svg-phoneqr.jpg"></image>
                                    <path filter="url(#f2)" d="M88.2844238,124.391113 C88.2725423,134.129069 91.5511882,142.335368 98.1203613,149.01001 C107.974121,159.021973 118.901367,166.771484 136.102783,171.751465 C153.304199,176.731445 172.753418,176.959961 182.95166,176.06958 C193.149902,175.179199 215.82666,170.953125 225.436523,165.76123 C235.046387,160.569336 244.401367,153.180908 247.890381,147.500977 C251.379395,141.821045 254.626465,136.990234 255.259033,133.455811 C255.680745,131.099528 256.001465,127.744629 256.221191,123.391113 C248.565918,136.071481 239.729248,145.04036 229.711182,150.297751 C214.684082,158.183838 188.898926,162.400146 186.590088,162.400146 C184.28125,162.400146 165.723877,163.687012 152.700439,161.723145 C139.677002,159.759277 119.20166,152.935352 113.018799,148.7 C106.835938,144.464648 96.9550781,136.329102 95.1357422,134.0896 C93.9228516,132.596598 91.6390788,129.36377 88.2844238,124.391113 Z" id="terminal-toplight"></path>
                                    <!--<path d="M88.2844238,124.391113 C88.1604004,134.785482 91.4390462,142.991781 98.1203613,149.01001 C108.142334,158.037354 114.660156,164.473145 132.102783,169.751465 C149.54541,175.029785 174.32959,176.728027 182.95166,176.06958 C191.57373,175.411133 215.808594,170.776367 224.436523,165.76123 C233.064453,160.746094 244.401367,153.180908 247.890381,147.500977 C251.379395,141.821045 254.626465,136.990234 255.259033,133.455811 C255.680745,131.099528 256.001465,128.077962 256.221191,124.391113 C248.565918,136.404814 239.729248,145.04036 229.711182,150.297751 C214.684082,158.183838 188.898926,162.400146 186.590088,162.400146 C184.28125,162.400146 165.723877,163.687012 152.700439,161.723145 C139.677002,159.759277 119.20166,153.245361 113.018799,149.01001 C106.835938,144.774658 96.9550781,136.329102 95.1357422,134.0896 C93.9228516,132.596598 91.6390788,129.36377 88.2844238,124.391113 Z" id="terminal-toplight"></path>-->
                                </g>
                            </g>
                        </svg>
                    </div>
                  </div>
                  <br>
                  <div class="row mt-5">
                    <div class="col-md-6 offset-md-1 order-md-0 mt-5 align-self-center" data-aos="fade-up" data-aos-delay="0">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Anzeigetafeln</h3>
                            <p>Unsere LCD-Anzeigetafeln ermöglichen <strong>personalisierte Parkplatzreservierungen</strong>. Gäste und Bewerber werden individuell begrüßt, wenn sie beim reservierten Parkplatz ankommen.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Hochwertige LCD Displays machen auf reservierte Parkplätze aufmerksam</li>
                              <li>Begrüßung von Bewerbern, Gästen und Mitarbeitern bereits am Parkplatz</li>
                              <li>Selbst lange Namen und Nummernschilder sind dank breitem Display darstellbar</li>
                              <li>Hochauflösend und gut lesbar</li>
                              <li>Dynamische Parkplatzreservierung und -vergabe erhöht Auslastung von Einzelparkplätzen</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">Mehr</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                      <img data-src="/uploads/global/parksign.png" data-srcset="/uploads/global/parksign@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-lg-9 offset-lg-3">
            <hr>
          </div>
        </div>

        <section class="block block-stories" id="section-stories">
          <div class="wunder-bg right top-4"></div>

          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-2">
                <h2 class="page-heading mb-3">Stories</h2>
                <p class="lead w-sm-50">Wir haben weltweit Partner, die unsere Smartparking-Technologie nutzen</p>
                <div id="accordion" class="horizontal-accordion image-top">
                  <div class="card expand">
                    <img class="card-outer-image" src="/uploads/global/bmw-ecar.jpg" srcset="/uploads/global/bmw-ecar@2x.jpg 2x" />
                    <img class="card-logo" data-src="/uploads/global/st-gallen.png" data-srcset="/uploads/global/st-gallen@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Der Fokus unseres Projektes mit der Stadt St. Gallen (Schweiz) lag auf den stark frequentierten Straßen und dem Stau-Problem in der Innenstadt. Das Ziel der Zusammenarbeit mit den Stadtwerken und der lokalen Polizeibehörde war eine deutliche Reduzierung CO2-Emissionen der Stadt um dadurch die Lebensqualität für alle Bürger erhöhen. Mit unseren innovativen Software-Programmen konnten wir eine umsetzbare und effektive Lösung für die Stadt umsetzen.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-outer-image" src="/uploads/global/barrier-real.jpg" srcset="/uploads/global/barrier-real@2x.jpg 2x" />
                    <img class="card-logo" src="/uploads/global/porsche_logo_PNG1.png" srcset="/uploads/global/porsche_logo_PNG1@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Wir helfen Porsche, den bestehen Parkraum durch Technologie optimal auszunutzen. Unser anwenderfreundliches Terminal- und Scanner-System erleichtert die Parkplatzsuche für Mitarbeiter. Sie müssen nie wieder in einer Schlange vor dem Parkhaus warten um einfahren zu dürfen. So bildet unser Wunder-Park-Technologie die Basis für Parkraummanagement der nächsten Generation.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-outer-image" src="/uploads/global/carpark.jpg" srcset="/uploads/global/carpark@2x.jpg 2x" />
                    <img class="card-logo" data-src="/uploads/global/Telefonica_Logo.png" data-srcset="/uploads/global/Telefonica_Logo@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Unser Ziel war es, das Parkraummanagement einer großen Firma intelligenter und effizienter zu gestalten. Unser Access Terminal scannt automatisch alle Nummernschilder, die in das Parkhaus einfahren. Dies ermöglicht sofortigen Zugang und führt zu weniger Staus an der Schranke. Anhand der Buchungs-App werden Fahrer direkt zu ihrem im Voraus reservierten Parkplatz geführt. So leicht kann Parken sein!</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </section>

      </div>

    </div>
  </div>


</main>
