<section class="client-logos">
  <div class="logo-boxes sq">
    <div class="single-box">
      <a href="https://www.greenmobility.com/dk/en/" target="_blank" title="Green Mobility - Your City Your Car.">
        <img data-src="/uploads/global/client-logos/green-mobility-sq.jpg" data-srcset="/uploads/global/client-logos/green-mobility-sq@2x.jpg 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://emmy-sharing.de/en/" target="_blank" title="Emmy — Electric scooter sharing.">
        <img data-src="/uploads/global/client-logos/emmy-sq.svg"  />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.free-now.com/" target="_blank" title="hive — Share electric scooters.">
        <img data-src="/uploads/global/client-logos/hive-sq.svg"  />
      </a>
    </div>
    <div class="single-box">
      <a href="https://felyx.com/" target="_blank" title="felyx is a fast, convenient and sustainable way to move through the city.">
        <img data-src="/uploads/global/client-logos/felyx-sq.jpg" data-srcset="/uploads/global/client-logos/felyx-sq@2x.jpg 2x" />
      </a>
    </div>
  </div>
</section>

<main class="with-form">

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="text-center px-lg-5">
            <p>Lerne Wunder Fleet kennen</p>
            <h2 class="headline-medium">Eine All-in-one-Plattform, die Ihr Fahrzeug-Sharing Unternehmen auf den Weg bringt</h2>
          </div>
          <div class="py-5 text-center d-flex align-items-start justify-content-center">
            <div class="vertical-icon-text mb-4 mb-md-0 px-2 px-md-3 mx-md-4 mx-3">
              <img data-src="/uploads/global/fleet/icon-smartphone.svg" class="mb-2"  />
              <p>Mobile App</p>
            </div>
            <div class="vertical-icon-text mb-4 mb-md-0 px-2 px-md-3 mx-md-4 mx-3">
              <img data-src="/uploads/global/fleet/icon-sharingvehicles.svg" class="mb-2" />
              <p>Sharing-ready Fahrzeug</p>
            </div>
            <div class="vertical-icon-text text-center px-2 px-md-3 mx-md-4 mx-3">
              <img data-src="/uploads/global/fleet/icon-management.svg" class="mb-2" />
              <p>Verwaltungssystem</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Benutzer App</p>
            <h2 class="headline-large">Die perfekte App für deine Nutzer - und für Sie</h2>
          </div>
          <div class="icon-text-list management">
            <p class="icon-text pr-lg-2 pr-xl-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="100">
              <img src="uploads/global/icons/icon-lock_black.svg" />
              Benutzer können ein Fahrzeug reservieren und mit einem einzigen Swipe das Mobiltelefon entsperren.
            </p>
            <p class="icon-text pr-lg-2 pr-xl-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="200">
              <img src="uploads/global/icons/icon-edit.svg" />
              Die App ist vollständig anpassbar. Verwenden Sie Ihre eigenen Logos, Farben und Symbole, um die Kundenerfahrung zu verbessern.
            </p>
            <p class="icon-text pr-lg-2 pr-xl-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="300">
              <img src="uploads/global/icons/icon-coin.svg" />
              Nutzen Sie die Vorteile anpassbarer Preismodelle und Rechnungen. Alle Zahlungen werden unterstützt.
            </p>
          </div>
        </div>
        <div class="col-md-6 mt-5 mt-md-0 ">
          <img class="fleet-app-img" data-src="uploads/global/fleet/fleet-app.gif" data-srcset="uploads/global/fleet/fleet-app@2x.gif 2x"  />
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg white-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5 order-md-2 offset-lg-1">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Flottenmanagement</p>
            <h2 class="headline-large">Verwalten Sie Ihre Flotte mit Leichtigkeit</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <div class="icon-text-list app">
              <div class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="100">
                <img src="uploads/global/icons/icon-user.svg" />
                <div>
                  <p class="small-label font-weight-bold">Benutzerverwaltung</p>
                  <p>Verwalten Sie Zahlungen, Benutzer und Preise. Richten Sie Promo-Codes und benutzerdefinierte Angebote ein.</p>
                </div>
              </div>
              <div class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="200">
                <img src="uploads/global/icons/icon-familytree.svg" />
                <div>
                  <p class="small-label font-weight-bold">Datengetriebene Operationen</p>
                  <p>Überprüfen Sie den Tankstand, sehen Sie sich Live-Standorte an und erhalten Sie aktuelle Informationen über Ihre Flotte.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <img class="fleet-mockup mt-5 mt-md-0" src="uploads/global/fleet/mockup_fleet_backend.png" srcset="uploads/global/fleet/mockup_fleet_backend@2x.png 2x" alt="Wunder Fleet mockup screen" />
        </div>
      </div>
    </div>
  </section>


  <section class="fullwidth-bg dark-bg image-bg mt-0 position-relative">
    <div class="container-fluid py-md-5">
      <div class="row pb-5 py-md-5">
        <div class="col-md-6 col-xl-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Wunder Vehicles</p>
            <h2 class="headline-large">Sharing-ready Elektrofahrzeuge.</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Bauen Sie Ihre Flotte mit Fahrzeugen, IoT und flexiblen Finanzierungsoptionen auf. Wunder Vehicles sind mit nahtloser 24/7-Konnektivität ausgestattet. Wunder Vehicles bietet auch Logistik- und Lagerunterstützung, Finanzierungsunterstützung und vollständige kundenspezifische Anpassung.</p>
            <a class="btn btn-outline-light mt-3" href="/vehicles">Erfahren Sie mehr</a>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-stretch">
      <picture class="desktop-stretch__pic offset-md-6">
        <source media="(min-width: 768px)" srcset="uploads/global/fleet/yadea-black.jpg 1x, uploads/global/fleet/yadea-black@2x.jpg 2x">
        <img src="uploads/global/fleet/yadea-black_mob.jpg" srcset="uploads/global/fleet/yadea-black_mob@2x.jpg 2x" alt="Wunder branded black electric scooter, created with Yadea." />
      </picture>
    </div>
  </section>

  <section class="client-logos" id="fleet-partners">
    <div class="container-fluid">
      <div class="col-md-10 offset-md-1">
        <div class="logo-boxes sq flex-wrap flex-md-no-wrap no-border mb-3">
          <div class="single-box partners-text">
            <p class="mb-0 mb-md-2 ">Einige unserer Partner</p>
          </div>
          <div class="single-box">
            <a href="https://www.globalyadea.com/" target="_blank" title="Yadea premium e-mobility website">
              <img data-src="/uploads/2020/05/07/Yadea-Logo.png" data-srcset="/uploads/2020/05/07/Yadea-Logo@2x.png 2x" />
            </a>
          </div>
          <div class="single-box">
            <a href="https://okai.co/" target="_blank" title="Okai scooters website">
              <img data-src="/uploads/2020/05/07/Okai.png" data-srcset="/uploads/2020/05/07/Okai@2x.png 2x" />
            </a>
          </div>
          <div class="single-box">
            <a href="https://www.segway.com/" target="_blank" title="Segway Ninebot website">
              <img data-src="/uploads/2020/05/07/Segway.png" data-srcset="/uploads/2020/05/07/Segway@2x.png 2x" />
            </a>
          </div>
          <div class="single-box">
            <a href="https://www.acton.space/" target="_blank" title="Acton scooters">
              <img data-src="/uploads/2020/05/07/Acton.png" data-srcset="/uploads/2020/05/07/Acton@2x.png 2x" />
            </a>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <picture class="lazy mr-2 mr-md-3">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/fleet/vehicle-1.jpg 1x, /uploads/global/fleet/vehicle-1@2x.jpg 2x" >
          <img data-src="/uploads/global/fleet/vehicle-1_mob.jpg" data-srcset="/uploads/global/fleet/vehicle-1_mob@2x.jpg 2x" alt="Closeup of a e-scooter handlebars and a big screen attached to it." />
        </picture>
        <picture class="lazy mx-2 mx-md-3">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/fleet/vehicle-2.jpg 1x, /uploads/global/fleet/vehicle-2@2x.jpg 2x" >
          <img data-src="/uploads/global/fleet/vehicle-2_mob.jpg" data-srcset="/uploads/global/fleet/vehicle-2_mob@2x.jpg 2x" alt="Closeup of a the front wheel of an e-scooter." />
        </picture>
        <picture class="lazy ml-2 ml-md-3">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/fleet/vehicle-3.jpg 1x, /uploads/global/fleet/vehicle-3@2x.jpg 2x" >
          <img data-src="/uploads/global/fleet/vehicle-3_mob.jpg" data-srcset="/uploads/global/fleet/vehicle-3_mob@2x.jpg 2x" alt="Closeup of the front wheel of an electric kick-scooter." />
        </picture>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Antrieb für Ihre individuelle Mobilitätslösung</p>
            <h2 class="headline-large">Wir stellen vor: Wunder Marketplace</h2>
            <p>GetSeien Sie der Konkurrenz einen Schritt voraus mit dem Wunder Marketplace - dem weltweit ersten Mobilitätsmarktplatz, der mit unserer stabilen und skalierbaren Mobilitätsplattform verbunden ist. Entdecken Sie Apps und Erweiterungen von Zoba, Asana, StriveCloud, Adjust und mehr.</p>
            <a class="btn btn-outline-dark mt-3" href="/marketplace">Erfahren Sie mehr</a>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <div class="out-right">
            <img class=" marketplace-mockup mt-5 mt-md-0" src="uploads/global/fleet/mockup-marketplace.png" srcset="uploads/global/fleet/mockup-marketplace@2x.png 2x" alt="Wunder Marketplace webpage screenshot on a laptop" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg bg-white tab-section logo-tabs mt-5 mb-5">
    <div class="container-fluid text-center">
      <p>Geschichten von Kunden</p>
      <h3 class="headline-medium">Informieren Sie sich über Partner weltweit</h3>
      <ul class="nav nav-pills justify-content-center my-5 py-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-hive-tab" data-toggle="pill" href="#pills-hive" role="tab" aria-controls="pills-hive" aria-selected="true">
            <img data-src="/uploads/global/client-logos/hive-sq.svg"  />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-emmy-tab" data-toggle="pill" href="#pills-emmy" role="tab" aria-controls="pills-emmy" aria-selected="false">
            <img data-src="/uploads/global/client-logos/emmy-sq.svg"  />
          </a>
        </li>
      </ul>
      <div class="row text-left">
        <div class="col-md-10 offset-md-1">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-hive" role="tabpanel" aria-labelledby="pills-hive-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img src="/uploads/global/fleet/hive-photo.jpg" srcset="/uploads/global/fleet/hive-photo@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Hive</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.free-now.com/" title="Free Now homepage">www.free-now.com</a><p>
                  <p>FREE NOWs Scooter-Sharing-Lösung, Hive, hat Portugal bereits im Sturm erobert und hat Pläne für exponentielles Wachstum in ganz Europa.</p>
                  <p>Angetrieben bei der Wunder Fleet Lösung mischt Hive das Scooter-Sharing Ökosystem auf, mit der Unterstützung vom Mutterkonzern Daimler.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-emmy" role="tabpanel" aria-labelledby="pills-emmy-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img data-src="/uploads/global/fleet/emmy-photo.jpg" data-srcset="/uploads/global/fleet/emmy-photo@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Emmy</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.emmy-sharing.de/" title="emmy — Electric scooter sharing">www.emmy-sharing.de</a><p>
                  <p>emmy establishes electric Scooters in Berlin by offering them in a free floating and short-term rental system.</p>
                  <p>The user will be able to enjoy individual mobility without the quest for parking space and without CO2 or noise emissions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>

<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Fleet film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/344794116?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
