<main class="with-form larger">

  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-challenges">Herausforderung</a>
                <a class="list-group-item list-group-item-action" href="#section-benefits">Lösung</a>
                <a class="list-group-item list-group-item-action" href="#section-hamburg">Fallbeispiel</a>
                <a class="list-group-item list-group-item-action" href="#section-features">Tools</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>


  <div class="solution-wrapper header-bridge" style="padding-bottom: 0px; margin-bottom:0px">

    <section id="section-challenges" class="pb-120">

      <div class="container mb-5 mt-3">
        <div class="row">
          <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
            <div class="pl-lg-5">
              <h2 class="page-heading">Die städtische Mobilität ist im kontinuierlichem Wandel</h2>
              <p class="lead">Die Reichweite von Mobilitätsunternehmen in Städten wächst mit rasantem Tempo. Städte müssen sich an diese Veränderungen anpassen, um Chaos und Probleme zu vermeiden, bevor sie entstehen. </p>
            </div>
          </div>
        </div>
      </div>

      <br class="d-none d-sm-block">
      <br class="d-none d-sm-block">
      <br>

      <div class="bg-box__wrapper block-full-right col-2-in" id="city-dash-row">
        <div class="container container-fullright">
          <div class="image-row d-flex align-items-start">
            <img src="uploads/global/city-rides.svg" class="w-lshadow mr-4" data-aos="zoom-in-left" data-aos-offset="-100" />
            <img src="uploads/global/city-active-vehicles.svg" class="w-lshadow mr-sm-4" data-aos="zoom-in-left" data-aos-offset="100" />
            <img src="uploads/global/city-providers.svg" class="w-lshadow mt-4 mt-sm-0" data-aos="zoom-in-left"data-aos-offset="300" />
          </div>
          <p class="text-right text-muted mt-2"><small>* beispiel dashboards</small></p>

          <div class="px-sm-5 my-5">
            <p class="lead pr-sm-5">Wunder City ist ein Software Instrument, mit dem Städte alle Mobilitätsangebote evaluieren, planen und regulieren können, indem sie Daten aggregieren und verstehen.</p>
          </div>

        </div>
      </div>

    </section>


    <section id="section-benefits" class="grey-bg new-section pb-120">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">Smart Cities brauchen <br>intelligente Lösungen</h2>
              <div class="grid-wrapper two-col">
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="0" src="uploads/global/icon-laptop.svg" class="mb-3" />
                    <p class="body-intro mb-3">Auf einen Blick</p>
                    <p>Erhalten Sie einen umfassenden Überblick über neue und bestehende Mobilitätsdienste in Ihrer Stadt.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-portfolio.svg" class="mb-3" />
                    <p class="body-intro mb-2">Entscheidungen unterstützen</p>
                    <p>Treffen Sie fundierten Entscheidungen zur Stadt- und Infrastrukturplanung auf der Grundlage von Datenanalysen.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="uploads/global/icon-people.svg" class="mb-3" />
                    <p class="body-intro mb-2">ZUSAMMENARBEIT FÖRDERN</p>
                    <p>Unterstützen Sie den reibungslosen Austausch zwischen Ihnen und den Mobilitätsanbietern mit Hilfe von standardisierten digitalen Formaten - keine technische Erfahrung erforderlich.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/growth.svg" class="mb-3" />
                    <p class="body-intro mb-2">Nachhaltig entwickeln</p>
                    <p>Seien Sie dafür verantwortlich, dass Ihre Stadt grüner und nachhaltiger wird. Verbessern Sie die Lebensqualität Ihrer Bürger.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>

  <div class="overflow-hidden">
    <section class="fullimg-section" id="section-hamburg">
      <div class="fullimg-section__bgimage text-light">
        <div class="fullimg-section__overflow"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-9 offset-lg-2">
              <div class="fullimg-section__inner-content pl-md-5">
                <h2 class="h1">Die Stadt Hamburg</h2>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="">Die Stadt Hamburg hat das Ziel, urbane Mobilität zu verbessern um den Weg in eine nachhaltige und lebenswerte Zukunft zu ebnen. Um dies zu erreichen, müssen Städte Einblicke in neue Mobilitätsdiensten gewinnen und die Auswirkungen besser verstehen.</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="mt-4 mt-sm-0">Mit Hilfe der Auswertung erhält Hamburg eine Wissensgrundlage für urbane Planung. Die Dokumentation visualisiert Daten, die der Stadt helfen die Angebote zu analysieren und Entscheidungen über die Weiterentwicklung von Mobilitätsdiensten in der Stadt zu treffen.</p>
                  </div>
                </div>
                <div class="mt-5 text-card w-shadow">
                  <blockquote class="blockquote">
                    <p class="mb-0 ">"Die Kooperation mit Wunder Mobility gibt uns die Möglichkeit, genauer zu verstehen, welche Anforderungen die neue Mobilität an uns als Stadt stellt und welche Maßnahmen zu treffen sind, um ein effizientes Zusammenspiel der unterschiedlichen Mobilitätsdienste zu gewährleisten."</p>
                    <footer class="blockquote-footer">Michael Westhagemann
                      <cite title="Senator Hamburg">Senator für Wirtschaft, Verkehr und Innovation in Hamburg</cite>
                      <p class="quote-link"><a href="https://www.hamburg.de/pressearchiv-fhh/12793478/2019-08-21-bwvi-mobilitaetsdienste/" target="_blank">View the press release (German only)</a></p>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="section-features" class="grey-bg new-section pb-100">
      <div class="bridge-padding"></div>
      <div class="container">

        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">Das Werkzeug für Städte, um sich auf <br class="d-none d-sm-block">die Zukunft vorzubereiten</h2>
              <img class="w-shadow mt-5 mw-100" data-src="uploads/global/city-dashboard.jpg" data-srcset="uploads/global/city-dashboard@2x.jpg 2x" alt="Mockup of Wunder City dashbaord with map and graphs" />
              <p class="text-right text-muted"><small>* beispiel dashboard</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-box__wrapper block-full-right col-2-in">
        <div class="box-fullright">
          <div class="bg-box__box">
            <div class="container container-fullright pl-md-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="body-intro">Berichterstattung Leicht Gemacht</p>
                  <ol class="colored-numbers pr-sm-5">
                    <li>Relevante Daten von mehreren Mobilitätsdiensten werden einheitlich verarbeitet und in einer Übersicht zusammengefasst. Nutzen Sie die Ergebnisse, um ihre Stadtplanung und strategischen Entscheidungen zu unterstützen.</li>
                    <li>Komplexe Datenstrukturen und Zusammenhänge werden durch Berichte auf eine leicht verständliche Weise visualisiert.</li>
                    <li>Keine Vorkenntnisse über Daten oder Analyse-Software erforderlich.</li>
                    <li>Berichte werden anhand der individuellen Bedürfnisse der Stadt erstellt und kontinuierlich angepasst.</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <p class="body-intro mt-5 mt-md-0">Daten auf Abruf</p>
                  <ol class="colored-numbers pr-sm-5">
                    <li>Übersicht aller verfügbaren Mobilitätsanbieter durch einheitliche Darstellungen vergleichbar.</li>
                    <li>Auswertung aller historischen Daten verschafft einen Überblick über die zeitliche Marktentwicklung.</li>
                    <li>Erfassung von Mobilitätsbedarf-Veränderungen auf Tages-, Wochen- und Monatsbasis.</li>
                    <li>Einfache Erstellung von strategische Fahr- oder Parkverbotszonen in bestimmten Stadtteilen und Gebieten.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

</main>
