<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Wunder City</a>
                <a class="list-group-item list-group-item-action" href="#section-solution">Lösung</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper" style="padding-bottom: 100px; margin-bottom:-100px">
    <div class="wunder-bg left top-1" style="top: 600px"></div>
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Immer einen Schritt voraus</h2>
                <p class="lead">Während neue vielversprechende Mobilitätsinnovationen in Städten entstehen, bringen sie eine Reihe von Herausforderungen für Planer, Anwohner und lokale Entscheidungsträger hinsichtlich Effizienz und Nachhaltigkeit mit sich. Die Städte müssen Mobilitätsangebote regulieren und die Gestaltung des Mobilitätsumschwungs gemeinsam mit den Anbietern gestalten.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <img class="abs-right" data-src="/uploads/global/wunder-city-small.png" data-srcset="/uploads/global/wunder-city-small.png 2x" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-solution" class="product-section">
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Intelligente Daten für intelligente Städte</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Wunder City bietet einen <strong><span class="text-blue">umfassende Einblicke</span></strong> in die Mobilitätsaktivitäten innerhalb einer Stadt und entsteht in enger Zusammenarbeit mit Städten und deren Mobilitätsentscheidern. </p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Durch die Übermittlung und <strong><span class="text-blue">Visualisierung relevanter Verkehrsdaten</span></strong> schafft es Transparenz innerhalb bestehender Mobilitätsangebote und unterstützt bei deren Regulierung.</p>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="abs-image-wrapper" data-aos="fade-up" data-aos-delay="150">
                    <img class="abs-right ml-auto d-block mr-auto mt-5 mt-md-0" data-src="/uploads/global/wundercity-dashboard-map.png" data-srcset="/uploads/global/wundercity-dashboard-map@2x.png 2x" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

    </div>
  </div>


</main>
