<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Carpooling App</a>
                <a class="list-group-item list-group-item-action" href="#section-stories">Spotlight</a>
                <a class="list-group-item list-group-item-action" href="#section-success">Übersicht</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Die innovative Lösung für Pendler-Fahrgemeinschaften</h2>
                <p class="lead">Wunder Carpool unterstützt Unternehmen und Städte dabei, die Mobilität der Zukunft nachhaltiger zu gestalten.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <img class="abs-right" data-src="/uploads/global/carpool.jpg" data-srcset="/uploads/global/carpool@2x.jpg 2x" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-app" class="product-section" >
          <div class="wunder-bg left top-1"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1">
                  <h2 class="page-heading">Carpooling App</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <ion-icon name="ios-people" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Unsere Erfahrung - Ihr Vorteil</h3>
                        <p>Mit unserer Wunder Carpool haben wir es bereits geschafft, das Verkehrsaufkommen in Megacitys wie Rio, Manila oder Neu-Dehli erheblich zu reduzieren. Wir bieten alle Software-Tools aus einer Hand und helfen von der Entwicklung des Geschäftsmodells bis hin zum Launch.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="ios-car" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Sicher und Nutzerfreundlich</h3>
                        <p>Mit Wunder Carpool können Pendler bequem ihre Fahrten buchen und Fahrer erfahren in Echtzeit wo es als nächstes hingeht. Berechnet werden die Routen von einem Carpooling-Algorithmus, der dafür sorgt, dass Pendler schnellstmöglich zu ihrem Ziel gelangen.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="finger-print" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Effiziente Datenanalyse</h3>
                        <p>Ein Operator Dashboard vervollständigt unsere Carpooling-Technologie. Es bietet alle prozessrelevanten Daten auf einen Blick und lässt Fahrten in Echtzeit abbilden.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0">
                  <img data-src="/uploads/global/mockup_phone_4.png" data-srcset="/uploads/global/mockup_phone_4@2x.png 2x" class="lazy lazyload product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-admin" class="product-section">
          <div class="wunder-bg right top-2"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-9 offset-lg-3">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="page-heading">Operator Dashboard</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Im Rahmen unserer Carpooling-Technologie verrichtet ein Business-Intelligence-System im Hintergrund seine Arbeit und fasst alle zur Verfügung gestellten Daten zusammen. So ermöglicht das Operator Dashboard immer eine Übersicht über alle relevanten Carpooling-Kennzahlen wie Fahrten, Fahrer, Fahrgäste, Service Levels und Kosten.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="abs-image-wrapper">
                    <img class="abs-right ml-auto d-block mr-auto mt-5 mt-md-0" data-src="/uploads/global/mockup_dashboard_5.png" data-srcset="/uploads/global/mockup_dashboard_5@2x.png 2x" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

  <section class="block block-stories" id="section-stories">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <h2 class="page-heading mb-3">Spotlight</h2>
          <p class="lead">Wunder Carpool verringert bereits weltweit Verkehrsprobleme.</p>
          <div id="accordion" class="horizontal-accordion">
            <div class="card expand">
                <div class="card-closed-display">
                  <div class="d-flex align-items-center mb-3">
                    <img class="city-seal mr-2" data-src="/uploads/global/Emblem_Manila.png" data-srcset="/uploads/global/Emblem_Manila@2x.png 2x" />
                    <h3 class="">Manila</h3>
                  </div>
                  <p class="card-text show">Mobilität effizienter gestalten...</p>
                  <p class="card-text"><strong class="text-blue">Manila</strong> ist weltweit einer der Städte in denen die Verkehrsbelastung den kritischen Punkt längst überschritten hat. Dank unser Carpooling-Technologie schaffen wir es täglich die verstopften Straßen der Megacity von 50.000 Autos zu befreien.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/manila-traffic.png" />
            </div>
            <div class="card">
                <div class="card-closed-display">
                  <div class="d-flex align-items-center mb-3">
                    <img class="city-seal mr-2" data-src="/uploads/global/Emblem_Delhi.png" data-srcset="/uploads/global/Emblem_Delhi@2x.png 2x" />
                    <h3 class="">Delhi</h3>
                  </div>
                  <p class="card-text show">Die Umwelt schützen und CO2 reduzieren...</p>
                  <p class="card-text">In <strong class="text-blue">Neu-Delhi</strong>, einer der am stärksten verschmutzten Städte der Welt hat unsere Carpooling-Technologie dazu beigetragen, CO2-Emissionen durchschnittlich um 20t pro Monat zu reduzieren.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/delhi-pollution.png" />
            </div>
            <div class="card">
                <div class="card-closed-display">
                  <div class="d-flex align-items-center mb-3">
                    <img class="city-seal mr-2" data-src="/uploads/global/Emblem_Rio.png" data-srcset="/uploads/global/Emblem_Rio@2x.png 2x" />
                    <h3 class="">Rio de Janeiro</h3>
                  </div>
                  <p class="card-text show">Öffentlichen Nahverkehr ergänzen: Im Großraum<strong class="text-blue"> Rio </strong>leben über zwölf Millionen Menschen, davon die wenigstens im Stadtzentrum.</p>
                  <p class="card-text">Mit unserer Carpooling App haben wir eine Alternativ geschaffen um den öffentlichen Nahverkehr zu entlasten, damit täglich tausenden von Menschen stressfrei zu ihrem Arbeitsplatz pendeln können.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/rio-incar.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="block block-important-numbers" id="section-success">

    <div class="success__wrapper block-full-right col-2-in">
      <div class="container container-fullright">

        <div class="numbers__wrapper">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Wunder Carpool Statistik</h2>
              <h2 class="main-heading">On a Global scale</h2>

              <div class="important-numbers__stats">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">5<small>Millionen</small></div>
                      <p>geteilte Fahrten</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">6<small>Städte</small></div>
                      <p>mit Wunder Carpool Communities</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">1+<small>Millionen</small></div>
                      <p>Menschen, die Sitzen teilen</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end of success wrapper -->

  </section>
</main>
