<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-maas">The OS</a>
                <a class="list-group-item list-group-item-action" href="#section-carpool">Carpool</a>
                <a class="list-group-item list-group-item-action" href="#section-shuttle">Shuttle</a>
                <a class="list-group-item list-group-item-action" href="#section-fleet">Fleet</a>
                <a class="list-group-item list-group-item-action" href="#section-city">City</a>
                <a class="list-group-item list-group-item-action" href="#section-numbers">Übersicht</a>
                <a class="list-group-item list-group-item-action" href="#section-featured">Nachrichten</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="maas-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-sm-10 col-xl-10 offset-lg-2">
          <section id="section-maas">
            <h2 class="page-heading">Wunder Mobility OS<sup>TM</sup></h2>
            <p class="lead">Mit unseren Produkten ebnen wir den Weg für eine vernetzte und nachhaltige Mobilität</p>
          </section>
        </div>
      </div>

      <div class="solutions-area">

        <section id="section-carpool" class="maas-section" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-4 col-md-6 offset-lg-2">
              <h2 class="page-heading text-blue">Carpool</h2>
              <p>Mit Wunder Carpool bieten wir eine innovative Technologie-Lösung die Pendler vernetzt und dabei hilft die Verkehrsdichte in Städten zu verringern.</p>
              <a href="/de/carpool" class="with-arrow dark">Mehr</a>
              <img data-src="uploads/global/home_maas_carpool.jpg" data-srcset="uploads/global/home_maas_carpool@2x.jpg 2x" class="mobile-solution-image d-md-none mt-3 lazy"/>
            </div>
          </div>
        </section>

        <section id="section-shuttle" class="maas-section" data-aos="fade-up">
          <div class="row">
            <div class="col-md-5 offset-md-7 col-lg-4 offset-lg-8">
              <h2 class="page-heading text-blue">Shuttle</h2>
              <p>Wunder Shuttle ist die integrierte Technologie-Lösung für alle “Shuttle-on-demand Services”, die sich nahtlos mit bereits bestehenden Verkehrsmitteln verbinden lässt.</p>
              <a href="/de/shuttle" class="with-arrow dark">Mehr</a>
              <img data-src="uploads/global/home_maas_shuttle.jpg" data-srcset="uploads/global/home_maas_shuttle@2x.jpg 2x" class="mobile-solution-image d-md-none mt-3 lazy"/>
            </div>
          </div>
        </section>

        <section id="section-fleet" class="maas-section" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-4 col-md-6 offset-lg-2">
              <h2 class="page-heading text-blue">Fleet</h2>
              <p>Mit Wunder Fleet liefern wir die Technologie für alle Sharing-Dienste im Mobilitätsbereich</p>
              <a href="/de/fleet" class="with-arrow dark">Mehr</a>
              <img data-src="uploads/global/home_maas_fleet.jpg" data-srcset="uploads/global/home_maas_fleet@2x.jpg 2x" class="mobile-solution-image d-md-none mt-3 lazy"/>
            </div>
          </div>
        </section>

      </div>

    </div>

  </div>


    <section id="section-city">
      <div class="container" style="">
        <div class="row">
           <div class="col-md-10 offset-lg-2">
              <section id="section-cc" style="margin-top: 0;">
                 <div class="row">
                    <div class="col-md-9">
                       <h2 class="page-heading text-blue">City</h2>
                       <p class="" style="margin: 0.9375rem 0; line-height: 19px;">Wunder City ist ein Monitoring-Tool, das Städten hilft, einen besseren Einblick in das Zusammenspiel von Mobilitätslösungen innerhalb der bestehenden städtischen Infrastruktur zu gewinnen. Es ermöglicht den digitalen Echtzeit-Überblick aller Verkehrsträger, zur Gestaltung eines nachhaltiges Mobilitäts-Ökosystems.</p>
                       <a href="/de/city" class="with-arrow dark">Mehr</a>
                    </div>
                 </div>
              </section>
           </div>
        </div>


      </div>
      <img class="" data-src="/uploads/global/wunder-city-small.png" style="position: relative; max-width: 100%; z-index: -1;">
    </section>




  <section class="block block-important-numbers" id="section-numbers">

    <div class="success__wrapper block-full-right col-2-in">
      <div class="container container-fullright">

        <div class="numbers__wrapper">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Wir sind weiter auf Wachstumskurs!</h2>
              <!--<h2 class="main-heading">And we're Global</h2>0-->

              <div class="important-numbers__stats">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">12+<small>Millionen</small></div>
                      <p>Geteilte Fahrten Weltweit</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">145+<small>Mitarbeiter</small></div>
                      <p>Aus 30 Nationen</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">100<small>tausend</small></div>
                      <p>Fahrzeuge sind bereits mit unserer technologie verbunden</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end of success wrapper -->

    <div class="cities__wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 offset-lg-3">
            <div class="row">
              <div class="col-6 col-md-4">
                <div class="image-card">
                  <div class="image-wrapper">
                    <div class="animated-svg" id="london-anim"></div>
                    <!--<img src="/uploads/global/london.png" alt="Live map of Wunder Mobility in Rio" />-->
                  </div>
                  <div class="image-card__content">
                    <p>London (u.v.m)</p>
                    <p class="image-card__title">Europa</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div class="image-card">
                  <div class="image-wrapper">
                    <div class="animated-svg" id="manila-anim"></div>
                    <!--<img src="/uploads/global/london.png" alt="Live map of Wunder Mobility in Rio" />-->
                  </div>
                  <div class="image-card__content">
                    <p>Manila (u.v.m)</p>
                    <p class="image-card__title">Asien</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div class="image-card">
                  <div class="image-wrapper">
                    <div class="animated-svg" id="auckland-anim"></div>
                    <!--
                    <img src="/uploads/global/london.png" alt="Live map of Wunder Mobility in Rio" />-->
                  </div>
                  <div class="image-card__content">
                    <p>Auckland (u.v.m)</p>
                    <p class="image-card__title">Ozeanien</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div class="image-card">
                  <div class="image-wrapper">
                    <div class="animated-svg" id="atlanta-anim"></div>
                    <!--
                    <img src="/uploads/global/london.png" alt="Live map of Wunder Mobility in Rio" />-->
                  </div>
                  <div class="image-card__content">
                    <p>Atlanta (u.v.m)</p>
                    <p class="image-card__title">Nordamerika</p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div class="image-card">
                  <div class="image-wrapper">
                    <div class="animated-svg" id="rio-anim"></div>
                    <!--
                    <img src="/uploads/global/london.png" alt="Live map of Wunder Mobility in Rio" />-->
                  </div>
                  <div class="image-card__content">
                    <p>Rio <span class="d-none d-sm-inline">De Janeiro</span> (u.v.m)</p>
                    <p class="image-card__title">Lateinamerika </p>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div class="cities-text">
                  <p>Unsere Technolgie wird in mehr als</p>
                  <p class="city-number">50</p>
                  <p>Städten</p>
                  <p class="city-number">5</p>
                  <p>Kontinente</p>
                </div>
              </div>
            </div>
            <div class="content-dropdown">
              <div class="content-dropdown__content">
                <ul class="city-list list-unstyled">
                  <li class="category">Europa</li>
                  <li>Amsterdam</li>
                  <li>Alicante</li>
                  <li>Antwerpen</li>
                  <li>Athen</li>
                  <li>Barcelona</li>
                  <li>Basel</li>
                  <li>Berlin</li>
                  <li>Bielefeld</li>
                  <li>Brüssel</li>
                  <li>Cadiz</li>
                  <li>Cascals</li>
                  <li>Cordoba</li>
                  <li>Düsseldorf</li>
                  <li>El Puerto de Santa Maria</li>
                  <li>Göteborg</li>
                  <li>Granada</li>
                  <li>Graz</li>
                  <li>Hamburg</li>
                  <li>Krefeld</li>
                  <li>Linz</li>
                  <li>Lissabon</li>
                  <li>London</li>
                  <li>Lyon</li>
                  <li>Madrid</li>
                  <li>Malaga</li>
                  <li>Malmö</li>
                  <li>München</li>
                  <li>Murcia</li>
                  <li>Oberhausen</li>
                  <li>Oslo</li>
                  <li>Paris</li>
                  <li>Porto</li>
                  <li>Riga</li>
                  <li>Rotterdam</li>
                  <li>Saragossa</li>
                  <li>Sevilla</li>
                  <li>Stockholm</li>
                  <li>Stuttgart</li>
                  <li>Thessaloniki</li>
                  <li>Wien</li>
                  <li>Warschau</li>
                  <li>Zürich</li>
                  <li class="category">Nordamerika</li>
                  <li>Atlanta</li>
                  <li>Salt Lake City</li>
                  <li class="category">Asien</li>
                  <li>Beirut</li>
                  <li>Bangalore</li>
                  <li>Cebu</li>
                  <li>Delhi</li>
                  <li>Dubai</li>
                  <li>Manila</li>
                  <li>Mumbai</li>
                  <li class="category">Lateinamerika</li>
                  <li>Mexiko City</li>
                  <li>Rio de Janeiro</li>
                  <li class="category">Ozeanien</li>
                  <li>Auckland</li>
                  <li>Darwin</li>
                  <li>New Plymouth</li>
                </ul>
              </div>
              <div class="content-dropdown__opener">
                <a class="with-down-arrow text-blue">Alle Städte</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- Modal -->

  <div class="modal fade" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Brand film modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <div class="plyr__video-embed" id="player">
              <iframe class="lazy" src="https://player.vimeo.com/video/318402556?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
          </div>
      </div>
    </div>
  </div>
