<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-os">Fleet OS</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-stories">Spotlight</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-success">Übersicht</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Intelligente Vernetzung</h2>
                <p class="lead">Unsere Technologie ist die intelligente Lösung für das alle Arten von Shared Mobility. Die individualisierbare App ermöglicht die lückenlose Konnektivität all ihrer Fahrzeuge.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <img class="abs-right" data-src="/uploads/global/fleet-main.png" data-srcset="/uploads/global/fleet-main@2x.png 2x" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-app" class="product-section" >
          <div class="wunder-bg left top-1"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1">
                  <h2 class="page-heading">Die perfekte App für ihre Nutzer</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Vollumfänglich individualisierbar</h3>
                        <p>Unsere Fleet-Technologie lässt sich passgenau und maßgeschneidert nach Ihren spezifischen Anforderungen anpassen.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Rerservieren. Öffnen. Zurückgeben.</h3>
                        <p>Von der Reservierung eines Fahrzeugs, über die Entriegelung via Mobiltelefon bis hin zur Rückgabe - Unsere Technologie bietet ein intuitives Nutzererlebnis.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="ios-phone-portrait" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Einfache Zahlung und Rechnungstellung</h3>
                        <p>Innerhalb der App lässt dich das Pricing flexibel anpassen und alle Zahlungen einfach und sicher abwickeln.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="150">
                  <section id="slider" class="slider_3d">
                    <input type="radio" name="slider" id="s1">
                    <input type="radio" name="slider" id="s2" checked>
                    <input type="radio" name="slider" id="s3">
                    <label for="s1" id="slide1">
                      <img data-src="/uploads/global/mockup-scooter.png" data-srcset="/uploads/global/mockup-scooter@2x.png 2x" class="product-image" />
                    </label>
                    <label for="s2" id="slide2">
                      <img data-src="/uploads/global/mockup-car.png" data-srcset="/uploads/global/mockup-car@2x.png 2x" class="product-image" />
                    </label>
                    <label for="s3" id="slide3">
                      <img data-src="/uploads/global/mockup-kickscooter.png" data-srcset="/uploads/global/mockup-kickscooter@2x.png 2x" class="product-image" />
                    </label>

                  </section>

                </div>

              </div>
            </div>
          </div>
        </section>

        <section id="section-admin" class="product-section" >
          <div class="wunder-bg right top-2"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-9 offset-lg-3">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="page-heading">Operator Dashboard</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Das Operator Dashboard vervollständigt unsere Fleet-Technologie und versorgt Sie mit allen prozessrelevanten Daten. Im Hintergrund verrichtet ein Business-Intelligence-System seine Arbeit und fasst alle zur Verfügung gestellten Daten zusammen. Das Operator Dashboard gibt ihnen immer einen Überblick über Fahrten, Fahrgäste, Service Levels und Kosten.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Sicherer Remote-Zugriff</h3>
                        <p>Zudem ist es über das Operator Dashboard möglich, ihre Fahrzeuge jederzeit aus der Ferne zu öffnen und zu schließen oder eine Wegfahrsperre zu aktivieren.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="abs-image-wrapper">
                    <img class="abs-right ml-auto d-block mr-auto mt-5 mt-md-0" data-src="/uploads/global/mockup_dashboard_4.png" data-srcset="/uploads/global/mockup_dashboard_4@2x.png 2x"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-hardware" class="product-section" >
          <div class="wunder-bg left top-3"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-4 order-md-1">
                  <h2 class="page-heading">Zuverlässige Hardware </h2>
                  <p>Um den bestmöglichen Service zu bieten, setzen wir auf den globalen Marktführer für InCar-Technologie, dessen Produkte weltweit  bereits in über 40.000 Fahrzeugen eingesetzt werden.</p>
                </div>
                <div class="col-md-8 order-md-0" data-aos="fade-up" data-aos-delay="150">

                    <svg class="mw-100 ml-auto d-block mr-auto mt-sm-5 mt-md-0" width="633px" height="437px" viewBox="0 0 633 437" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <image id="Bitmap" x="0" y="0" width="633" height="437" xlink:href="/uploads/global/fleet-hardware-bm.png"></image>
                            <g id="hardware">
                                <g id="car-signal" class="signal-circles" transform="translate(290.000000, 168.000000)" stroke="#009EFF">
                                    <circle id="Oval" opacity="0.849516369" cx="45" cy="45" r="24.5"></circle>
                                    <circle id="Oval" opacity="0.513578869" cx="45" cy="45" r="33.5"></circle>
                                    <circle id="Oval" opacity="0.178873698" cx="44.5" cy="44.5" r="44"></circle>
                                </g>
                                <g id="scoot-signal" class="signal-circles" transform="translate(78.000000, 148.000000)" stroke="#009EFF">
                                    <circle id="Oval" opacity="0.849516369" cx="45" cy="45" r="24.5"></circle>
                                    <circle id="Oval" opacity="0.513578869" cx="45" cy="45" r="33.5"></circle>
                                    <circle id="Oval" opacity="0.178873698" cx="44.5" cy="44.5" r="44"></circle>
                                </g>
                                <g id="bike-signal" class="signal-circles" transform="translate(241.000000, 55.000000)" stroke="#009EFF">
                                    <circle id="Oval" opacity="0.849516369" cx="45" cy="45" r="24.5"></circle>
                                    <circle id="Oval" opacity="0.513578869" cx="45" cy="45" r="33.5"></circle>
                                    <circle id="Oval" opacity="0.178873698" cx="44.5" cy="44.5" r="44"></circle>
                                </g>
                                <g id="car-hw" transform="translate(320.000000, 203.000000)">
                                    <polygon id="Path-3" stroke="#0076F3" fill="#0076F3" points="-3.55271368e-15 7.01660156 22 16.5166016 22 22.0166016 -3.55271368e-15 12.0166016"></polygon>
                                    <polygon id="Path-4" stroke="#0058B9" fill="#0058B9" points="23 16.5166016 31 9.51660156 31 14.8408203 23 21.7166016"></polygon>
                                    <polygon id="Path-5" stroke="#009EFF" fill="#009EFF" points="0.375244141 6.15429687 8.63867188 -5.5067062e-14 30.5192871 8.62963867 22.5385742 15.6166016"></polygon>
                                </g>
                                <g id="scoot-hw" transform="translate(117.000000, 177.000000)">
                                    <polygon id="Path-6" stroke="#0076F3" fill="#0076F3" points="0 3.37225342 6.20336914 5.30802614 6.20336914 30 0 27.7160034"></polygon>
                                    <polygon id="Path-7" stroke="#0058B9" fill="#0058B9" points="7.17614746 5.34539795 10.5755615 3.37225342 10.5755615 26.9425659 7.17614746 29.6838989"></polygon>
                                    <polygon id="Path-8" stroke="#009EFF" fill="#009EFF" points="0.756225586 2.62594604 6.65393066 4.52111816 9.99902344 2.54539795 4.55285645 0.730773926"></polygon>
                                </g>
                                <g id="bike-hw" transform="translate(278.000000, 84.000000)">
                                    <polygon id="Path-6" stroke="#0076F3" fill="#0076F3" points="0 3.37225342 6.20336914 5.30802614 6.20336914 30 0 27.7160034"></polygon>
                                    <polygon id="Path-7" stroke="#0058B9" fill="#0058B9" points="7.17614746 5.34539795 10.5755615 3.37225342 10.5755615 26.9425659 7.17614746 29.6838989"></polygon>
                                    <polygon id="Path-8" stroke="#009EFF" fill="#009EFF" points="0.756225586 2.62594604 6.65393066 4.52111816 9.99902344 2.54539795 4.55285645 0.730773926"></polygon>
                                </g>
                            </g>
                        </g>
                    </svg>

                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

    </div>

  </div>


  <section class="block block-stories" id="section-stories" data-aos="fade-up">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <h2 class="page-heading mb-3">Spotlight</h2>
          <p class="lead">Das Wonder Mobility-Betriebssystem wird von Unternehmen auf der ganzen Welt verwendet.</p>
          <div id="accordion" class="horizontal-accordion">
            <div class="card expand">
              <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
              <div class="card-img-overlay">
                <div class="card-closed-display">
                  <img class="card-logo" data-src="/uploads/global/hive_logo.png" data-srcset="/uploads/global/hive_logo@2x.png 2x" />
                  <img class="card-outer-image" src="/uploads/global/hive_scooter@2x.png" />
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                  <div class="inner-content">
                    <p class="card-text">Hive der E-Scooter-Service von MyTaxi hat zuletzt die portugiesische Hauptstadt Lissabon im Sturm erobert.</p>
                    <p class="card-text">Basierend auf der Wunder-Fleet Technologie bieten E-Scooter enormes Zukunftspotenzial und ermöglichen neue Wege moderner, umweltfreundlicher und sauberer Mobilität.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <img class="card-img" src="/uploads/global/bg-map.png" alt="Card image">
              <div class="card-img-overlay">
                <div class="card-closed-display">
                  <img class="card-logo" data-src="/uploads/2019/01/22/emmy.svg" data-srcset="/uploads/2019/01/22/emmy.svg 2x" />
                  <img class="card-outer-image" src="/uploads/global/emmy_scooter@2x.png" />
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                  <div class="inner-content">
                    <p class="card-text">Die Erfolgstory von Emmy in Deutschland setzt sich weiter fort. Zuletzt ermöglichte eine erneute Finanzierungsrunde die Erweiterung der Rollerflotte in Hamburg, München und Berlin.</p>
                    <p class="card-text">Dank unserer Fleet-Technologie ermögliuchen deutschlandweit rund 150.000 Emmy individuelle Mobilität ohne Parkplatzsuche und ohne CO2- oder Lärmemissionen.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <img class="card-img" src="/uploads/global/bg-map2.png" alt="Card image">
              <div class="card-img-overlay">
                <div class="card-closed-display">
                  <img class="card-logo" src="/uploads/global/logo-miles.svg" />
                  <img class="card-outer-image raised" src="/uploads/global/miles_car@2x.png" />
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                  <div class="inner-content">
                    <p class="card-text">Miles ist die Carsharing-Lösung bei der die Abrechnung nach gefahrenen Kilometern und nicht nach gefahrenen Minuten erfolgt.</p>
                    <p class="card-text"> Ausgestattet mit der schlüsselfertigen Wunder-Fleet Technologie konnte Miles innerhalb kürzester Zeit 600 Fahrzeuge auf die Strasse bringen und für seinen Kunden ein vernetztes und indiviualisiertes Mobilitätserlebnis entwickeln.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="block block-important-numbers" id="section-success">

    <div class="success__wrapper block-full-right col-2-in">
      <div class="container container-fullright">

        <div class="numbers__wrapper">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Wunder Fleet Statistik</h2>
              <h2 class="main-heading">Weltweit</h2>

              <div class="important-numbers__stats">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">55k<small>Kilometer</small></div>
                      <p>mit der Hilfe unserer Technologie züruckgelegt</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">1m+<small>Menschen</small></div>
                      <p>nutzen bereits unsere Technologie</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">99.9<small>Prozent</small></div>
                      <p>Serververfügbarkeit</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end of success wrapper -->

  </section>
</main>
