<main class="with-form larger">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav active" href="#section-fleet">Fleet</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-app">App</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-hardware">Fahrzeuge</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-manage">Management</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-customize">Ihr Design</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-stories">Stories</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">

    <section id="section-fleet" class="my-5 my-md-0 mt-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto" style="max-width: 650px;">
              <h2 class="page-heading text-center">Ready. Set. Share.</h2>
              <p class="section-intro text-center">Von der Benutzer-App und dem Verwaltungssystem bis hin zu den Fahrzeugen und der Datenanalyse hat die WunderFleet-Plattform alles, was Sie brauchen, um Ihre Sharing-Plattform für Fahrzeuge in Bewegung zu setzen.</p>
            </div>
            <div class="row align-items-baseline mt-5 pt-5">
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/mobile_app.png" data-srcset="/uploads/global/mobile_app@2x.png 2x" class="mw-100"/>
                  <h4>Mobile App</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/shared_vehicles.svg" data-srcset="/uploads/global/shared_vehicles@2x.svg 2x" style="width: 220px;" class="mw-100" />
                  <h4 >Sharing-Fahrzeug</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/management_system.png" data-srcset="/uploads/global/management_system@2x.png 2x" class="mw-100" />
                  <h4>Management System</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-app" class="product-section grey-bg overflow-hidden" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300"><span class="lighter">Die perfekte</span><br>benutzer-app</h2>
                  <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240"><strong>Reservieren. Fahren. Zurückgeben.</strong></p>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Reservieren Sie ein Fahrzeug und entriegeln Sie es mit einem kurzen Wischen auf Ihrem Handy. So einfach ist das.</p>
                  <p class="section-intro text-blue  mb-2" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240"><strong>Einfache Zahlung und Rechnungsstellung</strong></p>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Nützen Sie die Vorteile von anpassbaren Preismodellen und Rechnungen. Alle Zahlungsmethoden werden unterstützt.</p>
                </div>
              </div>
              <div class="col-md-5 offset-md-1">
                <div class="clipped-wrapper">
                  <img data-src="/uploads/global/phone-mockup-fleet.png" data-srcset="/uploads/global/phone-mockup-fleet@2x.png 2x" class="product-image phone-mockup clipped clipped-bottom" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-hardware" class="product-section overflow-hidden" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-11 offset-lg-1">
            <div class="row">
              <div class="col-md-6">
                <div class="clipped-wrapper d-none d-md-block">
                  <img data-src="/uploads/global/sharing-vehicles-section.svg" data-srcset="/uploads/global/sharing-vehicles-section@2x.svg 2x" class="product-image" />
                </div>
              </div>
              <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0">Fahrvergnüngen <span class="lighter">garantiert</span></h2>
                  <p class="section-intro" >Ohne Fahrzeug kein Fahrzeug-Sharing. Wir können Ihnen helfen, ob Sie nun mit einer ganzen Flotte am Markt sind oder planen, eine einzelne Fahrzeugart einzuführen.
                    <br><br>
                    Unsere Fahrzeuge bieten mehr, als man auf den ersten Blick erkennen kann:
                    <ul class="list-unstyled mt-2 icon-list">
                      <li data-aos="soft-up" data-aos-delay="50"><ion-icon name="ios-wifi"></ion-icon> eingebauten IoT-Geräten </li>
                      <li data-aos="soft-up" data-aos-delay="100"><ion-icon name="ios-hammer"></ion-icon> robuste Bauweise</li>
                      <li data-aos="soft-up" data-aos-delay="150"><ion-icon name="ios-pin"></ion-icon> GPS-Tracking-Systemen</li>
                      <li data-aos="soft-up" data-aos-delay="200"><ion-icon name="ios-key"></ion-icon> schlüssellosem Zugang</li>
                      <li data-aos="soft-up" data-aos-delay="250"><ion-icon name="cloud-outline"></ion-icon> lückenloser Konnektivität</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-manage" class="product-section grey-bg mt-0" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading text-center mb-0" data-aos="soft-up" data-aos-offset="100">Verwalten sie ihre flotte <span class="lighter">mit leichtigkeit</span></h2>
            <img data-src="/uploads/global/mockup_dashboard_4.png" data-srcset="/uploads/global/mockup_dashboard_4@2x.png 2x" class="product-image p-5 mw-100" />
            <div class="row">
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="" data-aos-offset="40"><strong>Datengetriebene Operationen</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="40">Überprüfen Sie den Kraftstoffstand, sehen Sie die aktuellen Standorte ein und erhalten Sie in Echtzeit Updates über Ihre Flotte.</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="100" data-aos-offset="40"><strong>Benutzerverwaltung</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="150" data-aos-offset="40">Wickeln Sie Zahlungen ab, passen Sie das Pricing an & verwalten Sie Ihre Benutzer – alles von einem Dashboard aus. Profitieren Sie von unserem Marketing-Toolkit.</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="200" data-aos-offset="40"><strong>Für alle Fahrzeugarten</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="250" data-aos-offset="40">Ob e-Scooter, Autos, Mopeds, Fahrräder, Jetskis oder Rikschas – Unsere Plattform passt zu allen Fahrzeugarten.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="section-customize" class="product-section" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0">Ihre Marke.<br><span class="lighter">Ihr Design.</span></h2>
                  <p class="section-intro" >Ihr Markenlogo, ihre Markenfarben und Ihr Markenzeichen kommen super zur Geltung auf unser White-Label-App. </p>
                </div>
              </div>
              <div class="col-md-7">
                <img data-src="/uploads/global/Customization_alt.svg" data-srcset="/uploads/global/Customization_alt@2x.svg 2x" class="product-image hue-rotate-anim" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="block block-stories grey-bg pb-5 mb-0" id="section-stories">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Stories</h2>
            <p class="lead">Das Wonder Mobility-Betriebssystem wird von Unternehmen auf der ganzen Welt verwendet.</p>
            <div id="accordion" class="horizontal-accordion">
              <div class="card expand">
                <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" data-src="/uploads/global/hive_logo.png" data-srcset="/uploads/global/hive_logo@2x.png 2x" />
                    <img class="card-outer-image" src="/uploads/global/hive_scooter@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Hive der E-Scooter-Service von FREENOW hat zuletzt die portugiesische Hauptstadt Lissabon im Sturm erobert.</p>
                      <p class="card-text">Basierend auf der Wunder-Fleet Technologie bieten E-Scooter enormes Zukunftspotenzial und ermöglichen neue Wege moderner, umweltfreundlicher und sauberer Mobilität.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="/uploads/global/bg-map.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" data-src="/uploads/2019/01/22/emmy.svg" data-srcset="/uploads/2019/01/22/emmy.svg 2x" />
                    <img class="card-outer-image" src="/uploads/global/emmy_scooter@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Die Erfolgstory von Emmy in Deutschland setzt sich weiter fort. Zuletzt ermöglichte eine erneute Finanzierungsrunde die Erweiterung der Rollerflotte in Hamburg, München und Berlin.</p>
                      <p class="card-text">Dank unserer Fleet-Technologie ermögliuchen deutschlandweit rund 150.000 Emmy individuelle Mobilität ohne Parkplatzsuche und ohne CO2- oder Lärmemissionen.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="/uploads/global/bg-map2.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" src="/uploads/global/logo-miles.svg" />
                    <img class="card-outer-image raised" src="/uploads/global/miles_car@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Miles ist die Carsharing-Lösung bei der die Abrechnung nach gefahrenen Kilometern und nicht nach gefahrenen Minuten erfolgt.</p>
                      <p class="card-text"> Ausgestattet mit der schlüsselfertigen Wunder-Fleet Technologie konnte Miles innerhalb kürzester Zeit 600 Fahrzeuge auf die Strasse bringen und für seinen Kunden ein vernetztes und indiviualisiertes Mobilitätserlebnis entwickeln.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


  </div>


  <section class="block block-video-1 mt-0 pb-5" id="main-video">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-10 offset-lg-2">

          <h2 class="page-heading">&nbsp; </h2>

          <div class="home-video">

            <div class="plyr__video-embed" id="player">

              <iframe src="https://player.vimeo.com/video/344794116?title=0&byline=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
            <a id="video-btn" class="dark round-cta gt-videoplay">Film Sehen (EN)</a>
          </div>

        </div>
      </div>

    </div>
  </section>


</main>
