<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block mb-5">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-os">Wunder Park</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-parksoftware">Software</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-parkhardware">Hardware</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-stories">Stories</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Kontakt</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper" style="padding-bottom: 100px; margin-bottom:-100px">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">


          <section id="section-os" class="mt-md-0">
            <div class="row">
              <div class="col-md-5 mt-5">
                <h2 class="page-heading mb-4 mt-xl-5">Parkraum-Management - Leicht Gemacht</h2>
                <p class="lead">Behalten Sie den Überblick über Ihren Firmenparkplatz.</p>
              </div>
              <div class="col-md-7 align-self-center">
                <div class="top-image-wrapper">
                  <img alt="Digitized parking solution 3D animation" style="width: calc(100% + 200px);" class="lazy" data-src="/uploads/global/park_hero.svg" />
                </div>
              </div>
            </div>
          </section>


        </div>
     </div>

    </div>

    <section id="featured-benefit" class="grey-bg my-5 pb-5">
      <div class="container">

        <div class="row">
          <div class="col-lg-10 offset-lg-2">

            <div class="row pt-3">
              <div class="col-md-6 mt-4 mt-md-0 order-1 order-md-0">
                  <img alt="3D parking lot with 3 cars parked" class="mw-100 px-3" style="transform: translateX(-30px);" data-src="/uploads/global/parking-spaces.png" data-srcset="/uploads/global/parking-spaces@2x.png x2" />
              </div>
              <div class="col-md-6 align-self-center">
                <div class="feature-stat pr-4">
                  <h2 class="text-blue mb-4" style="font-size: 70px;">30%</h2>
                  <h2 class="page-heading mb-4">Optimierung der Auslastungsrate</h2>
                  <p class="lead">Unsere Technologie hilft Ihnen ungenutzte Stellplätze umzuverteilen und dadurch mehr Mitarbeitern das Parken zu ermöglichen.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="block block-video-1 mt-4" id="main-video">
      <div class="container">
        <div class="row ">
          <div class="col-lg-10 offset-lg-2">

            <div class="home-video pt-4">

              <div class="plyr__video-embed" id="player">

                <iframe src="https://player.vimeo.com/video/351631171?title=0&byline=0&portrait=0"
                  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

              </div>
              <a id="video-btn" class="dark round-cta gt-videoplay">Video Ansehen</a>
            </div>

          </div>

        </div>
      </div>
    </section>

    <section id="section-benefits" class="grey-bg new-section pb-120 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">Ihr Vorteil</h2>
              <div class="grid-wrapper two-col">
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="0" src="/uploads/global/parking-meter.svg" alt="Blue outlined parking meter icon" class="mb-3" />
                    <p class="body-intro mb-3">Die Belegung von Parkplätzen Maximieren</p>
                    <p>Automatisieren Sie die Zuteilung von Parkplätzen und überlassen Sie uns die Arbeit.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/growth.svg" class="mb-3" />
                    <p class="body-intro mb-2">Umweltbewusstsein Zeigen</p>
                    <p>Pro 1000 Mitarbeiter werden 300 Liter Benzin auf der Suche nach einem Parkplatz verbraucht. Dies können Sie reduzieren - und somit auch die CO2-Emissionen.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="/uploads/global/happy-face.svg" alt="Blue outlined icon of a happy face" class="mb-3" />
                    <p class="body-intro mb-2">Mitarbeiterzufriedenheit Steigern</p>
                    <p>Mit der einfachen Buchung eines dedizierten Parkplatzes und ohne Wartezeiten an der Schranke ermöglichen Sie einen entspannteren Arbeitsweg.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="uploads/global/icon-people.svg" class="mb-3" />
                    <p class="body-intro mb-2">Transparenz Schaffen</p>
                    <p>Fördern Sie durch die Einführung eines fairen, automati- sierten Parksystems eine Kultur des verantwortungsvollen Parkens.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-donation.svg" class="mb-3" />
                    <p class="body-intro mb-2">Ungenutzte Parkplätze an Dritte Vermieten</p>
                    <p>Auf Wunsch erhalten Sie eine völlig neue Einnahmequelle mit minimalem Aufwand wenn sie Ihre Parkplätze an lokale Unternehmen oder Anwohner vermieten.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-like.svg" class="mb-3" />
                    <p class="body-intro mb-2">Das Parking-Erlebnis Personalisieren</p>
                    <p>Hochwertige digitale LCD-Displays an jedem Parkplatz sorgen für den VIP-Touch und zeigen die Technologieaffinität Ihres Unternehmens.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <div class="product-area mt-5 pt-5">

      <div class="container">


        <section id="section-parksoftware" class="product-section py-5" >
          <div class="wunder-bg right top-3"></div>

          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/laptop-smartphone.svg" class="icon-left" /> Software</h2>
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-0 align-self-center" data-aos="fade-up" data-aos-delay="0">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Operating Dashboard</h3>
                        <p>Das Operating Dashboard liefert Informationen zur aktuellen Parkraumbelegung und ist der persönliche Zugang zu allen Daten und Steuerungsmöglichkeiten. Neben Echtzeit-Informationen stehen auch Funktionen zur Datenanalyse und zum Nutzermanagement zur Verfügung.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ol class="colored-numbers">
                          <li>Hier können verfügbare Restplätze und falsch geparkte Fahrzeuge verfolgt werden.</li>
                          <li>Datengetriebene Prognosen über zukünftige Parkraumbelegung sind möglich.</li>
                          <li>Durch den Einsatz unseres optionalen Abrechnungssystems können die digitalen Zahlungen über das Operating Dashboard verwaltet werden.</li>
                        </ol>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">Mehr</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-dashboard.png" data-srcset="/uploads/global/park-dashboard@2x.png 2x" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0 mw-auto" />
                </div>
              </div>

              <br>

              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Die Buchungs-App</h3>
                        <p>Unsere Buchungs-App hilft Ihrem Unternehmen dabei, freie Parkplätze so effizient wie möglich Ihren Mitarbeiter, Gästen und Bewerbern zuzuweisen.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ol class="colored-numbers">
                          <li>Automatische Authentifizierung bei Ein- und Ausfahrt durch innovative Nummernschilderkennung.</li>
                          <li>Alternative Authentifizierung über einen QR-Code am Terminal jederzeit möglich.</li>
                          <li>Weiterleitung der Daten in Echtzeit an Ihr Operating Dashboard.</li>
                        </ol>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">Mehr</a>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="0">
                  <img data-src="/uploads/global/ParkHere.png" data-srcset="/uploads/global/ParkHere@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-parkhardware" class="product-section my-5 py-5" >
          <div class="wunder-bg left top-4"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/iot.svg" class="icon-left" /> Hardware</h2>

              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Parkraummanagement</h3>
                        <p>Unser modernes Zugangsterminal ist mit einem Nummernschild-Scanner und QR-Code-Scanner ausgestattet. Das ermöglicht eine schnelle und unkomplizierte Zufahrt. Das Terminal ist mit allen von uns angebotenen Lösungen kompatibel.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ol class="colored-numbers">
                          <li>Authentifizierung durch Autokennzeichen oder QR-Code.</li>
                          <li>Funktioniert zuverlässig mit einer höchst schnellen Nummernschilderkennung.</li>
                          <li>Im Bedarfsfall stellt der Serviceknopf eine Telefonverbindung zur Verwaltung her.</li>
                        </ol>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">Mehr</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="0">
                  <!--<img data-src="/uploads/global/parkterminal.jpg" data-srcset="/uploads/global/parkterminal@2x.jpg 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    -->
                    <svg id="parkterminal" width="423px" height="685px" viewBox="0 0 423 685" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <filter id="f2" x="0" y="0" width="200%" height="200%">
                          <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />
                          <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
                          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                        </filter>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="park-terminal">
                                <image id="parkterminal@2x" x="0" y="0" width="423" height="685" xlink:href="/uploads/global/svg-parkterminal.png"></image>
                                <image id="phoneqr" x="272" y="183" width="86" height="192" xlink:href="/uploads/global/svg-phoneqr.jpg"></image>
                                <path filter="url(#f2)" d="M88.2844238,124.391113 C88.2725423,134.129069 91.5511882,142.335368 98.1203613,149.01001 C107.974121,159.021973 118.901367,166.771484 136.102783,171.751465 C153.304199,176.731445 172.753418,176.959961 182.95166,176.06958 C193.149902,175.179199 215.82666,170.953125 225.436523,165.76123 C235.046387,160.569336 244.401367,153.180908 247.890381,147.500977 C251.379395,141.821045 254.626465,136.990234 255.259033,133.455811 C255.680745,131.099528 256.001465,127.744629 256.221191,123.391113 C248.565918,136.071481 239.729248,145.04036 229.711182,150.297751 C214.684082,158.183838 188.898926,162.400146 186.590088,162.400146 C184.28125,162.400146 165.723877,163.687012 152.700439,161.723145 C139.677002,159.759277 119.20166,152.935352 113.018799,148.7 C106.835938,144.464648 96.9550781,136.329102 95.1357422,134.0896 C93.9228516,132.596598 91.6390788,129.36377 88.2844238,124.391113 Z" id="terminal-toplight"></path>
                                <!--<path d="M88.2844238,124.391113 C88.1604004,134.785482 91.4390462,142.991781 98.1203613,149.01001 C108.142334,158.037354 114.660156,164.473145 132.102783,169.751465 C149.54541,175.029785 174.32959,176.728027 182.95166,176.06958 C191.57373,175.411133 215.808594,170.776367 224.436523,165.76123 C233.064453,160.746094 244.401367,153.180908 247.890381,147.500977 C251.379395,141.821045 254.626465,136.990234 255.259033,133.455811 C255.680745,131.099528 256.001465,128.077962 256.221191,124.391113 C248.565918,136.404814 239.729248,145.04036 229.711182,150.297751 C214.684082,158.183838 188.898926,162.400146 186.590088,162.400146 C184.28125,162.400146 165.723877,163.687012 152.700439,161.723145 C139.677002,159.759277 119.20166,153.245361 113.018799,149.01001 C106.835938,144.774658 96.9550781,136.329102 95.1357422,134.0896 C93.9228516,132.596598 91.6390788,129.36377 88.2844238,124.391113 Z" id="terminal-toplight"></path>-->
                            </g>
                        </g>
                    </svg>
                </div>
              </div>

              <br>

              <div class="row mt-5">
                <div class="col-md-6 offset-md-1 order-md-0 mt-5 mb-5 align-self-center" data-aos="fade-up" data-aos-delay="0">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Reservierungsschilder</h3>
                        <p>Unsere LCD-Anzeigetafeln ermöglichen personalisierte Parkplatzreservierungen. Gäste und Bewerber werden individuell begrüßt, wenn sie beim gebuchten Parkplatz ankommen.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ol class="colored-numbers">
                          <li>Hochwertige LCD Displays machen auf reservierte Parkplätze aufmerksam.</li>
                          <li>Begrüßung von Bewerbern, Gästen und Mitarbeitern bereits am Parkplatz.</li>
                          <li>Selbst lange Namen und Nummernschilder sind dank breitem Display darstellbar.</li>
                          <li>Hochauflösend und gut lesbar.</li>
                          <li>Dynamic parking spot reservation and management increases the utilization rate of each spot.</li>
                        </ol>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">Mehr</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/parksign.png" data-srcset="/uploads/global/parksign@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                </div>
              </div>

            </div>
          </div>
        </section>


      </div>

      <br>
      <br>


      <section class="block block-stories" id="section-stories">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading mb-3">Stories</h2>
              <p class="lead w-sm-50">Wir haben weltweit Partner, die unsere Smartparking-Technologie nutzen.</p>
              <div class="photo-accordion">
                <div class="acc-container">
                  <div class="collapsible show">
                    <div class="d-flex flex-column">
                      <div class="collapsible-photo" style="background-image:url('/uploads/global/telefonica-building.jpg');"></div>
                      <div class="d-flex flex-column pt-5 flex-lg-row pt-lg-0 align-items-center main-acc-content">
                        <img class="collapsible-logo mb-4 mb-lg-0" data-src="/uploads/global/telefonica_logo.png" data-srcset="/uploads/global/telefonica_logo@2x.png 2x" />
                        <p class="collapsible-text">Unser Ziel war es, das Parkraummanagement einer großen Firma intelligenter und effizienter zu gestalten. <br> <br>Unser Zugangsterminal scannt automatisch alle Nummernschildern, die in das Parkhaus einfahren. Dies ermöglicht den sofortigen Zugang und führt zu weniger Staus an der Schranke. Anhand der Buchungs-App werden Fahrer direkt zu ihrem reservierten Parkplatz geleitet.</p>
                      </div>
                    </div>
                  </div>
                  <div class="collapsible">
                    <div class="d-flex flex-column">
                      <div class="collapsible-photo" style="background-image:url('/uploads/global/porsche-building.jpg');"></div>
                      <div class="d-flex flex-column pt-5 flex-lg-row pt-lg-0 align-items-center main-acc-content">
                        <img class="collapsible-logo mb-4 mb-lg-0" src="/uploads/global/porsche_logo.png" srcset="/uploads/global/porsche_logo@2x.png 2x" />
                        <p class="collapsible-text">Wir helfen Porsche, den bestehen Parkraum durch Technologie optimal auszunutzen. Unser anwenderfreundliches Terminal- und Scanner-System erleichtert die Parkplatzsuche für Mitarbeiter. <br><br>Sie müssen nie wieder in einer Schlange vor dem Parkhaus warten um einfahren zu dürfen. So bildet unser Wunder-Park-Technologie die Basis für Parkraummanagement der nächsten Generation.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </section>

    </div>

  </div>


</main>
