---
title: Wunder Mobility
author: Wunder Mobility
email: website@wundermobility.com
description: Technology to launch and scale shared mobility services; car & scooter sharing, vehicle rentals, carpooling and more. We're accelerating the global transition to sustainable mobility.
baseurl: "/"
url: https://www.wundermobility.com
permalink: "/blog/:title:output_ext"
gtm-code: "GTM-THSMP8S"
collections:
  articles:
    output: false
  autotech-events:
    permalink: "/mobility-sessions/:title"
    output: true
  people:
    output: false
  vehicles:
    permalink: "/api/vehicles/:name"
    output: true
  apps:
    permalink: "/marketplace/:title"
    output: true
collections_dir: wunder_collections
include:
- _redirects
exclude:
- vendor/bundle
- Gemfile
- Gemfile.lock
- node_modules
defaults:
- scope:
    path: ''
  values:
    layout: default
markdown: kramdown
sass:
  sass_dir: _sass
plugins:
- jekyll-feed
- jekyll-menus
- jekyll-sitemap
- jekyll-minifier
jekyll-minifier:
  uglifier_args:
    harmony: true
  compress_css: false
