{% include download-modal.html
  file_link="/FILEPATH/LINK_TO_FILE.PDF"
  button_text="View PDF"
  form_title="View White Paper"
  form_subtitle="Your details will only be shared with the authors of the paper. We may reach out to you regarding"
%}
