<nav class="navbar navbar-expand-sm navbar-light bg-transparent px-4 border-0">
  <a class="navbar-brand" href="{{ site.url }}/marketplace">
    <img src="/uploads/global/marketplace/wunder-marketplace-logo.svg" alt="Wunder Marketplace logo" class="">
  </a>
  <button class="hamburger hamburger--collapse header__hamburger d-sm-none" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="list-unstyled navbar-nav ml-auto">

    </ul>
    {% unless page.collection %}
      <a class="btn btn-primary gt-navcta text-white" data-toggle="modal" data-target="#partnerModal">Developer & Partner Program</a>
    {% endunless %}
  </div>
</nav>
