<main class="with-form larger">

  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-challenges">Challenge</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-benefits">Solution</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-hamburg">Case Study</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-features">Tools</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>


  <div class="solution-wrapper header-bridge" style="padding-bottom: 0px; margin-bottom:0px">

    <section id="section-challenges" class="pb-120">

      <div class="container mb-5 mt-3">
        <div class="row">
          <div class="col-sm-10 col-lg-8 offset-sm-1 offset-lg-2">
            <div class="pl-lg-5">
              <h2 class="page-heading">Urban Mobility is Changing</h2>
              <p class="lead">Urban mobility companies are expanding their services in cities at a rapid pace. Cities need to adapt to these changes in order to avoid chaos and problems before they arise.</p>
            </div>
          </div>
        </div>
      </div>

      <br class="d-none d-sm-block">
      <br class="d-none d-sm-block">
      <br>

      <div class="bg-box__wrapper block-full-right col-2-in" id="city-dash-row">
        <div class="container container-fullright">
          <div class="image-row d-flex align-items-start">
            <img src="uploads/global/city-rides.svg" class="w-lshadow mr-4" data-aos="zoom-in-left" data-aos-offset="-100" />
            <img src="uploads/global/city-active-vehicles.svg" class="w-lshadow mr-sm-4" data-aos="zoom-in-left" data-aos-offset="100" />
            <img src="uploads/global/city-providers.svg" class="w-lshadow mt-4 mt-sm-0" data-aos="zoom-in-left"data-aos-offset="300" />
          </div>
          <p class="text-right text-muted mt-2"><small>* example dashboards</small></p>

          <div class="px-sm-5 my-5">
            <p class="lead pr-sm-5">Wunder City is the tool that can help cities evaluate, plan and regulate mobility companies by aggregating and understanding data.</p>
          </div>

        </div>
      </div>

    </section>


    <section id="section-benefits" class="grey-bg new-section pb-120">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">Smart Cities Need <br>Smart Solutions</h2>
              <div class="grid-wrapper two-col">
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="0" src="uploads/global/icon-laptop.svg" class="mb-3" />
                    <p class="body-intro mb-3">Understand Changes</p>
                    <p>Gain a comprehensive overview of new and existing mobility services in your city.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-portfolio.svg" class="mb-3" />
                    <p class="body-intro mb-2">Plan Smarter</p>
                    <p>Make better decisions on urban and infrastructure planning based on data analysis.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="uploads/global/icon-people.svg" class="mb-3" />
                    <p class="body-intro mb-2">Foster Collaboration</p>
                    <p>Collaborate with operators and private companies on a level playing field - no market experience needed.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/growth.svg" class="mb-3" />
                    <p class="body-intro mb-2">Go Green</p>
                    <p>Be responsible for turning your city green and sustainable. Improve the quality of life for your citizens.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>

  <div class="overflow-hidden">
    <section class="fullimg-section" id="section-hamburg">
      <div class="fullimg-section__bgimage text-light">
        <div class="fullimg-section__overflow"></div>
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-lg-9 offset-lg-2">
              <div class="fullimg-section__inner-content pl-md-5">
                <h2 class="h1">City of Hamburg</h2>
                <div class="row">
                  <div class="col-sm-6">
                    <p class="">The City of Hamburg had the goal of improving their infrastructure and paving the way towards a greener future. In order to do that, they needed to get a handle on new mobility modes in the city.</p>
                  </div>
                  <div class="col-sm-6">
                    <p class="mt-4 mt-sm-0">That’s why Hamburg uses reports to create an urban planning framework. The reports visualize data that Hamburg can analyze to make smarter decisions on how to organize the city’s mobility services.</p>
                  </div>
                </div>
                <div class="mt-5 text-card w-shadow">
                  <blockquote class="blockquote">
                    <p class="mb-0 ">"The cooperation with Wunder Mobility gives us the opportunity to understand precisely what new mobility types demand of us as a city and what measures need to be taken to ensure an efficient collaboration between these mobility services."</p>
                    <footer class="blockquote-footer">Michael Westhagemann
                      <cite title="Senator Hamburg">Senator for Science, Transport and Innovation in Hamburg</cite>
                      <p class="quote-link"><a href="https://www.hamburg.de/pressearchiv-fhh/12793478/2019-08-21-bwvi-mobilitaetsdienste/" target="_blank">View the press release (German only)</a></p>
                    </footer>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="section-features" class="grey-bg new-section pb-100">
      <div class="bridge-padding"></div>
      <div class="container">

        <div class="row">
          <div class="col-sm-12 col-lg-10 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">The tools cities need to <br class="d-none d-sm-block">prepare for the future</h2>
              <img class="w-shadow mt-5 mw-100" data-src="uploads/global/city-dashboard.jpg" data-srcset="uploads/global/city-dashboard@2x.jpg 2x" alt="Mockup of Wunder City dashboard with map and graphs" />
              <p class="text-right text-muted"><small>* example dashboard</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-box__wrapper block-full-right col-2-in">
        <div class="box-fullright">
          <div class="bg-box__box">
            <div class="container container-fullright pl-md-5">
              <div class="row">
                <div class="col-md-6">
                  <p class="body-intro">Reporting Made Simple</p>
                  <ol class="colored-numbers pr-sm-5">
                    <li>Relevant data from multiple mobility services is processed and aggregated into one overview. Use the results to aid in urban planning and strategy.</li>
                    <li>Thorough reports visualize data in an easy-to-digest way.</li>
                    <li>No previous knowledge of data or special teams are required to get set up.</li>
                    <li>Flexible reports are created and customized to fit each city’s individual needs.</li>
                  </ol>
                </div>
                <div class="col-md-6">
                  <p class="body-intro mt-5 mt-md-0">Data On Demand</p>
                  <ol class="colored-numbers pr-sm-5">
                    <li>View all available mobility providers and compare how their services stack up.</li>
                    <li>Analyze historical data to get an overview of the way the market is developing.</li>
                    <li>Measure high and low demand fluctuations on a daily, weekly and monthly basis.</li>
                    <li>Create strategic “no-drive” or “no-parking” zones in specific neighborhoods and areas.</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

</main>
