<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Fleet OS</a>
                <a class="list-group-item list-group-item-action" href="#section-stories">Spotlight</a>
                <a class="list-group-item list-group-item-action" href="#section-success">Success</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">A connected ecosystem</h2>
                <p class="lead">From the customisable app to the operations console and the vehicle itself, our technology connects all the dots of your sharing ecosystem so that you don't have to.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <img class="abs-right" data-src="/uploads/global/fleet_architecture.png" data-srcset="/uploads/global/fleet_architecture@2x.png 2x" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-app" class="product-section" >
          <div class="wunder-bg left top-1"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1">
                  <h2 class="page-heading">The perfect app for your users</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Completely Customisable</h3>
                        <p>Deliver what you want, how you want it, completely customised to your brand. Supported by all stores.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Reserve. Ride. Return.</h3>
                        <p>Find and reserve a vehicle, unlock the vehicle with a single touch on your mobile phone once you're within 500 meters. </p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="ios-phone-portrait" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Simple Payments and Invoicing</h3>
                        <p>Customisable pricing models. Branded payment invoices. Fully secure payment mechanism supporting all types of payment methods.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0">
                  <img src="/uploads/global/Fleet_01.png" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-admin" class="product-section" >
          <div class="wunder-bg right top-2"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-9 offset-lg-3">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="page-heading">Operator Dashboard</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Our state of the art fleet management system provides all important data about your vehicles. Check on the fuel level, view locations and receive a live update on your fleet.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Secure and Remote Access</h3>
                        <p>Lock/unlock, mobilise/immobilise or check for keys, windows and doors remotely from our dashboard. Available to you on our securely hosted cloud solution.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="abs-image-wrapper">
                    <img class="abs-right ml-auto d-block mr-auto mt-5 mt-md-0" src="/uploads/global/Macbook_Fleet2.png"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-hadrware" class="product-section" >
          <div class="wunder-bg left top-3"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-4 order-md-1">
                  <h2 class="page-heading">Completely Reliable Hardware</h2>
                  <p class="lead">To provide the best service possible we rely on top hardware providers. Our Provider is the global market leader for InCar Technology and is used by hundreds of fleets totaling over 40,000 vehicles in 18 countries.</p>
                </div>
                <div class="col-md-8 order-md-0">
                  <img class="mw-100 ml-auto d-block mr-auto mt-5 mt-md-0" src="/uploads/global/hardware-kickscooter.png" />
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>

    </div>

  </div>

  <section class="block block-stories" id="section-stories">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <h2 class="page-heading mb-3">Spotlight</h2>
          <p class="lead">The Wunder Mobility OS is already been used by businesses around the globe.</p>
          <div id="accordion" class="horizontal-accordion">
            <div class="card expand">
              <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
              <div class="card-img-overlay">
                <div class="card-closed-display">
                  <img class="card-logo" src="/uploads/global/logo-hive.svg" />
                  <p class="card-text show">Mytaxi's scooter sharing solution, Hive has already taken Portugal by storm and has plans for exponential growth across Europe.</p>
                  <p class="card-text">Powered by the WunderFleet solution, Hive aims to disrupt the traditional scooter sharing ecosystem with it's parent company Daimler.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/hive-scooter.png" />
              </div>
            </div>
            <div class="card">
              <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
              <div class="card-img-overlay">
                <div class="card-closed-display">
                  <img class="card-logo" src="/uploads/2019/01/22/emmy.svg" />
                  <p class="card-text show">emmy establishes electric Scooters in Berlin by offering them in a free floating and short-term rental system.</p>
                  <p class="card-text">The user will be able to enjoy individual mobility without the quest for parking space and without CO2 or noise emissions.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/emmy-scooter.png" />
              </div>
            </div>
            <div class="card">
              <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
              <div class="card-img-overlay">
                <div class="card-closed-display">
                  <img class="card-logo" src="/uploads/global/logo-miles.svg" />
                  <p class="card-text show">Miles is unique as it's users are charged only for the miles driven and not for the time spent in the car.</p>
                  <p class="card-text">With exploding traffic conditions in every city, their unique proposition makes them stand out from other carsharing offerings and they're increasingly becoming the first choice for carsharing.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image raised" src="/uploads/global/miles-car.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="block block-important-numbers" id="section-success">

    <div class="success__wrapper block-full-right col-2-in">
      <div class="container container-fullright">

        <div class="numbers__wrapper">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Success in Numbers</h2>
              <h2 class="main-heading">On a Global scale</h2>

              <div class="important-numbers__stats">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">1368<small>times</small></div>
                      <p>Driven around the globe</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">1+<small>Million</small></div>
                      <p>Devices connected <br class="d-none d-md-block">to our platform</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">99.9<small>percent</small></div>
                      <p>Server uptime</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end of success wrapper -->

  </section>
</main>
