<main>

  <section class="jumbo-intro">
    <div class="container">
      <div class="text-center">
        <p>Wunder Mobility OS<sup>TM</sup></p>
        <h2 class="headline-medium">Our product ecosystem helps you create, deploy and scale technology that connects communities with end to end mobility services.</h2>
      </div>
    </div>
  </section>

  <section class="product-tray">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <a href="/fleet" title="Wunder Fleet | All-in-on e solution for car, scooter & bike sharing">
            <div class="single-product px-3 pt-4 pb-3 mb-3">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="headline-small">Fleet</h3>
                  <p>All-in-on e solution for car, scooter & bike sharing</p>
                  <span class="text-highlight">Read more</span>
                </div>
                <div class="col-4">
                  <img data-src="uploads/global/product-3d/bike3d.png" data-srcset="uploads/global/product-3d/bike3d@2x.png 2x" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="/rent" title="Wunder Rent | Self-service and fully-online rentals">
            <div class="single-product px-3 pt-4 pb-3 mb-3">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="headline-small">Rent</h3>
                  <p>Self-service and fully-online rentals</p>
                  <span class="text-highlight">Read more</span>
                </div>
                <div class="col-4">
                  <img data-src="uploads/global/product-3d/car3d.png" data-srcset="uploads/global/product-3d/car3d@2x.png 2x" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="/carpool" title="Wunder Carpool | Employees drive to  work together">
            <div class="single-product px-3 pt-4 pb-3 mb-3">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="headline-small">Carpool</h3>
                  <p>Employees drive to  work together</p>
                  <span class="text-highlight">Read more</span>
                </div>
                <div class="col-4">
                  <img data-src="uploads/global/product-3d/scooter3d.png" data-srcset="uploads/global/product-3d/scooter3d@2x.png 2x" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="/shuttle" title="Wunder Shuttle | Dynamic routing and ride- hailing for your fleet">
            <div class="single-product px-3 pt-4 pb-3 mb-3">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="headline-small">Shuttle</h3>
                  <p>Dynamic routing and ride- hailing for your fleet</p>
                  <span class="text-highlight">Read more</span>
                </div>
                <div class="col-4">
                  <img data-src="uploads/global/product-3d/smartphone3d.png" data-srcset="uploads/global/product-3d/smartphone3d@2x.png 2x" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="/park" title="Wunder Park | Automated digital parking management">
            <div class="single-product px-3 pt-4 pb-3 mb-3">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="headline-small">Park</h3>
                  <p>Automated digital parking management</p>
                  <span class="text-highlight">Read more</span>
                </div>
                <div class="col-4">
                  <img data-src="uploads/global/product-3d/kickscooter3d.png" data-srcset="uploads/global/product-3d/kickscooter3d@2x.png 2x" />
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-4">
          <a href="/city" title="Wunder City | Adapt to new mobility changes in your city">
            <div class="single-product px-3 pt-4 pb-3 mb-3">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="headline-small">City</h3>
                  <p>Adapt to new mobility changes in your city</p>
                  <span class="text-highlight">Read more</span>
                </div>
                <div class="col-4">
                  <img data-src="uploads/global/product-3d/notebook3d.png" data-srcset="uploads/global/product-3d/notebook3d@2x.png 2x" />
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </section>


  <section class="showcase-box">
    <div class="container">
      <div class="showcase-box__bg text-left d-flex justify-content-end white-text" style="background-image: url('uploads/global/wms-bg@2x.jpg')">
        <div class="row">
          <div class="offset-md-1 col-md-5">
            <div class="showcase-box_inner-content">
              <p>Wunder Mobility Summit 2019</p>
              <h2 class="headline-medium">Accelerating the transition to sustainable mobility</h2>
              <a href="/summit" class="btn btn-outline-info wms-highlight">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="home-articles">
    <div class="container">
      <div class="text-center">
        <h2 class="headline-medium">What's going on</h2>
        <p class="text-mute">Discover all the latest about our products, technology and culture on our blog.</p>
        <a class="text-highlight" href="/blog">Visit the blog</a>
      </div>
    </div>
    <div class="mob-scroll">
      <div class="container">
        <div class="article-list">
          <div class="row">
          {% assign stickies = site.posts | sort: "publish_date" | where: "sticky", true | limit:3 %}
          {% for sticky in stickies %}
            <div class="col-4">
              <div class="article-list__single-post">
                <a class="post-imagelink" href="{{ sticky.url }}" title="{{ sticky.title }}" >
                  <img src="{{ sticky.featured_image }}" class="" alt="" >
                </a>
                <p class="small-label mt-3">{{ sticky.category }}</p>
                <h3 class="headline-small">{{ sticky.title }}</h3>
                <a class="text-highlight" href="{{ sticky.url }}">Read more</a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <hr>
  </section>

  <div class="container">

  </div>

  <section class="featured-press">
      <div class="container">

      </div>

  </section>


  <!-- Modal -->

  <div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Brand film modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <div class="plyr__video-embed" id="player">
              <iframe class="lazy" src="https://player.vimeo.com/video/318402556?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>

</main>
