<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-press">Press Kit</a>
                <a class="list-group-item list-group-item-action" href="#section-news">News</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="press-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-md-10 col-lg-6 offset-lg-2">
          <section id="section-press">
            <p class="lead">We are building the future of mobility. We'd love to tell you more about our company - feel free to contact us.</p>
          </section>
        </div>
      </div>

    </div>

  </div>

  <section class="block block-press-kit mt-5 mb-5" id="section-kit">

    <div class="press-kit__wrapper block-full-right col-2-in">
      <div class="container container-fullright">
        <h2 class="page-heading mb-5">Press Kit Downloads</h2>
        <div class="download_wrapper">
          <div class="row">
            <div class="col-sm-6">
              <div class="single-download text-center">
                <h2 class="mb-2">Fact sheet</h2>
                <p>What's the word on the <br>shared and decongested street?</p>
                <hr>
                <a class="with-arrow" target="_blank" href="https://drive.google.com/open?id=1eSUa28re22Ke6YHy5GmI1Dh1Ehr2GvmG">Download</a>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="single-download text-center">
                <h2 class="mb-2">Brand assets</h2>
                <p>Logos and photos for all<br> your press & media desires</p>
                <hr>
                <a class="with-arrow" target="_blank" href="https://drive.google.com/drive/u/0/folders/1ihj2j4f4MqbhqpcydPIrBX2f4d-8sA2d">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end of press-kit__wrapper -->

  </section>

  <div id="section-news">
  {% include block-two-column-horizontal-cards.html %}
  </div>

  <section class="block block-right-quote">

    <div class="right-quote__wrapper block-full-right col-2-in">
      <div class="container container-fullright">
        <div class="row">
          <div class="col-sm-3">
            <img class="mw-100 align-self-center" src="/uploads/2019/02/01/techcrunch@2x.png" />
          </div>
          <div class="col align-self-center">
            <blockquote >
              In recent months, transport companies as well as customers from the automotive industry in Japan, Europe and America have committed to using Wunder technology. The company is already processing around one million trips per month worldwide.
            </blockquote>
          </div>
        </div>
      </div>
    </div> <!-- end of press-kit__wrapper -->

  </section>

</main>
