<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Shuttle OS</a>
                <a class="list-group-item list-group-item-action" href="#section-pax">Passenger App</a>
                <a class="list-group-item list-group-item-action" href="#section-dax">Driver App</a>
                <a class="list-group-item list-group-item-action" href="#section-mc">Mission Control</a>
                <a class="list-group-item list-group-item-action" href="#section-stories">Success</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Build your business on our platform</h2>
                <p class="lead">Wunder Shuttle is your modular platform, enabling you to digitalize or launch your on-demand shuttle operations.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <img class="abs-right" data-src="/uploads/global/shuttle.jpg" data-srcset="/uploads/global/shuttle@2x.jpg 2x" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="row  mt-5">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-info">
            <div class="feature-list row mt-5">
              <div class="single-feature flex-column col-sm-4">
                <h3 class="text-blue text-capitalize">Your Business</h3>
                <p>Whether you want to digitalise your transport operations or plan to kickstart a new mobility venture, Wunder Shuttle is the platform which enables you to deploy new mobility solutions fast and scalable.</p>
              </div>
              <div class="single-feature flex-column col-sm-4">
                <h3 class="text-blue text-capitalize">Your Brand</h3>
                <p>Impress your customers with a branded user experience. You deliver your brand assets, we deliver you a branded shuttle experience for passenger, driver and operator apps.</p>
              </div>
              <div class="single-feature flex-column col-sm-4">
                <h3 class="text-blue text-capitalize">Our Technology</h3>
                <p>We unlock your fleet’s potential with a turnkey solution that enables vehicles to be hailed on demand and to be shared efficiently.</p>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-pax" class="product-section mt-5" >
          <div class="wunder-bg right top-1"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row  mt-5">
                <div class="col-md-5 offset-md-1 order-md-0" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Passenger Experience</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Find a ride</h3>
                        <p>Through a simple start screen, passengers are able to see vehicles nearby and the time it takes for them to be picked up.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Book a ride</h3>
                        <p>Wunder’s algorithm looks for the closest available vehicle and dispatches the passenger’s request.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="ios-phone-portrait" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">In real time</h3>
                        <p>Shuttle drivers accept the request and passengers are provided with driver information, confirmation of pickup, and estimated time of pick up.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 offset-md-1 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <section id="slider_p"  class="slider_3d">
                    <input type="radio" name="slider" id="s1">
                    <input type="radio" name="slider" id="s2" checked>
                    <input type="radio" name="slider" id="s3">
                    <label for="s1" id="slide1">
                      <img data-src="/uploads/global/mockup_shuttle_pax1.png" data-srcset="/uploads/global/mockup_shuttle_pax1@2x.png 2x" class="product-image" />
                    </label>
                    <label for="s2" id="slide2">
                      <img data-src="/uploads/global/mockup_shuttle_pax2.png" data-srcset="/uploads/global/mockup_shuttle_pax2@2x.png 2x" class="product-image" />
                    </label>
                    <label for="s3" id="slide3">
                      <img data-src="/uploads/global/mockup_shuttle_pax3.png" data-srcset="/uploads/global/mockup_shuttle_pax3@2x.png 2x" class="product-image" />
                    </label>

                  </section>

                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-dax" class="product-section" >
          <div class="wunder-bg left top-2"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-5 offset-md-1 order-md-1" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Driver Experience</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Drive Professionally</h3>
                        <p>Drivers can choose to be available for request at any time. They can also check their ride history and earnings.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Arrive safely</h3>
                        <p>Drivers get passenger requests from anywhere and anytime, directly from the passenger and without having to wait for the operator to dispatch the request.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="ios-phone-portrait" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Navigate</h3>
                        <p>In-app navigation enables drivers to concentrate on driving and reduces distractions, ensuring safety during the ride.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="150">
                  <section id="slider_d" class="slider_3d">
                    <input type="radio" name="sliderd" id="d1">
                    <input type="radio" name="sliderd" id="d2" checked>
                    <input type="radio" name="sliderd" id="d3">
                    <label for="d1" id="slide_d1">
                      <img data-src="/uploads/global/mockup_shuttle_dax1.png" data-srcset="/uploads/global/mockup_shuttle_dax1@2x.png 2x" class="product-image" />
                    </label>
                    <label for="d2" id="slide_d2">
                      <img data-src="/uploads/global/mockup_shuttle_dax2.png" data-srcset="/uploads/global/mockup_shuttle_dax2@2x.png 2x" class="product-image" />
                    </label>
                    <label for="d3" id="slide_d3">
                      <img data-src="/uploads/global/mockup_shuttle_dax3.png" data-srcset="/uploads/global/mockup_shuttle_dax3@2x.png 2x" class="product-image" />
                    </label>

                  </section>

                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-mc" class="product-section">
          <div class="wunder-bg right top-3"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-5 order-md-0 offset-md-1">
                  <h2 class="page-heading">Set up and operate with ease</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Wunder’s web tool, dispatching algorithms, and our operational expertise will help you optimize your operation to increase vehicle utilization and profitability.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Live Monitoring & KPIs</h3>
                        <p>Our live dashboard enables the operator to see an overview of their vehicle fleet and booking.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Optimize, Enhance & Expand</h3>
                        <p>All requests and ride information are stored in Wunder's web tool. Operator can easily analyze and optimize business output using data from this tool.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 order-md-1">
                  <section id="slider_mc" class="slider_3d">
                    <input type="radio" name="sliderm" id="m1">
                    <input type="radio" name="sliderm" id="m2" checked>
                    <label for="m1" id="slide_m1">
                      <img data-src="/uploads/global/mockup_shuttle_mc1.png" data-srcset="/uploads/global/mockup_shuttle_mc1@2x.png 2x" class="product-image" />
                    </label>
                    <label for="m2" id="slide_m2">
                      <img data-src="/uploads/global/mockup_shuttle_mc2.png" data-srcset="/uploads/global/mockup_shuttle_mc2@2x.png 2x" class="product-image" />
                    </label>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

  <section class="block block-stories" id="section-stories">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <h2 class="page-heading mb-3">Spotlight</h2>
          <p class="lead">The Wunder Shuttle technology is already helping employers around the world with their employee transit needs.</p>
          <div class="card mb-3 mt-5 w-shadow">
            <div class="row no-gutters">
              <div class="col-lg-5 col-xl-4">
                <div class="card-body">
                  <a href="https://www.marubeni.com/en/" target="_blank" title="Marubeni website"><img class="card-logo mb-4 mt-4" src="/uploads/2019/01/22/marubeni.png" /></a>
                  <blockquote class="blockquote">
                    <p class="mb-0 card-text">"In the automotive industry, we are in the middle of a once-in-a-century change. We will leverage digital technology to respond directly to changes in customer transportation demands. We see large market potential for this business model and are working to launch and expand our business with Wunder.</p>
                    <footer class="blockquote-footer mt-2">Atsushi Suzuki, Marubeni</footer>
                  </blockquote>
                </div>
              </div>
              <div class="col-lg-7 col-xl-8">
                <div class="video-container">
                  <div class="plyr__video-embed" id="player">
                    <iframe src="https://player.vimeo.com/video/267970267?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>
                  <a id="video-btn" class="dark round-cta">Watch Video</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="block block-important-numbers" id="section-success">

    <div class="success__wrapper gradient-block block-full-right col-2-in">
      <div class="container container-fullright">

        <div class="numbers__wrapper">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Success in Numbers</h2>
              <h2 class="main-heading">On a Global scale</h2>

              <div class="important-numbers__stats">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">44<small>percent</small></div>
                      <p>reduction in commute time for employees</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">48<small>percent</small></div>
                      <p>increase in service level for passengers</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">2x<small>more</small></div>
                      <p>Vehicle occupancy</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end of success wrapper -->

  </section>
</main>
