<section class="block block-values">
  <div class="container">
    <div class="wunder-values ">
      <h2 class="page-heading">Wunder Values</h2>
      <div class="wunder-values__grid">
        <div class="wunder-values__item">
          <img data-src="/uploads/2019/01/11/values_06.svg" />
          <h4>Ownership</h4>
          <p>With great power comes great responsibility!</p>
        </div>
        <div class="wunder-values__item">
          <img data-src="/uploads/2019/01/11/values_04.svg" />
          <h4>Trust</h4>
          <p>I'll be there for you ('Cause you're there for me too)</p>
        </div>
        <div class="wunder-values__item">
          <img data-src="/uploads/2019/01/11/values_05.svg" />
          <h4>Impact</h4>
          <p>We're here to make a dent. And we won't let anybody stop us.</p>
        </div>
        <div class="wunder-values__item">
          <img data-src="/uploads/2019/01/11/values_02.svg" />
          <h4>Speed</h4>
          <p>We deliver fast, we iterate fast, and we improve fast.</p>
        </div>
      </div>
    </div>
  </div>
</section>
