<main class="with-form">

  <section class="jumbo-intro">
    <div class="container">
      <p>Meet Wunder Rent</p>
      <div class="row">
        <div class="col-lg-5">
          <div class="">
            <h2 class="headline-medium mb-5 mb-lg-0">Slash costs and increase the utilization rate of your fleet with self-service rentals.</h2>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1">
          <div class="row">
            <div class="col-sm-6" data-aos="soft-up" data-aos-easing="apple-easing">
              <h4 class="headline-small">Corporate Fleets</h4>
              <p>Companies with vehicle fleets used for non-commercial purposes, i.e. employee transport.</p>
            </div>
            <div class="col-sm-6 mt-4 mt-sm-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="150">
              <h4 class="headline-small">Station-Based Rentals</h4>
              <p>Classic vehicle rental companies with designated pick-up and drop-off locations.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 mt-4" data-aos="soft-up" data-aos-easing="apple-easing">
              <h4 class="headline-small">Vehicle Subscriptions</h4>
              <p>Companies offering riders a subscription model such as a new leasing vehicle every month.</p>
            </div>
            <div class="col-sm-6 mt-4" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="150">
              <h4 class="headline-small">B2B2B</h4>
              <p>Companies looking to scale quickly and leverage existing assets by creating subsidiaries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="rent-benefits">
    <div class="container">
      <hr class="mb-5">
      <div class="py-4"></div>
      <h2 class="headline-large text-center mb-5 mt-md-5 pb-md-5" data-aos="soft-up" data-aos-easing="apple-easing">Never let another vehicle <br class="d-none d-md-block" />stand idle</h2>

      <div class="row align-items-center py-5  my-5">
        <div class="col-md-5 offset-md-1 order-md-2 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-grant-access.jpg" data-srcset="uploads/global/rent-grant-access@2x.jpg 2x" alt="Back of woman looking at a car rental app on her smartphone" />
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <img class="rent-animgif"  data-src="uploads/global/lock.gif" />
            <h2 class="headline-medium mt-4">Grant on-demand access</h2>
            <p>Mobile access and on-demand rentals get users in and out of vehicles faster, reducing idle time. Making your vehicles sharing-ready is a low effort way of getting your utilization rates up quickly. </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center py-5 my-5">
        <div class="col-md-5 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-cut-costs.jpg" data-srcset="uploads/global/rent-cut-costs@2x.jpg 2x" alt="A bearded man with glasses has one hand on his laptop but is looking and smiling at his smartphone." />
        </div>
        <div class="col-md-6 col-lg-5 offset-md-1 col-xl-4">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <img class="rent-animgif" style="height: 38px" data-src="uploads/global/money.gif" />
            <h2 class="headline-medium mt-4">Save on overhead costs</h2>
            <p>Instead of paying a premium for fleet and access management systems you don’t need, you could be going paperless and saving on overhead costs. </p>
          </div>
        </div>
      </div>



      <div class="row align-items-center py-5  my-5">
        <div class="col-md-5 offset-md-1 order-md-2 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-new-possibilities.jpg" data-srcset="uploads/global/rent-new-possibilities@2x.jpg 2x" alt="Smartly dressed man leaning against a car looking at his smartphone" />
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <img class="rent-animgif" data-src="uploads/global/compass.gif" />
            <h2 class="headline-medium mt-4">Explore new possibilities</h2>
            <p>Discover multiple revenue streams by offering customers service bundling, vehicle subscriptions, concierge services or simply by renting out your existing fleet. </p>
          </div>
        </div>
      </div>

      <div class="text-md-center mt-5 pt-md-5 mx-auto">
        <h3 class="headline-medium pb-3 rent-getstarted" data-aos="soft-up" data-aos-easing="apple-easing" >Get started today</h3>
        <a href="#section-contact" class="btn btn-outline-primary mb-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".rent-getstarted">Request a demo</a>
      </div>


    </div>

  </section>


  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Fleet Management</p>
            <h2 class="headline-large">Keep track of your fleet</h2>
          </div>
          <p data-aos="soft-up" data-aos-easing="apple-easing">Manage and track your fleet remotely and become the hands-off business owner you always wanted to be. Check fuel levels, damage reports, and the lock status of your cloud-connected vehicles anywhere, anytime. </p>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="out-right mt-5 mt-md-0">
            <img data-src="uploads/global/rent-macbook.png" data-srcset="uploads/global/rent-macbook@2x.png 2x" class=lazy" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5 order-md-2">
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>User App</p>
            <h2 class="headline-large">Make it a ride to remember</h2>
          </div>
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Users book, pay, start and end their journey from the mobile app, one of the most vital parts of your business. That’s why the app interface is entirely customizable with your logos, colors, icons and more - we’ll leave the details up to you.</p>
            <p>Attract new customers with a stylish design, and convert them into brand loyalists with user-friendly functionality. By creating a seamless, fully digital driving experience users will remember for a long time, you’re laying the foundations of a sustainable mobility business.</p>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <img class="rent-mockups mt-5 mt-md-0" src="uploads/global/rent-mockups.png" srcset="uploads/global/rent-mockups@2x.png 2x" alt="Wunder rent mockup screens" />
          {% comment %}
          <div class="overlapping-phones position-relative">
            <img class="rent-phone rellax" data-rellax-speed="2" data-rellax-xs-speed="0" src="uploads/global/carpool_profile.png" srcset="uploads/global/carpool_profile@2x.png 2x" alt="Wunder rent screens" />
            <img class="rent-phone under rellax" data-rellax-speed="-1" data-rellax-xs-speed="0" src="uploads/global/carpool_profile-1.png" srcset="uploads/global/carpool_profile-1@2x.png 2x" alt="Wunder rent mockup screen" />
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
  </section>


  <section id="rent-reporting" class="fullwidth-bg bg-white mt-0 mb-0 pb-0 pb-md-5">
    <div class="container">
      <h3 class="headline-large py-5 mb-5 text-center">Customize with a full set of <br class="d-none d-lg-block">features</h3>
      <div class="bg-grey">

        <div class="mini-section p-5 p-md-0">
          <div class="row align-items-center">
            <div class="col-md-5 order-md-1">
              <div class="">
                <img id="rent-dash" class="rent-chart mb-5 mb-md-3" src="/uploads/global/rent-charts-svg.svg" alt="A mockups of dashboard graphs, showing a data point called 'Rides' from last week." />
              </div>
              {% comment %}
              <div class="smvideo-wrapper" id="rent-piechart">
                <video class="loopedvideo jsdelay" width="364" height="464" autoplay muted playsinline>
                  <source src="/uploads/global/pie-chart.mp4" type="video/mp4">
                </video>
              </div>
              <div class="smvideo-wrapper" id="rent-barchart">
                <video class="loopedvideo jsdelay" width="364" height="464" autoplay muted playsinline>
                  <source src="/uploads/global/bar-graph.mp4" type="video/mp4">
                </video>
              </div>
              {% endcomment %}
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="mini-section__text">
                <h3 class="headline-medium">Reporting on your own terms</h3>
                <p>Digital reporting, billing and customer management services at your fingertips: the Wunder Rent platform supports reporting you can build yourself and tailor to your needs. Integration with data services such as PowerBi and more are all part of the package.</p>
                <a class="btn btn-outline-primary mt-4" href="#section-contact">Request a demo</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section id="rent-features-section" class="fullwidth-bg bg-white my-0 overflow-visible" >
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xl-4 offset-xl-1">
          <h3 class="headline-medium mb-5 sticky-top">Fast forward to the future with keyless, paperless rentals</h3>
        </div>

        <div class="col-lg-7">
          <div class="feature-section pl-md-4 pl-lg-5">
            <div class="row">
              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing">Digital User Experience</h4>
                <ul class="feature-list ux list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="100">Keyless entry</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="150">“Tap & go” convenient access</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="200">App-based bookings</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="250">Bluetooth compatibility</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="300">Paperless service model</li>
                </ul>
              </div>
              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="100">Global Usability</h4>
                <ul class="feature-list list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="300">24/7 support</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="350">Timezone auto-detection</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="400">Multi-language support</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="450">Adjustable geofence radius</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="500">Adjustable business hours</li>
                </ul>
              </div>

              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing">Customization</h4>
                <ul class="feature-list customize list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="100">White labelling</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="150">Custom templates & wording</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="200">Integratable with internal help desks</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="250">Build your own reports</li>
                </ul>
              </div>

              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="100">Vehicle Management</h4>
                <ul class="feature-list list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="250">Auto-assign/auto-dispatch vehicles</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="300">Adjustable vehicle sort order</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="350">Maintenance mode</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="400">Master “keycard” for all vehicles</li>
                </ul>
              </div>

              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing">Booking & Billing</h4>
                <ul class="feature-list billing list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="100">Turn booking fields on & off</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="150">Vehicle drop-offs at different branches</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="200">Adjust or limit booking duration, auto-expiry & recurrences</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="250">Charge for private use </li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="300">Bill per hour/per km</li>
                </ul>
              </div>

              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="100">Customer Management</h4>
                <ul class="feature-list list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="300">Block drivers with expired licenses</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="350">Enforce profile update for first login</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="400">Save two years of booking history</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="450">(Missing Positive Benefit)</li>
                </ul>
              </div>

              <div class="col-sm-6 mb-5">
                <h4 class="headline-small" data-aos="soft-up" data-aos-easing="apple-easing">Security</h4>
                <ul class="feature-list security list-unstyled">
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="100">Single-sign on functionality</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="150">Cost center security</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="200">Branch-based security</li>
                  <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="250">Granular role-based security</li>
                </ul>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <section id="rent-numbers" class="my-5 pb-md-5">
    <div class="container">
      <hr class="mb-5 pb-4">
      <div class="row pt-5">
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing">
            <h2 class="headline-large mb-0">300+</h2>
            <h4 class="headline-small">Locations</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="150">
            <h2 class="headline-large mb-0">70K+</h2>
            <h4 class="headline-small">Bookings per Month</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="300">
            <h2 class="headline-large mb-0">12K+</h2>
            <h4 class="headline-small">Registered Drivers</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="450">
            <h2 class="headline-large mb-0">20+</h2>
            <h4 class="headline-small">Operating Fleets</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="rent-partners" class="mt-5">
    <div class="container px-5 text-center">
      <div class="partners my-5">
        <p class="mb-5">Our partners around the world</p>
        <picture class="lazy">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/rent-logos-wide.png 1x, /uploads/global/rent-logos-wide@2x.png 2x" >
          <img data-src="/uploads/global/rent-logos-mobile.png" data-srcset="/uploads/global/rent-logos-mobile@2x.png 2x" alt="Group of black and white logos of mobility companies, including Toyota, IVECO, stryker, Green Mobility and hive." />
        </picture>
      </div>
      <div class="partners my-5 pt-5">
        <p class="mb-5">As featured in</p>
        <picture class="lazy">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/rent-press-logos.png 1x, /uploads/global/rent-press-logos@2x.png 2x" >
          <img data-src="/uploads/global/rent-press-logos-mobile.png" data-srcset="/uploads/global/rent-press-logos-mobile@2x.png 2x" alt="2 logos of reputable online news sites TechCrunch and AutoRental news." />
        </picture>
      </div>

    </div>



</main>

<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/361066939?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
