<main>
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-intro">Mobility <br>Sessions</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-nextevent">Next Events</a>
                <!--<a class="list-group-item list-group-item-action" href="#section-speakers">What To <br>Expect</a>-->
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-aftermovie">Previous <br>Events</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="autotech-main-wrapper">

    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2 mt-5 mb-5">
          <section id="section-intro">
            <div class="row">
              <div class="col-sm-5">
                <h2 class="page-heading">Mobility Sessions</h2>
              </div>
              <div class="col-sm-7 mt-3 mt-sm-0">
                <p class="lead">We host an informal, invitation-only meet-up for leaders of the European Mobility scene. Our mission is to accelerate the world's transition to sustainable transportation. By providing a platform to startups, corporates, NGOs and research institutions to share and build on each others ideas we hope to get there faster.</p>
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>

    <div class="container mt-5" id="section-nextevent">
      <div class="wunder-bg left top-1"></div>

      <div class="row">
        <div class="col-lg-10 offset-lg-2 mt-5">
          <section id="section-intro">
            {% assign events = site.autotech-events | sort: "event_date" %}
            {% for event in events %}
            {% assign today_date = 'now' | date: '%s' %}
            {% assign event_secs = event.event_date | date: '%s' %}
            {% if event_secs >= today_date %}
            {% assign next_event = event %}
            {% break %}
            {% endif %}
            {% endfor %}
            <h2 class="page-heading mb-4 text-blue">Next Event</h2>
            <h1 class="mb-3 p-0">{% assign d = next_event.event_date | date: "%-d" %}
            {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
            {{ next_event.event_date | date: "%B" }}
            {{ next_event.event_date | date: "%Y" }} <br>{{ next_event.event_location }}</h1>
            <p class="text-black w-75 lead mb-5">{{ next_event.event_description }}</p>
            {% if next_event.output_page %}<a class="round-cta dark" href="{{ next_event.url }}">Find out more</a>{% else %}<p>More information coming soon</p>{% endif %}

          </section>
        </div>
      </div>

    </div>

    <br>
    <br>
    <br>

    <section class="block block-grid mb-2" id="section-upcoming">
      <div class="wunder-bg right top-2"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Upcoming Events</h2>

            <div class="row">
              {% assign events = site.autotech-events | sort: "event_date" %}
              {% for event in events %}
                {% assign today_date = 'now' | date: '%s' %}
                {% assign event_secs = event.event_date | date: '%s' %}
                {% assign event_num = 0 %}
                {% if event_secs >= today_date and event_num < 4 %}
                <div class="col-sm-4">
                  {% assign event_num = event_num | plus: 1 %}
                  {% if event.output_page %}<a href="{{ event.url }}" title="{{ event.title }}">{% endif %}
                    <div class="card location-card w-x-shadow mb-3" {% unless event.output_page %}data-toggle="tooltip" data-placement="bottom" title="We are still preparing this event, check back soon!"{% endunless %}>
                      {% capture featured_image %}{{ event.featured_image }}{% endcapture %}
                      {% capture event_alt %}Photo of {{ event.event_location }}{% endcapture %}
                      <img {% include resp_image.html file=featured_image alt=event_alt %} class="card-img-top">
                      <p class="text-overlay">
                        {% assign d = event.event_date | date: "%-d" %}
                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                        {{ event.event_date | date: "%B" }}
                        {{ event.event_date | date: "%Y" }}</p>
                      <div class="card-body">
                        {% assign location = event.event_location | split: ", " %}
                        <h3 class="card-title mb-1">{{ location.first }}</h3>
                        <p class="card-subtitle text-muted">{{ location.last }}</p>
                      </div>
                    </div>
                  {% if event.output_page %}</a>{% endif %}
                </div>
                {% endif %}
                {% endfor %}
          </div>
        </div>
      </div>
    </section>



    <section class="block block-video-1" id="section-aftermovie">
      <div class="container ">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="home-video">
              <h2 class="page-heading">Missed the last Mobility Session?</h2>

              <div class="plyr__video-embed" id="player">

                <iframe src="https://player.vimeo.com/video/323197987?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>

              </div>
              <a id="video-btn" class="dark round-cta">Watch Video</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="block block-grid mb-2 mt-5" id="section-previous">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Previous Events</h2>

            <div class="row">
              {% assign prevevents = site.autotech-events | sort: "event_date" | reverse %}
              {% for event in prevevents %}
                {% assign today_date = 'now' | date: '%s' %}
                {% assign event_secs = event.event_date | date: '%s' %}
                {% assign oldevent_num = 0 %}
                {% if event_secs < today_date and event_num < 7 %}
                <div class="col-sm-4">
                  {% assign oldevent_num = event_num | plus: 1 %}
                  <a href="{{ event.url }}" title="{{ event.title }}">
                    <div class="card location-card w-x-shadow mb-3">
                      {% capture featured_image %}{{ event.featured_image }}{% endcapture %}
                      {% capture event_alt %}Photo of {{ event.event_location }}{% endcapture %}
                      <img {% include resp_image.html file=featured_image alt=event_alt %} class="card-img-top">
                      <p class="text-overlay">
                        {% assign d = event.event_date | date: "%-d" %}
                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                        {{ event.event_date | date: "%B" }}
                        {{ event.event_date | date: "%Y" }}</p>
                      <div class="card-body">
                        {% assign location = event.event_location | split: ", " %}
                        <h3 class="card-title mb-1">{{ location.first }}</h3>
                        <p class="card-subtitle text-muted">{{ location.last }}</p>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </section>
  <br>
  <br>


  </div>

</main>

<!-- Modal -->
{% include static/event-modal.html %}
