<div class="container">
  <div class="hq-location">
    <img data-src="/uploads/global/hamburg_1.jpg" data-srcset="/uploads/global/hamburg_1@2x.jpg 2x" class="lazyload" alt="Hamburg u-bahn passing over a bridge over a small lake" />
    <div class="hq-location__row">
      <div class="hq-location__content">
        <div class="hq-location__title">
          <h3>Hamburg HQ, Germany</h3>
          <p class="lead">Hongkongstraße 7<br>
          20457 Hamburg<br>
          Germany</p>
        </div>
        <div class="hq-location__text">
          <p>Solidifying our imprint in the tech ecosystem in Hamburg, our HQ counts the Elbphilharmonie and the Speicherstadt as its neighbours.</p>
        </div>
      </div>
      <div class="location__content-image">
        <img data-src="/uploads/global/hamburg_2.jpg" data-srcset="/uploads/global/hamburg_2@2x.jpg 2x" class="lazyload hidden-sm" alt="Hamburg Elbphilharmonie (opera house)" />
        <!--<img data-src="/img/careers/hamburg_3.jpg" class="lazyload visible-sm" alt="Hamburg Speicherstadt (round the corner from Wunder Mobility offices)" />-->
      </div>
    </div>
  </div>
</div>
