<main class="with-form larger">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav active" href="#section-intro">Vehicles</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-extras">Extras</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-app">Software</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-partners">Partners</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">

    <section id="section-intro" class="my-5 my-md-0 mt-lg-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto" style="max-width: 650px;">
              <h2 class="page-heading text-center">Innovation on wheels</h2>
              <p class="section-intro text-center">Wunder Hardware is durable, customizable and shareable. Fully electric - just like the future. Get your mobility company rolling with low-maintenance high-tech and a team of experts by your side.</p>
            </div>
            <div class="row align-items-baseline mt-5 pt-5">
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img src="/uploads/global/icon-iot.svg"  class="mw-100 mb-4" />
                  <h4>Built-in IoT Devices</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img src="/uploads/global/icon-maintenance.svg" class="mw-100 mb-4" />
                  <h4 >Low Maintenance</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img src="/uploads/global/icon-durability.svg" class="mw-100 mb-4" />
                  <h4>Durable</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-extras" class="grey-bg new-section pb-120 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9 offset-lg-2">
            <div class="pl-md-5">
              <div class="mx-auto pb-4 mt-3" style="max-width: 600px;">
                <h2 class="page-heading text-center mb-3"><span class="lighter">We go the</span> extra mile</h2>
                <p class="text-center mb-5 section-intro">From deciding on a vehicle type to getting your vehicles on the road, our hardware team will accompany you through every step of your journey.</p>
              </div>
              <div class="grid-wrapper two-col">
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="0" src="uploads/global/icon-postbox.svg" class="mb-3" />
                    <p class="body-intro mb-3">Logistics Management</p>
                    <p>You select your vehicles. We make sure they arrive where you want them, when you want them.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-storage.svg" class="mb-3" />
                    <p class="body-intro mb-2">Storage Facilities</p>
                    <p>Low on space? Keep your fleet safe and sound in a dedicated storage facility.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="uploads/global/icon-cash.svg" class="mb-3" />
                    <p class="body-intro mb-2">Financing Options</p>
                    <p>Launch now, pay later. Split the cost into monthly payments that suit you.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-design.svg" class="mb-3" />
                    <p class="body-intro mb-2">Customized To You</p>
                    <p>Your vehicles are an extension of your brand. Use colors and logos to make them your own.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-app" class="product-section overflow-hidden" style="padding: 5rem 0; margin: 0;">
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">The perfect app<br><span class="lighter">seamlessly connected</span></h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="220">Software is the glue that holds it all together. Our user-friendly, customizable app connects your customers to your vehicles and your vehicles to your dashboard.</p>
                  <a class="with-arrow text-blue" href="/fleet" data-aos="soft-up" data-aos-delay="50" data-aos-offset="180">Find out more</a>
                </div>
              </div>
              <div class="col-md-5 offset-md-1">
                <div class="clipped-wrapper">
                  <img data-src="/uploads/global/phone-mockup-fleet.png" data-srcset="/uploads/global/phone-mockup-fleet@2x.png 2x" class="product-image phone-mockup clipped clipped-bottom" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-partners" class="product-section grey-bg mt-0 pb-5" >
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto mt-3" style="max-width: 630px;">
              <h2 class="page-heading text-center mb-3" data-aos="soft-up" data-aos-offset="100">Driven by excellence</h2>
              <p class=" text-center mb-5 section-intro" data-aos="soft-up" data-aos-offset="50">Our partners deliver the best of the best. We test drive all vehicles for durability, quality and rideability so you don’t have to.</p>
            </div>
            <div class="logo-boxes mb-5">
              <div class="single-box">
                <img data-src="/uploads/global/hw-logos/logo-segway.png" data-srcset="/uploads/global/hw-logos/logo-segway@2x.png 2x" />
              </div>
              <div class="single-box">
                <img data-src="/uploads/global/hw-logos/logo-govecs.png" data-srcset="/uploads/global/hw-logos/logo-govecs@2x.png 2x" />
              </div>
              <div class="single-box">
                <img data-src="/uploads/global/hw-logos/logo-niu.png" data-srcset="/uploads/global/hw-logos/logo-niu@2x.png 2x" />
              </div>
              <div class="single-box">
                <img data-src="/uploads/global/hw-logos/logo-acton.png" data-srcset="/uploads/global/hw-logos/logo-acton@2x.png 2x" />
              </div>
              <div class="single-box">
                <img data-src="/uploads/global/hw-logos/logo-okai.png" data-srcset="/uploads/global/hw-logos/logo-okai@2x.png 2x" />
              </div>
            </div>
            <div class="text-center">
              <img style="max-width: 120%; transform: translateX(-50px);" data-src="/uploads/global/vehicles-devices-3d.png" data-srcset="/uploads/global/vehicles-devices-3d@2x.png 2x" />
              <p class="text-center mb-5 section-intro" data-aos="soft-up" data-aos-offset="50">Smart mobility comes in all shapes and sizes. <br>Looking for a different vehicle? Let’s find it together.</p>
              <a class="round-cta dark gt-cta" href="#section-contact">Contact Us</a>
            </div>
          </div>
        </div>

      </div>
    </section>


  </div>

</main>
