<section class="hero-feature block-hero-hp ">
  <div class="hero-banner">
    <div class="container">
      <div class="hero-banner__inner-content">
        <div class="row text-left text-white">
          <div class="col-md-8 offset-md-4 col-xl-6 offset-xl-6">
            <h1 class="hero-feature__title mb-2">Yadea G5</h1>
            <div class="powered-by text-left">
              <p class="mb-1">Powered by</p>
              <h3>Wunder Mobility</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="position-absolute w-100 px-5" style="bottom: 3rem;">
    <a href="#introduction" data-offset="100"; class="float-left mt-0">
      <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="15" cy="15.1914" r="10" stroke="white" stroke-width="0.5"/>
        <circle opacity="0.3" cx="15.1992" cy="15.3926" r="15" fill="white"/>
        <path d="M17.26 14.4411L14.9967 16.7045L12.7334 14.4411C12.6244 14.3319 12.4764 14.2705 12.3221 14.2705C12.1678 14.2705 12.0198 14.3319 11.9109 14.4411C11.6834 14.6686 11.6834 15.0361 11.9109 15.2636L14.5884 17.9411C14.8159 18.1686 15.1834 18.1686 15.4109 17.9411L18.0884 15.2636C18.3159 15.0361 18.3159 14.6686 18.0884 14.4411C17.8609 14.2195 17.4875 14.2136 17.26 14.4411Z" fill="white"/>
      </svg>
    </a>
    <img class="float-right" src="uploads/global/wunder-yadea-logos.png" srcset="uploads/global/wunder-yadea-logos@2x.png 2x" />
  </div>

</section>

<section class="jumbo-intro" id="introduction">
  <div class="container px-lg-5">
    <div class="row">
      <div class="col-md-4 ofset-md-1">
        <h2 class="headline-large" data-aos="soft-up" data-aos-easing="apple-easing">Rebuilt to be shared</h2>
      </div>
      <div class="col-md-6 offset-md-1">
        <p>There’s never been a moped with this much sharing power. That’s because there’s never been a moped like the Yadea G5.</p>
        <p>Designed in Germany by Wunder Mobility, Europe’s largest mobility tech company, and rebuilt for the world by Yadea, the world’s leading moped manufacturer, the Yadea G5 was specifically engineered to be 100% sharing-ready.</p>
        <p>Every detail — from its built-in IoT device, to its 7-inch LCD display, to its practical helmet compartment — was made to be shared. Now, it’s time to share the Yadea G5 with you. </p>
        <a href="#section-contact" class="text-link d-block with-arrow mt-4">
          Let's ride
          <svg width="24" height="24" class="right-arrow" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.20898 12.9997L16.379 12.9997L11.499 17.8797C11.109 18.2697 11.109 18.9097 11.499 19.2997C11.889 19.6897 12.519 19.6897 12.909 19.2997L19.499 12.7097C19.889 12.3197 19.889 11.6897 19.499 11.2997L12.919 4.69971C12.7322 4.51246 12.4785 4.40723 12.214 4.40723C11.9495 4.40723 11.6958 4.51246 11.509 4.69971C11.119 5.08971 11.119 5.71971 11.509 6.10971L16.379 10.9997L5.20898 10.9997C4.65898 10.9997 4.20898 11.4497 4.20898 11.9997C4.20898 12.5497 4.65898 12.9997 5.20898 12.9997Z" fill="#141414"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>


<section id="specifications" class="fullwidth-bg bg-dark text-white">

  <div class="container px-5">
    <h2 class="headline-large mb-5 pb-3">Designed to perform</h2>

    <hr class="my-5">

    <div class="row py-3">
      <div class="col-3 col-md-2">
        <p>Power</p>
      </div>

      <div class="col-9 col-md-10">
        <div class="row">
          <div class="col-md-4">
            <h4 class="headline-small">Powerful motor</h4>
            <p>Cruise up to 45 km/h on the strength of a max 2300W hub motor.</p>
          </div>
          <div class="col-md-4">
            <h4 class="headline-small">Wide range</h4>
            <p>Travel up to 60 kilometers on a single charge.</p>
          </div>
          <div class="col-md-4">
            <h4 class="headline-small">Quick acceleration</h4>
            <p>Zip around town with a max torque rating of 120 Nm.</p>
          </div>
        </div>
      </div>

    </div>

    <hr class="my-5">

    <div class="row py-3">
      <div class="col-3 col-md-2">
        <p>Durability</p>
      </div>

      <div class="col-9 col-md-10">
        <div class="row">
          <div class="col-md-4">
            <h4 class="headline-small">Durable build</h4>
            <p>The G5’s cold-rolled steel frame has a smooth, sleek finish.</p>
          </div>
          <div class="col-md-4">
            <h4 class="headline-small">Heavy-duty suspension</h4>
            <p>Carry a max load of 155 kg on double-sprung aluminum forks.</p>
          </div>
          <div class="col-md-4">
            <h4 class="headline-small">Waterproof rating</h4>
            <p>The G5 can handle even the deepest of puddles thanks to its IP57 waterproof rating.</p>
          </div>
        </div>
      </div>

    </div>

    <hr class="my-5">

    <div class="row py-3">
      <div class="col-3 col-md-2">
        <p>Design</p>
      </div>

      <div class="col-9 col-md-10">
        <div class="row">
          <div class="col-md-4">
            <h4 class="headline-small">Digital display</h4>
            <p>Stay in control with a sharp 7-inch LCD display that auto-adjusts to brightness.</p>
          </div>
          <div class="col-md-4">
            <h4 class="headline-small">Customizable</h4>
            <p>Customize the G5 with your brand’s colors, icons and logos.</p>
          </div>
        </div>
      </div>

    </div>

    <hr class="my-5">

  </div>

</section>

<section id="highlights" class="my-5 overflow-hidden">
  <div class="container">

    <div class="row align-items-center py-5 py-md-0">
      <div class="col-md-6 col-lg-5 col-xl-4 offset-lg-1 order-md-2">
        <h2 class="headline-large">Built-in IoT Device</h2>
        <p class="pr-5">Keep your fleet connected with built-in IoT technology and cut out third-party devices.</p>
      </div>
      <div class="col-md-6 col-lg-5">
        <div id="yadea-iot">
          <img id="yadea-iot__front" data-src="uploads/global/yadea-front.png" data-srcset="uploads/global/yadea-front@2x.png 2x" />
        </div>
      </div>
    </div>

    <div class="row pb-5 align-items-center">
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <h2 class="headline-large">Swappable Battery</h2>
        <p class="pr-5">Swap out the G5’s integrated, ultra-light battery with your master key - no other tools required.</p>
      </div>
      <div class="col-md-6 col-lg-7">
        <div id="yadea-battery">
          <img id="yadea-battery__side" data-src="uploads/global/yadea-openbattery.png" data-srcset="uploads/global/yadea-openbattery@2x.png 2x" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="my-5 ">
  <video class="w-100" width="1439" height="700" autoplay="autoplay" playsinline loop muted>
    <source src="uploads/global/yadea-video-test2.mp4" type="video/mp4" />
  </video>
  <div class="container-fluid">
    <div class="row flex-sm-nowrap">
      <div class="gallery-photo">
        <img data-src="/uploads/global/yadeagallery-screen.jpg" data-srcset="/uploads/global/yadeagallery-screen@2x.jpg 2x" alt="Wunder Vehicles Yadea moped screen" />
      </div>
      <div class="gallery-photo">
        <img data-src="/uploads/global/yadeagallery-wheel.jpg" data-srcset="/uploads/global/yadeagallery-wheel@2x.jpg 2x" alt="Wunder Vehicles Yadea moped wheel" />
      </div>
      <div class="gallery-photo">
        <img data-src="/uploads/global/yadeagallery-helmet.jpg" data-srcset="/uploads/global/yadeagallery-helmet@2x.jpg 2x" alt="Wunder Vehicles Yadea moped helmet in the storage" />
      </div>
    </div>
    <div class="row flex-sm-nowrap">
      <div class="gallery-photo">
        <img data-src="/uploads/global/yadeagallery-seat.jpg" data-srcset="/uploads/global/yadeagallery-seat@2x.jpg 2x" alt="Wunder Vehicles Yadea moped seat from behind" />
      </div>
      <div class="gallery-photo">
        <img data-src="/uploads/global/yadeagallery-bridge.jpg" data-srcset="/uploads/global/yadeagallery-bridge@2x.jpg 2x" alt="Wunder Vehicles Yadea moped with man riding on a bridge at sunset" />
      </div>
    </div>
  </div>
</section>


<section id="yadea-more" class="fullwidth-bg">
  <div class="container text-center">
    <h2 class="headline-large mb-4">There's more to the story</h2>
    <p>Explore our full vehicle range and find the right one for your customers.</p>
    <div class="row mt-5 py-3">
      <div class="col-4">
        <img class="" data-src="uploads/global/yadea-morescooter.jpg" data-srcset="uploads/global/yadea-morescooter@2x.jpg 2x" data-aos="fade-in" data-aos-easing="apple-easing" />
      </div>
      <div class="col-4">
        <img class="" data-src="uploads/global/yadea-morebike.jpg" data-srcset="uploads/global/yadea-morebike@2x.jpg 2x" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-delay="150" />
      </div>
      <div class="col-4">
        <img data-src="uploads/global/yadea-moremoped.jpg" data-srcset="uploads/global/yadea-moremoped@2x.jpg 2x" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-delay="300" />
      </div>
    </div>
    <a class="btn btn-outline-dark mt-5" href="/vehicles" data-aos="fade-in" data-aos-easing="apple-easing">Discover more</a>
  </div>
</section>



<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/361066939?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade commercemodal" id="commerceModal" tabindex="-1" role="dialog" aria-labelledby="Wunder Vehicles product modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">

        </div>
    </div>
  </div>
</div>
