<main>
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-intro">Autotech <br>Meetup</a>
                <a class="list-group-item list-group-item-action" href="#section-nextevent">Next Events</a>
                <!--<a class="list-group-item list-group-item-action" href="#section-speakers">What To <br>Expect</a>-->
                <a class="list-group-item list-group-item-action" href="#section-aftermovie">Previous <br>Events</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="autotech-main-wrapper">

    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2 mt-5 mb-5">
          <section id="section-intro">
            <div class="row">
              <div class="col-sm-5">
                <h2 class="page-heading">Autotech Meetup</h2>
              </div>
              <div class="col-sm-7 mt-3 mt-sm-0">
                <p class="lead">We are hosting an informal, invitation-only meet-up for leaders of the European AutoTech scene. Our mission is to accelerate the world's transition to sustainable transportation. By providing a platform to startups, corporates, NGOs and research institutions to share and build on each others ideas we hope to get there faster.</p>
              </div>
            </div>
          </section>
        </div>
      </div>

    </div>

    <div class="container mt-5" id="section-nextevent">
      <div class="wunder-bg left top-1"></div>

      <div class="row">
        <div class="col-lg-10 offset-lg-2 mt-5">
          <section id="section-intro">
            <h2 class="page-heading mb-4 text-blue">Next Event</h2>
            <h1 class="mb-3 p-0">6th June 2019 <br>Tokyo, Japan</h1>
            <p class="text-black w-75 lead mb-5"><strong>Informal but exclusive, with world class speakers, special events, great food and entertainment, and connections you will keep!</strong></p>
            <a data-subject="Attend AutoTech Tokyo" class="round-cta dark" href="#" data-toggle="modal" data-target="#summitModal">Apply to attend</a>
          </section>
        </div>
      </div>

    </div>

    <br>
    <br>
    <br>

    <section class="block block-grid mb-2" id="section-upcoming">
      <div class="wunder-bg left top-3"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Upcoming Events</h2>

            <div class="row">
              {% for event in site.autotech-events %}
                {% assign today_date = 'now' | date: '%s' %}
                {% assign event_secs = event.event_date | date: '%s' %}
                {% if event_secs >= today_date %}
                <div class="col-sm-4">
                  <a href="{{ event.url }}" title="{{ event.title }}">
                    <div class="card location-card w-x-shadow mb-3">
                      {% capture featured_image %}{{ event.featured_image }}{% endcapture %}
                      {% capture event_alt %}Photo of {{ event.event_location }}{% endcapture %}
                      <img {% include resp_image.html file=featured_image alt=event_alt %} class="card-img-top">
                      <p class="text-overlay">
                        {% assign d = event.event_date | date: "%-d" %}
                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                        {{ event.event_date | date: "%B" }}
                        {{ event.event_date | date: "%Y" }}</p>
                      <div class="card-body">
                        {% assign location = event.event_location | split: ", " %}
                        <h3 class="card-title mb-1">{{ location.first }}</h3>
                        <p class="card-subtitle text-muted">{{ location.last }}</p>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}

              {% comment %}
              <div class="col-sm-4">
                <div class="card location-card w-x-shadow mb-3">
                  <img data-src="/uploads/global/tokyo.jpg" data-srcset="/uploads/global/tokyo@2x.jpg 2x" class="card-img-top" alt="Big ben in london">
                  <p class="text-overlay">6th June 2019</p>
                  <div class="card-body">
                    <h3 class="card-title mb-1">Tokyo</h3>
                    <p class="card-subtitle text-muted">Japan</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card location-card w-x-shadow mb-3">
                  <img data-src="/uploads/global/london.jpg" data-srcset="/uploads/global/london@2x.jpg 2x" class="card-img-top" alt="Big ben in london">
                  <p class="text-overlay">26th June 2019</p>
                  <div class="card-body">
                    <h3 class="card-title mb-1">London</h3>
                    <p class="card-subtitle text-muted">United Kingdom</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <div class="card location-card w-x-shadow mb-3">
                  <img data-src="/uploads/global/sanfran.jpg" data-srcset="/uploads/global/sanfran@2x.jpg 2x" class="card-img-top" alt="Big ben in london">
                  <p class="text-overlay">10th July 2019</p>
                  <div class="card-body">
                    <h3 class="card-title mb-1">San Francisco</h3>
                    <p class="card-subtitle text-muted">California, USA</p>
                  </div>
                </div>
              </div>

            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </section>



    <section class="block block-video-1" id="section-aftermovie">
      <div class="wunder-bg right top-4"></div>
      <div class="container ">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="home-video">
              <h2 class="page-heading">Missed the last AutoTech Meetup?</h2>

              <div class="plyr__video-embed" id="player">

                <iframe src="https://player.vimeo.com/video/323197987?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>

              </div>
              <a id="video-btn" class="dark round-cta">Watch Video</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="block block-grid mb-2 mt-5" id="section-previous">
      <div class="wunder-bg left top-3"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Previous Events</h2>

            <div class="row">
              {% for event in site.autotech-events %}
                {% assign today_date = 'now' | date: '%s' %}
                {% assign event_secs = event.event_date | date: '%s' %}
                {% if event_secs < today_date %}
                <div class="col-sm-4">
                  <a href="{{ event.url }}" title="{{ event.title }}">
                    <div class="card location-card w-x-shadow mb-3">
                      {% capture featured_image %}{{ event.featured_image }}{% endcapture %}
                      {% capture event_alt %}Photo of {{ event.event_location }}{% endcapture %}
                      <img {% include resp_image.html file=featured_image alt=event_alt %} class="card-img-top">
                      <p class="text-overlay">
                        {% assign d = event.event_date | date: "%-d" %}
                        {% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %}
                        {{ event.event_date | date: "%B" }}
                        {{ event.event_date | date: "%Y" }}</p>
                      <div class="card-body">
                        {% assign location = event.event_location | split: ", " %}
                        <h3 class="card-title mb-1">{{ location.first }}</h3>
                        <p class="card-subtitle text-muted">{{ location.last }}</p>
                      </div>
                    </div>
                  </a>
                </div>
                {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </section>
  <br>
  <br>


  </div>

</main>

<!-- Modal -->
<div class="modal fade" id="summitModal" tabindex="-1" role="dialog" aria-labelledby="Summit form modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="summitModalLabel">Apply to attend our next meetup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="modal-form" accept-charset="UTF-8" action="https://usebasin.com/f/176b0ad86ef6.json" method="POST">
        <div class="modal-body">
          <input type="hidden" id="subject-field" value="Attend AutoTech">
          <input type="hidden" name="country" id="user-country" value="">
          <input type="hidden" id="recipient-firstname" name="firstname" />
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name *</label>
            <input type="text" class="form-control" id="recipient-name" name="name" required />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email *</label>
            <input type="email" class="form-control" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="recipient-company" class="col-form-label">Company *</label>
            <input type="text" class="form-control" id="recipient-company" name="company" required />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message (optional)</label>
            <textarea class="form-control" id="message-text" name="message"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <div class="col-sm-5">
            <p class="form-feedback hidden">Your message has been sent. We'll be in touch!</p>
          </div>
          <div class="col-sm-7 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="form-submit" class="btn btn-primary" onclick="formSubmit(event)">
              Send Message
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
