<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block mb-5">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Wunder Park</a>
                <!--<a class="list-group-item list-group-item-action" href="#section-value">Value</a>-->
                <a class="list-group-item list-group-item-action" href="#section-parksoftware">Software</a>
                <a class="list-group-item list-group-item-action" href="#section-parkadmin">Mission Control</a>
                <a class="list-group-item list-group-item-action" href="#section-parkhardware">Hardware</a>
                <a class="list-group-item list-group-item-action" href="#section-stories">Use Cases</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper" style="padding-bottom: 100px; margin-bottom:-100px">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Simple Solutions for Complex Parking Problems</h2>
                <p class="lead">Managing your company's parking lots and garages is a complicated issue. Wunder Park helps control the chaos with a system that works. </p>
                <br>
                <p class="lead">Whether you want to <strong>increase utilization</strong> of existing spaces, allow for <strong>advance booking and reservation</strong> or simply add <strong>more visibility</strong> to your operations, let's bring parking into the 21st century together.</p>
                <br>
                <br>
                <div class="card mt-3">
                  <ul class="list-group list-group-flush icon-list">
                    <li class="list-group-item"><img src="/uploads/global/laptop-smartphone.svg" class="card-left" /> <span class="icon-list__text">Software</span></li>
                    <li class="list-group-item"><img src="/uploads/global/presentation.svg" class="card-left" /> <span class="icon-list__text">Mission Control</span></li>
                    <li class="list-group-item"><img src="/uploads/global/iot.svg" class="card-left" /> <span class="icon-list__text">Hardware</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7 align-self-center">
                <div class="top-image-wrapper">
                  <!--<img class="abs-right" data-src="/uploads/global/park-arch.jpg" data-srcset="/uploads/global/park-arch@2x.jpg 2x"  />-->
                  {% comment %}
                  <svg class="abs-right" height="678" viewBox="0 0 1022 678" width="1022" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g fill="none" fill-rule="evenodd">
                      <path d="m0 0h1022v678h-1022z" fill="#fff"/>
                      <image height="678" width="1022" xlink:href="/uploads/global/park-arch@2x.jpg"/>
                      <polyline id="Path-10" stroke="#2A6ED9" points="674.672363 360.730957 643.44873 346.776367 458.173828 511.686523 243.407227 421.750977 261.923828 405.269531"></polyline>
                    </g>
                  </svg>
                  {% endcomment %}
                  <img style="width: calc(100% + 200px);" class="lazy" data-src="/uploads/global/park_hero.svg" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">


        <section id="section-value" class="product-section grid-section" >
          <div class="wunder-bg right top-1"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading mb-2">How can Wunder Park help you?</h2>
              <p class="lead">Here are a few of the ways Wunder Park can help your company's parking situation:</p>
              <div class="icon-grid__grid">
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/parking-meter.svg" alt="Parking Meter icon" >
                  <h4 class="mt-2">Parking Space Utilization</h4>
                  <p class="mt-2">Optimize your parking space for maximum efficiency</p>
                </div>
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/dollarbill.svg" alt="Dollar Bill" >
                  <h4 class="mt-2">Cost Reductions</h4>
                  <p class="mt-2">More effective space management means less costs</p>
                </div>
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/happy-face.svg" alt="Happy face">
                  <h4 class="mt-2">Employee Satisfaction</h4>
                  <p class="mt-2">No more wasted time searching for a parking spot</p>
                </div>
              </div>

            </div>
          </div>
        </section>


        <section id="section-parksoftware" class="product-section" >
          <div class="wunder-bg left top-2"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/laptop-smartphone.svg" class="icon-left" /> Software</h2>
              <div class="row pt-4">
                <div class="col-md-11 offset-md-1">

                  <div class="row">
                    <div class="col-md-6 offset-md-1 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">The Booking App</h3>
                            <p>Our booking app helps companies allocate available parking spots to employees, guests and applicants as efficiently as possible, bringing space utilization up to almost 100%.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Automatic authentification when leaving or entering through license plate recognition software</li>
                              <li>Gate opens after successful authentification</li>
                              <li>Alternative authentification can be completed with a QR scanner</li>
                              <li>Data is sent to the dashboard in real time</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">More details</a>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="0">
                      <img data-src="/uploads/global/ParkHere.png" data-srcset="/uploads/global/ParkHere@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-parkadmin" class="product-section" >
          <div class="wunder-bg right top-3"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/presentation.svg" class="icon-left" /> Mission Control</h2>
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-0 align-self-center" data-aos="fade-up" data-aos-delay="0">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Operating Dashboard</h3>
                        <p>In addition to real-time data, analysis functions and user management functions, our dashboard is optimised to provide all parking space information and personal access to our hardware data and controls.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ul class="dropdown-padded">
                          <li>Detailed real-time information regarding the status of all spots in the entire parking garage/area is always viewable</li>
                          <li>Available spots and/or incorrectly parked cars can also be managed on the dashboard</li>
                          <li>Data analysis enables prognoses of future parking spot availability</li>
                          <li>If optional digital payment system is selected, all payments and their status can be managed on the dashboard</li>
                        </ul>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">More details</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-dashboard.png" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0 mw-auto" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-parkhardware" class="product-section" >
          <div class="wunder-bg left top-4"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/iot.svg" class="icon-left" /> Hardware Overview</h2>
              <div class="row">
                <div class="col-md-11 offset-md-1">

                  <div class="row">
                    <div class="col-md-6 offset-md-1 order-md-1 align-self-center" data-aos="fade-up" data-aos-delay="150">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Parking Access Management</h3>
                            <p>Our state-of-the-art automatic parking terminal allows quick and easy access to parking spots through automatic <strong>license plate recognition</strong> mechanisms and <strong>QR code scanners</strong>. It's compatible with all existing solutions.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Authentification of license plates or QR codes</li>
                              <li>Reliable functionality due to high detection rate</li>
                              <li>Compatible with other existing terminals and can be used at the same time</li>
                              <li>Digital payment systems are available on request</li>
                              <li>Increases flow of traffic, reduces wait times for employees and guests</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">More details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="0">
                      <!--<img data-src="/uploads/global/parkterminal.jpg" data-srcset="/uploads/global/parkterminal@2x.jpg 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                        -->
                        <svg id="parkterminal" width="423px" height="685px" viewBox="0 0 423 685" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <filter id="f2" x="0" y="0" width="200%" height="200%">
                              <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />
                              <feGaussianBlur result="blurOut" in="offOut" stdDeviation="8" />
                              <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
                            </filter>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="park-terminal">
                                    <image id="parkterminal@2x" x="0" y="0" width="423" height="685" xlink:href="/uploads/global/svg-parkterminal.png"></image>
                                    <image id="phoneqr" x="272" y="183" width="86" height="192" xlink:href="/uploads/global/svg-phoneqr.jpg"></image>
                                    <path filter="url(#f2)" d="M88.2844238,124.391113 C88.2725423,134.129069 91.5511882,142.335368 98.1203613,149.01001 C107.974121,159.021973 118.901367,166.771484 136.102783,171.751465 C153.304199,176.731445 172.753418,176.959961 182.95166,176.06958 C193.149902,175.179199 215.82666,170.953125 225.436523,165.76123 C235.046387,160.569336 244.401367,153.180908 247.890381,147.500977 C251.379395,141.821045 254.626465,136.990234 255.259033,133.455811 C255.680745,131.099528 256.001465,127.744629 256.221191,123.391113 C248.565918,136.071481 239.729248,145.04036 229.711182,150.297751 C214.684082,158.183838 188.898926,162.400146 186.590088,162.400146 C184.28125,162.400146 165.723877,163.687012 152.700439,161.723145 C139.677002,159.759277 119.20166,152.935352 113.018799,148.7 C106.835938,144.464648 96.9550781,136.329102 95.1357422,134.0896 C93.9228516,132.596598 91.6390788,129.36377 88.2844238,124.391113 Z" id="terminal-toplight"></path>
                                    <!--<path d="M88.2844238,124.391113 C88.1604004,134.785482 91.4390462,142.991781 98.1203613,149.01001 C108.142334,158.037354 114.660156,164.473145 132.102783,169.751465 C149.54541,175.029785 174.32959,176.728027 182.95166,176.06958 C191.57373,175.411133 215.808594,170.776367 224.436523,165.76123 C233.064453,160.746094 244.401367,153.180908 247.890381,147.500977 C251.379395,141.821045 254.626465,136.990234 255.259033,133.455811 C255.680745,131.099528 256.001465,128.077962 256.221191,124.391113 C248.565918,136.404814 239.729248,145.04036 229.711182,150.297751 C214.684082,158.183838 188.898926,162.400146 186.590088,162.400146 C184.28125,162.400146 165.723877,163.687012 152.700439,161.723145 C139.677002,159.759277 119.20166,153.245361 113.018799,149.01001 C106.835938,144.774658 96.9550781,136.329102 95.1357422,134.0896 C93.9228516,132.596598 91.6390788,129.36377 88.2844238,124.391113 Z" id="terminal-toplight"></path>-->
                                </g>
                            </g>
                        </svg>
                    </div>
                  </div>
                  <br>
                  <div class="row mt-5">
                    <div class="col-md-6 offset-md-1 order-md-0 mt-5 mb-5 align-self-center" data-aos="fade-up" data-aos-delay="0">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Display Signs</h3>
                            <p>Our reservation display LCDs enable <strong>personalized parking space</strong> reservation. Guests will be individually greeted when they arrive at their reserved parking spot.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>High-quality LCD displays clearly indicate which parking spots are reserved</li>
                              <li>Greet applicants, guests and employees right as they're parking</li>
                              <li>Long names and numbers have plenty of room on wide display screens</li>
                              <li>High-resolution & easy to read</li>
                              <li>Dynamic parking spot reservation and management increases the utilization rate of each spot</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">More details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                      <img data-src="/uploads/global/parksign.png" data-srcset="/uploads/global/parksign@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>



        <section class="block block-stories mt-8" id="section-stories">
          <div class="wunder-bg right top-5"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-2">
                <h2 class="page-heading mb-3">Stories</h2>
                <p class="lead w-sm-50">Businesses worldwide are already using our smart parking technology:</p>
                <div id="accordion" class="horizontal-accordion image-top">
                  <div class="card expand">
                    <img class="card-outer-image" src="/uploads/global/bmw-ecar.jpg" srcset="/uploads/global/bmw-ecar@2x.jpg 2x" />
                    <img class="card-logo" data-src="/uploads/global/st-gallen.png" data-srcset="/uploads/global/st-gallen@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Our project with the city of St. Gallen, Switzerland was focused on high-traffic areas in the center of town. The goal was to work with local public utility companies and the St. Gallen police force in reducing CO2 emissions significantly and thereby increasing the quality of life for all citizens. <br><br>Our cutting-edge software solutions turned out to be a viable, effective solution for the city.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-outer-image" src="/uploads/global/barrier-real.jpg" srcset="/uploads/global/barrier-real@2x.jpg 2x" />
                    <img class="card-logo" src="/uploads/global/porsche_logo_PNG1.png" srcset="/uploads/global/porsche_logo_PNG1@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">We’re maximizing Porsche’s employee parking potential with unique, state-of-the art technology.<br><br> Our easy-to-use terminal and scanner system makes it easy for employees to find their spot without having to wait in line. That's how our technology is building the foundations of efficient, next-gen parking management.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-outer-image" src="/uploads/global/carpark.jpg" srcset="/uploads/global/carpark@2x.jpg 2x" />
                    <img class="card-logo" data-src="/uploads/global/Telefonica_Logo.png" data-srcset="/uploads/global/Telefonica_Logo@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">The goal of our project with Telefonica München was to manage a large company’s parking system in an intelligent, efficient way. <br><br>Our access terminal automatically scans license plates, allowing cars to drive directly into their parking garage without having to stop at a gate and greatly reducing traffic build-up in the process. The booking app then leads employees to their parking spot, which is reserved for them in advance. That's hassle-free employee parking.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </section>

      </div>

    </div>
  </div>


</main>
