<main class="with-form">

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="text-center px-lg-5">
            <p>Meet Wunder Rent</p>
            <h2 class="headline-medium">Self-service rentals to help your business go digital.</h2>
          </div>
          <div class="row py-5 mb-5 mt-3 rent-icons align-items-end">
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text mb-4 mb-md-0 text-center">
                <object type="image/svg+xml" data="uploads/global/animated/customer_app_externaljs.svg"></object>
                <p>User App</p>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text mb-4 mb-md-0 text-center">
                <object type="image/svg+xml" data="uploads/global/animated/fleet_management.svg"></object>
                <p>Fleet Management</p>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text text-center">
                <object type="image/svg+xml" data="uploads/global/animated/account_management.svg"></object>
                <p>Accounts & Reporting</p>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="vertical-icon-text text-center">
                <object type="image/svg+xml" data="uploads/global/animated/telematics_vehicles.svg"></object>
                <p>Telematic & Vehicles</p>
              </div>
            </div>
        </div>

        <div class="bg-grey mt-5 p-5">
          <div class="px-lg-5 pt-3">
            <h3 class="headline-medium mb-3">I am a</h3>
            <div class="rent-filters btn-group-filters mb-4">
              <div class="nav btn-group mb-3" role="group" id="pills-tab" role="tablist">
                  <a class=" btn btn-outline-primary active" id="pills-dealership-tab" data-toggle="pill" href="#pills-dealership" role="tab" aria-controls="pills-dealership" aria-selected="true">Dealership</a>
                  <a class=" btn btn-outline-primary" id="pills-rental-tab" data-toggle="pill" href="#pills-rental" role="tab" aria-controls="pills-rental" aria-selected="false">Car Rental Company</a>
                  <a class=" btn btn-outline-primary" id="pills-corporate-tab" data-toggle="pill" href="#pills-corporate" role="tab" aria-controls="pills-corporate" aria-selected="false">Corporate Fleet</a>
                  <a class=" btn btn-outline-primary" id="pills-oem-tab" data-toggle="pill" href="#pills-oem" role="tab" aria-controls="pills-oem" aria-selected="false">OEM</a>
              </div>
              <h3 class="headline-medium mt-5 mb-4">Wunder Rent can help me</h3>
              <div class="tab-content" id="rentintro-tabContent">
                <div class="tab-pane fade show active" id="pills-dealership" role="tabpanel" aria-labelledby="pills-dealership-tab">
                  <ul class="feature-list darker-check dealer list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="100">Increase revenue by renting out unused vehicles and raising utilization rates</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="150">Turn customers into loyalists with a convenient, digital rental experience</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="200">Capture vehicle data such as location, mileage and fuel/battery levels</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.dealer" data-aos-delay="250">Diversify revenue streams with new rental business models</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="pills-rental" role="tabpanel" aria-labelledby="pills-rental-tab">
                  <ul class="feature-list darker-check rental list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="100">Reduce costs by automating tasks and going paperless</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="150">Inspire customer loyalty with a convenient, digital rental experience</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="200">Gain revenue by raising utilization rates</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.rental" data-aos-delay="250">Diversify revenue streams with new rental business models</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="pills-corporate" role="tabpanel" aria-labelledby="pills-corporate-tab">
                  <ul class="feature-list darker-check corporate list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="100">Give employees access to vehicles on a branded mobile app </li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="150">Simplify access management by going keyless</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="200">Reduce costs with self-service rentals, requiring less staff and space</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.corporate" data-aos-delay="250">Scale up quickly with little effort</li>
                  </ul>
                </div>
                <div class="tab-pane fade" id="pills-oem" role="tabpanel" aria-labelledby="pills-oem-tab">
                  <ul class="feature-list darker-check oem list-unstyled">
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="100">Explore new revenue streams with multiple rental business models</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="150">Capture vehicle data such as location, mileage and fuel/battery levels</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="200">Reduce costs by automating tasks</li>
                    <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.oem" data-aos-delay="250">Access tailor-made, custom reports </li>
                  </ul>
                </div>
              </div>
              <a href="#section-contact" class="btn btn-outline-primary my-4" data-aos="fade-in" data-aos-easing="apple-easing">Request a demo</a>
            </div>

        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Fleet Management</p>
            <h2 class="headline-large">Keep track of your fleet</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Manage and track your fleet remotely and become the hands-off business owner you always wanted to be. Check fuel levels, damage reports, and the lock status of your cloud-connected vehicles anywhere, anytime. </p>
          </div>
          <div class="icon-text-list management">
            <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="100"><img src="uploads/global/icons/icon-charging.svg" />Check fuel & damage levels</p>
            <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="200"><img src="uploads/global/icons/icon-lock.svg" />Manage lock status</p>
            <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="300"><img src="uploads/global/icons/icon-looping-arrow.svg" />Automate tasks</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-7">
          <div class="out-right mt-5 mt-md-0">
            <img data-src="uploads/global/rent-macbook.png" data-srcset="uploads/global/rent-macbook@2x.png 2x" class=lazy" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5 order-md-2">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>User App</p>
            <h2 class="headline-large">Make it a ride to remember</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Users can book a vehicle from any device and start or end their journey on their smartphones. The user app is one of one of the most vital parts of your business, which is why the interface is entirely customizable with your logos, colors, icons and more - we’ll leave the details up to you.</p>
            <div class="icon-text-list app">
              <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="100"><img src="uploads/global/icons/icon-design.svg" />Customizable interface</p>
              <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="200"><img src="uploads/global/icons/icon-downhand.svg" />On-demand bookings</p>
              <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="300"><img src="uploads/global/icons/icon-usertick.svg" />User-friendly design</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <img class="rent-mockups mt-5 mt-md-0" src="uploads/global/rent-mockups.png" srcset="uploads/global/rent-mockups@2x.png 2x" alt="Wunder rent mockup screens" />
        </div>
      </div>
    </div>
  </section>


  <section id="rent-reporting" class="fullwidth-bg bg-white mt-5 mb-0 pb-0 pb-md-5">
    <div class="container">
      <div data-aos="soft-up" data-aos-easing="apple-easing">
        <p class="text-center">Reporting and Accounting</p>
        <h3 class="headline-large pb-3 pb-md-5 mb-5 text-center">Custom reports and  <br class="d-none d-lg-block">accounting on your terms</h3>
      </div>
      <div class="bg-grey">

        <div class="mini-section p-5 p-md-0">
          <div class="row align-items-center">
            <div class="col-md-5 order-md-1">
              <div class="text-nowrap mb-5 mb-md-3" id="twochart-dash">
                <object id="rent-pie" class="rounded-xl w-x-shadow single-chart" type="image/svg+xml" width="365" data="uploads/global/animated/pie-chart_outlines.svg"></object>
                <object id="rent-bars" class="rounded-xl w-x-shadow single-chart ml-2 ml-lg-4" type="image/svg+xml" width="365" data="uploads/global/animated/bar-graph_outlined.svg"></object>
                <p class="small-label text-muted" style="opacity: .8"><small>* example dashboards</small></p>
              </div>
            </div>
            <div class="col-md-5 offset-md-1">
              <div class="mini-section__text">
                <div data-aos="soft-up" data-aos-easing="apple-easing">
                  <h3 class="headline-medium">Tailored to your business</h3>
                  <p>Digital reporting, billing and customer management services at your fingertips: the Wunder Rent platform supports reporting you can build yourself and tailor to your needs. Integration with data services such as PowerBi and more are all part of the package.</p>
                </div>
                <div class="icon-text-list report">
                  <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.report" data-aos-delay="100"><img src="uploads/global/icons/icon-bargraph.svg" />Personalized reporting</p>
                  <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.report" data-aos-delay="200"><img src="uploads/global/icons/icon-dollarcoin.svg" />Automated billing</p>
                  <p class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.report" data-aos-delay="300"><img src="uploads/global/icons/icon-orgchart.svg" />Data service integration</p>
                </div>
                <a class="btn btn-outline-primary mt-5" href="#section-contact">Request a demo</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>



  <section id="rent-benefits">
    <div class="container">
      <hr class="mb-5">
      <div class="py-4"></div>
      <div data-aos="soft-up" data-aos-easing="apple-easing">
        <p class="text-center mt-md-5">Your Benefits</p>
        <h2 class="headline-large text-center mb-5 pb-md-5" >Never let another vehicle <br class="d-none d-md-block" />stand idle</h2>
      </div>

      <div class="row align-items-center py-5  my-5">
        <div class="col-md-5 offset-md-1 order-md-2 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-grant-access.jpg" data-srcset="uploads/global/rent-grant-access@2x.jpg 2x" alt="Back of woman looking at a car rental app on her smartphone" />
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
          <div>
            <object class="rent-animgif" type="image/svg+xml" data="uploads/global/animated/lock.svg"></object>
            <h2 class="headline-medium mt-4">Grant on-demand access</h2>
            <p>Mobile access and on-demand rentals get users in and out of vehicles faster, reducing idle time. Making your vehicles sharing-ready is a low effort way of getting your utilization rates up quickly. </p>
          </div>
        </div>
      </div>

      <div class="row align-items-center py-5 my-5">
        <div class="col-md-5 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-cut-costs.jpg" data-srcset="uploads/global/rent-cut-costs@2x.jpg 2x" alt="A bearded man with glasses has one hand on his laptop but is looking and smiling at his smartphone." />
        </div>
        <div class="col-md-6 col-lg-5 offset-md-1 col-xl-4">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <object class="rent-animgif" type="image/svg+xml" data="uploads/global/animated/wallet_animation_externaljs.svg"></object>
            <h2 class="headline-medium mt-4">Save on overhead costs</h2>
            <p>Operating a self-service rental business requires less staff and space. Scale up easily without demanding more from your team.</p>
          </div>
        </div>
      </div>



      <div class="row align-items-center py-5  my-5">
        <div class="col-md-5 offset-md-1 order-md-2 text-center">
          <img class="mb-5 mb-md-0 lazy" data-src="uploads/global/rent-new-possibilities.jpg" data-srcset="uploads/global/rent-new-possibilities@2x.jpg 2x" alt="Smartly dressed man leaning against a car looking at his smartphone" />
        </div>
        <div class="col-md-6 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <object class="rent-animgif" type="image/svg+xml" width="48" data="uploads/global/animated/compass.svg"></object>
            <h2 class="headline-medium mt-4">Explore new possibilities</h2>
            <p>Discover multiple revenue streams by offering customers service bundling, vehicle subscriptions, concierge services or simply by renting out your existing fleet.</p>
            <ul class="feature-list mt-4 poss list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="100">Corporate Fleets</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="150">Station-Based Rentals</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="200">Vehicle Subscriptions</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.poss" data-aos-delay="250">B2B2B</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="text-md-center mt-5 pt-md-5 mx-auto">
        <h3 class="headline-medium pb-3 rent-getstarted" data-aos="soft-up" data-aos-easing="apple-easing" >Get started today</h3>
        <a href="#section-contact" class="btn btn-outline-primary mb-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".rent-getstarted">Request a demo</a>
      </div>


    </div>

  </section>



  <section id="rent-features-section" class="fullwidth-bg bg-white my-0 pt-0 overflow-visible" >
    <div class="container">
      <hr class="mb-5">
      <div class="py-5"></div>
      <div class="text-md-center px-md-5">
        <p>Product Features</p>
        <h3 class="headline-large mb-md-5 px-xl-5">Fast forward to the future with keyless, paperless rentals</h3>
      </div>

      <div class="feature-section pt-5 px-lg-3">
        <div class="row">
          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-desktopphone.svg" alt="Outline icon of a desktop and a smartphone" />
              <h4 class="headline-small">Digital User Experience</h4>
            </div>
            <ul class="feature-list ux list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="100">Keyless entry</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="150">“Tap & go” convenient access</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="200">App-based bookings</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="250">Bluetooth compatibility</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="300">Paperless service model</li>
            </ul>
          </div>
          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-globe.svg" alt="Outline icon of a globe" />
              <h4 class="headline-small">Global Usability</h4>
            </div>
            <ul class="feature-list list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="300">24/7 support optionality</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="350">Timezone auto-detection</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="400">Multi-language support</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="450">Adjustable geofence radius</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.ux" data-aos-delay="500">Adjustable business hours</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-design.svg" alt="Outline icon of a square and a pencil" />
              <h4 class="headline-small">Customization</h4>
            </div>
            <ul class="feature-list customize list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="500">White labelling</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="550">Custom templates & wording</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="600">Integratable with internal help desks</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="650">Build your own reports</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-sedan.svg" alt="Outline icon of a sedan car" />
              <h4 class="headline-small">Vehicle Management</h4>
            </div>
            <ul class="feature-list list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="100">Auto-assign/auto-dispatch vehicles</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="150">Adjustable vehicle sort order</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="200">Maintenance mode</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customize" data-aos-delay="250">Master “keycard” for all vehicles</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-shield.svg" alt="Outline icon of a shield" />
              <h4 class="headline-small">Security</h4>
            </div>
            <ul class="feature-list security list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="250">Single-sign on functionality</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="300">Cost center security</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="350">Branch-based security</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.security" data-aos-delay="400">Granular role-based security</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-users.svg" alt="Outline icon of two users, one behind the other" />
              <h4 class="headline-small" >Customer Management</h4>
            </div>
            <ul class="feature-list customers list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customers" data-aos-delay="400">Block drivers with expired licenses</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customers" data-aos-delay="450">Enforce profile update for first login</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.customers" data-aos-delay="500">Save two years of booking history</li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-4 my-5">
            <div class="feature-list-header" data-aos="soft-up" data-aos-easing="apple-easing">
              <img class="mb-3" src="uploads/global/icons/icon-bill.svg" alt="Outline icon of receipt with a dollar sign on it" />
              <h4 class="headline-small">Booking & Billing</h4>
            </div>
            <ul class="feature-list billing list-unstyled">
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="100">Turn booking fields on & off</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="150">Vehicle drop-offs at different branches</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="200">Adjust or limit booking duration, auto-expiry & recurrences</li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="250">Charge for private use </li>
              <li data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".feature-list.billing" data-aos-delay="300">Bill per hour/per km</li>
            </ul>
          </div>


        </div>
      </div>
    </div>

  </section>

  <section class="fullwidth-bg dark-bg image-bg mt-0 position-relative">
    <div class="container-fluid py-md-5">
      <div class="row pb-5 py-md-5">
        <div class="col-md-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Setup and Consulting</p>
            <h2 class="headline-large">We go the extra mile</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Let’s get your business up and running within six weeks. We’ll guide you as you navigate new business models and give you practical advice on going digital. </p>
            <p>Forget commitment issues: we’ll still pick up the phone after your successful launch, and you’ll receive on-demand help from the Wunder Rent team whenever you need it.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-stretch">
      <picture class="desktop-stretch__pic offset-md-6">
        <source media="(min-width: 768px)" srcset="uploads/global/peter-wide.jpg 1x, uploads/global/peter-wide@2x.jpg 2x">
        <img src="uploads/global/peter-portrait.jpg" srcset="uploads/global/peter-portrait@2x.jpg 2x" alt="Portrait image of Peter Mazzioli, account manager for Wunder Rent. Short black hair, glowing smile, standing in front of a natural golden sunset." />
      </picture>
    </div>
  </section>


  <section id="rent-numbers" class="my-5 pb-md-5">
    <div class="container">
      <div class="row pt-5">
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing">
            <h2 class="headline-large mb-0">300+</h2>
            <h4 class="headline-small">Locations</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="150">
            <h2 class="headline-large mb-0">70K+</h2>
            <h4 class="headline-small">Bookings per Month</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="300">
            <h2 class="headline-large mb-0">12K+</h2>
            <h4 class="headline-small">Registered Drivers</h4>
          </div>
        </div>
        <div class="col-6 col-sm-3 col-md-6 col-lg-3">
          <div class="text-center mb-5 mb-sm-0 mb-md-5 mb-lg-0" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="450">
            <h2 class="headline-large mb-0">20+</h2>
            <h4 class="headline-small">Operating Fleets</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="rent-partners" class="mt-5">
    <div class="container px-5 text-center">
      <div class="partners my-4 pb-5">
        <p class="mb-5 pb-3">Our partners around the world</p>
        <picture class="lazy">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/rent-logos-wide.png 1x, /uploads/global/rent-logos-wide@2x.png 2x" >
          <img data-src="/uploads/global/rent-logos-mobile.png" data-srcset="/uploads/global/rent-logos-mobile@2x.png 2x" alt="Group of black and white logos of mobility companies, including Toyota, IVECO, stryker, Green Mobility and hive." />
        </picture>
      </div>
      <hr class="pb-5">
      <div class="partners my-4 pt-5">
        <p class="mb-5 pb-3">As featured in</p>
        <picture class="lazy">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/rent-press-logos.png 1x, /uploads/global/rent-press-logos@2x.png 2x" >
          <img data-src="/uploads/global/rent-press-logos-mobile.png" data-srcset="/uploads/global/rent-press-logos-mobile@2x.png 2x" alt="2 logos of reputable online news sites TechCrunch and AutoRental news." />
        </picture>
      </div>

    </div>
  </section>



</main>

<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/361066939?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
