<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block mb-5">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Wunder Park</a>
                <a class="list-group-item list-group-item-action" href="#section-detection">Detection</a>
                <a class="list-group-item list-group-item-action" href="#section-reservation">Reservation</a>
                <a class="list-group-item list-group-item-action" href="#section-access">Access</a>
                <a class="list-group-item list-group-item-action" href="#section-parkadmin">Admin</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper" style="padding-bottom: 100px; margin-bottom:-100px">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Seamless Integration</h2>
                <p class="lead">Intelligent hardware works with self learning software to make parking easier for drivers, car park operators and corporates.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <svg class="abs-right" viewBox="0 0 1969 1200" width="1969" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g fill="none" fill-rule="evenodd">
                      <path d="m0 0h1969v1200h-1969z" fill="#fff"/>
                      <image height="1200" width="1969" xlink:href="/uploads/global/park-arch2.jpg"/>
                      <path d="m1247 659.230469-101.17187-44.65625-335.332036 292.9375-388.808594-165.199219 26.789063-22.914062" stroke="#dadada" stroke-width="9"/>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-detection" class="product-section" >
          <div class="wunder-bg right top-1"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Detection Mechanisms</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      {% comment %}<ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>{% endcomment %}
                      <div class="m-body">
                        <h3 class="text-blue">Bottom Lock</h3>
                        <p>Our self-powered floor sensors detect the occupancy status of parking slots accurately and effectively.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      {% comment %}<ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>{% endcomment %}
                      <div class="m-body">
                        <h3 class="text-blue">Overhead Detection</h3>
                        <p>Our patented overhead sensors track traffic flow and parking slot occupancy to effectively capture data needed for parking space optimisation.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-detection.jpg" data-srcset="/uploads/global/park-detection.jpg 2x" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-reservation" class="product-section" >
          <div class="wunder-bg left top-2"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-0" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Reservation Management</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      {% comment %}<ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>{% endcomment %}
                      <div class="m-body">
                        <h3 class="text-blue">Display Signs</h3>
                        <p>Our reservation display LCDs enable personalised, visual parking space reservation. Guests/applicants will be greeted personally at the reserved car park.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      {% comment %}<ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>{% endcomment %}
                      <div class="m-body">
                        <h3 class="text-blue">Reservation Barrier</h3>
                        <p>With the reservation bar, users can physically reserve a parking space and thus prevent unauthorized and undesired usage.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-reservation.jpg" data-srcset="/uploads/global/park-reservation.jpg 2x" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-access" class="product-section" >
          <div class="wunder-bg right top-3"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Parking Access Management</h2>
                  <p>Our state-of-the-art automatic parking terminal allows quick and easy access to parking spots through automatic license plate recognition mechanisms and QR code scanners. It is compatible with all existing solutions.</p>
                </div>
                <div class="col-md-5 order-md-0" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-access.jpg" data-srcset="/uploads/global/park-access.jpg 2x" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-parkadmin" class="product-section" >
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-0" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading">Admin</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      {% comment %}<ion-icon name="ios-color-wand" class="align-self-start mr-4"></ion-icon>{% endcomment %}
                      <div class="m-body">
                        <h3 class="text-blue">The Booking App</h3>
                        <p>Our booking app helps companies allocate available parking slots as efficiently as possible to employees, guests and applicants. Space utilization is thus almost 100%.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      {% comment %}<ion-icon name="speedometer"  class="align-self-start mr-4"></ion-icon>{% endcomment %}
                      <div class="m-body">
                        <h3 class="text-blue">Operating Dashboard</h3>
                        <p>In addition to real-time data, analysis functions and user management functions, our dashboard is optimised to provide all parking space information and personal access to our hardware data and controls.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-dashboard.png" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0 mw-auto" />
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-value" class="product-section grid-section" >
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading mb-2">Value Proposition</h2>
              <p class="lead">Just a few of the ways our Wunder Park solution can help you</p>
              <div class="icon-grid__grid">
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/parking-meter.svg" alt="Parking Meter icon" >
                  <h4 class="mt-2">Improve Parking Space Utilisation</h4>
                </div>
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/dollarbill.svg" alt="Dollar Bill" >
                  <h4 class="mt-2">Save Costs</h4>
                </div>
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/happy-face.svg" alt="Happy face">
                  <h4 class="mt-2">Improve Employee Satisfaction</h4>
                </div>
              </div>

            </div>
          </div>
        </section>

      </div>

    </div>
  </div>


</main>
