<main>
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-intro">Intro</a>
                <a class="list-group-item list-group-item-action" href="#section-speakers">Speakers</a>
                <a class="list-group-item list-group-item-action" href="#section-agenda">Agenda</a>
                <a class="list-group-item list-group-item-action" href="#section-wms18">WMS18</a>
                <a class="list-group-item list-group-item-action" href="#section-press">Press</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="summit-main-wrapper">

    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2  mt-5">
          <section id="section-intro">
            <h2 class="page-heading mb-5">Connecting the most innovative minds in mobility</h2>
            <img data-src="/uploads/global/mobility_logos@2x.jpg" data-srcset="/uploads/global/mobility_logos@2x.jpg 2x" alt="logos of previous attendees"  class="mw-100 mb-3" />
            <p class="text-center">AND SO MANY MORE</p>
          </section>
        </div>
      </div>


    </div>


    <section class="block block-bg-box" id="section-energetic">
      <div class="wunder-bg left top-1"></div>

      <div class="bg-box__wrapper block-full-right col-2-in">
        <div class="container container-fullright">

          <div class="bg-box__box">
            <h2 class="page-heading mb-4">Exclusive, Energetic & Out of the box</h2>
            <p>Informal but exclusive, with world class speakers, special events, great food and entertainment, and connections you will keep!</p>
          </div>

        </div>
      </div>
    </section>


    <section class="block block-speaker-lineup gradient-block" id="section-speakers">
      <div class="wunder-bg right top-2"></div>

      <div class="speaker__wrapper block-full-right col-2-in">
        <div class="container container-fullright">

          <h2 class="page-heading">Speaker Line-up 2019</h2>
          <h2 class="main-heading">Looking good!</h2>

        </div>
      </div>
      <div class="speaker-cards">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 offset-lg-3">

              <div class="speakers-container">
                <div class="card speaker-card">
                  <img src="/uploads/global/Peter_Tschentscher.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Peter Tschentscher</h6>
                    <p class="card-subtitle text-muted">Mayor of Hamburg</p>
                    <img class="card-footer-logo" src="/uploads/global/logo-hh.png" alt="Hamburg council logo" />
                  </div>
                </div>

                <div class="card speaker-card">
                  <img src="/uploads/global/John-Krafcik.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">John Krafcik</h6>
                    <p class="card-subtitle  text-muted">CEO<br><span class="company">Waymo</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-waymo.png" alt="Waymo logo" />
                  </div>
                </div>

                <div class="card speaker-card">
                  <img src="/uploads/global/horace-dediu.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Horace Dediu</h6>
                    <p class="card-subtitle  text-muted">Cofounder <br><span class="company">Micromobility Industries</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-mm.png" alt="Micromobility Industries" />
                  </div>
                </div>

                <div class="card speaker-card">
                  <img src="/uploads/global/Alexander_Marten.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Alexander Marten</h6>
                    <p class="card-subtitle  text-muted">Chief Innovation Evangelist<br><span class="company">Deutsche Telekom</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-telekom.png" alt="Deutsche telekom group logo" />
                  </div>
                </div>


                <div class="card speaker-card">
                  <img src="/uploads/global/vikra-chopra.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Vikram Chopra</h6>
                    <p class="card-subtitle  text-muted">CEO and Co-founder<br><span class="company">CARS24</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-cars24.png" alt="CARS24 logo" />
                  </div>
                </div>

                <div class="card speaker-card">
                  <img src="/uploads/global/Michel-Stumpe.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Michel Stumpe</h6>
                    <p class="card-subtitle  text-muted">CEO<br><span class="company">FREE2MOVE</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-free2move.jpg" alt="FREE2MOVE logo" />
                  </div>
                </div>

                <div class="card speaker-card">
                  <img src="/uploads/global/Jens-Monsees.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Jens Monsees</h6>
                    <p class="card-subtitle  text-muted">Corporate Vice President<br><span class="company">BMW Group</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-bmw.png" alt="BMW group logo" />
                  </div>
                </div>

                <div class="card speaker-card">
                  <img src="/uploads/global/Alexander-Hitzinger.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h6 class="card-title">Alexander Hitzinger</h6>
                    <p class="card-subtitle  text-muted">Head of Autonomous Driving<br><span class="company">VW Group</span></p>
                    <img class="card-footer-logo" src="/uploads/global/logo-vw.png" alt="VW Group logo" />
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div> <!-- end of speaker cards -->

    </section>


    <section class="block block-bg-box" id="section-future">
      <div class="wunder-bg left top-3"></div>
      <div class="bg-box__wrapper block-full-right col-2-in">
        <div class="container container-fullright">

          <div class="bg-box__box">
            <h2 class="page-heading mb-4">Shape a better future</h2>
            <p> With 300 hand-picked international guests, the off-stage interactions will be just as valuable as the on-stage talks to encourage conversations between mobility leaders to shape a better future.</p>
          </div>

        </div>
      </div>
    </section>


    <div class="container" id="section-agenda">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-intro">
            <h2 class="page-heading mb-3 text-blue">Agenda</h2>
            <h1 class="text-grey2 mb-1 p-0">To Be Announced</h1>
            <p class="lead">Click <strong><a class="text-blue" href="https://drive.google.com/file/d/1PQLNaTiPFIbbskVagqaT87hyGfkzjcVM/view">here</a></strong> to check out the agenda from WMS18.</p>
          </section>
        </div>
      </div>
    </div>


    <section class="block block-last-summit gradient-block" id="section-wms18">
      <div class="wunder-bg right top-4"></div>
      <div class="last-summit__wrapper block-full-right col-2-in">
        <div class="container container-fullright">

          <h2 class="page-heading mb-1">WMS18</h2>
          <p class="lead"><strong>With an international attendance made up of predominantly CEOs, startup founders and thought-leaders from the new mobility industry, if you weren't there, you missed out!</strong></p>

          <div class="important-numbers__stats">
            <div class="row">
              <div class="col-sm-4">
                <div class="important-numbers__stat-wrapper">
                  <div class="important-numbers__stat">250 <small>Attendees</small></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="important-numbers__stat-wrapper">
                  <div class="important-numbers__stat">140 <small>Companies</small></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="important-numbers__stat-wrapper">
                  <div class="important-numbers__stat">29 <small>Countries</small></div>
                </div>
              </div>
            </div>
          </div>

          <div class="percent-bar__wrapper">
            <div class="percent-bar">
              <div class="percent-bar__block" style="width:45%">
                <h3 class="h1">45<p class="d-inline">%</p></h3>
                <p class="text-uppercase">C-Level</p>
              </div>
              <div class="percent-bar__block" style="width:25%">
                <h3 class="h1">25<p class="d-inline">%</p></h3>
                <p class="text-uppercase">Startup founders</p>
              </div>
              <div class="percent-bar__block" style="width:15%">
                <h3 class="h1">15<p class="d-inline">%</p></h3>
                <p class="text-uppercase">Investors</p>
              </div>
              <div class="percent-bar__block" style="width:15%">
                <h3 class="h1">15<p class="d-inline">%</p></h3>
                <p class="text-uppercase">Others</p>
              </div>

            </div>
          </div>

        </div>
      </div>

    </section>

    <section class="block block-video-1" id="section-aftermovie">
      <div class="container ">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="home-video">
              <h2 class="page-heading">Relive 2018</h2>

              <div class="plyr__video-embed" id="player">

                <iframe src="https://player.vimeo.com/video/317226692?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>

              </div>
              <a id="video-btn" class="dark round-cta">Watch Video</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container mt-5">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-press">
            <h2 class="page-heading mb-5">Press Mentions</h2>
            <img data-src="/uploads/global/press_logos.png" data-srcset="/uploads/global/press_logos@2x.png 2x" alt="Wunder Summit mentioned in these press outlet logos"  class="mw-100 mb-3" />
          </section>
        </div>
      </div>


    </div>


  </div>

</main>

<!-- Modal -->
<div class="modal fade" id="summitModal" tabindex="-1" role="dialog" aria-labelledby="Summit form modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="summitModalLabel">Apply to attend WMS 19</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="modal-form" accept-charset="UTF-8" action="https://usebasin.com/f/176b0ad86ef6.json" method="POST">
        <div class="modal-body">
          <input type="hidden" id="subject-field" value="Attend WMS">
          <input type="hidden" name="country" id="user-country" value="">
          <input type="hidden" id="recipient-firstname" name="firstname" />
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name *</label>
            <input type="text" class="form-control" id="recipient-name" name="name" required />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email *</label>
            <input type="email" class="form-control" id="email" name="email" required />
          </div>
          <div class="form-group">
            <label for="recipient-company" class="col-form-label">Company *</label>
            <input type="text" class="form-control" id="recipient-company" name="company" required />
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message (optional)</label>
            <textarea class="form-control" id="message-text" name="message"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <div class="col-sm-5">
            <p class="form-feedback hidden">Your message has been sent. We'll be in touch!</p>
          </div>
          <div class="col-sm-7 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="form-submit" class="btn btn-primary" onclick="formSubmit(event)">
              Send Message
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
