<section class="client-logos">
  <div class="logo-boxes sq">
    <div class="single-box">
      <a href="https://www.greenmobility.com/dk/en/" target="_blank" title="Green Mobility - Your City Your Car.">
        <img data-src="/uploads/global/client-logos/green-mobility-sq.jpg" data-srcset="/uploads/global/client-logos/green-mobility-sq@2x.jpg 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://emmy-sharing.de/en/" target="_blank" title="Emmy — Electric scooter sharing.">
        <img data-src="/uploads/global/client-logos/emmy-sq.jpg" data-srcset="/uploads/global/client-logos/emmy-sq@2x.jpg 2x"  />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.free-now.com/" target="_blank" title="hive — Share electric scooters.">
        <img data-src="/uploads/global/client-logos/hive-sq.jpg" data-srcset="/uploads/global/client-logos/hive-sq@2x.jpg 2x"  />
      </a>
    </div>
    <div class="single-box">
      <a href="https://felyx.com/" target="_blank" title="felyx is a fast, convenient and sustainable way to move through the city.">
        <img data-src="/uploads/global/client-logos/felyx-sq.jpg" data-srcset="/uploads/global/client-logos/felyx-sq@2x.jpg 2x" />
      </a>
    </div>
  </div>
</section>

<main class="with-form">

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="text-center px-lg-5">
            <p>Meet Wunder Fleet</p>
            <h2 class="headline-medium">An all-in-one platform to help get your vehicle sharing company off the ground.</h2>
          </div>
          <div class="py-5 text-center d-flex flex-column flex-sm-row align-items-start justify-content-center">
            <div class="vertical-icon-text d-flex flex-row flex-sm-column align-items-center text-center mb-4 mb-md-0 px-2 px-md-3 mx-auto mx-md-4">
              <img data-src="/uploads/global/fleet/icon-smartphone.svg" class="mb-2 mr-3 mr-sm-0"  />
              <p>Mobile App</p>
            </div>
            <div class="vertical-icon-text d-flex flex-row flex-sm-column order-sm-3 align-items-center text-center mb-4 mb-md-0 px-2 px-md-3 mx-auto mx-md-4">
              <img data-src="/uploads/global/fleet/icon-management.svg" class="mb-2 mr-3 mr-sm-0" />
              <p>Management System</p>
            </div>
            <div class="vertical-icon-text d-flex flex-row flex-sm-column align-items-center text-center mb-4 mb-md-0 px-2 px-md-3 mx-auto mx-md-4">
              <img data-src="/uploads/global/fleet/icon-sharingvehicles.svg" class="mb-2 mr-3 mr-sm-0" />
              <p>Sharing-Ready Vehicles</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 col-lg-6">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>User App</p>
            <h2 class="headline-large">The perfect app for your users – and you</h2>
          </div>
          <div class="icon-text-list management">
            <p class="icon-text pr-lg-2 pr-xl-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="100">
              <img src="uploads/global/icons/icon-lock_black.svg" />
              Users can reserve a vehicle and unlock it with a single swipe on your mobile phone. It’s that simple.
            </p>
            <p class="icon-text pr-lg-2 pr-xl-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="200">
              <img src="uploads/global/icons/icon-edit.svg" />
              The app is completely customizable. Use your own logos, colors and icons to enhance the customer experience.
            </p>
            <p class="icon-text pr-lg-2 pr-xl-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.management" data-aos-delay="300">
              <img src="uploads/global/icons/icon-coin.svg" />
              Take advantage of customizable pricing models and invoices. All payments are supported.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-lg-6 mt-5 mt-md-0 text-center">
          <img class="fleet-app-img" data-src="uploads/global/fleet/fleet-app.gif" data-srcset="uploads/global/fleet/fleet-app@2x.gif 2x"  />
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg white-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-6 col-xl-5 order-md-2 offset-xl-1">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Fleet Management</p>
            <h2 class="headline-large">Manage your fleet with ease</h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <div class="icon-text-list app">
              <div class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="100">
                <img src="uploads/global/icons/icon-user.svg" />
                <div>
                  <p class="small-label font-weight-bold">User management</p>
                  <p>Manage payments, users, and pricing. Set up promo codes and custom offers.</p>
                </div>
              </div>
              <div class="icon-text" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".icon-text-list.app" data-aos-delay="200">
                <img src="uploads/global/icons/icon-familytree.svg" />
                <div>
                  <p class="small-label font-weight-bold">Data-driven operations</p>
                  <p>Check fuel levels, view live locations and receive real-time updates on your fleet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <img class="fleet-mockup mt-5 mt-md-0" src="uploads/global/fleet/mockup_fleet_backend.png" srcset="uploads/global/fleet/mockup_fleet_backend@2x.png 2x" alt="Wunder Fleet mockup screen" />
        </div>
      </div>
    </div>
  </section>


  <section class="fullwidth-bg dark-bg image-bg mt-0 position-relative">
    <div class="container-fluid py-md-5">
      <div class="row pb-5 py-md-5">
        <div class="col-md-6 col-xl-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Wunder Vehicles</p>
            <h2 class="headline-large">Sharing-ready electric vehicles. </h2>
          </div>
          <div data-aos="fade-in" data-aos-easing="apple-easing">
            <p>Build your fleet with vehicles, IoT and flexible financing options. Wunder Vehicles are engineered with seamless, 24/7 connectivity. Wunder Vehicles also come with logistics and storage support, financing support, and full customization options.  </p>
            <a class="btn btn-outline-light mt-3" href="/vehicles">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="desktop-stretch">
      <picture class="desktop-stretch__pic offset-md-6">
        <source media="(min-width: 768px)" srcset="uploads/global/fleet/yadea-black.jpg 1x, uploads/global/fleet/yadea-black@2x.jpg 2x">
        <img src="uploads/global/fleet/yadea-black_mob.png" srcset="uploads/global/fleet/yadea-black_mob@2x.png 2x" alt="Wunder branded black electric scooter, created with Yadea." />
      </picture>
    </div>
  </section>

  <section class="client-logos" id="fleet-partners">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="logo-boxes sq flex-wrap flex-md-no-wrap no-border mb-3">
            <div class="single-box partners-text">
              <p class="mb-0 mb-md-2 ">Some of our partners</p>
            </div>
            <div class="single-box" style="max-width: 20%;">
              <a href="https://www.globalyadea.com/" target="_blank" title="Yadea premium e-mobility website">
                <img data-src="/uploads/2020/05/07/Yadea-Logo.png" data-srcset="/uploads/2020/05/07/Yadea-Logo@2x.png 2x" />
              </a>
            </div>
            <div class="single-box" style="max-width: 20%;">
              <a href="https://okai.co/" target="_blank" title="Okai scooters website">
                <img data-src="/uploads/2020/05/07/Okai.png" data-srcset="/uploads/2020/05/07/Okai@2x.png 2x" />
              </a>
            </div>
            <div class="single-box" style="max-width: 20%;">
              <a href="https://www.segway.com/" target="_blank" title="Segway Ninebot website">
                <img data-src="/uploads/2020/05/07/Segway.png" data-srcset="/uploads/2020/05/07/Segway@2x.png 2x" />
              </a>
            </div>
            <div class="single-box" style="max-width: 20%;">
              <a href="https://www.acton.space/" target="_blank" title="Acton scooters">
                <img data-src="/uploads/2020/05/07/Acton.png" data-srcset="/uploads/2020/05/07/Acton@2x.png 2x" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <picture class="lazy mr-2 mr-md-3">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/fleet/vehicle-1.jpg 1x, /uploads/global/fleet/vehicle-1@2x.jpg 2x" >
          <img data-src="/uploads/global/fleet/vehicle-1_mob.jpg" data-srcset="/uploads/global/fleet/vehicle-1_mob@2x.jpg 2x" alt="Closeup of a e-scooter handlebars and a big screen attached to it." />
        </picture>
        <picture class="lazy mx-2 mx-md-3">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/fleet/vehicle-2.jpg 1x, /uploads/global/fleet/vehicle-2@2x.jpg 2x" >
          <img data-src="/uploads/global/fleet/vehicle-2_mob.jpg" data-srcset="/uploads/global/fleet/vehicle-2_mob@2x.jpg 2x" alt="Closeup of a the front wheel of an e-scooter." />
        </picture>
        <picture class="lazy ml-2 ml-md-3">
          <source media="(min-width: 768px)" data-srcset="/uploads/global/fleet/vehicle-3.jpg 1x, /uploads/global/fleet/vehicle-3@2x.jpg 2x" >
          <img data-src="/uploads/global/fleet/vehicle-3_mob.jpg" data-srcset="/uploads/global/fleet/vehicle-3_mob@2x.jpg 2x" alt="Closeup of the front wheel of an electric kick-scooter." />
        </picture>
    </div>
  </section>

  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-lg-5">
          <div data-aos="soft-up" data-aos-easing="apple-easing">
            <p>Powering your individual mobility solution</p>
            <h2 class="headline-large">Introducing: Wunder Marketplace</h2>
            <p>Get ahead of the competition with the Wunder Marketplace — the world’s first mobility marketplace connected to our stable and scalable mobility platform. Discover apps and extensions from Zoba, Asana, StriveCloud, Adjust, and more.</p>
            <a class="btn btn-outline-dark mt-3" href="/marketplace">Learn more</a>
          </div>
        </div>
        <div class="col-md-6 offset-lg-1">
          <div class="out-right">
            <img class=" marketplace-mockup mt-5 mt-md-0" src="uploads/global/fleet/mockup-marketplace.png" srcset="uploads/global/fleet/mockup-marketplace@2x.png 2x" alt="Wunder Marketplace webpage screenshot on a laptop" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg bg-white tab-section logo-tabs mt-5 mb-5">
    <div class="container-fluid text-center">
      <p>Client Stories</p>
      <h3 class="headline-medium">Check out our partners <br>around the globe</h3>
      <ul class="nav nav-pills justify-content-center my-5 py-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-hive-tab" data-toggle="pill" href="#pills-hive" role="tab" aria-controls="pills-hive" aria-selected="true">
            <img data-src="/uploads/global/client-logos/hive-sq.svg"  />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-emmy-tab" data-toggle="pill" href="#pills-emmy" role="tab" aria-controls="pills-emmy" aria-selected="false">
            <img data-src="/uploads/global/client-logos/emmy-sq.svg"  />
          </a>
        </li>
      </ul>
      <div class="row text-left">
        <div class="col-md-10 offset-md-1">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-hive" role="tabpanel" aria-labelledby="pills-hive-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img src="/uploads/global/fleet/hive-photo.jpg" srcset="/uploads/global/fleet/hive-photo@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Hive</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.free-now.com/" title="Free Now homepage">www.free-now.com</a><p>
                  <p>FREE NOW's scooter sharing solution, Hive, has already taken Portugal by storm and has plans for exponential growth across Europe.</p>
                  <p>Powered by the Wunder Fleet solution, Hive aims to disrupt the traditional scooter sharing ecosystem with it's parent company Daimler.</p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-emmy" role="tabpanel" aria-labelledby="pills-emmy-tab">
              <div class="row align-items-center">
                <div class="col-sm-5">
                  <img data-src="/uploads/global/fleet/emmy-photo.jpg" data-srcset="/uploads/global/fleet/emmy-photo@2x.jpg 2x" />
                </div>
                <div class="col-sm-7">
                  <h4 class="headline-small mb-0">Emmy</h4>
                  <p class="mb-4"><a class="text-muted" href="https://www.emmy-sharing.de/" title="emmy — Electric scooter sharing">www.emmy-sharing.de</a><p>
                  <p>emmy establishes electric Scooters in Berlin by offering them in a free floating and short-term rental system.</p>
                  <p>The user will be able to enjoy individual mobility without the quest for parking space and without CO2 or noise emissions.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>

<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Fleet film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/344794116?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>
