<main class="with-form larger">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav active" href="#section-fleet">Fleet</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-app">App</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-hardware">Vehicles</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-manage">Manage</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-customize">Customize</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-stories">Stories</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">

    <section id="section-fleet" class="my-5 my-md-0 mt-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto" style="max-width: 650px;">
              <h2 class="page-heading text-center">Ready. Set. Share.</h2>
              <p class="section-intro text-center">From our user app and management system to vehicles and reporting, the Wunder Fleet platform has everything you need to get your vehicle sharing company off the ground.</p>
            </div>
            <div class="row align-items-baseline mt-5 pt-5">
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/mobile_app.png" data-srcset="/uploads/global/mobile_app@2x.png 2x" class="mw-100"/>
                  <h4>Mobile App</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/shared_vehicles.svg" data-srcset="/uploads/global/shared_vehicles@2x.svg 2x" style="width: 220px;" class="mw-100" />
                  <h4 >Sharing Vehicles</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/management_system.png" data-srcset="/uploads/global/management_system@2x.png 2x" class="mw-100" />
                  <h4>Management System</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-app" class="product-section grey-bg overflow-hidden" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">The perfect app<br><span class="lighter">for your users</span></h2>
                  <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240"><strong>Reserve. Ride. Return.</strong></p>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Reserve a vehicle and unlock it with a single swipe on your mobile phone. It’s that simple.</p>
                  <p class="section-intro text-blue  mb-2" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240"><strong>Simple Payments and Invoicing.</strong></p>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Take advantage of customizable pricing models and invoices. All payment methods are supported. </p>
                </div>
              </div>
              <div class="col-md-5 offset-md-1">
                <div class="clipped-wrapper">
                  <img data-src="/uploads/global/phone-mockup-unlock.png" data-srcset="/uploads/global/phone-mockup-unlock@2x.png 2x" class="product-image phone-mockup clipped clipped-bottom" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-hardware" class="product-section overflow-hidden" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-11 offset-lg-1">
            <div class="row">
              <div class="col-md-6">
                <div class="clipped-wrapper d-none d-md-block">
                  <img data-src="/uploads/global/sharing-vehicles-section.svg" data-srcset="/uploads/global/sharing-vehicles-section@2x.svg 2x" class="product-image" />
                </div>
              </div>
              <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0"><span class="lighter">Sharing-ready</span> vehicles</h2>
                  <p class="section-intro" >You can’t do vehicle sharing without vehicles. If you need a new fleet or want to make your current fleet more sharable, we’ve got you covered.
                    <br><br>
                    Our vehicles have more than meets the eye:
                    <ul class="list-unstyled mt-2 icon-list">
                      <li data-aos="soft-up" data-aos-delay="50"><ion-icon name="ios-wifi"></ion-icon> Built-in IoT devices</li>
                      <li data-aos="soft-up" data-aos-delay="100"><ion-icon name="ios-hammer"></ion-icon> Robust build</li>
                      <li data-aos="soft-up" data-aos-delay="150"><ion-icon name="ios-pin"></ion-icon> GPS tracking</li>
                      <li data-aos="soft-up" data-aos-delay="200"><ion-icon name="ios-key"></ion-icon> Keyless access</li>
                      <li data-aos="soft-up" data-aos-delay="250"><ion-icon name="cloud-outline"></ion-icon> 24/7 connectivity</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-manage" class="product-section grey-bg mt-0" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading text-center mb-0" data-aos="soft-up" data-aos-offset="300">Manage <span class="lighter">your fleet</span> with ease</h2>
            <img data-src="/uploads/global/mockup_dashboard_4.png" data-srcset="/uploads/global/mockup_dashboard_4@2x.png 2x" class="product-image p-5 mw-100" />
            <div class="row">
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="" data-aos-offset="300"><strong>Data-Driven Operations</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Check fuel levels, view live locations and receive real-time updates on your fleet.</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="100" data-aos-offset="300"><strong>User Management</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="150" data-aos-offset="240">Manage payments, users and pricing. Set up promo codes and custom offers.</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="200" data-aos-offset="300"><strong>Choose Any Vehicle</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="250" data-aos-offset="240">From kick scooters to cars, mopeds to bicycles, jetskis to rickshaws - our platform fits all.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="section-customize" class="product-section" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0">Your Brand.<br><span class="lighter">Your Design.</span></h2>
                  <p class="section-intro" >Take advantage of our white label app and vehicles and use your own logos, colors and icons to enhance the customer experience.</p>
                </div>
              </div>
              <div class="col-md-7">
                <img data-src="/uploads/global/Customization_alt.svg" data-srcset="/uploads/global/Customization_alt@2x.svg 2x" class="product-image hue-rotate-anim" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="block block-stories mb-0 grey-bg pb-5" id="section-stories" data-aos="fade-up">
      <div class="container">
        <div class="row pb-5">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Stories</h2>
            <p class="lead w-sm-50">Businesses across the globe rely on our all-in-one platform to power their fleets. </p>
            <div id="accordion" class="horizontal-accordion">
              <div class="card expand">
                <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" data-src="/uploads/global/hive_logo.png" data-srcset="/uploads/global/hive_logo@2x.png 2x" />
                    <img class="card-outer-image" src="/uploads/global/hive_scooter@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">FREE NOW's scooter sharing solution, Hive has already taken Portugal by storm and has plans for exponential growth across Europe.</p>
                      <p class="card-text">Powered by the WunderFleet solution, Hive aims to disrupt the traditional scooter sharing ecosystem with it's parent company Daimler.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="/uploads/global/bg-map.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" data-src="/uploads/2019/01/22/emmy.svg" data-srcset="/uploads/2019/01/22/emmy.svg 2x" />
                    <img class="card-outer-image" src="/uploads/global/emmy_scooter@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">emmy establishes electric Scooters in Berlin by offering them in a free floating and short-term rental system.</p>
                      <p class="card-text">The user will be able to enjoy individual mobility without the quest for parking space and without CO2 or noise emissions.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="/uploads/global/bg-map2.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" src="/uploads/global/logo-miles.svg" />
                    <img class="card-outer-image raised" src="/uploads/global/miles_car@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Miles is unique as it's users are charged only for the miles driven and not for the time spent in the car.</p>
                      <p class="card-text">With exploding traffic conditions in every city, their unique proposition makes them stand out from other carsharing offerings and they're increasingly becoming the first choice for carsharing.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


  </div>


  <section class="block block-video-1 mt-0 pb-5" id="main-video">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-10 offset-lg-2">

          <h2 class="page-heading">&nbsp; </h2>

          <div class="home-video">

            <div class="plyr__video-embed" id="player">

              <iframe src="https://player.vimeo.com/video/344794116?title=0&byline=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
            <a id="video-btn" class="dark round-cta gt-videoplay">Watch Video</a>
          </div>

        </div>
      </div>

    </div>
  </section>


</main>
