
<section class="" id="founders-section">
  <div class="container py-5">
    <div class="quote-with-image pb-5">
      <div class="row align-items-top">
        <div class="col-lg-5 offset-xl-1 mb-5 mb-lg-0 pb-md-5 text-center rellax">
          <img class="sticky-top" onload="centerOffset(this)" data-rellax-speed="-3" data-src="/uploads/global/gunnar-sam.jpg" data-srcset="/uploads/global/gunnar-sam@2x.jpg 2x" />
        </div>
        <div class="offset-2 col-9 col-sm-8 offset-lg-0 col-lg-7 col-xl-6">
          <blockquote class="with-photo align-bottom shift-left">
            <div class="quote">
              <svg class="quote-marks" viewBox="0 0 78 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#141414"/>
              </svg>
              <h2 class="headline-medium">We’re convinced shared mobility will lead us down a path to a brighter future.</h2>
              <footer>
                <p class="small-label"><strong>Gunnar Froh & Samuel Baker</strong><br>Co-Founders</p>
              </footer>
            </div>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row my-4 my-md-5">
      <div class="col-9 col-md-8 offset-2 offset-md-1 col-md-10">
        <hr>
      </div>
    </div>

    <div class="row pt-4 py-md-2">
      <div class="col offset-2 col-md-5 offset-md-1 col-lg-4 offset-lg-2">
        <h2 class="headline-large mb-3 mb-md-0" data-aos="fade-in" data-aos-easing="apple-easing">Impact <br>Ownership <br>Speed <br>& Trust</h2>
      </div>
      <div class="offset-2 col-9 col-sm-8  col-md-5 offset-md-0 col-lg-4">
        <p class="mb-5 mb-md-0 pl-md-3 pl-lg-0" data-aos="fade-in" data-aos-delay="100" data-aos-easing="apple-easing">We strive to make an impact not just in the work we do, but in the work we’re helping others do. That means taking ownership of complex tasks and translating them into streamlined, intelligent solutions. If we feel the need for speed, it’s because our partners are already fast-forwarding to the future of mobility. We believe trust is the foundation of sharing - and that’s why we work hard to earn it from you.</p>
      </div>
    </div>

    <div class="row my-4 my-md-5">
      <div class="col-9 col-md-8 offset-2 offset-md-1 col-md-10">
        <hr>
      </div>
    </div>

  </div>
</section>


<section id="wunder-journey">
  <div class="container pt-5">
    <h2 class="headline-large text-md-center" data-aos="soft-up" data-aos-easing="apple-easing">Our Journey</h2>
    <div class="timeline">

      <div class="timeline__date-section rellax">
        <div class="row">

          <div class="col-md-5 col-xl-4 offset-md-1">
            <div class="timeline__date-content">
              <h3 class="timeline__date rellax" data-rellax-speed="-1" data-rellax-zindex="-1">
                <svg viewBox="0 0 32 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M32 8.90239C21.75 13.8482 16.625 19.6594 16.625 26.3362C21.0417 26.8308 24.6667 28.603 27.5 31.6529C30.3333 34.6204 31.75 38.0824 31.75 42.039C31.75 46.243 30.3333 49.7874 27.5 52.6725C24.75 55.5575 21.2917 57 17.125 57C12.4583 57 8.41667 55.1453 5 51.436C1.66667 47.6443 0 43.0694 0 37.7115C0 21.6377 9.04167 9.06725 27.125 0L32 8.90239Z" />
                </svg>14-15
              </h3>
              <div class="row">
                <div class="col-9 offset-3 col-md-12 offset-md-0">
                  <h4 class='headline-medium' data-aos="fade-in" data-aos-easing="apple-easing">The founding of WunderCar</h4>
                  <p data-aos="soft-up" data-aos-delay="100" data-aos-easing="apple-easing">At the end of 2014, Gunnar and Sam saw an untapped opportunity in the international mobility market. They quickly assembled a motivated team, took the plunge and founded one of the very first ridehailing startups in Germany. WunderCar was born!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 offset-xl-1 align-self-md-center align-self-lg-start">
            <div class="timeline__image-content d-flex flex-column align-items-start">
              <img class="timeline__main-image rellax" data-rellax-speed="1" data-rellax-xs-speed="0" data-src="/uploads/global/wundercar-people.jpg" data-srcset="/uploads/global/wundercar-people@2x.jpg 2x" >
              <div class="timeline__logo-image align-self-end rellax" data-rellax-speed="2" data-rellax-xs-speed="0">
                <img data-src="/uploads/global/wundercar-logo.jpg" data-srcset="/uploads/global/wundercar-logo@2x.jpg 2x" >
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="timeline__date-section rellax">
        <div class="row">

          <div class="col-md-5 col-xl-4 offset-md-1 order-md-2">
            <div class="timeline__date-content">
              <h3 class="timeline__date shift-left rellax" data-rellax-speed="-1">
                <svg viewBox="0 0 32 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M32 8.90239C21.75 13.8482 16.625 19.6594 16.625 26.3362C21.0417 26.8308 24.6667 28.603 27.5 31.6529C30.3333 34.6204 31.75 38.0824 31.75 42.039C31.75 46.243 30.3333 49.7874 27.5 52.6725C24.75 55.5575 21.2917 57 17.125 57C12.4583 57 8.41667 55.1453 5 51.436C1.66667 47.6443 0 43.0694 0 37.7115C0 21.6377 9.04167 9.06725 27.125 0L32 8.90239Z" />
                </svg>16-17
              </h3>
              <div class="row">
                <div class="col-9 offset-3 col-md-12 offset-md-0">
                  <h4 class='headline-medium' data-aos="fade-in" data-aos-easing="apple-easing">Full speed ahead</h4>
                  <p data-aos="soft-up" data-aos-easing="apple-easing">After countless market tests, tweaks and late-night strategy sessions, our founders decided to refresh their business model. WunderCar switched the focus to ridesharing in emerging markets, and communities across the globe were introduced to an app taking the (congested) world by storm: Wunder Carpool.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 offset-xl-1 align-self-md-center align-self-lg-start">
            <div class="timeline__image-content d-flex flex-column align-items-start">
              <img class="timeline__main-image rellax" data-rellax-speed="1" data-rellax-xs-speed="0" data-src="/uploads/global/sonam-wunder.jpg" data-srcset="/uploads/global/sonam-wunder@2x.jpg 2x" >
              <div class="timeline__logo-image align-self-end rellax" data-rellax-speed="2"  data-rellax-xs-speed="0">
                <img data-src="/uploads/global/wunder-green.jpg" data-srcset="/uploads/global/wunder-green@2x.jpg 2x" >
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="timeline__date-section rellax">
        <div class="row">

          <div class="col-md-5 col-xl-4 offset-md-1">
            <div class="timeline__date-content">
              <h3 class="timeline__date rellax" data-rellax-speed="-1" data-rellax-xs-speed="-0.5">
                <svg viewBox="0 0 32 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M32 8.90239C21.75 13.8482 16.625 19.6594 16.625 26.3362C21.0417 26.8308 24.6667 28.603 27.5 31.6529C30.3333 34.6204 31.75 38.0824 31.75 42.039C31.75 46.243 30.3333 49.7874 27.5 52.6725C24.75 55.5575 21.2917 57 17.125 57C12.4583 57 8.41667 55.1453 5 51.436C1.66667 47.6443 0 43.0694 0 37.7115C0 21.6377 9.04167 9.06725 27.125 0L32 8.90239Z" />
                </svg>18-19
              </h3>
              <div class="row">
                <div class="col-9 offset-3 col-md-12 offset-md-0">
                  <h4 class='headline-medium' data-aos="fade-in" data-aos-easing="apple-easing">Expanding horizons</h4>
                  <p class="aos-horiz-p" data-aos="soft-up" data-aos-easing="apple-easing">Because We Share. Our mantra, invented in 2018, reflects our core belief that driving the future of shared mobility is a team effort.</p>
                  <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".aos-horiz-p">By the end of 2019, we had expanded our portfolio from three to seven products in two short years and fulfilled a dream of entering the hardware market with Wunder Vehicles. That’s when it really became official: we were now an all-in-one mobility solution provider!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 offset-xl-1 align-self-md-center align-self-lg-start">
            <div class="timeline__image-content d-flex flex-column align-items-start">
              <img class="timeline__main-image rellax" data-rellax-speed="1" data-rellax-xs-speed="0" data-src="/uploads/global/yannick-hafencity.jpg" data-srcset="/uploads/global/yannick-hafencity@2x.jpg 2x" >
              <div class="timeline__logo-image align-self-end rellax" data-rellax-speed="2" data-rellax-xs-speed="0">
                <img data-src="/uploads/global/wunder-mobility-black.svg" >
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="timeline__date-section rellax">
        <div class="row">

          <div class="col-md-5 col-xl-4 offset-md-1 order-md-2">
            <div class="timeline__date-content">
              <h3 class="timeline__date shift-left shift-left-less rellax" data-rellax-speed="-1" data-rellax-xs-speed="-0.5">
                <svg viewBox="0 0 32 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M32 8.90239C21.75 13.8482 16.625 19.6594 16.625 26.3362C21.0417 26.8308 24.6667 28.603 27.5 31.6529C30.3333 34.6204 31.75 38.0824 31.75 42.039C31.75 46.243 30.3333 49.7874 27.5 52.6725C24.75 55.5575 21.2917 57 17.125 57C12.4583 57 8.41667 55.1453 5 51.436C1.66667 47.6443 0 43.0694 0 37.7115C0 21.6377 9.04167 9.06725 27.125 0L32 8.90239Z" />
                </svg>20
              </h3>
              <div class="row">
                <div class="col-9 offset-3 col-md-12 offset-md-0">
                  <h4 class='headline-medium' data-aos="fade-in" data-aos-easing="apple-easing">Because we share tomorrow</h4>
                  <p data-aos="soft-up" data-aos-easing="apple-easing">Today, we’re proud to be building the future of mobility with over 70 clients across six continents.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-1 offset-xl-1 align-self-md-center align-self-lg-start">
            <div class="timeline__image-content d-flex flex-column align-items-start">
              <img class="timeline__main-image mw-100 rellax" data-rellax-speed="1"  data-rellax-xs-speed="0" data-src="/uploads/global/team-wms.jpg" data-srcset="/uploads/global/team-wms@2x.jpg 2x" >
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</section>

<div class="container pb-5">
  <div class="text-center mb-5 pb-5 mx-auto">
    <h3 class="headline-medium pb-3 aboutus-join" data-aos="soft-up" data-aos-easing="apple-easing" >Join the ride</h3>
    <a href="/careers" class="btn btn-outline-primary mb-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".aboutus-join">Careers</a>
  </div>
  <hr>
</div>

<section class="mt-5 pt-md-5" id="wunder-locations">
  <div class="container pt-md-5">
    <h2 class="headline-large text-center mb-5" data-aos="soft-up" data-aos-easing="apple-easing">Where in the world is Wunder?</h2>
    <div class="row pt-5">

      <div class="col-sm-4 mb-5" data-aos="soft-up" data-aos-easing="apple-easing">
        <img class="mb-4" data-src="/uploads/global/Hamburg.jpg" data-srcset="/uploads/global/Hamburg@2x.jpg 2x" alt="Photo of the Elbphiharmonie operahouse in Hamburg at sunset" />
        <address class="">
            <h4 class="headline-small">Hamburg, Germany</h4>
            <p>
              Hongkongstraße 2<br>
              20457 Hamburg<br>
              Germany
            </p>
        </address>
      </div>

      <div class="col-sm-4 mb-5" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="200">
        <img class="mb-4" data-src="/uploads/global/Dortmund.jpg" data-srcset="/uploads/global/Dortmund@2x.jpg 2x" alt="Photo of an old house and a modern glass building in the background, presumably in the city of Dortmund" />
        <address class="">
            <h4 class="headline-small">Dortmund, Germany</h4>
            <p>
              Brüderweg 9<br>
              44135 Dortmund<br>
              Germany
            </p>
        </address>
      </div>

      <div class="col-sm-4 mb-5" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-delay="400">
        <img class="mb-4" data-src="/uploads/global/LA.jpg" data-srcset="/uploads/global/LA@2x.jpg 2x" alt="Photo of some tall palm trees with a smoggy city skyline behind" />
        <address class="">
            <h4 class="headline-small">Los Angeles, California, USA</h4>
            <p>
              1031 S Broadway<br>
              Los Angeles, CA 90015<br>
              United States
            </p>
        </address>
      </div>

    </div>

    <div class="text-center py-5 mx-auto">
      <a href="#" data-toggle="modal" data-target="#formModal"  class="btn btn-outline-primary mb-5" data-aos="fade-in" data-aos-easing="apple-easing">Get in touch</a>
      <p class="text-muted py-5"><small>Photo credits: Stefanie Kleemann, Dortmund agency, City of Dortmund</small></p>
    </div>

  </div>
</section>



  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="Contact form modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">Get in touch with us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="modal-form"  class="ajaxForm" enctype="multipart/form-data" accept-charset="UTF-8" action="https://getform.io/f/17ce73e7-6ba4-4f84-af0e-41307fabf6eb" method="POST">
          <div class="modal-body">
            <input type="hidden" name="subject" id="subject-field" value="General enquiry">
            <input type="hidden" name="country" id="user-country" value="">
            <input type="hidden" name="region" id="user-region" value="EN">
            <input type="hidden" name="lang" id="site-lang" value="en">
            <input type="hidden" name="utm_source" id="utm_source" value="">
            <input type="hidden" name="utm_medium" id="utm_medium" value="">
            <input type="hidden" name="utm_campaign" id="utm_campaign" value="">
            <input type="hidden" name="utm_term" id="utm_term" value="">
            <input type="hidden" name="campaign_id" id="campaign_id" value="">
            <input type="hidden" name="adgroup_id" id="adgroup_id" value="">
            <input type="hidden" name="title_id" id="title_id" value="">
            <input type="hidden" name="first_visit" id="first_visit" value="">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Full Name *</label>
                    <input type="text" class="form-control" id="recipient-name" name="name" required placeholder="Your full name"/>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-form-label">Email *</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="your-email@example.com"/>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="phone" class="col-form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="+49 173 1234 567"/>
                  </div>
                  <div class="form-group">
                    <label for="recipient-company" class="col-form-label">Company *</label>
                    <input type="text" class="form-control" id="recipient-company" name="company" placeholder="Your company" required />
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message</label>
                <textarea rows="3" class="form-control" id="message-text" name="message"></textarea>
              </div>
              <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-5">
              <h5 class="form-feedback hidden">Your message has been sent. We'll be in touch!</h5>
            </div>
            <div class="col-sm-7 text-right">
              <button id="form-submit" class="btn btn-primary" onclick="formSubmit(event)">
                Send Message
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
