<div class="picture-slider__wrapper">
  <div class="container">
    <h2 class="page-heading">We are Wunder</h2>
    <div class="picture-slider picture-slider--blue" style="width: 100%">
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="/img/careers/testimonials/big/Bruno.jpg" data-srcset="/img/careers/testimonials/big/Bruno@2x.jpg 2x"  class="lazyload"/>
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">Since many of us moved from our home countries to Germany, we have formed a tight community. Working at Wunder gave me the opportunity to make not just colleagues, but also friends, with people who are in the same situation as me.</p>
                        <p class="picture-slider__author">Bruno (Brazil)</p>
                        <p class="picture-slider__authorinfo">Engineering (Backend)<br>at Wunder HQ Hamburg</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="/img/careers/testimonials/big/Alycia.jpg" data-srcset="/img/careers/testimonials/big/Alycia@2x.jpg 2x" class="lazyload"/>
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">I love Hamburg, I’ve been here for many many years now. It’s the gateway to the world and the awesome thing is that our office is right in the middle of the harbour, with great views of the HafenCity. </p>
                        <p class="picture-slider__author">Alycia (USA)</p>
                        <p class="picture-slider__authorinfo">Talent<br>at Wunder HQ Hamburg</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="/img/careers/testimonials/big/Rachit.jpg" data-srcset="/img/careers/testimonials/big/Rachit@2x.jpg 2x" class="lazyload"/>
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">We make sure we have each other’s back. This is the extra effort that the team at Wunder makes, that you are part of a family and you feel at home here.</p>
                        <p class="picture-slider__author">Rachit (India)</p>
                        <p class="picture-slider__authorinfo">Marketing<br>at Wunder HQ Hamburg</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-lazy="/img/careers/testimonials/big/Jwani.jpg" data-srcset="/img/careers/testimonials/big/Jwani@2x.jpg 2x" class="lazyload" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">Wunder has a rich environment and the team members are open-minded, very talented and up for any challenge.</p>
                        <p class="picture-slider__author">Jwani (Tanzania)</p>
                        <p class="picture-slider__authorinfo">Business Development<br>at Wunder HQ Hamburg</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-src="/img/careers/testimonials/big/Devran.jpg" data-srcset="/img/careers/testimonials/big/Devran@2x.jpg 2x" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">I love working at Wunder because it's agile and diverse. At the same time, it's very professional.</p>
                        <p class="picture-slider__author">Devran (Germany)</p>
                        <p class="picture-slider__authorinfo">Design<br>at Wunder HQ Hamburg</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
    </div>
    <div class="picture-slider__menu">
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image current">
        <img data-src="/img/careers/testimonials/small/Bruno.jpg" data-srcset="/img/careers/testimonials/small/Bruno@2x.jpg 2x" />
      </div>
      <!-- #end Slider Menu Item -->
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image">
        <img data-src="/img/careers/testimonials/small/Alycia.jpg" data-srcset="/img/careers/testimonials/small/Alycia@2x.jpg 2x" />
      </div>
      <!-- #end Slider Menu Item -->
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image">
        <img data-src="/img/careers/testimonials/small/Rachit.jpg" data-srcset="/img/careers/testimonials/small/Rachit@2x.jpg 2x" />
      </div>
      <!-- #end Slider Menu Item -->
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image">
        <img data-src="/img/careers/testimonials/small/Jwani.jpg" data-srcset="/img/careers/testimonials/small/Jwani@2x.jpg 2x" />
      </div>
      <!-- #end Slider Menu Item -->
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image">
        <img data-src="/img/careers/testimonials/small/Devran.jpg" data-srcset="/img/careers/testimonials/small/Devran@2x.jpg 2x" />
      </div>
      <!-- #end Slider Menu Item -->
    </div>
  </div>
</div>
