<section id="scroll-nav">
  <div class="container">
    <div class="border-bottom py-5">
      <ul class="list-unstyled d-md-flex flex-row justify-content-between">
        <p class="d-md-inline-block mr-4">Our Platform</p>
        <li class="mb-1"><a class="text-link" data-offset="80" href="#vehiclesharing">Vehicle Sharing</a></li>
        <li class="mb-1"><a class="text-link" data-offset="80" href="#hardware">Hardware</a></li>
        <li class="mb-1"><a class="text-link" data-offset="80" href="#ridehailing">Ride Hailing</a></li>
        <li class="mb-1"><a class="text-link" data-offset="80" href="#analytics">Analytics</a></li>
        <li class="mb-1"><a class="text-link" data-offset="80" href="#extensions">Extensions</a></li>
      </ul>
    </div>
  </div>
</section>

<main>

  <section id="vehiclesharing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-4 col-md-6 mb-4 mb-sm-0">
          <img src="uploads/global/home/vehicle-sharing-square.jpg" srcset="uploads/global/home/vehicle-sharing-square@2x.jpg 2x" />
        </div>
        <div class="col-sm-8 col-md-6 offset-lg-1 col-lg-5">
          <p>Vehicle Sharing</p>
          <h2 class="headline-medium">Future-proofed vehicle sharing</h2>
          <p>Explore the vehicle-agnostic Wunder Mobility OS and find the ideal solution to cater to your customers. Whether you are looking for station-based rental technology or free-floating vehicle sharing software, our team of experts and best-in-class technology will power your new mobility company and set you on a track to success.</p>
        </div>
      </div>

      <div class="row mt-5">

        <div class="col-md-6 mb-5 mb-md-0">
          <div class="row mockup-panel align-items-center">
            <div class="col-4 col-lg-5 col-xl-4 text-right">
              <img src="uploads/global/home/fleetmockup-hp.jpg" srcset="uploads/global/home/fleetmockup-hp@2x.jpg 2x" />
            </div>
            <div class="col-8 col-sm-6 col-md-8 col-lg-7">
              <p class="mb-2">Launch your free-floating sharing company with an all-in-one platform. </p>
              <a class="text-link" href="/fleet">Discover Wunder Fleet <img src="/uploads/global/right-arrow.svg" class="right-arrow"/></a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row mockup-panel align-items-center">
            <div class="col-4 col-lg-5 col-xl-4 text-right">
              <img src="uploads/global/home/rentmockup-hp.jpg" srcset="uploads/global/home/rentmockup-hp@2x.jpg 2x" />
            </div>
            <div class="col-8 col-sm-6 col-md-8 col-lg-7 pr-lg-5">
              <p class="mb-2">Keyless, station-based rentals, booked in advance.</p>
              <a class="text-link" href="/fleet">Discover Wunder Rent <img src="/uploads/global/right-arrow.svg" class="right-arrow"/></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>


  <section class="showcase-box" id="hardware">
    <div class="container-fluid">
      <div id="showcase-vehicles" class="showcase-box__bg grey-gradient-bg text-left d-flex justify-content-start justify-content-md-center" >
        <div class="row">
          <div class="offset-md-1 col-md-6 col-lg-5">
            <div class="showcase-box_inner-content">
              <p>Hardware</p>
              <h2 class="headline-medium">Vehicles for the next generation of mobility</h2>
              <p>Build your fleet with vehicles, IoT and flexible financing options. Wunder Vehicles are engineered to seamlessly communicate with each other - and with you - to support 24/7 connectivity across your mobility ecosystem. No third-party IoT devices required. </p>
              <a href="/vehicles" class="btn btn-outline-dark">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <style type="text/css">
      #showcase-vehicles {
        background-image: url('uploads/global/home/bg-vehiclesshowcase__mob.jpg');
        background-size: cover;
        background-position: 0px 95%;
        height: 750px;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #showcase-vehicles {
          background-image: url('uploads/global/home/bg-vehiclesshowcase__mob@2x.jpg');
        }
      }

      @media only screen and (min-width: 576px) {
        #showcase-vehicles {
          background-position: 0px 80%;
        }
      }

      @media only screen and (min-width: 768px) {
        #showcase-vehicles {
          background-image: url('uploads/global/home/bg-vehiclesshowcase.jpg');
          background-position: center center;
          height: 600px;
        }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          #showcase-vehicles {
            background-image: url('uploads/global/home/bg-vehiclesshowcase@2x.jpg');
          }
        }
      }
    </style>
  </section>

  <section id="ridehailing">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-4 col-md-6 mb-4 mb-sm-0">
          <img src="uploads/global/home/ridehailing-square.jpg" srcset="uploads/global/home/ridehailing-square@2x.jpg 2x" />
        </div>
        <div class="col-sm-8 col-md-6 offset-lg-1 col-lg-5">
          <p>Ride Hailing</p>
          <h2 class="headline-medium">On-demand flexibility for companies and communities</h2>
          <p>Discover on-demand and scheduled ride hailing and pooling solutions for urbanites, rural communities, corporations and commuters. An app connects your riders and your drivers seamlessly to your mobility platform, and automatic dispatching saves you valuable time.</p>
        </div>
      </div>

      <div class="row mt-5">

        <div class="col-md-6 mb-5 mb-md-0">
          <div class="row mockup-panel align-items-center">
            <div class="col-4 col-lg-5 col-xl-4 text-right">
              <img src="uploads/global/home/carpoolmockup-hp.jpg" srcset="uploads/global/home/carpoolmockup-hp@2x.jpg 2x" />
            </div>
            <div class="col-8 col-sm-6 col-md-8 col-lg-7">
              <p class="mb-2">Enable employees to organize shared rides to work and cut emissions.</p>
              <a class="text-link text-nowrap" href="/carpool">Discover Wunder Carpool <img src="/uploads/global/right-arrow.svg" class="right-arrow"/></a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row mockup-panel align-items-center">
            <div class="col-4 col-lg-5 col-xl-4 text-right">
              <img src="uploads/global/home/ridemockup-hp.jpg" srcset="uploads/global/home/ridemockup-hp@2x.jpg 2x" />
            </div>
            <div class="col-8 col-sm-6 col-md-8 col-lg-7 pr-lg-5">
              <p class="mb-2">Single or pooled rides, booked in advance or on-demand.</p>
              <a class="text-link" href="/shuttle">Discover Wunder Ride <img src="/uploads/global/right-arrow.svg" class="right-arrow"/></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

  <section class="showcase-box" id="analytics">
    <div class="container-fluid">
      <div id="showcase-city" class="showcase-box__bg grey-gradient-bg text-left d-flex justify-content-start justify-content-md-center">
        <div class="row">
          <div class="offset-md-1 col-md-6 col-lg-5">
            <div class="showcase-box_inner-content">
              <p>Analytics</p>
              <h2 class="headline-medium">Preparing cities for a connected future</h2>
              <p>The urban mobility landscape is rapidly changing. Wunder City provides data aggregation and analysis to help city officials, operators and policymakers understand changing patterns in their area, make informed decisions and collaborate effectively. </p>
              <a href="/city" class="btn btn-outline-dark">Learn more</a>
            </div>
          </div>
          <div class="showcase-box__image valign-bottom valign-md-center ">
            <img class="mw-none" data-src="uploads/global/home/citymockup-hp.png" data-srcset="uploads/global/home/citymockup-hp@2x.png 2x" />
          </div>
        </div>
      </div>
    </div>
    <style type="text/css">
      #showcase-city {
        height: 750px;
      }
      #showcase-city .showcase-box__image img {
        min-width: 504px;
        width: 110%;
        max-width: none;
      }
      @media only screen and (min-width: 768px) {
        #showcase-city {
          height: 600px;
        }
        #showcase-city .showcase-box__image {
          transform: translateY(-50%) translateX(50%);
          right: 5%;
        }
      }
      @media only screen and (min-width: 1100px) {
        #showcase-city .showcase-box__image {
          right: 15%;
        }
      }

    </style>
  </section>

  <section id="extensions">
    <div class="container">
      <div class="row">
        <div class="mb-4 mb-lg-0 col-lg-6 pr-lg-4 col-xl-5 pl-xl-5" >
          <h2 class="headline-medium">Complete your mobility ecosystem</h2>
        </div>
        <div class="col-md-6 col-lg-3 pl-xl-4 mb-5 mb-md-0">
          <p class="mb-2">Enhance and scale your mobility business with our modular platform. </p>
          <a class="text-link text-nowrap" href="/marketplace">Discover <br class="d-none d-lg-block d-xl-none">Wunder Marketplace <img src="/uploads/global/right-arrow.svg" class="right-arrow"/></a>
        </div>
        <div class="col-md-6 col-lg-3 pl-xl-5">
          <p class="mb-2">Make better use of limited space with digital parking management.</p>
          <a class="text-link" href="/park">Discover Wunder Park <img src="/uploads/global/right-arrow.svg" class="right-arrow"/></a>
        </div>
      </div>
    </div>
  </section>


  <section class="fullwidth-bg dark-bg text-light" id="section-global">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6">
          <p>Global Scale</p>
          <h2 class="headline-medium">Powering top brands around the world</h2>
          <p class="">At Wunder Mobility, we think global. Our tech powers mobility services in over 100 cities on 5 continents, and our partners range from major OEMs to city planners to small startups. Our headquarters are in Hamburg, Germany, with further presence in Dortmund and Los Angeles. Our international team of over 50 nationalities would be happy to help find the perfect solution for you and localize it to your market.</p>
        </div>
      </div>

      <div class="row numbers mt-5">
        <div class="col-md-6 col-lg-3">
          <div class="row mb-4">
            <div class="col-4 col-md-12">
              <h3 class="headline-medium">15m+</h3>
            </div>
            <div class="col-8 col-md-12">
              <p>Rides taken in 2019</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="row mb-4">
            <div class="col-4 col-md-12">
              <h3 class="headline-medium">150+</h3>
            </div>
            <div class="col-8 col-md-12">
              <p>Employees around the globe</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="row mb-4">
            <div class="col-4 col-md-12">
              <h3 class="headline-medium">100K</h3>
            </div>
            <div class="col-8 col-md-12">
              <p>Vehicles connected to our OS</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="row mb-4">
            <div class="col-4 col-md-12">
              <h3 class="headline-medium">100+</h3>
            </div>
            <div class="col-8 col-md-12">
              <p>Cities we're active in</p>
            </div>
          </div>
        </div>
      </div>

      <div id="client-logos" class="mt-5 text-center">
        <picture>
          <source media="(min-width: 550px)" srcset="uploads/global/home/scale-logos..png 1x, uploads/global/home/scale-logos@2x.png 2x">
          <img data-src="uploads/global/home/scale-logos__mob.png" data-srcset="uploads/global/home/scale-logos__mob@2x.png 2x" alt="Rows of logos of companies that worked with Wunder Mobility e.g. Ford, Toyota, Lufthansa, Audi, hive, Green Mobility, Segway and more." />
        </picture>
      </div>

    </div>

    <style type="text/css">
      #section-global {
        background: url('uploads/global/home/samgunnar-bg__mob.png') #1F1F1F top right no-repeat;
        background-size: 100%;
        padding-top: 75vw;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        #section-global {
          background-image: url('uploads/global/home/samgunnar-bg__mob@2x.png');
        }
      }
      @media only screen and (min-width: 768px) {
        #section-global {
          background-image: url('uploads/global/home/samgunnar-bg.png');
          background-size: 80%;
          padding-top: 128px;
        }
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          #section-global {
            background-image: url('uploads/global/home/samgunnar-bg@2x.png');
          }
        }
      }
      @media only screen and (min-width: 992px) {
        #section-global {
          background-size: 60%;
        }
      }
    </style>

  </section>

  <section class="home-articles">
    <div class="container-fluid">
      <div class="text-center">
        <h2 class="headline-medium">Explore the future of mobility</h2>
        <p class="">Discover our products, technology and culture on our blog.</p>
        <a class="btn btn-outline-dark mt-4" href="/blog">Learn more</a>
      </div>
    </div>
    <div class="mob-scroll">
      <div class="container-fluid">
        <div class="article-list">
          <div class="row">
          {% assign stickies = site.posts | sort: "publish_date" | reverse | where: "sticky", true | limit:3 %}
          {% for sticky in stickies %}
            <div class="col-4">
              <div class="article-list__single-post">
                <a class="post-imagelink" href="{{ sticky.url }}" title="{{ sticky.title }}" >
                  <img data-src="{{ sticky.featured_image }}" class="" alt="{{ sticky.title }}" >
                </a>
                <p class="small-label mt-3">{{ sticky.category }}</p>
                <h3 class="headline-small">{{ sticky.title }}</h3>
                <a class="font-weight-bold" href="{{ sticky.url }}">Read post</a>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <hr>
    </div>
  </section>



  <section class="home-quotes position-relative">
    <div class="container-fluid">
      <div class="mob-scroll" >
        <div class="featured-quotes">
          {% assign articles = site.articles | sort: "date" | reverse | where:"featured", "true"  %}
          {% for item in articles limit: 3 %}
          <div class="featured-quotes__single-quote">
            <div class="featured-quotes__quote-icon mb-4">
              <svg width="44" height="32" viewBox="0 0 44 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.1757 4.99783C37.53 7.7744 34.7072 11.0369 34.7072 14.7852C37.1135 15.0629 39.1034 16.0578 40.6768 17.7701C42.2502 19.436 43.0369 21.3796 43.0369 23.6009C43.0369 25.961 42.2733 27.9508 40.7462 29.5705C39.2191 31.1902 37.2986 32 34.9848 32C32.3933 32 30.149 30.9588 28.2516 28.8764C26.3543 26.7477 25.4056 24.1793 25.4056 21.1714C25.4056 12.1475 30.4497 5.09038 40.538 0L43.1757 4.99783ZM17.7701 4.99783C12.0781 7.7744 9.2321 11.0369 9.2321 14.7852C11.6847 15.0629 13.6978 16.0578 15.2711 17.7701C16.8445 19.436 17.6312 21.3796 17.6312 23.6009C17.6312 25.961 16.8445 27.9508 15.2711 29.5705C13.744 31.1902 11.8236 32 9.50976 32C6.91829 32 4.6739 30.9588 2.77657 28.8764C0.925524 26.7477 0 24.1793 0 21.1714C0 12.1475 5.02097 5.09038 15.0629 0L17.7701 4.99783Z" fill="#CCCCCC"/></svg>
            </div>
            <h3 class="headline-small"><a href="{{ item.link }}" target="_blank" title="View article '{{ item.title }}' on  external site">{{ item.title }}</a></h3>
            <img class="featured-quotes__logo mt-3 mb-5" data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" />
          </div>
          {% endfor %}
          <div class="featured-quotes__spacer"></div>
        </div>
      </div>
      <ol class="carousel-indicators flat-indicators scroller-indicators position-static mx-0">
        <li class="bg-dark"></li>
        <li class="bg-dark active"></li>
        <li class="bg-dark"></li>
      </ol>
      <div class="sidefade-overlay"></div>
    </div>
  </section>


  <!-- Modal -->

  <div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Brand film modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body">
            <div class="plyr__video-embed" id="player">
              <iframe class="lazy" src="https://player.vimeo.com/video/318402556?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="Contact form modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">Get in touch with us</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="modal-form"  class="ajaxForm" enctype="multipart/form-data" accept-charset="UTF-8" action="https://getform.io/f/17ce73e7-6ba4-4f84-af0e-41307fabf6eb" method="POST">
          <div class="modal-body">
            <input type="hidden" name="subject" id="subject-field" value="General enquiry">
            <input type="hidden" name="country" id="user-country" value="">
            <input type="hidden" name="region" id="user-region" value="EN">
            <input type="hidden" name="lang" id="site-lang" value="en">
            <input type="hidden" name="utm_source" id="utm_source" value="">
            <input type="hidden" name="utm_medium" id="utm_medium" value="">
            <input type="hidden" name="utm_campaign" id="utm_campaign" value="">
            <input type="hidden" name="utm_term" id="utm_term" value="">
            <input type="hidden" name="campaign_id" id="campaign_id" value="">
            <input type="hidden" name="adgroup_id" id="adgroup_id" value="">
            <input type="hidden" name="title_id" id="title_id" value="">
            <input type="hidden" name="first_visit" id="first_visit" value="">
            <div class="container">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Full Name *</label>
                    <input type="text" class="form-control" id="recipient-name" name="name" required placeholder="Your full name"/>
                  </div>
                  <div class="form-group">
                    <label for="email" class="col-form-label">Email *</label>
                    <input type="email" class="form-control" id="email" name="email" required placeholder="your-email@example.com"/>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="phone" class="col-form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="+49 173 1234 567"/>
                  </div>
                  <div class="form-group">
                    <label for="recipient-company" class="col-form-label">Company *</label>
                    <input type="text" class="form-control" id="recipient-company" name="company" placeholder="Your company" required />
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message</label>
                <textarea rows="3" class="form-control" id="message-text" name="message"></textarea>
              </div>
              <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-5">
              <h5 class="form-feedback hidden">Your message has been sent. We'll be in touch!</h5>
            </div>
            <div class="col-sm-7 text-right">
              <button id="form-submit" class="btn btn-primary" onclick="formSubmit(event)">
                Send Message
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>


</main>
