<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Carpool OS</a>
                <a class="list-group-item list-group-item-action" href="#section-stories">Spotlight</a>
                <a class="list-group-item list-group-item-action" href="#section-success">Success</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Connecting Technology with Sustainability</h2>
                <p class="lead">From the customisable app and the operations console to launching and optimising operations, our technology and expertise in frontier markets helps us create the most robust carpooling communities.</p>
              </div>
              <div class="col-md-7">
                <div class="top-image-wrapper">
                  <img class="abs-right" data-src="/uploads/global/carpool_architecture.png" data-srcset="/uploads/global/carpool_architecture@2x.png 2x" />
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-app" class="product-section" >
          <div class="wunder-bg left top-1"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-1">
                  <h2 class="page-heading">Carpooling App</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <ion-icon name="ios-people" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Built by the community.</h3>
                        <p>The Wunder carpool app is built on feedback given to us by more than a million users who use the app every single day and is rated 4+ on all app stores!</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="ios-car" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Match. Interact. Ride.</h3>
                        <p>Create your ride as a passenger or a driver within the same app, and our smart routing algorithms will match you with a list of people travelling in your direction.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <ion-icon name="finger-print" class="align-self-start mr-4"></ion-icon>
                      <div class="m-body">
                        <h3 class="text-blue">Safe, Secure & Reliable.</h3>
                        <p>The app offers driver/passenger's social media profile links, real time ride tracking and government ID verifications in order to maintain end to end security.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-0">
                  <img src="/uploads/global/carpool-phone.png" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-admin" class="product-section">
          <div class="wunder-bg right top-2"></div>
          <div class="row" data-aos="fade-up">
            <div class="col-lg-9 offset-lg-3">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="page-heading">Tracking and Measurement</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <p>Our Operator Dashboard offers you all metrics such as rides, successful drivers and passengers, service levels, costs etc that would help you stay up to date with all your carpooling operations at the click of a button. All data is available for a variety of time intervals.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="abs-image-wrapper">
                    <img class="abs-right ml-auto d-block mr-auto mt-5 mt-md-0" src="/uploads/global/macbook-carpool2.png"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
  </div>

  <section class="block block-stories" id="section-stories">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <h2 class="page-heading mb-3">Spotlight</h2>
          <p class="lead">The Wunder Carpool OS is already solving problems around the globe.</p>
          <div id="accordion" class="horizontal-accordion">
            <div class="card expand">
                <div class="card-closed-display">
                  <h3 class="mb-3">Pollution</h3>
                  <p class="card-text show">With the growning number of personally owned vehicles, air quality around the world is becoming hazardous.</p>
                  <p class="card-text">In <strong class="text-blue">New Delhi</strong>, one of the most polluted cities in the world, we helped reduce CO2 levels by 20,000 kg last month. And we’re growing.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/delhi-pollution.png" />
            </div>
            <div class="card">
                <div class="card-closed-display">
                  <h3 class="mb-3">Congestion</h3>
                  <p class="card-text show">It's not always easy to add extra lanes to roads, but our carpool product introduces another way to decongest.</p>
                  <p class="card-text">In <strong class="text-blue">Manila</strong>, one of the most congested cities in the world, we help keep more than 50,000 cars off the road every single day.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/manila-traffic.png" />
            </div>
            <div class="card">
                <div class="card-closed-display">
                  <h3 class="mb-3">Safety</h3>
                  <p class="card-text show">With city populations breaching 25 million around the world, finding a safe & comfortable community isn't always so easy.</p>
                  <p class="card-text">In <strong class="text-blue">Rio de Janeiro</strong>, one of the most violent cities in the world, we’re creating one of the world’s largest carpooling communities.</p>
                  <ion-icon name="ios-add-circle-outline"></ion-icon>
                </div>
                <img class="card-inner-image" src="/uploads/global/rio-incar.png" />
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


  <section class="block block-important-numbers" id="section-success">

    <div class="success__wrapper block-full-right col-2-in">
      <div class="container container-fullright">

        <div class="numbers__wrapper">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Success in Numbers</h2>
              <h2 class="main-heading">On a Global scale</h2>

              <div class="important-numbers__stats">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">5<small>million</small></div>
                      <p>Shared rides</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">6<small>cities</small></div>
                      <p>with Wunder carpool communities</p>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="important-numbers__stat-wrapper">
                      <div class="important-numbers__stat">1+<small>million</small></div>
                      <p>Carpoolers sharing seats</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- end of success wrapper -->

  </section>
</main>
