<main class="with-form larger">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-os">The app</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-benefits">Business ready</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-steps">Get started</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">

    <section id="section-os" class="my-5 my-md-0 mt-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto" style="max-width: 650px;">
              <h2 class="page-heading text-center">Technology for carpooling & parking</h2>
              <p class="section-intro text-center">Carpooling is a fast and fun way for employees to drive to work together. Co-workers on similar routes can share their vehicle, reducing strain on your parking and on the road.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-commute" class="product-section grey-bg" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5">
                <img data-src="/uploads/global/phone-mockup_carpool_ride.png" data-srcset="/uploads/global/phone-mockup_carpool_ride@2x.png 2x" class="product-image phone-mockup d-block mx-auto mr-md-auto ml-md-0" />
              </div>
              <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Commuting together</h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Our app enables employees to find each other and ride together. Fewer vehicles means more parking spaces and less traffic.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-park" class="product-section" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5 order-md-1">
                <img data-src="/uploads/global/phone-mockup_carpool_parking.png" data-srcset="/uploads/global/phone-mockup_carpool_parking@2x.png 2x" class=" product-image phone-mockup d-block mx-auto ml-md-auto mr-md-0" />
              </div>
              <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Smart parking integration</h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Give priority parking to employees who carpool, reducing the amount of spaces needed and facility costs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-sustainable" class="product-section grey-bg" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5">
                <img data-src="/uploads/global/phone-mockup_carpool_co2.png" data-srcset="/uploads/global/phone-mockup_carpool_co2@2x.png 2x" class="product-image phone-mockup d-block mx-auto mr-md-auto ml-md-0" />
              </div>
              <div class="col-md-7 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Promote Corporate Sustainability</h2>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Wunder Carpool effectively reduces the environmental impact of commuting.<br><br>Employees can view fun facts like their CO2 saved and top carpoolers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-admin" class="product-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
                <div class="col-md-7 align-self-center text-center text-md-left order-1 order-md-0">
                    <div class="media-text__text">
                      <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">Tracking and Reporting</h2>
                      <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="240">Real-time insights into your carpool operations and monthly CSR reports which allow you to keep track of your positive impact.</p>
                    </div>

                </div>
                <div class="col-md-5 order-0 order-md-1 mb-4 mb-md-0">
                    <div class="right-image-wrapper">
                      <img class="pushed-right ml-auto d-block mr-auto mt-5 mt-md-0" data-src="/uploads/global/mockup_dashboard_5.png" data-srcset="/uploads/global/mockup_dashboard_5@2x.png 2x" />
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-benefits" class="grey-bg new-section pb-120">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9 offset-lg-2">
            <div class="pl-md-5">
              <h2 class="page-heading">Ready for your organization</h2>
              <div class="grid-wrapper two-col">
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="0" src="/uploads/global/icon-finance-policy-gr.svg" alt="Blue outlined parking meter icon" class="mb-3" />
                    <p class="body-intro mb-3">GDPR Compliant</p>
                    <p>We are serious about privacy and security! Wunder Carpool is fully GDPR compliant.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" data-aos-delay="200" src="uploads/global/icon-password-lock-gr.svg" class="mb-3" />
                    <p class="body-intro mb-2">SSO Authentication</p>
                    <p>We offer secure access to your carpooling organization via e-mail, phone or Single Sign-On (SSO).</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="/uploads/global/icon-portfolio-gr.svg" alt="Blue outlined icon of a happy face" class="mb-3" />
                    <p class="body-intro mb-2">Operations & Analytics Reports</p>
                    <p>Our regular reporting gives a comprehensive insight in carpooling operations, parking efficiency gains and environmental impact.</p>
                  </div>
                </div>
                <div class="grid-box">
                  <div class="feature-box__wrapper">
                    <img data-aos="zoom-in" src="uploads/global/icon-iphone-gr.svg" class="mb-3" />
                    <p class="body-intro mb-2">Branded Experience</p>
                    <p>Wunder Carpool can be customized to reflect the identity of your brand in naming, colors and company logos.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-steps" class="product-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-1 mt-4">Get set up for Success</h2>
            <p class="section-intro">We’ll help get your team get started in under a month.</p>
            <div class="row mt-5">
              <div class="col-md-4">
                <div class="step-block m">
                  <div class="row">
                    <div class="col-2">
                      <h3 class="text-blue" data-aos="soft-up" data-aos-delay="0">01</h3>
                    </div>
                    <div class="col-10">
                      <h3 class="mb-3">Plan & Customize</h3>
                      <ul>
                        <li>We’ll brand the app for you with your logo & custom design.</li>
                        <li>Configure the platform to your needs</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="step-block">
                  <div class="row">
                    <div class="col-2">
                      <h3 class="text-blue" data-aos="soft-up" data-aos-delay="100">02</h3>
                    </div>
                    <div class="col-10">
                      <h3 class="mb-3">Build & Launch</h3>
                      <ul>
                        <li>Design a launch strategy</li>
                        <li>Launch your carpool platform</li>
                        <li>Build a community of carpoolers</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="step-block m">
                  <div class="row">
                    <div class="col-2">
                      <h3 class="text-blue" data-aos="soft-up" data-aos-delay="200">03</h3>
                    </div>
                    <div class="col-10">
                      <h3 class="mb-3">Monitor & Improve</h3>
                      <ul>
                        <li>Monitor your operations</li>
                        <li>Improve your platform</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </div>

</main>
