<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block mb-5">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action" href="#section-os">Wunder Park</a>
                <a class="list-group-item list-group-item-action" href="#section-parkhardware">Hardware</a>
                <a class="list-group-item list-group-item-action" href="#section-parksoftware">Software</a>
                <a class="list-group-item list-group-item-action" href="#section-parkadmin">Mission Control</a>
                <a class="list-group-item list-group-item-action" href="#section-value">Value</a>
                <a class="list-group-item list-group-item-action" href="#section-contact">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper" style="padding-bottom: 100px; margin-bottom:-100px">
    <div class="container">

      <div class="row">
        <div class="col-lg-10 offset-lg-2">
          <section id="section-os">
            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">We Deliver a full range integration</h2>
                <p class="lead">Intelligent hardware works with self learning software to make parking easier for drivers, car park operators and corporates.</p>
                <br>
                <br>
                <div class="card mt-3">
                  <ul class="list-group list-group-flush icon-list">
                    <li class="list-group-item"><img src="/uploads/global/remote-control.svg" class="card-left" /> <span class="icon-list__text">Hardware</span></li>
                    <li class="list-group-item"><img src="/uploads/global/laptop-smartphone.svg" class="card-left" /> <span class="icon-list__text">Software</span></li>
                    <li class="list-group-item"><img src="/uploads/global/presentation.svg" class="card-left" /> <span class="icon-list__text">Mission Control</span></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-7 align-self-center">
                <div class="top-image-wrapper">
                  <!--<img class="abs-right" data-src="/uploads/global/park-arch.jpg" data-srcset="/uploads/global/park-arch@2x.jpg 2x"  />-->
                  <svg class="abs-right" height="678" viewBox="0 0 1022 678" width="1022" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g fill="none" fill-rule="evenodd">
                      <path d="m0 0h1022v678h-1022z" fill="#fff"/>
                      <image height="678" width="1022" xlink:href="/uploads/global/park-arch@2x.jpg"/>
                      <polyline id="Path-10" stroke="#2A6ED9" points="674.672363 360.730957 643.44873 346.776367 458.173828 511.686523 243.407227 421.750977 261.923828 405.269531"></polyline>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="product-area">

        <section id="section-parkhardware" class="product-section" >

          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/remote-control.svg" class="icon-left" /> Hardware Overview</h2>
              <div class="row">
                <div class="col-md-11 offset-md-1">

                  <div class="row">
                    <div class="col-md-6 offset-md-1 order-md-1 align-self-center">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Parking Access Management</h3>
                            <p>Our state-of-the-art automatic parking terminal allows quick and easy access to parking spots through automatic license plate recognition mechanisms and QR code scanners. It's compatible with all existing solutions.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Authentification of license plates or QR codes</li>
                              <li>Reliable functionality due to high detection rate</li>
                              <li>Compatible with other existing terminals and can be used at the same time</li>
                              <li>Digital payment systems are available on request</li>
                              <li>Increases flow of traffic, reduces wait times for employees and guests</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">More details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 order-md-0">
                      <img data-src="/uploads/global/parkterminal.jpg" data-srcset="/uploads/global/parkterminal@2x.jpg 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="row mt-5">
                    <div class="col-md-6 offset-md-1 order-md-0 mt-5 align-self-center">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">Display Signs</h3>
                            <p>Our reservation display LCDs enable personalized parking space reservation. Guests will be individually greeted when they arrive at their reserved parking spot.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>High-quality LCD displays clearly indicate which parking spots are reserved</li>
                              <li>Greet applicants, guests and employees right as they're parking</li>
                              <li>Long names and numbers have plenty of room on wide display screens</li>
                              <li>High-resolution & easy to read</li>
                              <li>Dynamic parking spot reservation and management increases the utilization rate of each spot</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">More details</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5 order-md-1">
                      <img data-src="/uploads/global/parksign.jpg" data-srcset="/uploads/global/parksign@2x.jpg 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-parksoftware" class="product-section" >

          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading"><img src="/uploads/global/laptop-smartphone.svg" class="icon-left" /> Software</h2>
              <div class="row">
                <div class="col-md-11 offset-md-1">

                  <div class="row">
                    <div class="col-md-6 offset-md-1 order-md-1 align-self-center">
                      <div class="feature-list">
                        <div class="single-feature">
                          <div class="m-body">
                            <h3 class="text-blue">The Booking App</h3>
                            <p>Our booking app helps companies allocate available parking slots as efficiently as possible to employees, guests and applicants. Space utilization is thus almost 100%.</p>
                          </div>
                        </div>
                        <div class="content-dropdown">
                          <div class="content-dropdown__content">
                            <ul class="dropdown-padded">
                              <li>Automatic authentification when leaving or entering through license plate recognition software</li>
                              <li>Gate opes after successful authentification</li>
                              <li>Alternative authentification can be completed with a QR scanner</li>
                              <li>Data is sent to the dashboard in real time</li>
                            </ul>
                          </div>
                          <div class="content-dropdown__opener">
                            <a class="with-down-arrow text-blue">More details</a>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-5 order-md-0">
                      <img data-src="/uploads/global/park-phoneqr.png" data-srcset="/uploads/global/park-phoneqr@2x.png 2x" class="product-image ml-auto d-block mr-auto mt-5 mt-md-0" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-parkadmin" class="product-section" >
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-6 offset-md-1 order-md-0" data-aos="fade-up" data-aos-delay="0">
                  <h2 class="page-heading"><img src="/uploads/global/presentation.svg" class="icon-left" /> Mission Control</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Operating Dashboard</h3>
                        <p>In addition to real-time data, analysis functions and user management functions, our dashboard is optimised to provide all parking space information and personal access to our hardware data and controls.</p>
                      </div>
                    </div>
                    <div class="content-dropdown">
                      <div class="content-dropdown__content">
                        <ul class="dropdown-padded">
                          <li>Detailed real-time information regarding the status of all spots in the entire parking garage/area is always viewable</li>
                          <li>Available spots and/or incorrectly parked cars can also be managed on the dashboard</li>
                          <li>Data analysis enables prognoses of future parking spot availability</li>
                          <li>If optional digital payment system is selected, all payments and their status can be managed on the dashboard</li>
                        </ul>
                      </div>
                      <div class="content-dropdown__opener">
                        <a class="with-down-arrow text-blue">More details</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 order-md-1" data-aos="fade-up" data-aos-delay="150">
                  <img data-src="/uploads/global/park-dashboard.png" class="product-image ml-auto d-block mr-auto mr-md-0 mt-5 mt-md-0 mw-auto" />
                </div>
              </div>
            </div>
          </div>
        </section>


        <section id="section-value" class="product-section grid-section" >
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading mb-2">Value Proposition</h2>
              <p class="lead">Just a few of the ways our Wunder Park solution can help you</p>
              <div class="icon-grid__grid">
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/parking-meter.svg" alt="Parking Meter icon" >
                  <h4 class="mt-2">Parking Space Utilisation</h4>
                  <p class="mt-2">Optimize your parking space for maximum efficiency</p>
                </div>
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/dollarbill.svg" alt="Dollar Bill" >
                  <h4 class="mt-2">Cost Reductions</h4>
                  <p class="mt-2">More effective space management means less costs</p>
                </div>
                <div class="icon-grid__item">
                  <img data-src="/uploads/global/happy-face.svg" alt="Happy face">
                  <h4 class="mt-2">Employee Satisfaction</h4>
                  <p class="mt-2">No more wasted time searching for a parking spot</p>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section class="block block-stories mt-8" id="section-stories">
          <div class="container">
            <div class="row">
              <div class="col-lg-10 offset-lg-2">
                <h2 class="page-heading mb-3">Stories</h2>
                <p class="lead w-sm-50">Businesses worldwide are using our smart parking technology:</p>
                <div id="accordion" class="horizontal-accordion image-top">
                  <div class="card expand">
                    <img class="card-outer-image" src="/uploads/global/bmw-ecar.jpg" srcset="/uploads/global/bmw-ecar@2x.jpg 2x" />
                    <img class="card-logo" data-src="/uploads/global/st-gallen.png" data-srcset="/uploads/global/st-gallen@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Our project with the city of St. Gallen, Switzerland was focused on high-traffic areas in the center of town. The goal was to work with local public utility companies and the St. Gallen police force in reducing CO2 emissions significantly and thereby increasing the quality of life for all citizens. <br><br>Our cutting-edge software solutions turned out to be a viable, effective solution for the city.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-outer-image" src="/uploads/global/barrier-real.jpg" srcset="/uploads/global/barrier-real@2x.jpg 2x" />
                    <img class="card-logo" src="/uploads/global/porsche_logo_PNG1.png" srcset="/uploads/global/porsche_logo_PNG1@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">We’re maximizing Porsche’s employee parking potential with unique, state-of-the art technology.<br><br> Our easy-to-use terminal and scanner system makes it easy for employees to find their spot without having to wait in line. That's how our technology is building the foundations of efficient, next-gen parking management.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-outer-image" src="/uploads/global/carpark.jpg" srcset="/uploads/global/carpark@2x.jpg 2x" />
                    <img class="card-logo" data-src="/uploads/global/Telefonica_Logo.png" data-srcset="/uploads/global/Telefonica_Logo@2x.png 2x" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">The goal of our project with Telefonica München was to manage a large company’s parking system in an intelligent, efficient way. <br><br>Our access terminal automatically scans license plates, allowing cars to drive directly into their parking garage without having to stop at a gate and greatly reducing traffic build-up in the process. The booking app then leads employees to their parking spot, which is reserved for them in advance. That's hassle-free employee parking.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

        </section>

      </div>

    </div>
  </div>


</main>
