<section class="client-logos">
  <div class="logo-boxes sq flex-wrap flex-md-no-wrap">
    <div class="single-box mt-3 mt-md-0 partners-text">
      <p class="mb-0 mb-md-2">Our partners</p>
    </div>
    <div class="single-box">
      <a href="https://www.globalyadea.com/" target="_blank" title="Yadea premium e-mobility website">
        <img data-src="/uploads/2020/05/07/Yadea-Logo.png" data-srcset="/uploads/2020/05/07/Yadea-Logo@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://okai.co/" target="_blank" title="Okai scooters website">
        <img data-src="/uploads/2020/05/07/Okai.png" data-srcset="/uploads/2020/05/07/Okai@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.segway.com/" target="_blank" title="Segway Ninebot website">
        <img data-src="/uploads/2020/05/07/Segway.png" data-srcset="/uploads/2020/05/07/Segway@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://hongjibike.com/?lang=en" target="_blank" title="Hongji Bike - reinventing the bicycle website">
        <img data-src="/uploads/2020/05/07/Hongji.png" data-srcset="/uploads/2020/05/07/Hongji@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.acton.space/" target="_blank" title="Acton scooters">
        <img data-src="/uploads/2020/05/07/Acton.png" data-srcset="/uploads/2020/05/07/Acton@2x.png 2x" />
      </a>
    </div>
  </div>
</section>


<section class="jumbo-intro">
  <div class="container">
    <div class="row align-items-center pb-5">
      <div class="col-md-5 ">
        <p class="meet-wv" data-aos="fade-in" data-aos-easing="apple-easing">Meet Wunder Vehicles</p>
        <h2 class="headline-large late-riser" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".meet-wv">Build your dream fleet of sharing-ready electric vehicles.</h2>
        <a href="#section-contact" class="btn btn-outline-dark mt-3" data-aos="fade-in" data-aos-easing="apple-easing">Get Started</a>
      </div>
      <div class="col-md-6 offset-md-1 mt-5 mt-md-0">
        <a class="gt-videoplay" href="https://vimeo.com/318402556" target="_blank" data-toggle="modal" data-target="#filmModal">
          <img class="w-100" src="/uploads/global/vehicles-video-poster.jpg" srcset="/uploads/global/vehicles-video-poster@2x.jpg 2x" alt="A black electric scooter branded with the Yadea logo in a romantically lit grey room." />
          <div class="play-icon absolute-middle"></div>
        </a>
      </div>
    </div>
    <hr class="mt-5">
  </div>
</section>


<section id="vehicles-benefits">
  <div class="container">

    <div class="row align-items-center pt-0 pb-5 py-md-5">

      <div class="col-md-5">
        <img class="mb-4 mb-md-0" data-src="uploads/global/vehicle-connectivity.jpg" data-srcset="uploads/global/vehicle-connectivity@2x.jpg 2x" alt="Handsome man standing by an electric moped swiping on his smartphone" />
      </div>
      <div class="col-md-6 offset-md-1 order-md-2 col-lg-5">
        <h2 class="headline-medium wv-connect" data-aos="fade-in" data-aos-easing="apple-easing">Connectivity</h2>
        <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".wv-connect">With our built-in IOT technology, you can cut out third-party devices. Our vehicles are engineered to seamlessly communicate with each other — and with you — to support 24/7 connectivity across your mobility ecosystem.</p>
      </div>

    </div>

    <div class="row align-items-center py-5">

      <div class="col-md-5 offset-md-1 order-md-2">
        <img class="mb-4 mb-md-0" data-src="uploads/global/vehicle-storage.jpg" data-srcset="uploads/global/vehicle-storage@2x.jpg 2x" alt="Someone leans in to an electric kick-scooter, which is standing amongst other hive branded scooters, adjusting the branding sticker with a small knife." />
      </div>
      <div class="col-md-6 offset-lg-1 col-lg-5">
        <h2 class="headline-medium wv-storage" data-aos="fade-in" data-aos-easing="apple-easing">Logistics & Storage</h2>
        <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".wv-storage">We’ll handle all the sourcing, manufacturing and shipping — we’ll even handle storage in our dedicated facility if you’re low on space. Pick out your vehicle of choice, and we’ll pick it up from there.</p>
      </div>

    </div>

    <div class="row align-items-center pt-5 pb-0 py-md-5">

      <div class="col-md-5">
        <img class="mb-4 mb-md-0" data-src="uploads/global/vehicle-customise.jpg" data-srcset="uploads/global/vehicle-customise@2x.jpg 2x" alt="The front of a Human Forest branded, green bike standard next to a modern glass building." />
      </div>
      <div class="col-md-6 offset-md-1 order-md-2 col-lg-5">
        <h2 class="headline-medium wv-custom" data-aos="fade-in" data-aos-easing="apple-easing">Customization</h2>
        <p data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".wv-custom">Your vehicles are your vision. Choose your company’s colors and icons and we’ll bring them to life, providing a fully branded experience for your customers and the world.</p>
      </div>

    </div>


    <div class="row my-5 text-md-center pt-5">
      <div class="col-12 order-md-2 my-4 my-md-5">
        <picture>
          <source media="(min-width: 10px)" srcset="uploads/global/vehicle-finance.jpg 1x, uploads/global/vehicle-finance@2x.jpg 2x">
          <img data-src="uploads/global/vehicle-finance_mob.jpg" data-srcset="uploads/global/vehicle-finance_mob@2x.jpg 2x" alt="2 men and 1 woman together on a sofa checking out something Wunder Vehicles related on a silver grey macbook pro." />
        </picture>
      </div>
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h3 class="headline-large mb-4 vehicles-financial" data-aos="fade-in" data-aos-easing="apple-easing" >Wunder Financial Services</h3>
        <p class="mb-5">Wunder Finance can help you turn your dream fleet into a reality. Flexible financing options and consulting services are available to help you achieve your goals. Pay in installments and get support when you need it so we can make your ride a little smoother.</p>
        <a href="#section-contact" class="btn btn-outline-dark mb-5" data-aos="fade-in" data-aos-easing="apple-easing" data-aos-anchor=".rent-getstarted">Learn more</a>
      </div>
    </div>

  </div>

</section>

<section id="yadea-section" class="grey-bridge mb-0 pb-5 fullwidth-bg">
  <div class="container text-center">
    <div class="row pb-md-4">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="headline-large">Driven by excellence</h2>
        <p>We searched the globe to connect with the most reliable partners in the industry.
          All our vehicles have been test driven for durability, quality and rideability. We want our vehicles to be the industry’s best, and we’re not hitting the brakes until they are.
        </p>
      </div>
    </div>
    <div class="bgimage-section mt-5" id="bgimage-yadea">
      <div class="bgimage-section__text text-white">
        <h3 class="headline-large yadeatitle mb-3" data-aos="soft-up" data-aos-easing="apple-easing">The Sharing-Ready <span class="d-block">Yadea G5</span></h3>
        <p class="text-link mb-4" data-aos="soft-up" data-aos-easing="apple-easing" data-aos-anchor=".yadeatitle">Powered by Wunder Mobility</p>
        <a href="/vehicles/yadea-g5" class="btn btn-outline-light mt-3" data-aos="fade-in" data-aos-easing="apple-easing">Learn more</a>
    </div>
  </div>
</section>

<section id="vehicle-catalog" class="py-5">
  <div class="container">
    <h2 class="headline-large mb-5 text-center">Explore our full range of vehicles</h2>

    <div class="catalog-filters mb-5 pt-5">
      <div class="simple-radio-group d-flex justify-content-around justify-content-md-center flex-wrap">
        <p class="pr-md-5 mb-3 mb-md-0">Filter by:</p>
        <div class="break d-md-none"></div>
        <div class="radio-group">
          <input type="radio" name="options" id="option1" checked data-filter="*">
          <label class="text-link" for="option1">All</label>
        </div>
        <div class="radio-group">
          <input type="radio" name="options" id="option2" data-filter=".moped">
          <label class="text-link" for="option2">Mopeds</label>
        </div>
        <div class="radio-group">
          <input type="radio" name="options" id="option3" data-filter=".bike">
          <label class="text-link" for="option3">Bikes</label>
        </div>
        <div class="radio-group">
          <input type="radio" name="options" id="option4" data-filter=".kickscooter">
          <label class="text-link" for="option4">Kickscooters</label>
        </div>
      </div>

    </div>

    <div id="catalog-list">
      <div class="row">
      {% assign featuredVehicles = site.vehicles | sort: "brand" | where: "published", true | where: "featured", true %}
      {% assign nonFeaturedVehicles = site.vehicles | sort: "brand" | where: "published", true | where: "featured", false %}
      {% assign vehicles = featuredVehicles | concat: nonFeaturedVehicles %}
      {% for product in vehicles %}
        <div class="{% if product.featured %}featured{% endif %} catalog-item__wrapper {{ product.type | downcase }}">
          <a class="cursor-pointer" data-toggle="modal" data-target="#commerceModal" data-content="{{ product.url }}">
            <div class="catalog-item">
              {% capture imageURL %}{% if product.list-image.size > 1 %}{{ product.list-image | relative_url }}{% else %}{{ product.image_gallery | first | relative_url }}{% endif %}{% endcapture %}
              <div class="catalog-item__image" style="background-image: url('{{ imageURL }}')">
                <span class="hidden">Wunder Vehicles - {{ product.brand }} {{ product.name }}</span>
              </div>
              <p class="text-link mt-3">{{ product.brand }} {{ product.name }}</p>
            </div>
          </a>
        </div>
        {% comment %}
        {% assign modMobile = forloop.index | modulo: 2 %}
        {% if modMobile == 0 %}<div class="w-100 d-md-none"></div>{% endif %}
        {% assign modDesktop = forloop.index | modulo: 3 %}
        {% if modDesktop == 0 %}<div class="w-100 d-none d-md-block"></div>{% endif %}
        {% endcomment %}
      {% endfor %}
      </div>
    </div>

  </div>

</section>


<section id="client-testimonials" class="my-5">
  <div class="container">
    <div class="carousel-wrapper">
      <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-header py-2 d-flex justify-content-between">
          <p>What our clients are saying</p>
          <ol class="carousel-indicators position-static mx-0">
            <li data-target="#testimonialCarousel" data-slide-to="0" class="active bg-dark"></li>
            <li data-target="#testimonialCarousel" data-slide-to="1" class="bg-dark"></li>
          </ol>
        </div>
        <hr>
        <div class="carousel-inner mt-md-5 mt-3 pt-4">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-2">
                <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#F2F2F2"/>
                </svg>
              </div>
              <div class="col-md-10 col-lg-9">
                <blockquote>
                  <h3 class="headline-large">Our close collaboration with Wunder Mobility is a major part of why our scooter sharing system was so successful.</h3>
                  <img src='/uploads/global/felyx-logo.png' srcset='/uploads/global/felyx-logo@2x.png 2x' />
                </blockquote>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-2">
                <svg class="quote-marks" viewBox="0 0 97 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M78 8.90239C67.8006 13.8482 62.701 19.6594 62.701 26.3362C67.0482 26.8308 70.6431 28.603 73.4855 31.6529C76.328 34.6204 77.7492 38.0824 77.7492 42.039C77.7492 46.243 76.3698 49.7874 73.6109 52.6725C70.8521 55.5575 67.3826 57 63.2026 57C58.5209 57 54.4662 55.1453 51.0386 51.436C47.6109 47.6443 45.8971 43.0694 45.8971 37.7115C45.8971 21.6377 55.0096 9.06725 73.2347 0L78 8.90239ZM32.1029 8.90239C21.8199 13.8482 16.6785 19.6594 16.6785 26.3362C21.1093 26.8308 24.746 28.603 27.5884 31.6529C30.4309 34.6204 31.8521 38.0824 31.8521 42.039C31.8521 46.243 30.4309 49.7874 27.5884 52.6725C24.8296 55.5575 21.3601 57 17.1801 57C12.4984 57 8.44373 55.1453 5.01608 51.436C1.67203 47.6443 0 43.0694 0 37.7115C0 21.6377 9.07074 9.06725 27.2122 0L32.1029 8.90239Z" fill="#F2F2F2"/>
                </svg>
              </div>
              <div class="col-md-10 col-lg-9">
                <blockquote>
                  <h3 class="headline-large">Working with Wunder Mobility is fun. They help us build our dream.</h3>
                  <img src='/uploads/global/humanforest_logo.png' srcset='/uploads/global/humanforest_logo@2x.png 2x' />
                  <h3 class="headline-large">&nbsp;</h3>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Modal -->

<div class="modal fade filmmodal" id="filmModal" tabindex="-1" role="dialog" aria-labelledby="Rent film modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="plyr__video-embed" id="player">
            <iframe class="lazy" src="https://player.vimeo.com/video/423405261?title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade commercemodal" id="commerceModal" tabindex="-1" role="dialog" aria-labelledby="Wunder Vehicles product modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-body">
          <div class="text-center my-5 spinning-wrapper">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <div class="api-content"></div>
        </div>
    </div>
  </div>
</div>
