<section class="client-logos">
  <div class="logo-boxes sq">
    <div class="single-box">
      <a href="https://www.whistle.ca/" target="_blank" title="Whistle! — The first ride-hailing service in BC, Canada.">
        <img data-src="/uploads/global/client-logos/whistle-sq.png" data-srcset="/uploads/global/client-logos/whistle-sq@2x.png 2x" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.coastercycles.com/" target="_blank" title="Coaster Cycles — Inspiring communities and brands to move, connect, and deliver.">
        <img data-src="/uploads/global/client-logos/coaster-sq.svg" />
      </a>
    </div>
    <div class="single-box">
      <a href="https://www.christinas.vn/search/transportation/" target="_blank" title="Müvv — Offering travellers a simpler way to get around Vietnam.">
        <img data-src="/uploads/global/client-logos/muvv-sq.svg" />
      </a>
    </div>
  </div>
</section>

<main>

  <section class="jumbo-intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="text-center px-lg-5">
            <p>Meet Wunder Shuttle</p>
            <h2 class="headline-medium">Ridehailing technology designed to future-proof your business. Turn first-time riders into loyal customers, within 2 weeks.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="block block-video-1" id="main-video">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="plyr-video px-lg-4 px-xl-5 position-relative">
            <div class="plyr__video-embed" id="player">
              <iframe src="https://player.vimeo.com/video/384963127?title=0&byline=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <a id="shuttle-playbtn" class="plyr__custom-starter invert gt-videoplay"></a>
          </div>
        </div>
      </div>
      <div class="text-center mt-5">
        <a class="btn btn-primary gt-navcta" href="#section-contact">
          Contact us
        </a>
      </div>
    </div>

  </section>

  <section class="fullwidth-bg dark-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 order-md-1">
          <div class="phonemockup-animation screens-5">
            <img class="phonemockup-animation_notch" data-src="uploads/global/mockups/notch-black.png" data-srcset="uploads/global/mockups/notch-black@2x.png 2x" alt="Black notch covering a part of the screen as in many new mobile phones" />
            <div class="phonemockup-animation_screen-mask">
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/results.png" srcset="uploads/global/mockups/PAX/results@2x.png 2x" alt="Wunder shuttle screen for search results showing a map with a list of potential vehicles" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/matching.png" srcset="uploads/global/mockups/PAX/matching@2x.png 2x" alt="Wunder shuttle screen showing matching drivers in the area on a map" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/pickup.png" srcset="uploads/global/mockups/PAX/pickup@2x.png 2x" alt="Wunder shuttle screen showing matched driver 'Sarah' and an eta pickup time" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/dropoff.png" srcset="uploads/global/mockups/PAX/dropoff@2x.png 2x" alt="Wunder shuttle screen showing a map with a pin at the dropoff location and an eta" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/PAX/ride-finish.png" srcset="uploads/global/mockups/PAX/ride-finish@2x.png 2x" alt="Wunder shuttle screen showing a review screen to rate a driver with stars" />
            </div>
            <img class="phonemockup-animation_base" src="uploads/global/mockups/mockupbase-black.png" srcset="uploads/global/mockups/mockupbase-black@2x.png 2x" alt="Mobile phone frame for a mockup" />
            <div class="progress-bar"></div>
          </div>
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Passenger App</p>
          <h2 class="headline-large">Ride, smile, repeat.</h2>
          <div class="row">
            <div class="col-xl-8 text-left">
              <p>Get the word out and attract new riders with a stylish, user-friendly app.</p>
              <p>Happy riders become repeat customers. Repeat customers mean more cash for your business.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="fullwidth-bg grey-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="phonemockup-animation screens-5">
            <img class="phonemockup-animation_notch" data-src="uploads/global/mockups/notch-white.png" data-srcset="uploads/global/mockups/notch-white@2x.png 2x" alt="Black notch covering a part of the screen as in many new mobile phones" />
            <div class="phonemockup-animation_screen-mask">
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/request.png" srcset="uploads/global/mockups/DAX/request@2x.png 2x" alt="Wunder shuttle screen for search results showing a map with a list of potential vehicles" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/turn-by-turn_collapsed.png" srcset="uploads/global/mockups/DAX/turn-by-turn_collapsed@2x.png 2x" alt="Wunder shuttle screen showing matching drivers in the area on a map" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/turn-by-turn_dropoff.png" srcset="uploads/global/mockups/DAX/turn-by-turn_dropoff@2x.png 2x" alt="Wunder shuttle screen showing matched driver 'Sarah' and an eta pickup time" />
              <img class="phonemockup-animation_screen" src="uploads/global/mockups/DAX/finish-ride.png" srcset="uploads/global/mockups/DAX/finish-ride@2x.png 2x" alt="Wunder shuttle screen showing a map with a pin at the dropoff location and an eta" />
            </div>
            <img class="phonemockup-animation_base" src="uploads/global/mockups/mockupbase-white.png" srcset="uploads/global/mockups/mockupbase-white@2x.png 2x" alt="Mobile phone frame for a mockup" />
            <div class="progress-bar"></div>
          </div>
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Driver App</p>
          <h2 class="headline-large">Make your drivers happy.</h2>
          <div class="row">
            <div class="col-xl-8 text-left">
              <p>Automatic driver dispatching saves you valuable time and energy.</p>
              <p>Greatly reduce idle time by matching drivers to the next closest rider.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg blue-bg mockup-section my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-sm-left">
          <p>Operator Dashboard</p>
          <h2 class="headline-large">Become a smooth operator.</h2>
          <div class="row">
            <div class="col-xl-8 text-left">
              <p>Say goodbye to spreadsheets with a digital management system. It’s flexible, secure and simple. View data and reports online, track live driver locations and watch your usage rates jump.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 py-5">
          <img class="web-mockup" src="uploads/global/mockups/mockup-shuttle_admin.png" srcset="uploads/global/mockups/mockup-shuttle_admin@2x.png 2x" alt="Wunder shuttle admin screen showing on a white laptop displaying a map and a list of drivers" />
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg white-bg my-0">
    <div class="container-fluid text-center">
      <p>Configuration</p>
      <h2 class="headline-large">Made to be flexible.</h2>
      <div class="row mt-3 pt-5">
        <div class="col-sm-4">
          <img src="uploads/global/icon-sq-car.svg" alt="blue icon of a cool looking car"/>
          <h3 class="headline-small">Vehicle Type</h3>
          <p>Rickshaws, bikes or buses?<br>It’s your choice.</p>
        </div>
        <div class="col-sm-4">
          <img src="uploads/global/icon-sq-pricing.svg" alt="blue icon of a hand holding a dollar sign symbolising getting some sweet sweet cash"/>
          <h3 class="headline-small">Pricing</h3>
          <p>Fixed, dynamic or distance-based.<br>Pick pricing that works for you.</p>
        </div>
        <div class="col-sm-4">
          <img src="uploads/global/icon-sq-payment.svg" alt="blue icon of a phone with a credit card alongside it"/>
          <h3 class="headline-small">Payment</h3>
          <!-- something about stripe -->
          <p style="max-width: 280px;margin: 0 auto;">Card, cash or both. Not a problem with our global payments platform.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="fullwidth-bg grey-fade my-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img class="shuttle-branding" src="uploads/global/shuttle-branding-group.png" srcset="uploads/global/shuttle-branding-group@2x.png 2x" alt="Wunder shuttle screens customized with different colours and vehicles and logos" />
        </div>
        <div class="col-md-6 text-center text-sm-left">
          <p>Branding</p>
          <h2 class="headline-large">Your brand, your app.</h2>
          <div class="row">
            <div class="col-xl-8 text-left">
              <p>Bring your business to life with a branded interface.</p>
              <p>Use your own colors and logos to wow your customers and leave your mark on the world.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <hr class="d-sm-none">
  </div>

  {% comment %}
  <section class="fullwidth-bg white-bg">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h2 class="headline-medium">“They work fast-paced - changing technology and introducing new ideas.”</h2>
          <p>– Takeshi Kakimi, Marubeni</p>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}


</main>
