<!-- Modal -->
<div class="modal fade" id="summitModal" tabindex="-1" role="dialog" aria-labelledby="Event form modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="summitModalLabel">Apply to attend our next meetup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="modal-form"  class="ajaxForm" enctype="multipart/form-data" accept-charset="UTF-8" action="https://getform.io/f/17ce73e7-6ba4-4f84-af0e-41307fabf6eb" method="POST">
        <div class="modal-body">
          <input type="hidden" id="subject-field" value="Attend AutoTech">
          <input type="hidden" name="country" id="user-country" value="">
          <input type="hidden" id="recipient-firstname" name="firstname" />
          <input type="hidden" name="utm_source" id="utm_source" value="">
          <input type="hidden" name="utm_medium" id="utm_medium" value="">
          <input type="hidden" name="utm_campaign" id="utm_campaign" value="">
          <input type="hidden" name="utm_campaignid" id="utm_campaignid" value="">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Full Name *</label>
                  <input type="text" class="form-control" id="recipient-name" name="name" required />
                </div>
                <div class="form-group">
                  <label for="email" class="col-form-label">Email *</label>
                  <input type="email" class="form-control" id="email" name="email" required />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-tel" class="col-form-label">Phone Number</label>
                  <input type="text" class="form-control" id="recipient-tel" name="tel" />
                </div>
                <div class="form-group">
                  <label for="recipient-job" class="col-form-label">Job Title *</label>
                  <input type="text" class="form-control" id="recipient-job" name="job" required />
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-company" class="col-form-label">Company *</label>
                  <input type="text" class="form-control" id="recipient-company" name="company" required />
                </div>
                <div class="form-group">
                  <label for="recipient-address1" class="col-form-label">Company Address 1 *</label>
                  <input type="text" class="form-control" id="recipient-address1" name="address1" required />
                </div>
                <div class="form-group">
                  <label for="recipient-address2" class="col-form-label">Company Address 2</label>
                  <input type="text" class="form-control" id="recipient-address2" name="address2" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="recipient-city" class="col-form-label">Company City/State *</label>
                  <input type="text" class="form-control" id="recipient-city" name="city" required />
                </div>
                <div class="form-group">
                  <label for="recipient-postcode" class="col-form-label">Company Zip/Postcode *</label>
                  <input type="text" class="form-control" id="recipient-postcode" name="postcode" required />
                </div>
                <div class="form-group">
                  <label for="recipient-country" class="col-form-label">Company Country *</label>
                  <input type="text" class="form-control" id="recipient-country" name="field-country" required />
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Message (optional)</label>
              <textarea rows="3" class="form-control" id="message-text" name="message"></textarea>
            </div>
            <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-sm-5">
            <h5 class="form-feedback hidden">Your message has been sent. We'll be in touch!</h5>
          </div>
          <div class="col-sm-7 text-right">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="form-submit" class="btn btn-primary" onclick="formSubmit(event)">
              Send Message
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
