<div class="picture-slider__wrapper">
  <div class="container">
    <h2 class="page-heading">{{ section.heading }}</h2>
    <div class="picture-slider picture-slider--blue" style="width: 100%">
      {% for item in section.items %}
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img data-src="{{ item.big_image | remove: '@2x' }}" data-srcset="{{ item.big_image }} 2x" alt="{{ item.big_alt }}" class="lazy" />
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">{{ item.quote }}</p>
                        <p class="picture-slider__author">{{ item.author }}</p>
                        <p class="picture-slider__authorinfo">{{ item.department }}<br>at {{ item.location }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
      {% endfor %}
    </div>
    <div class="picture-slider__menu">
      {% for item in section.items %}
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image {% if forloop.first %}current{% endif %}">
        <img data-src="{{ item.small_image | remove: '@2x' }}" data-srcset="{{ item.small_image }} 2x" class="lazy" alt="{{ item.small_alt }}" />
      </div>
      <!-- #end Slider Menu Item -->
      {% endfor %}
    </div>
  </div>
</div>
