<div class="picture-slider__wrapper">
  <div class="container">
    <h2 class="page-heading">{{ section.heading }}</h2>
    <div class="picture-slider picture-slider--blue" style="width: 100%">
      {% for block in section.item %}
        <!-- Slider Item -->
        <div class="picture-slider__item">
            <div class="">
                <div class="picture-slider__background">
                    <img src="{{ block.big_image }}" alt="{{ block.big_alt }}" class="lazyload"/>
                </div>
                <div class="container picture-slider__content-wrapper">
                    <div class="picture-slider__content">
                        <p class="picture-slider__quote">{{ block.quote }}</p>
                        <p class="picture-slider__author">{{ block.author }}</p>
                        <p class="picture-slider__authorinfo">{{ block.department }}<br>at {{ block.location }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- #end Slider Item -->
      {% endfor %}
    </div>
    <div class="picture-slider__menu">
      {% for block in section.item %}
      <!-- Slider Menu Item -->
      <div class="picture-slider__menu-image current">
        <img src="{{ block.small_image }}" alt="{{ block.small_alt }}" />
      </div>
      <!-- #end Slider Menu Item -->
      {% endfor %}
    </div>
  </div>
</div>
