<section class="block block-hero-2">
  <div class="video-banner">

    {% if section.background_video %}
    <div class="video-banner__overflow"></div>
    <video autoplay playinline loop muted poster="{{ section.background_image }}" class="video-banner__video" id="videoBg">
        <source src="{{ site.url }}/uploads/global/jared-drone4.mp4" type="video/mp4" i>
    </video>
    {% endif %}
    {% if page.dir != "/careers/" and page.title != "Home" and page.title != "Summit" %}
    <div class="video-banner__overflow"></div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col {% if page.dir != '/careers/' %}offset-md-1{% endif %}">
          <div class="video-banner__inner-content">
            <div class="video-banner__title-wrapper">
                <h1 class="video-banner__title">{{ section.headline }}</h1>
                {% if section.cta.enabled %}
                <a class="round-cta dark" href="{{ section.cta.url }}" {% if page.title == 'Summit' %}data-toggle="modal" data-target="#summitModal" data-subject="attend"{% endif %}>{{ section.cta.button_text }}</a>
                {% endif %}
                {% if section.cta_2.enabled %}
                <a class="round-cta no-arrow{% if section.cta_2.button_text contains 'Film'%} with-play{% else %} clear{% endif %}" href="{{ section.cta_2.url }}" target="_blank">{{ section.cta_2.button_text }}</a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  {% if section.background_image %}
  <style>
  .video-banner {
    background-image: url("{{ section.background_image | remove: '@2x' | relative_url }}");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .video-banner {
      background-image: url('{{ section.background_image | relative_url }}');
    }
  }
  {% if section.background_video %}
  @media screen and (min-width: 769px) {
    .video-banner {
      background-image: none;
    }
  }
  {% endif %}
  </style>
  {% endif %}

  {% if section.show_logos %}
    {% include block-logo-list.html %}
  {% endif %}

  {% if page.title == 'Summit' %}
    {% include block-summit-info.html %}
  {% endif %}



</section>

{% if section.intro_text %}
<div class="intro-text">
  <a class="round-cta" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
  <div class="container">
    <div class="row">
      <div class="intro-text__content offset-sm-2 col-sm-8">
        <p>
          {{ section.intro_text }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
