{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section class="block block-icon-text-links">
  <div class="container">
    <div class="our-teams">
      <h2 class="page-heading">What's your passion?</h2>
      <div class="our-teams__grid">
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=engineering" class="our-teams__item" title="See engineering positions">
          <img data-src="/uploads/global/teams_01.svg" />
          <h4>Engineering</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=product" class="our-teams__item">
            <!--<img data-src="/uploads/global/teams_02.svg" /> -->
            <div class="animated-svg" id="product-anim"></div>
            <h4>Product</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=analytics" class="our-teams__item">
          <img data-src="/uploads/global/teams_03.svg" />
          <h4>Data</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=design" class="our-teams__item">
          <img data-src="/uploads/global/teams_04.svg" />
          <h4>Design</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=marketing" class="our-teams__item">
          <img data-src="/uploads/global/teams_07.svg" />
          <h4>Marketing</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=communications" class="our-teams__item">
          <img data-src="/uploads/global/teams_05.svg" />
          <h4>Communications<br> & PR</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=finance" class="our-teams__item">
          <img data-src="/uploads/global/teams_08.svg" />
          <h4>Finance<br> & Legal</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=talent" class="our-teams__item">
          <img data-src="/uploads/global/teams_09.svg" />
          <h4>Talent</h4>
        </a>
        <!-- #End Team Item -->
        <!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=business" class="our-teams__item">
          <img data-src="/uploads/global/teams_10.svg" />
          <h4>Business Development</h4>
        </a>
        <!-- #End Team Item --><!-- #Start Team Item -->
        <a href="/careers/jobs.html?team=marketing" class="our-teams__item">
          <img data-src="/uploads/global/teams_11.svg" />
          <h4>Operations</h4>
        </a>
        <!-- #End Team Item -->
      </div>
    </div>
  </div>
</section>
{% endif %}
