<section class="block block-speaker-lineup gradient-block mt-5" id="section-speakers">

  <div class="speaker__wrapper block-full-right col-2-in">
    <div class="container container-fullright">

      <h2 class="page-heading">Speaker Line-up</h2>

    </div>
  </div>
  <div class="speaker-cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 offset-lg-3">

          <div class="speakers-container">

            {% for speaker in events-section.speakers %}

            <div class="card speaker-card">
              <img data-src="/uploads/global/BrunoGinnuth.jpg" data-srcset="/uploads/global/BrunoGinnuth@2x.jpg 2x" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">{{ speaker.name }}</h6>
                <p class="card-subtitle  text-muted">{{ speaker.job_title }} <br><span class="company">{{ speaker.company }}</span></p>
                <img class="card-footer-logo" data-src="/uploads/global/Logo_CleverShuttle.jpg" data-srcset="/uploads/global/Logo_CleverShuttle@2x.jpg 2x"  alt="CleverShuttle logo" />
              </div>
            </div>

            {% endfor %}

          </div>

        </div>
      </div>

    </div>
  </div> <!-- end of speaker cards -->

</section>
