<section class="block block-thumbnail-gallery">
  <div class="container" id="section-gallery">
    {% comment %}<div class="wunder-bg right top-2"></div>{% endcomment %}

    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <h2 class="page-heading mb-3">{{ section.heading }}</h2>
        <section class="photo-gallery mt-5" id="lightgallery">
          {% for image in section.photo_collection %}
            {% capture path %}
            {{ image | replace: '/uploads', 'uploads' }}
            {% endcapture %}
            <a href="{{ image }}" data-toggle="lightbox" data-gallery="example-gallery"  title="View image {{ forloop.index }}">
              <img data-src="https://images.weserv.nl/?url=https://www.wundermobility.com/{{ path | strip | strip_newlines }}&w=250" alt="Photo in gallery" data-srcset="https://images.weserv.nl/?url=https://www.wundermobility.com/{{ path | strip | strip_newlines }}&w=500 2x">
            </a>
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</section>
