<section class="block block-speaker-lineup gradient-block" id="section-speakers">

  <div class="speaker__wrapper block-full-right col-2-in">
    <div class="container container-fullright">

      <h2 class="page-heading">{{ section.heading | default: 'Speaker / Panelist Line-up' }} </h2>
      <p class="lead">{{ section.sub-heading }}</p>

    </div>
  </div>
  <div class="speaker-cards">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 offset-lg-3">

          <div class="speakers-container">

            {% for speaker in section.speakers %}

            <div class="card speaker-card">
              {% capture speaker_photo %}{{ speaker.speaker_photo }}{% endcapture %}
              {% capture speaker_alt %}Photo of {{ speaker.name }}{% endcapture %}
              <img {% include resp_image.html file=speaker_photo  alt=speaker_alt %} class="card-img-top">
              <div class="card-body">
                {% if speaker.bio != '' %}<a class="card-link info-icon" tabindex=0 role="button" data-container="body" data-offset=40 data-trigger="focus" data-toggle="popover"  data-html=true data-placement="bottom" data-content="<h6 class='card-title'>{{ speaker.name }}</h6>
                <p class='card-subtitle  text-muted'>{{ speaker.job_title }} <br><span class='company'>{{ speaker.company }}</span></p>{{ speaker.bio | newline_to_br }}"> <ion-icon name="add-circle" ></ion-icon></a>{% endif %}
                {% if speaker.linkedin != '' %}<a class="linkedin-icon card-link" href="{{ speaker.linkedin }}" target="_blank" title="LinkedIn profile of {{ speaker.name }}"><ion-icon name="logo-linkedin"></ion-icon></a>{% endif %}
                <h6 class="card-title">{{ speaker.name }}</h6>
                <p class="card-subtitle  text-muted">{{ speaker.job_title }} <br><span class="company">{{ speaker.company }}</span></p>
                {% capture company_logo %}{{ speaker.company_logo }}{% endcapture %}
                {% capture logo_alt %}"Logo for {{ speaker.company }}"{% endcapture %}
                <img class="card-footer-logo" {% include resp_image.html file=company_logo alt=logo_alt %}  />
              </div>
            </div>

            {% endfor %}

          </div>

        </div>
      </div>

    </div>
  </div> <!-- end of speaker cards -->

</section>
