{% if section.menu != null %}
  {% assign menu_name = section.menu %}
{% else %}
  {% assign menu_name = 'wunder-main' %}
{% endif %}
{% assign menu = site.data.menus.[menu_name] %}
<nav class="navbar fixed-top navbar-expand-md block block-header-2 px-4">
  <a class="navbar-brand" href="{{ site.url }}{% unless page.lang == 'en' %}/{{ page.lang }}{% endunless %}">
    <img src="{{ site.data.global.logo }}" alt="{{ site.title }}" class="">
  </a>
  <button class="hamburger hamburger--collapse header__hamburger d-md-none" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="list-unstyled navbar-nav ml-auto">
      {% for nav_item in menu %}
      {% if nav_item.parent %}
        {% continue %}
      {% else %}
        <li class="nav-item"><a class="nav-link body-text" href="{{ nav_item.url }}" data-target="{{ nav_item.identifier }}">{{ nav_item.title }}</a></li>
      {% endif %}
      {% endfor %}
      {% if section.cta.enabled %}
        <a class="btn btn-primary gt-navcta"
          {% comment %}{% if page.lang-ref == 'summit' %}data-toggle="modal" data-target="#summitModal" data-subject="Attend WMS 2020"{% endif %}{% endcomment %}
          {% if page.lang-ref == 'home' or page.lang-ref == 'about' %}data-toggle="modal" data-target="#formModal" data-subject="Get in touch with Wunder Mobility"{% endif %}
          href="{{ section.cta.url }}">
          {{ section.cta.button_text }}
        </a>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="nav-full">
  <div class="nav-full__overlay"></div>
  <div class="nav-full__wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-xl-10 offset-xl-1 d-flex flex-wrap">
          {% for nav_item in menu %}
          {% if nav_item.parent %}
            {% continue %}
          {% else %}
          <div class="nav-full__single-menu" id="{{ nav_item.identifier }}"">
            <div class="row">
              <div class="col-md-12 col-lg-3">
                <h2 class="headline-medium">

                    {{ nav_item.title }}

                </h2>
              </div>
              <div class="col-md-12 col-lg-9 mt-md-3 mt-lg-0">
                <div class="row">
                  {% for sub_item in menu %}
                  {% if sub_item.parent == nav_item.identifier %}
                  <div class="col-md-4 mb-4">
                    <a href="{{ sub_item.url }}">
                      <p class="text-link">{{ sub_item.title }}</p>
                      <p class="text-mute small-label">{{ sub_item.subtitle }}</p>
                    </a>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
