<footer class="footer block block-footer-1">
  <div class="container{% if page.lang-ref == 'home' %}-fluid{% endif %}">
    <div class="row">
      <div class="col-xl-12 offset-xl-0">
      {% comment %}
      {% if page.lang-ref == 'summit' %}
        <div class="cta-wrapper">
          <a class="round-cta dark" href="#" data-toggle="modal" data-target="#summitModal" data-subject="Attend WMS 19">Apply to join</a>
          <a class="round-cta clear no-arrow" href="#" data-toggle="modal" data-target="#summitModal" data-subject="Speak At WMS 19">Apply to speak</a>
        </div>
       {% endif %}
       {% endcomment %}
       {% assign footermenu = site.menus.footer %}
        <div class="footer__wrapper row justify-content-md-between align-items-start">
          <div class="col-md-2 order-1">
          {% for menu_cat in footermenu %}
            {% if menu_cat.col == 1 %}
            <h3 class="headline-small">{{ menu_cat.title }}</h3>
            <ul>
              {% for menu_item in menu_cat.items %}
                <li><a class="small-label"  href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md-2 order-1">
          {% for menu_cat in site.menus.footer %}
            {% if menu_cat.col == 2 %}
              <h3 class="headline-small">{{ menu_cat.title }}</h3>
              <ul>
                {% for menu_item in menu_cat.items %}
                  <li><a class="small-label"  href="{{ menu_item.url }}" {% if menu_item.newtab == 1 %}target="_blank" {% endif %}>{{ menu_item.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md-2 order-1">
          {% for menu_cat in site.menus.footer %}
            {% if menu_cat.col == 3 %}
              <h3 class="headline-small">{{ menu_cat.title }}</h3>
              <ul>
                {% for menu_item in menu_cat.items %}
                  <li><a class="small-label"  href="{{ menu_item.url }}" {% if menu_item.newtab == 1 %}target="_blank" {% endif %}>{{ menu_item.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md-2 order-1">
          {% for menu_cat in site.menus.footer %}
            {% if menu_cat.col == 4 %}
              <h3 class="headline-small">{{ menu_cat.title }}</h3>
              {% if menu_cat.items %}
              <ul>
                {% for menu_item in menu_cat.items %}
                  <li><a  class="small-label" href="{{ menu_item.url }}" {% if menu_item.newtab == 1 %}target="_blank" {% endif %}>{{ menu_item.title }}</a>
                    {% if menu_item.content %}
                      <address class="mb-0">
                        <p class="small-label mb-0">{{ menu_item.content }}</p>
                      </address>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md-4 order-0 order-md-2 mb-5 mb-md-0">
            <h3 class="headline-small">Join us at the Wunder Bar<br/><span class="text-mute text-muted">Subscribe to our newsletter today</span></h3>
            <div id="mc_embed_signup">
              <form action="https://wunder.us3.list-manage.com/subscribe/post?u=c6ee53e24cd30c208f1a610b1&amp;id=0ba0a2cc79" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <div class="input-group my-3">
                  <input type="email" name="EMAIL" id="mce-EMAIL" class="form-control form-control-lg" placeholder="Enter your email" aria-label="Recipient's email address" aria-describedby="basic-addon2">
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6ee53e24cd30c208f1a610b1_0ba0a2cc79" tabindex="-1" value=""></div>
                  <div class="input-group-append">
                    <a class="btn btn-primary d-flex" value="Subscribe" onclick="document.getElementById('mc-embedded-subscribe-form').submit()" name="subscribe" id="mc-embedded-subscribe"><img src="/uploads/global/white-arrow.svg" /></a>
                  </div>
                  {% comment %}<div class="invalid-feedback">
                    Please enter a valid email address
                  </div>{% endcomment %}
                </div>
              </form>
            </div>
          </div>

        </div>

        <div class="footer__bottom">
          <div class="row">
            <div class="col-md-6 order-3 order-md-1">
              <ul class="legal-links">
                <li class="small-label text-mute">© {{ site.title }} {{ site.time | date: '%Y' }}</li>
                {% for menu_item in site.menus.footerbottom %}
                  <li><a class="small-label text-mute" href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-md-2 language-select order-1 order-md-2 mb-4 mb-md-0">
              {% if page.lang-ref %}
              <div class="btn-group dropup">
                <a role="button" id="langMenuLink" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <ion-icon name="globe-outline" class="inline-icon"></ion-icon>
                  {% assign currentLang = site.data.global.languages | where: 'code', page.lang | first %}
                  <span>{{ currentLang.label }}</span>
                </a>
                <ul class="lang_options dropdown-menu" aria-labelledby="langMenuLink">
                {% assign posts = site.pages | where: 'lang-ref', page.lang-ref %}
                {% for sitelang in site.data.global.languages %}
                  {% for post in posts %}
                    {% if post.lang == sitelang.code %}
                      {% assign langlink = post.url %}
                    {% endif %}
                  {% endfor %}
                  {% unless langlink %}
                    {% assign langlink = sitelang.code %}
                    {% if langlink == 'en' %}{% assign langlink = '' %}{% endif %}
                  {% endunless %}
                  {% if sitelang.code == 'es' %}
                    {% unless langlink contains 'fleet' or langlink contains 'rent' %}
                     {% break %}
                    {% endunless %}
                  {% endif %}
                  <link rel="alternate" hreflang="{{ sitelang.code }}" href="{{ langlink }}" />
                  <li>{{ sitelang.icon }} <a href="{{ langlink }}" class="{{ sitelang.code }}" title="View in {{ sitelang.label }}">{{ sitelang.label }}</a></li>
                  {% assign langlink = false %}
                {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>
            <div class="col-md-4 order-2 order-md-3">
              <ul class="footer__socialmedia d-flex justify-content-md-end my-4 my-md-0 mt-md-2">
                <li><a href="{{ site.data.global.linkedin }}" alt="{{ site.title }} on LinkedIn" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                <li><a href="{{ site.data.global.twitter }}" alt="{{ site.title }} on Twitter" target="_blank"><ion-icon name="logo-twitter" ></ion-icon></a></li>
                <li><a href="{{ site.data.global.instagram }}" alt="{{ site.title }} on Instagram" target="_blank"><ion-icon name="logo-instagram" ></ion-icon></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
