<header class="block block-header-2">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{{ site.data.global.logo | relative_url }}" alt="{{ site.title }}" class="header__logotype">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% for nav_item in site.menus.[section.menu] %}
              <li class="nav-item menu-item-{{ loop.index }} {% if page.url == nav_item.url %}active{% endif %}">
                {% if nav_item.sub %}
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ nav_item.title }}</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  {% for sub_item in nav_item.sub %}
                    <a class="dropdown-item"  href="{{ sub_item.url }}" title="Go to {{ sub_item.title }}">{{ sub_item.title }}</a>
                  {% endfor %}
                  </div>
                {% else %}
                  <a class="nav-link"  href="{{ nav_item.url }}">{{ nav_item.title }}</a>
                {% endif %}
              </li>
            {% endfor %}
        </ul>
      </div>
      <a class="button primary small block-header-2--cta" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
    </div>
  </nav>

</header>
