<nav class="navbar navbar-{{ section.style }} bg-{{ section.style }} fixed-top navbar-expand-md block-header-scroller px-4">
  <a class="navbar-brand" href="{{ site.url }}{{ section.brand_link }}">
    {{ section.brand_text }}
  </a>
  <button class="hamburger hamburger--collapse header__hamburger d-md-none" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="list-unstyled navbar-nav ml-auto">
      {% for nav_item in section.link_list %}
        <li class="nav-item"><a class="nav-link body-text {% if section.style == 'dark' %}text-white{% endif %}" href="#{{ nav_item }}">{{ nav_item | capitalize }}</a></li>
      {% endfor %}
      {% if section.cta.enabled %}
        <a class="ml-5 d-inline-block btn btn-outline-{% if section.style == 'dark' %}light{% else %}dark{% endif %} gt-navcta"
          {% if page.lang-ref == 'home' or page.lang-ref == 'about' %}data-toggle="modal" data-target="#formModal" data-subject="Get in touch with Wunder Mobility"{% endif %}
          href="{{ section.cta.url }}">
          {{ section.cta.button_text }}
        </a>
      {% endif %}
    </ul>
  </div>
</nav>
