<section class="block block-thumbnail-gallery">
  <div class="text-center" id="section-gallery">
    <div class="container">
      <p>{{ section.heading }}</p>
      <h2 class="headline-medium mb-3">{{ section.description }}</h2>
    </div>
    <div class="photo-gallery mt-5 d-flex flex-wrap justify-content-center" id="lightgallery">
      {% for image in section.photo_collection %}
        {% capture path %}
        {{ image | replace: '/uploads', 'uploads' }}
        {% endcapture %}
        <a href="{{ image }}" class="m-1 photo-gallery__item" style="font-size:0; line-height:0;" data-toggle="lightbox" data-gallery="example-gallery"  title="View image {{ forloop.index }}">
          <img class="w-100" data-src="https://images.weserv.nl/?url=https://www.wundermobility.com/{{ path | strip | strip_newlines }}&w=250" alt="Photo in gallery" data-srcset="https://images.weserv.nl/?url=https://www.wundermobility.com/{{ path | strip | strip_newlines }}&w=500 2x">
        </a>
      {% endfor %}
    </div>
  </div>
</section>
