<div class="container">
  <div class="other-locations">
    <h2 class="page-heading">{{ section.heading }}</h2>
    {% for item in section.items %}
    {% capture thecycle %}{% cycle 'image-left', 'image-right' %}{% endcapture %}
    <div class="other-locations__row {{ thecycle }}">
      <div class="flex-image">
        <img data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" class="lazy" alt="{{ item.title }}" />
      </div>
      <div class="other-locations__content">
        <h3>{{ item.title }}{% if item.sub_title %}, <span class="thin">{{ item.sub_title }}</span>{% endif %}</h3>
        <p>{{ item.content }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
