<section class="block block-logo-list block-full-right">
  <img src="/uploads/global/arrow-down-white.svg" class="nav-arrow d-none d-lg-block" />
  <div class="client-list__wrapper">
    <div class="container container-fullright">
      <div class="row client-list__logotypes">
        <div class="col-sm-3">
          <p class="pl-3 mb-2 mb-sm-0">Autotech meetups taking place in...</p>
        </div>
        <div class="col-sm-9">
          <p class="text-uppercase ml-sm-1">
            Hamburg
          <span class="ml-3 mr-3 text-lighter"> | </span>
            London
          <span class="ml-3 mr-3 text-lighter"> | </span>
            Tokyo
          <span class="ml-3 mr-3 text-lighter"> | </span>
            San Francisco
          <span class="ml-3 mr-3 text-lighter"> | </span>
            Munich
          <span class="ml-3 mr-3 text-lighter"> | </span>
            And More
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
