<section class="block block-contact-form" id="section-contact">
    <div class="contact-form__wrapper block-full-right col-2-in">
      <div class="container container-fullright">
        <div class="boxed-form {% if page.version == 'hp' %}w-shadow{% endif %}">
          <h2 class="page-heading headline-large text-center mb-2">{{ section.title }}</h2>
          <p style="max-width: 480px" class="mx-auto mb-5 text-center">{{ section.content }}</p>
          <div class="contact-form__form">
            <form id="main-contact" class="ajaxForm" enctype="multipart/form-data" name="website-contact-form" action="https://getform.io/f/17ce73e7-6ba4-4f84-af0e-41307fabf6eb" method="POST">
              <p class="hidden">
                <input name="_gotcha">
              </p>
              <input type="hidden" name="country" id="user-country" value="">
              <input type="hidden" name="region" id="user-region" value="EN">
              <input type="hidden" name="lang" id="site-lang" value="en">
              <input type="hidden" name="utm_source" id="utm_source" value="">
              <input type="hidden" name="utm_medium" id="utm_medium" value="">
              <input type="hidden" name="utm_campaign" id="utm_campaign" value="">
              <input type="hidden" name="utm_term" id="utm_term" value="">
              <input type="hidden" name="campaign_id" id="campaign_id" value="">
              <input type="hidden" name="adgroup_id" id="adgroup_id" value="">
              <input type="hidden" name="title_id" id="title_id" value="">
              <input type="hidden" name="first_visit" id="first_visit" value="">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label" for="name">Full name *</label>
                    <input type="text" name="name" id="name" required>
                    <div class="bottom-border"></div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="email">Your email *</label>
                    <input type="email" name="email" id="email" required>
                    <div class="bottom-border"></div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-label" for="company">{% unless page.url == '/city' %}Company Name *{% else %}Your city *{% endunless %}</label>
                    <input type="text" name="company" id="company" pattern=".{2,}" title="Must contain at least 2 characters" required>
                    <div class="bottom-border"></div>
                  </div>
                  <div class="form-group">
                    <label class="form-label" for="phone">Phone (incl. country code)</label>
                    <input type="text" name="phone" id="phone" pattern="\+?[\d\s\)\(-]{8,15}" title="Must be between 8-15 characters long. Accepted characters +0-9()-">
                    <div class="bottom-border"></div>
                  </div>
                </div>
              </div>

              <div class="form-group hidden">
                <div class="select-wrapper">
                  <select name="subject" class="form-control select2-init " style="width:100%" id="subject-field" required>
                    <option disabled>Subject *</option>
                    <option value="Wunder Fleet" data-id="fleet" {% if page.lang-ref == 'fleet' %}selected{% endif %}>Wunder Fleet</option>
                    <option value="Wunder Rent" data-id="rent" {% if page.lang-ref == 'rent' %}selected{% endif %}>Wunder Rent</option>
                    <option value="Wunder Shuttle" data-id="shuttle" {% if page.lang-ref == 'shuttle' %}selected{% endif %}>Wunder Shuttle</option>
                    <option value="Wunder Carpool" data-id="carpool" {% if page.lang-ref == 'carpool' %}selected{% endif %}>Wunder Carpool</option>
                    <option value="Wunder Park" data-id="park" {% if page.lang-ref == 'park' %}selected{% endif %}>Wunder Park</option>
                    <option value="Wunder City" data-id="city" {% if page.lang-ref == 'city' %}selected{% endif %}>Wunder City</option>
                    <option value="Wunder Vehicles" data-id="vehicles" {% if page.lang-ref == 'vehicles' %}selected{% endif %}>Wunder Vehicles</option>
                    <option value="General enquiry" data-id="general" {% if page.lang-ref == 'home' %}selected{% endif %}>General enquiry</option>
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>

              <div class="form-group">
                <label class="form-label" for="url">Company URL</label>
                <input type="text" name="url" id="url"></input>
                <div class="bottom-border"></div>
              </div>

              {% if page.lang-ref == 'fleet' or page.lang-ref == 'carpool' %}
              <div class="form-group shuttle fleet carpool">
                <div class="select-wrapper">
                  <select name="type-of-company" class="form-control select2-init conditional-trigger" style="width:100%" id="typeSelect" required=true>
                    <option disabled selected>Type of organisation *</option>
                    {% if page.lang-ref == 'fleet' or page.lang-ref =='shuttle' %}
                    <option value="Operating start-up">Operating start-up</option>
                    <option value="Non operating start-up">Non operating start-up</option>
                    <option value="OEM">OEM</option>
                    <option value="Corporate">Corporate</option>
                    <option value="Public services">Public services</option>
                    <option value="City / Government">City / Government</option>
                    {% endif %}
                    {% if page.lang-ref == 'carpool' %}
                    <option value="Company" data-target="#parkingQs">Company</option>
                    <option value="City" data-target="#parkingQs" data-direction="up">City</option>
                    <option value="University" data-target="#parkingQs">University</option>
                    {% endif %}
                    <option value="Other" data-target="#parkingQs">Other</option>
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}


              <h3 class="headline-small text-center mt-5 mb-3">Tell us a bit about your project</h3>

              {% if page.lang-ref == 'fleet' %}
              <div class="form-group fleet">
                <div class="select-wrapper">
                  <select name="what-looking-for" class="form-control select2-init" style="width:100%" id="lookingFor" required=true>
                    <option disabled selected>What are you looking for? *</option>
                    <option value="Full-package vehicle sharing solution">Full-package vehicle sharing solution</option>
                    <option value="Software only">Software only</option>
                    <option value="Hardware only (vehicles and/or IoT devices)">Hardware only (vehicles and/or IoT devices)</option>
                    <option value="Other / Not sure">Other / Not sure</option>
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}

              {% if page.lang-ref == 'rent' %}
              <div class="form-group rent">
                <div class="select-wrapper multiple">
                  <select name="tech-interest[]" class="form-control select2-init" style="width: 100%" id="tech-interest" multiple="multiple" required=true novalidate>
                    <option disabled>What would you like to achieve with Wunder Rent? *</option>
                    <option value="Counterless Station-based Vehicle Rental">Counterless Station-based Vehicle Rental</option>
                    <option value="Free-floating Vehicle Rental">Free-floating Vehicle Rental</option>
                    <option value="Peer to Peer Vehicle Rental">Peer to Peer Vehicle Rental</option>
                    <option value="I only want an online booking system">I only want an online booking system</option>
                    <option value="Traditional Vehicle Rental (fully offline)">Traditional Vehicle Rental (fully offline)</option>
                    <option value="Other">Other</option>
                  </select>
                  <label for="tech-interest[]" class="w-100">
                    What would you like to achieve with Wunder Rent? *
                  </label>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}

              {% if page.lang-ref == 'rent' or page.lang-ref == 'fleet' %}
              <div class="form-group rent fleet">
                <div class="select-wrapper multiple">
                  <select name="vehicle-interest[]" class="form-control select2-init" style="width: 100%" id="vehicle-interest" multiple="multiple" required=true novalidate>
                    <option disabled>What vehicles would you like to offer? *</option>
                    <option value="Cars">Cars</option>
                    <option value="Bikes">Bikes</option>
                    <option value="Mopeds">Mopeds</option>
                    <option value="Kick-scooters">Kick-scooters</option>
                    <option value="Motorcycles">Motorcycles</option>
                    <option value="Trucks">Trucks</option>
                    <option value="Vans">Vans</option>
                    <option value="Boats">Boats</option>
                    <option value="Other">Other</option>
                  </select>
                  <label for="vehicle-interest[]" class="w-100">
                    What vehicles would you like to offer? *
                  </label>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}

              {% if page.lang-ref == 'shuttle' %}
              <div class="form-group shuttle">
                <div class="select-wrapper">
                  <select name="company-status" class="form-control select2-init" style="width:100%" id="companyStatus" required=true>
                    <option disabled selected>What is the current status of your company? *</option>
                    <option value="Researching & planning">Researching & planning</option>
                    <option value="Already operating (recently launched)">Already operating (recently launched)</option>
                    <option value="Operating and scaling">Operating and scaling</option>
                    <option value="Other">Other</option>
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}

              {% if page.lang-ref == 'rent' or page.lang-ref == 'fleet' or page.lang-ref == 'shuttle' %}
              <div class="form-group rent fleet shuttle">
                <div class="select-wrapper">
                  <select name="what-fleet-size" class="form-control select2-init" style="width:100%" id="fleetSize" required=true>
                    {% if page.lang-ref == 'rent' %}
                      <option disabled selected>What is the current size of your fleet? *</option>
                      <option>0</option>
                      <option>1-50</option>
                      <option>51-150</option>
                      <option>150+</option>
                    {% elsif page.lang-ref == 'fleet' %}
                      <option disabled selected>How many vehicles would you like to offer? *</option>
                      <option value="1-50 F">1-50</option>
                      <option>51-100</option>
                      <option>101-500</option>
                      <option>500+</option>
                    {% elsif page.lang-ref == 'shuttle' %}
                      <option disabled selected>How many drivers do you currently work with? *</option>
                      <option value="1-10">1-10</option>
                      <option value="10-50">10-50</option>
                      <option value="50-150 S">50-150</option>
                      <option value="150+ S">150+</option>
                    {% endif %}
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}

              {% if page.lang-ref == 'fleet' %}
              <div class="form-group fleet">
                <div class="select-wrapper">
                  <select name="when-to-launch" class="form-control select2-init" style="width:100%" id="launchTimeline" required=true>
                    <option disabled selected>When would you like to launch? *</option>
                    <option value="ASAP">ASAP</option>
                    <option value="2-6 months">2-6 months</option>
                    <option value=">6 months">Over 6 months</option>
                    <option value="Not sure">Not sure</option>
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>
              <div class="form-group fleet">
                <div class="select-wrapper">
                  <select name="funding-status" class="form-control select2-init" style="width:100%" id="fundingStatus" required=true>
                    <option disabled selected>What's the funding status of your project? *</option>
                    <option value="Corporate funded">Corporate funded</option>
                    <option value="Venture funded">Venture funded</option>
                    <option value="Personally funded">Personally funded</option>
                    <option value="Not yet funded">Not yet funded / Other</option>
                  </select>
                  <div class="bottom-border"></div>
                </div>
              </div>
              {% endif %}

              {% if page.lang-ref == 'carpool' %}
              <div class="collapse" id="parkingQs">
                <div class="form-group ml-3 py-5">
                  <h4 class="lighter mb-3">Do you currently own / manage a parking space? *</h4>
                  <div class="form-check">
                    <input class="form-check-input conditional-trigger" data-target="#limitedParkingQs" data-direction="down" type="radio" name="own-parking" id="own-parkingY" value="Yes-Parking">
                    <label class="form-check-label" for="own-parkingY">
                      Yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input conditional-trigger" data-target="#limitedParkingQs" data-direction="up" type="radio" name="own-parking" id="own-parkingN" value="No-Parking">
                    <label class="form-check-label" for="own-parkingN">
                      No
                    </label>
                  </div>
                </div>

                <div class="collapse" id="limitedParkingQs">

                  <div class="form-group carpool ml-3  pb-5">
                    <h4 class="lighter mb-3">How many parking spaces do you have available? *</h4>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="radio" name="parking-spaces" id="parking-spaces1" value="<50">
                      <label class="form-check-label" for="parking-spaces1">
                        Less than 50
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="parking-spaces" id="parking-spaces2" value="50-500">
                      <label class="form-check-label" for="parking-spaces2">
                        50 - 500
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="parking-spaces" id="parking-spaces3" value="500+">
                      <label class="form-check-label" for="parking-spaces3">
                        Over 500
                      </label>
                    </div>
                  </div>

                  <div class="form-group carpool ml-3  pb-5">
                    <h4 class="lighter mb-3">Is parking currently limited and therefore a pain for your employees/citizens? *</h4>
                    <div class="form-check mb-1">
                      <input class="form-check-input" type="radio" name="parking-limited" id="parking-limitedY" value="Yes-ParkingLimited">
                      <label class="form-check-label" for="parking-limitedY">
                        Yes
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="parking-limited" id="parking-limitedN" value="No-ParkingLimited">
                      <label class="form-check-label" for="parking-limitedN">
                        No
                      </label>
                    </div>
                  </div>

                </div>
              </div>
              {% endif %}


              <div class="form-group">
                <label class="form-label" for="message">Message {% if page.lang-ref == 'carpool' %}- How can we help you? *{% endif %}</label>
                <textarea type="text" name="message" id="message" {% if page.lang-ref == 'carpool'%} required{% endif %}></textarea>
                <div class="bottom-border"></div>
              </div>

              <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />
              <button id="form-submit" class="btn btn-primary" onclick="formSubmit(event)">
                Send message
              </button>
              <p class="form-feedback hidden">Your message has been sent. We'll be in touch!</p>
            </form>
            {% comment %} 6LeHSagUAAAAACPB5JfFS9ihSEbW-PJHqbBjlDgR {% endcomment %}

            {% if page.lang-ref == 'press' %}
            <div class="press-contact mt-5 pt-5 pt-sm-5 d-sm-flex">
              {% comment %}<img class="mr-4" data-src="/uploads/global/Photo_Daniel.jpg" data-srcset="/uploads/global/Photo_Daniel@2x.jpg 2x" />{% endcomment %}
              <div class="press-contact__info mt-3 mt-sm-0">
                <p class="mb-3 mt-3"><strong>US Press Contact</strong></p>
                <h3>Inkhouse</h3>
                <p>E-mail: <a href="mailto:wundermobility@inkhouse.com" title="Email Wunder's press contact in the US">wundermobility@inkhouse.com</a></p>
              </div>
              <div class="press-contact__info mt-5 mt-sm-0 ml-sm-5 ">
                <p class="mb-3 mt-3"><strong>EU Press Contact</strong></p>
                <h3>Schoesslers</h3>
                <p>E-mail: <a href="mailto:wunder@schoesslers.com" title="Email Wunder's press contact in the EU">wunder@schoesslers.com</a></p>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>

  {% if section.background_image %}
  <style>
  .block-contact-form {
    background-image: url("{{ section.background_image | remove: '@2x' | relative_url }}");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 1600px) {
    .block-contact-form {
      background-image: url('{{ section.background_image | relative_url }}');
    }
  }
  </style>
  {% endif %}

</section>
