<section class="block block-landing-grid">
  <div class="container">
    <div class="landing-grid">
      <div class="landing-grid__wrapper">
      {% for item in section.items %}
      {% if item.image %}
        <!-- #Start Grid Item -->
        <div class="landing-grid__image {% if item.col_count == '2' %}long{% else %}xs-50{% endif %}">
          <img data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" class="lazy" alt="{{ item.alt }}" />
        </div>
        <!-- #End Grid Item -->
      {% else %}
        <!-- #Start Grid Item -->
        <div class="landing-grid__text {% if forloop.last %}transparent{% endif %}">
          <div class="landing-grid__content {% if item.heading_colour == 'green' %}stat{% endif %}">
            <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-once="true">
              <h2>{{ item.heading }}</h2>
              <p>{{ item.content }}</p>
            </div>
          </div>
        </div>
        <!-- #End Grid Item -->
      {% endif %}
      {% endfor %}

      </div>
    </div>
  </div>
</section>
