<header class="block block-header-2">
{% assign menu = site.menus.[section.menu] %}
  <nav class="absolute-header">
    <div class="container header">
      <div class="grouped-logo">
        <a href="/">
          <img src="{{ site.data.global.logo | relative_url }}" alt="{{ site.title }}" class="header__logotype">
        </a>
        {% if section.sub_logo %}
        <div class="dividing-line"></div>
        <a href="{% if page.dir %}{{ page.dir }}{% else %}{{ page.permalink }}{% endif %}">
          <img src="{{ section.sub_logo | relative_url }}" alt="{% if page.dir %}{{ page.dir | remove: '/' }}{% else %}{{ page.title }}{% endif %}" class="header__logotype-sublogo">
        </a>
        {% endif %}
      </div>
      <a class="header__icon" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <ul class="header__nav list-unstyled">
          {% for nav_item in menu %}
            <li class="underline-from-left header__nav-item menu-item-{{ loop.index }} {% if page.url == nav_item.url %}active{% endif %}">
              {% if nav_item.sub %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ nav_item.title }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% for sub_item in nav_item.sub %}
                  <a class="dropdown-item"  href="{{ sub_item.url }}" title="Go to {{ sub_item.title }}">{{ sub_item.title }}</a>
                {% endfor %}
                </div>
              {% else %}
                <a  href="{{ nav_item.url }}">{{ nav_item.title }}</a>
              {% endif %}
            </li>
          {% endfor %}

      </ul>
      {% if section.cta %}
      <a class="button primary small block-header-2--cta" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
      {% endif %}
    </div>
  </nav>

</header>
