<section class="block block-logo-list block-full-right">
  <img src="/uploads/global/arrow-down-white.svg" class="nav-arrow d-none d-lg-block" />
  <div class="client-list__wrapper">
    <div class="container container-fullright">
      <ul class="row client-list__logotypes">
        <li class="col-sm-2">
          <p>When & <br class="d-none d-sm-block">Where</p>
        </li>
        <li class="col-4">
          <h3><span class="lighter">Date</span><br class="d-xl-none">  November 6-7</h3>
        </li>
        <li class="col">
          <h3 class="d-lg-flex align-items-center text-lg-left"><span class="lighter mr-3">Location </span><br class="d-xl-none">Internationales Maritimes Museum Hamburg</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
