<section class="block block-hero-2">
  <div class="video-banner">

    {% assign vidLength = section.background_video | size %}
    {% if vidLength > 2 %}
    <div class="video-banner__overflow"></div>
    <video autoplay playsinline loop muted poster="{{ section.background_image }}" class="video-banner__video" id="videoBg">
        <source src="{{ site.url }}/uploads/global/{{ section.background_video }}.mp4" type="video/mp4" />
    </video>
    {% endif %}
    {% if page.dir != "/careers/" and page.lang-ref != "home" and page.lang-ref != "summit" %}
    <div class="video-banner__overflow"></div>
    {% endif %}
    {% if page.lang-ref == "jobs" %}
    <div class="video-banner__overflow"></div>
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col {% if page.dir != '/careers/' %}offset-md-1{% endif %}">
          <div class="video-banner__inner-content">
            <div class="video-banner__title-wrapper">
              <h1 class="video-banner__title">{{ section.headline }}</h1>
              {% if section.cta.enabled %}
              <a class="round-cta dark gt-headercta" href="{{ section.cta.url }}" {% if page.lang-ref == 'summit' %}data-toggle="modal" data-target="#summitModal" data-subject="Attend WMS 19"{% endif %}>{{ section.cta.button_text }}</a>
              {% endif %}
              {% if section.cta_2.enabled %}
              <a class="round-cta no-arrow gt-headercta{% if section.cta_2.button_text contains 'Film'%} with-play gt-videoplay{% else %} clear{% endif %}" href="{{ section.cta_2.url }}" target="_blank" {% if section.cta_2.button_text contains "Film" %}data-toggle="modal" data-target="#filmModal"{% endif %}>{{ section.cta_2.button_text }}</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

  {% assign bg_image = section.background_image %}
  {% if bg_image ==  %}
    {% assign bg_image = page.feature_image %}
  {% endif %}

  {% if bg_image %}
  <style>
  .video-banner {
    background-image: url("{{ bg_image | remove: '@2x' | relative_url }}");
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .video-banner {
      background-image: url('{{ bg_image | relative_url }}');
    }
  }
  {% if section.background_video and section.background_video != empty %}
  @media screen and (min-width: 769px) {
    .video-banner {
      background-image: none;
    }
  }
  {% endif %}
  </style>
  {% endif %}

  {% if section.logo_row %}
    {% capture logorow %}{{ section.logo_row }}{% endcapture %}
  {% endif %}

  {% if section.show_logos %}
    {% include block-logo-list.html rowname=logorow %}
  {% endif %}

  {% if page.lang-ref == 'summit' or page.lang-ref == 'stage-battle' %}
    {% include block-summit-info.html  %}
  {% endif %}

  {% if page.url contains 'session' %}
    {% include block-autotech-info.html %}
  {% endif %}



</section>

{% if section.intro_text != empty and section.intro_text %}
<div class="intro-text">
  <a class="round-cta" href="{{ section.cta.url }}">{{ section.cta.button_text }}</a>
  <div class="container">
    <div class="row">
      <div class="intro-text__content offset-sm-2 col-sm-8">
        <p>
          {{ section.intro_text }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
