<section class="block block-two-column-horizontal" id="section-featured">
  <div class="container">
    <div class="row">
      <div class="col offset-lg-2">
        <div class="two-col-cards">
          <h2 class="page-heading">{{ section.headline }}</h2>
          <div class="image-captions__grid">
            {% if section.show_featured %}
              {% assign articles = site.articles | sort: "date" | reverse | where:"featured", "true"  %}
              {% assign articleLimit = 4 %}
            {% else %}
              <!--{% assign articles = site.articles | where_exp:"item", "section.items contains item.path" | sort: "date"  %}-->
              {% assign articles = site.articles | sort: "date" | reverse %}
              {% assign articleLimit = 14 %}
            {% endif %}
            {% for item in articles limit: articleLimit %}
            <!-- #Start Image-Caption Item -->
            <div class="image-captions__item w-shadow {% if item.url %}w-arrow{% endif %}">
              <div class="image-captions__image">
                <img data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" class="lazy" />
              </div>
              <a href="{{ item.link }}" target="_blank">
                <div class="image-captions__content">
                  <div class="image-captions__title">
                    {% if item.icon %}
                      <img src="{{ item.icon }}" />
                    {% endif %}
                    {% if item.date %}
                      <div class="article-date">{{ item.date | date: "%d.%m.%Y" }}</div>
                    {% endif %}
                    <h4>{{ item.title }}</h4>
                  </div>
                  <!--
                  {% unless item.content.size > 10 and item.content contains "uploads"  %}
                  <p>{{ item.content | truncate: 100 }}</p>
                  {% endunless %}
                  -->
                  {% if item.link %}
                  <a href="{{ item.link }}" class="circle-arrow" target="_blank"></a>
                  {% endif %}
                </div>
              </a>
            </div>
            <!-- #End Image-Caption Item -->
            {% endfor %}
          </div>
          {% if page.lang-ref != 'press' %}
          {% assign presspages = site.pages | where:'lang-ref', 'press' %}
          {% assign presspage = presspages | where:'lang', page.lang %}
          <a class="with-arrow float-right" href="{{ presspage[0].url }}">{% if page.lang == 'de' %}Artikel{% else %}All articles{% endif %}</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</section>
{% if page.title == 'Home' %}
</main>
{% endif %}
