<section class="block block-icon-heading fullwidth-bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-4 mb-lg-0 px-xl-5" >
        {% for item in section.text_blocks %}
          {% assign style = item.text_style %} {% case style %}
          {% when 'headline-large' %}
          {% assign element = 'h2' %}
          {% when 'headline-medium' %}
          {% assign element = 'h3' %}
          {% when 'headline-small' %}
          {% assign element = 'h4' %}
          {% when 'text-link' %}
          {% assign element = 'a' %}
          {% else %}
          {% assign element = 'p' %}
          {% endcase %}
          <{{ element }} class="{{ style }}" data-aos="fade-in" data-aos-easing="apple-easing">{{ item.content }}</{{ element }}>
        {% endfor %}
      </div>

      <div class="col-lg-6 offset-lg-1">
        <div class="row">
        {% for item in section.items %}
          <div class="col-6 col-sm-4 col-lg-6 my-3 px-3 pr-lg-5">

            {% if item.link and item.link != empty %}
            <a href="{{ item.link }}" title="See {{ item.heading }}">
            {% endif %}

              <img data-src="{{ item.icon }}" alt="{{ item.heading }}" />
              <h4 class="headline-small">{{ item.heading }}</h4>

            {% if item.link and item.link != empty %}
            </a>
            {% endif %}

          </div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
