<section class="block block-three-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h3>{{ section.col_1.headline }}</h3>
        <p>{{ section.col_1.content }}</p>
      </div>
      <div class="column">
        <h3>{{ section.col_2.headline }}</h3>
        <p>{{ section.col_2.content }}</p>
      </div>
      <div class="column">
        <h3>{{ section.col_3.headline }}</h3>
        <p>{{ section.col_3.content }}</p>
      </div>
    </div>
  </div>
</section>

{% assign name_array = section.headline | split: " " %}
<section class="block block-columns" id="section-{{ name_array.first | downcase }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
        <h2 class="page-heading mb-5">{{ section.headline }}</h2>

      </div>
    </div>
  </div>
</section>
