<section class="block block-landing-grid">
  <div class="container">
    <div class="landing-grid">
      <div class="landing-grid__wrapper">
      {% for block in section.item %}
      <!-- #Start Grid Item -->
      <div class="landing-grid__text">
        <div class="landing-grid__content">
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-once="true">
            <h2>Our Vision</h2>
            <p>To enable communities globally to deploy new mobility services fast!</p>
          </div>
        </div>
      </div>
      <!-- #End Grid Item -->
      {% endfor %}

      </div>
    </div>
  </div>
</section>
