<section class="block block-two-column-horizontal">
  <div class="container">
    <div class="row">
      <div class="col offset-md-1">
        <div class="two-col-cards">
          <h2 class="page-heading">{{ section.headline }}</h2>
          <div class="image-captions__grid">
            {% for item in site.articles | where:"path", section.items %}
            <!-- #Start Image-Caption Item -->
            <div class="image-captions__item w-shadow ">
              <div class="image-captions__image">
                <img data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" class="lazy" />
              </div>
              <div class="image-captions__content">
                <div class="image-captions__title">
                  {% if item.icon %}
                    <img src="{{ item.icon }}" />
                  {% endif %}
                  {% if item.date %}
                    <div class="article-date">{{ item.date | date: "%Y-%m-%d" }}</div>
                  {% endif %}
                  <h4>{{ item.title }}</h4>
                </div>
                {% if item.content.size > 10 %}
                <p>{{ item.content | truncate: 100 }}</p>
                {% endif %}
              </div>
            </div>
            <!-- #End Image-Caption Item -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
