<footer class="footer block block-footer-1">
  <div class="container">
    {% if page.lang-ref == 'summit' %}
      <div class="cta-wrapper">
        <a class="round-cta dark" href="#" data-toggle="modal" data-target="#summitModal" data-subject="Attend WMS 19">Apply to join</a>
        <a class="round-cta clear no-arrow" href="#" data-toggle="modal" data-target="#summitModal" data-subject="Speak At WMS 19">Apply to speak</a>
      </div>
     {% endif %}
      <div class="footer__wrapper row justify-content-md-between align-items-start">
          <div class="col-md">
            <img src="{{ site.data.global.footerlogo | relative_url }}" alt="Wunder" class="footer__logotype">
          </div>

          <div class="col-md">
          {% for menu_cat in site.menus.footer %}
            {% if menu_cat.col == 1 %}
              <h4>{{ menu_cat.title }}</h4>
              <ul>
                {% for menu_item in menu_cat.items %}
                  <li><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md">
          {% for menu_cat in site.menus.footer %}
            {% if menu_cat.col == 2 %}
              <h4>{{ menu_cat.title }}</h4>
              <ul>
                {% for menu_item in menu_cat.items %}
                  <li><a href="{{ menu_item.url }}" {% if menu_item.newtab == 1 %}target="_blank" {% endif %}>{{ menu_item.title }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md">
          {% for menu_cat in site.menus.footer %}
            {% if menu_cat.col == 3 %}
              <h4>{{ menu_cat.title }}</h4>
              {% if menu_cat.items %}
              <ul>
                {% for menu_item in menu_cat.items %}
                  <li><a href="{{ menu_item.url }}" {% if menu_item.newtab == 1 %}target="_blank" {% endif %}>{{ menu_item.title }}</a></li>
                {% endfor %}
              </ul>
              {% endif %}
              {% if menu_cat.data %}
                {% assign menu_data = site.data.global[menu_cat.data] %}
                <address>
                  <p>{{ menu_data }}</p>
                </address>
              {% endif %}
            {% endif %}
          {% endfor %}
          </div>

          <div class="col-md">
            <h4>Social Media</h4>
            <ul class="footer__socialmedia">
              <li><a href="{{ site.data.global.linkedin }}" alt="{{ site.title }} on LinkedIn" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
              <li><a href="{{ site.data.global.twitter }}" alt="{{ site.title }} on Twitter" target="_blank"><ion-icon name="logo-twitter" ></ion-icon></a></li>
              <li><a href="{{ site.data.global.instagram }}" alt="{{ site.title }} on Instagram" target="_blank"><ion-icon name="logo-instagram" ></ion-icon></a></li>
            </ul>
            <br>

            <h4><ion-icon name="globe" class="inline-icon"></ion-icon> Language</h4>
            <ul class="lang_options">
            {% assign posts = site.pages | where: 'lang-ref', page.lang-ref %}
            {% for sitelang in site.data.global.languages %}
              {% for post in posts %}
                {% if post.lang == sitelang.code %}
                  {% assign langlink = post.url %}
                {% endif %}
              {% endfor %}
              {% unless langlink %}
                {% assign langlink = sitelang.code %}
                {% if langlink == 'en' %}{% assign langlink = '' %}{% endif %}
              {% endunless %}
              <link rel="alternate" hreflang="{{ sitelang.code }}" href="{{ langlink }}" />
              <li>{{ sitelang.icon }} <a href="{{ langlink }}" class="{{ sitelang.code }}" title="View in {{ sitelang.label }}">{{ sitelang.label }}</a></li>
              {% assign langlink = false %}
            {% endfor %}
            </ul>

            <h4>Newsletter <ion-icon class="inline-icon" name="information-circle-outline" data-toggle="tooltip" data-placement="top" title="For the latest updates from Wunder HQ + interesting mobility insights + news about events."></ion-icon></h4>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="https://wunder.us3.list-manage.com/subscribe/post?u=c6ee53e24cd30c208f1a610b1&amp;id=0ba0a2cc79" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group form-group">
                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  <label for="mce-EMAIL" class="form-label"><span class="d-none d-xl-inline">Enter your </span>email</label>
                </div>
              	<div id="mce-responses" class="clear">
              		<div class="response" id="mce-error-response" style="display:none"></div>
              		<div class="response" id="mce-success-response" style="display:none"></div>
              	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c6ee53e24cd30c208f1a610b1_0ba0a2cc79" tabindex="-1" value=""></div>
                <div class="clear"><a value="Subscribe" onclick="document.getElementById('mc-embedded-subscribe-form').submit()"name="subscribe" id="mc-embedded-subscribe" class="with-arrow float-right">Subscribe</a></div>
                </div>
              </form>
            </div>
            <!--End mc_embed_signup-->

          </div>

      </div>

      <div class="footer__bottom">
        <ul>
          <li>© {{ site.title }} {{ site.time | date: '%Y' }}</li>
          {% for menu_item in site.menus.footerbottom %}
            <li><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

  </div>
</footer>
