<section class="block block-vertical-cards" id="vertical-cards">
  <div class="container">
    {% unless page.dir contains 'career' %}
    <div class="row">
      <div class="col-lg-10 offset-lg-2">
    {% endunless %}
    <div class="team-spirit image-captions">
          <h2 class="page-heading">{{ section.heading }}</h2>
          {% if section.sub-heading and section.sub-heading != empty %}
          <p class="lead mt-2">{{ section.sub-heading }}</p>
          {% endif %}
          {% unless page.dir contains 'career' %}
          <div class="row">
            <div class="col-lg-11 offset-lg-1">
          {% endunless %}
              <div class="image-captions__grid columns-{{ section.column_count }}">
                {% for item in section.items %}
                <!-- #Start Image-Caption Item -->
                <div class="image-captions__item">
                  <div class="image-captions__image">
                    <img data-src="{{ item.image | remove: '@2x' }}" data-srcset="{{ item.image }} 2x" class="lazy" />
                  </div>
                  <div class="image-captions__content">
                    <div class="image-captions__title">
                      {% if item.icon and item.icon != empty %}<img src="{{ item.icon }}" />{% endif %}
                      <h3>{{ item.title }}</h3>
                    </div>
                    <p>{{ item.content }}</p>

                    {% if item.show_meetups %}
                    {% for event in site.data.data.events %}
                      <a href="{{ event.url }}" class="with-arrow">{{ event.title }}</a><br>
                    {% endfor %}
                    {% endif %}


                  </div>
                </div>
                <!-- #End Image-Caption Item -->
                {% endfor %}
              </div>
          {% unless page.dir contains 'career' %}
            </div>
          </div>
          {% endunless %}
        </div>
    {% unless page.dir contains 'career' %}
      </div>
    </div>
    {% endunless %}
  </div>
</section>
