<section class="block block-logo-list block-full-right">
  <img src="/uploads/global/arrow-down-white.svg" class="nav-arrow d-none d-lg-block" />
  <div class="client-list__wrapper">
    <div class="container container-fullright">
      <ul class="row client-list__logotypes">
        <li class="col-sm-3 col-md-2">
          {% if page.dir contains 'de' %}
            <p>Kunden</p>
          {% else %}
            <p>powering <br class="d-none d-sm-block">solutions with</p>
          {% endif %}
        </li>
        {% capture row %}{{ include.rowname | default: "mainlogos" }}{% endcapture %}
        {% assign logorow = site.data.data.hero_logo_rows | where: "name", row %}
        {% for item in logorow[0].logos %}
        <li class="col len-{{ logorow[0].logos | size }}">
            <a title="{{ item.title }}" href="{{ item.url }}" target="_blank"><img data-src="{{ item.logo }}" alt="{{ item.title }}" class="lazy"></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
