    <!-- Modal -->
    {% if page.url contains 'summit' or page.title contains 'event' %}
      {% include static/event-modal.html %}
    {% endif %}

    <script type="text/javascript">
      var pagetitle = "{{ page.title }}";
      var pageref = "{{ page.lang-ref }}";
    </script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script type="text/javascript" src="/assets/js/plyr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% if page.url contains 'careers' %}<script type="text/javascript" src="/assets/js/slick.min.js"></script>{% endif %}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
    {% if page.url contains 'session' or page.url contains 'summit' %}<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>{% endif %}
    <script src="https://www.google.com/recaptcha/api.js?render=6LeHSagUAAAAACPB5JfFS9ihSEbW-PJHqbBjlDgR"></script>
    <script defer type="text/javascript" src="/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% if page.url contains 'event' or page.url contains 'session' %}<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtpOZ1-cXLaSl37JwV6Rn8V3aUsabh8kc&callback=initMap" ></script>{% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script defer type="text/javascript" src="https://www.l2.io/ip.js?var=myip" onload="setupIp()"></script>
    {% for static_file in site.static_files %}
      {% if page.component_scripts contains static_file.name %}
        <script defer type="text/javascript" src="{{ static_file.path | absolute_url }}"></script>
      {% endif %}
    {% endfor %}

    <script type="text/javascript">
      _linkedin_partner_id = "514394";
      window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
      </script><script type="text/javascript">
      (function(){var s = document.getElementsByTagName("script")[0];
      var b = document.createElement("script");
      b.type = "text/javascript";b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
      s.parentNode.insertBefore(b, s);})();
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=514394&fmt=gif" />
    </noscript>

    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#F2F2F2"
        },
        "button": {
          "background": "#449fdd",
          "text": "#ffffff"
        }
      },
      "content": {
        "href": "https://www.wundermobility.com/privacy"
      }
    });
    </script>
  </body>
</html>
