<!DOCTYPE html>
<html lang="">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46102456-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-46102456-1');
      gtag('config', 'AW-976136240');
    </script>

    <!-- Event snippet for Website form submitted conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-976136240/CBdyCIeLx5YBELDQutED',
          'event_callback': callback
      });
      return false;
    }
    </script>

    <meta name="google-site-verification" content="6d1osEueOiNyYiMom16JyGA8oaKUQ8VKq23L8zsKxO4" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">

    <meta property="og:url"                content="{{ page.url }}" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}" />
    <meta property="og:description"        content="{{ site.description }}" />
    <meta property="og:image"              content="{{ site.url }}/uploads/global/share-img.png" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" async>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.4.7/plyr.css" async>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" async>
    <link rel="stylesheet" href="/css/styles.css" async>

  </head>
  <body class="{{ page.title | downcase }} {{ page.lang-ref }} {% if page.dir %}{{ page.dir | replace: "/", "" }}{% endif %}" data-spy="scroll" data-target="#scroller-nav" data-offset="450">
