<main class="with-form larger">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav active" href="#section-fleet">Flota</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-app">App</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-hardware">Vehículos</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-manage">Gestionar</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-customize">Personalizar</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-stories">Historias</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Contacto</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">

    <section id="section-fleet" class="my-5 my-md-0 mt-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="mx-auto" style="max-width: 650px;">
              <h2 class="page-heading text-center">En sus marcas. Listos. A compartir.</h2>
              <p class="section-intro text-center">Desde nuestra aplicación y sistema de gestión, pasando por una flota de vehículos hasta la redacción de informes, la plataforma Wunder Fleet tiene todo lo que necesita para que su empresa de vehículos compartidos despegue.</p>
            </div>
            <div class="row align-items-baseline mt-5 pt-5">
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/mobile_app.png" data-srcset="/uploads/global/mobile_app@2x.png 2x" class="mw-100"/>
                  <h4>Aplicación móvil</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/shared_vehicles.svg" data-srcset="/uploads/global/shared_vehicles@2x.svg 2x" style="width: 220px;" class="mw-100" />
                  <h4 >Compartir vehículos</h4>
                </div>
              </div>
              <div class="col-sm-4 text-center mb-3">
                <div class="labelled-image">
                  <img data-src="/uploads/global/management_system.png" data-srcset="/uploads/global/management_system@2x.png 2x" class="mw-100" />
                  <h4>Sistema de gestión</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-app" class="product-section grey-bg overflow-hidden" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0" data-aos="soft-up" data-aos-offset="300">La app perfecta<br><span class="lighter">Para sus usuarios</span></h2>
                  <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-offset="240"><strong>Reserve. Conduzca. Regrese.</strong></p>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="220">Reserve un vehículo y desbloquéelo con un solo movimiento desde su teléfono móvil. Es así de simple.</p>
                  <p class="section-intro text-blue  mb-2" data-aos="soft-up" data-aos-offset="160"><strong>Pagos y facturación fácil.</strong></p>
                  <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="140">Aproveche los modelos de precios y facturas personalizables. Todos los métodos de pago son compatibles.</p>
                </div>
              </div>
              <div class="col-md-5 offset-md-1">
                <div class="clipped-wrapper">
                  <img data-src="/uploads/global/phone-mockup-fleet.png" data-srcset="/uploads/global/phone-mockup-fleet@2x.png 2x" class="product-image phone-mockup clipped clipped-bottom" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-hardware" class="product-section overflow-hidden" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-11 offset-lg-1">
            <div class="row">
              <div class="col-lg-6">
                <div class="clipped-wrapper d-none d-lg-block">
                  <img data-src="/uploads/global/sharing-vehicles-section.svg" data-srcset="/uploads/global/sharing-vehicles-section@2x.svg 2x" class="product-image" />
                </div>
              </div>
              <div class="col-lg-6 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0"><span class="lighter">Nuestros vehículos</span> listos para compartir</h2>
                  <p class="section-intro" >No puede compartir vehículos sin tener vehículos. Si necesita una nueva flota o quiere hacer que su flota actual sea más compartible, lo respaldamos.</p>
                  <div class="row">
                    <div class="col-6">
                      <p class="section-intro">
                        Nuestros vehículos cuentan con:
                        <ul class="list-unstyled mt-1 icon-list">
                          <li data-aos="soft-up" data-aos-delay="50"><ion-icon name="ios-wifi"></ion-icon> Dispositivos del IdC incorporados</li>
                          <li data-aos="soft-up" data-aos-delay="100"><ion-icon name="ios-key"></ion-icon> Acceso sin llave</li>
                          <li data-aos="soft-up" data-aos-delay="150"><ion-icon name="cloud-outline"></ion-icon> Conectividad 24/7</li>
                        </ul>
                      </p>
                    </div>
                    <div class="col-6">
                      <p class="section-intro">
                        Ventajas cuando usted nos compra:
                        <ul class="list-unstyled mt-1 icon-list">
                          <li data-aos="soft-up" data-aos-delay="100"><ion-icon name="ios-locate"></ion-icon> Gestión de logística</li>
                          <li data-aos="soft-up" data-aos-delay="150"><ion-icon name="cube"></ion-icon> Instalaciones de almacenamiento</li>
                          <li data-aos="soft-up" data-aos-delay="200"><ion-icon name="ios-card"></ion-icon> Opciones de financiamiento</li>
                          <li data-aos="soft-up" data-aos-delay="250"><ion-icon name="color-palette"></ion-icon> Personalizado para usted</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                  <p class="mb-3">Entre nuestros socios se incluyen:</p>
                  <div class="logolist d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-end justify-content-xl-start mb-4 flex-wrap flex-md-nowrap">
                    <img class="mr-2" data-src="/uploads/global/ninebot-logo.png" data-srcset="/uploads/global/ninebot-logo@2x.png 2x" alt="Segway Ninebot logo" />
                    <img class="mr-4" data-src="/uploads/global/govecs-logo.jpg" data-srcset="/uploads/global/govecs-logo@2x.jpg 2x" alt="Govecs Electric scooters logo"  />
                    <img class="mr-3" data-src="/uploads/global/niu-logo.svg" alt="Niu electric vehicles logo"  />
                    <img class="mr-3" data-src="/uploads/global/acton-logo.png" data-srcset="/uploads/global/acton-logo@2x.png 2x" alt="Acton scooters logo"  />
                    <img class="mr-3" data-src="/uploads/global/okai.png" data-srcset="/uploads/global/okai@2x.png 2x" alt="Okai scooters logo"  />
                    <p class="mb-0" style="line-height: 0.9;"><small>y <br>mas...</small></p>
                  </div>
                  <a class="with-arrow text-blue" href="#section-contact" id="hardware-scroller" data-input="lookingFor" data-value="Hardware only (vehicles and/or IoT devices)" >Más información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="section-manage" class="product-section grey-bg mt-0" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading text-center mb-0" data-aos="soft-up" data-aos-offset="100">Gestione <span class="lighter">su flota</span> con facilidad</h2>
            <img src="" data-src="/uploads/global/mockup_dashboard_4.png" data-srcset="/uploads/global/mockup_dashboard_4@2x.png 2x" class="product-image p-5 mw-100 make-space" />
            <div class="row">
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="" data-aos-offset="60"><strong>Operaciones basadas en datos</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="50" data-aos-offset="40">Verifique los niveles de combustible, vea las ubicaciones en vivo y reciba actualizaciones de su flota en tiempo real.</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="100" data-aos-offset="60"><strong>Gestión de usuarios</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="150" data-aos-offset="40">Gestione pagos, usuarios y precios. Configure códigos promocionales y ofertas personalizadas.</p>
              </div>
              <div class="col-md-4 text-center">
                <p class="section-intro text-blue mb-2" data-aos="soft-up" data-aos-delay="200" data-aos-offset="60"><strong>Elija cualquier vehículo</strong></p>
                <p class="section-intro" data-aos="soft-up" data-aos-delay="250" data-aos-offset="40">Desde patinetes hasta coches, ciclomotores hasta bicis, motos de agua hasta bicitaxis: nuestra plataforma se adapta a todos.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="section-customize" class="product-section" >
      <div class="container">
        <div class="row" >
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-5 align-self-center text-center text-md-left">
                <div class="media-text__text">
                  <h2 class="page-heading mt-4 mt-md-0">Su marca.<br><span class="lighter">Su diseño.</span></h2>
                  <p class="section-intro" >Aproveche nuestra app de marca blanca y nuestros vehículos, y utilice sus propios logotipos, colores e íconos para mejorar la experiencia del cliente.</p>
                </div>
              </div>
              <div class="col-md-7">
                <img src="" data-src="/uploads/global/Customization_alt.svg" data-srcset="/uploads/global/Customization_alt@2x.svg 2x" class="product-image hue-rotate-anim make-space" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="block block-stories mb-0 grey-bg pb-5" id="section-stories">
      <div class="container">
        <div class="row pb-5">
          <div class="col-lg-10 offset-lg-2">
            <h2 class="page-heading mb-3">Historias</h2>
            <p class="w-sm-50">Empresas de todo el mundo confían en nuestra plataforma integral para impulsar sus flotas.</p>
            <div id="accordion" class="horizontal-accordion">
              <div class="card expand">
                <img class="card-img" src="/uploads/global/hive-map.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" data-src="/uploads/global/hive_logo.png" data-srcset="/uploads/global/hive_logo@2x.png 2x" />
                    <img class="card-outer-image" src="/uploads/global/hive_scooter@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">La solución de patinete compartido FREE NOW, Hive ya ha cautivado Portugal y tiene planes de crecimiento exponencial en toda Europa.</p>
                      <p class="card-text">Desarrollado por la solución WunderFleet, el objetivo de Hive es alterar el ecosistema tradicional del uso compartido de patinetes con su empresa matriz Daimler.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="/uploads/global/bg-map.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" data-src="/uploads/2019/01/22/emmy.svg" data-srcset="/uploads/2019/01/22/emmy.svg 2x" />
                    <img class="card-outer-image" src="/uploads/global/emmy_scooter@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">emmy establece patinetes eléctricos en Berlín ofreciéndolos a través de un sistema de circulación libre y a corto plazo.</p>
                      <p class="card-text">El usuario podrá disfrutar de la movilidad individual sin la necesidad de buscar espacio de aparcamiento y sin emisiones de CO2 o ruido.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img" src="/uploads/global/bg-map2.png" alt="Card image">
                <div class="card-img-overlay">
                  <div class="card-closed-display">
                    <img class="card-logo" src="/uploads/global/logo-miles.svg" />
                    <img class="card-outer-image raised" src="/uploads/global/miles_car@2x.png" />
                    <ion-icon name="ios-add-circle-outline"></ion-icon>
                    <div class="inner-content">
                      <p class="card-text">Miles es único, ya que a los usuarios se les cobra solo por los kilómetros recorridos y no por el tiempo que pasan en el coche.</p>
                      <p class="card-text">Con condiciones del tráfico cada vez peores en cada ciudad, su propuesta única los distingue de otras ofertas de coches compartidos y se están convirtiendo, gradualmente, en la primera opción a la hora de compartir coche.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>


  </div>


  <section class="block block-video-1 mt-0 pb-5" id="main-video">
    <div class="container ">
      <div class="row ">
        <div class="col-lg-10 offset-lg-2">

          <h2 class="page-heading">&nbsp; </h2>

          <div class="home-video">

            <div class="plyr__video-embed" id="player">

              <iframe src="https://player.vimeo.com/video/344794116?title=0&byline=0&portrait=0"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
            <a id="video-btn" class="dark round-cta gt-videoplay">Ver Video</a>
          </div>

        </div>
      </div>

    </div>
  </section>


</main>
