<main class="with-form">
  <div class="container">
    <div class="abs">

      <nav id="scroller-nav" class="list-group d-none d-lg-block">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <div class="scroller-list">
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-os">Alquilar</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-value">Ventajas</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-operations">Administración</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-app1">App</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-hardware">Hardware</a>
                <a class="list-group-item list-group-item-action gt-scrollnav" href="#section-contact">Contacto</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="solution-wrapper">
    <div class="container">

      <section id="section-os">
        <div class="row">
          <div class="col-lg-10 offset-lg-2">

            <div class="row">
              <div class="col-md-5">
                <h2 class="page-heading">Aumentar sus tarifas de reserva es más fácil de lo que piensa</h2>
                <p class="lead">
                  Renueve su empresa de alquiler con el mínimo esfuerzo. Nuestra tecnología puede ayudarlo a obtener un índice de utilización superior al <strong class="text-blue">90%</strong>.
                </p>
                <br>
                <p class="lead">
                  Y avanzamos rápido: tendremos lista su empresa de alquiler, nueva y mejorada, en <strong class="text-blue"> 6 semanas</strong>.
                </p>
              </div>
              <div class="col-sm-7 offset-sm-2 offset-md-0">
                <div class="top-image-wrapper">
                  <img class="abs-right" src="/uploads/global/rent-arch.jpg" srcset="/uploads/global/rent-arch@2x.jpg 2x" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="product-area">

        <section class="block block-video-1" id="main-video">
          <div class="row ">
            <div class="col-lg-10 offset-lg-2">

              <div class="home-video pt-4">

                <div class="plyr__video-embed" id="player">

                  <iframe src="https://player.vimeo.com/video/361066939?title=0&byline=0&portrait=0"
                    frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                </div>
                <a id="video-btn" class="dark round-cta gt-videoplay mt-5">Ver vídeo</a>
              </div>

            </div>

          </div>
        </section>

        <section id="section-value" class="product-section grid-section pb-5" >
          <div class="wunder-bg left top-1"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <h2 class="page-heading mb-5 pb-4">Sus ventajas</h2>
              {% comment %}<p class="lead text-grey2 mb-5 pb-4">Here are a few of the ways Wunder Rent can help you make the most of your business:</p>{% endcomment %}
              <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-md-4">
                  <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                    <img class="mb-md-4 wide" src="/uploads/global/bluecar.svg" alt="A modern blue car icon" />
                    <div class="d-flex flex-column d-md-block icon-feature__text pr-3">
                      <h3 class="mb-2">Aumento del índice de utilización</h3>
                      <p>No permita que sus vehículos vuelvan a estar inactivos.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-8 col-md-4">
                  <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                    <img class="mb-md-4" src="/uploads/global/paperless.svg" alt="An icon showing a laptop and a mobile phone" />
                    <div class="d-flex flex-column d-md-block icon-feature__text">
                      <h3 class="mb-2">No más papeles</h3>
                      <p>Digitalice sus documentos y acceda a ellos en la nube, los 365 días.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-8 col-md-4">
                  <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                    <img class="mb-md-4" src="/uploads/global/icon-payment.svg" alt="An icon showing a mobile phone and a credit card" />
                    <div class="d-flex flex-column d-md-block icon-feature__text">
                      <h3 class="mb-2">Reservas y pagos en línea</h3>
                      <p>Sus clientes ya están en línea; usted también podría estarlo.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>

        <section id="section-operations" class="product-section pb-5" >
          <div class="row">
            <div class="col-lg-9 offset-lg-3">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="page-heading">Instalar y operar cómodamente</h2>
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Organice su flota</h3>
                        <p>Administre los índices de utilización y de daños, y disfrute de la flexibilidad de los precios dinámicos del grupo de vehículos.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Seguimiento y análisis</h3>
                        <p>Haga seguimiento de todos los vehículos en tiempo real y aproveche los análisis e informes detallados.</p>
                      </div>
                    </div>
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Centro de control de despacho</h3>
                        <p>Vea el historial del vehículo y administre todos los costos, pagos y cuentas de usuario desde un solo lugar.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="abs-image-wrapper">
                    <img class="abs-right ml-auto d-block mr-auto mt-5 mt-md-0" src="/uploads/global/mockup_dashboard_4.png" srcset="/uploads/global/mockup_dashboard_4@2x.png 2x"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-app1" class="product-section customer-app" >
          <div class="wunder-bg right top-2"></div>
          <div class="row">
            <div class="col-lg-9 offset-lg-3">
              <h2 class="page-heading">La experiencia de su cliente</h2>
              <div class="row">
                <div class="col-md-5 order-md-0 align-self-center">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Reserva anticipada</h3>
                        <p>Los usuarios reservan con semanas de anticipación a vista de calendario, o sobre la marcha cuando ven un vehículo.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 offset-md-1 order-md-1 text-center">
                  <svg id="connecting-svg" width="553" height="791" viewBox="0 0 553 791" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="connecting-path" d="
                      M 551.5 0
                      V 42.5
                      C 551.5 48.0228 547.023 52.5 541.5 52.5
                      H 11
                      C 5.47716 52.5 1 56.9772 1 62.5
                      V 701
                      C 1 706.523 5.47715 711 11 711
                      H 541.5
                      C 547.023 711 551.5 715.477 551.5 721
                      V 790.5" stroke="#2781FF" stroke-width="2" />
                  </svg>
                  <img src="/uploads/global/mockup_rent_1.png" srcset="/uploads/global/mockup_rent_1@2x.png 2x" class="product-image" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-app2" class="product-section customer-app" >
          <div class="wunder-bg left top-3"></div>
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-md-5 order-md-1 offset-md-0 align-self-center">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Encontrar lo más apropiado</h3>
                        <p>Los usuarios pueden ajustar los alquileres y elegir complementos que se adapten perfectamente a sus necesidades, y con una transparencia total de precios.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 order-md-0 text-center">
                  <img src="/uploads/global/mockup_rent_2.png" srcset="/uploads/global/mockup_rent_2@2x.png 2x" class="product-image" />
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="section-app3" class="product-section customer-app" >
          <div class="wunder-bg right top-4"></div>
          <div class="row">
            <div class="col-lg-9 offset-lg-3">
              <div class="row">
                <div class="col-md-5 offset-md-1 order-md-0 align-self-center">
                  <div class="feature-list">
                    <div class="single-feature">
                      <div class="m-body">
                        <h3 class="text-blue">Recoger e irse</h3>
                        <p>El vehículo perfecto nunca está lejos. Los usuarios eligen el lugar de recogida más cercano y ven detalles útiles como el nivel de combustible.</p>
                        <br>
                        <p><strong>Una vez que llegan al vehículo, ya está: ¡los usuarios pueden desbloquear y conducir!</strong></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 order-md-1 text-center">
                  <img src="/uploads/global/mockup_rent_3.png" srcset="/uploads/global/mockup_rent_3@2x.png 2x" class="product-image" />
                </div>
              </div>
            </div>
          </div>
        </section>

      </div> <!-- end of product-area -->

    </div> <!-- end of container -->

    <section id="section-customize" class="block-customize">

      <div class="gradient-block block-full-right col-2-in">
        <div class="container container-fullright">
          <div class="row">
            <div class="col">
              <h2 class="page-heading">Personalice su  experiencia <br>del cliente</h2>

              <div class="row">

                <div class="col-md-4">
                  <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                    <img class="mb-md-4" src="/uploads/global/rent-logo.svg" alt="blue icon of a person with a ring around them" />
                    <div class="d-flex flex-column">
                      <h3 class="mb-2">Logo</h3>
                      <p>Deje su huella y añada el logotipo de la marca de su empresa a la interfaz personalizable.</p>
                    </div>
                  </div>

                </div>
                <div class="col-md-4">
                  <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                    <img class="mb-md-4" src="/uploads/global/rent-icon.svg" alt="blue icon of an admin screen with a graph" />
                    <div class="d-flex flex-column d-md-block">
                      <h3 class="mb-2">Ícono</h3>
                      <p>Use íconos diseñados por su equipo para dejar una buena impresión en sus clientes.</p>
                    </div>
                  </div>

                </div>
                <div class="col-md-4">
                  <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                    <img class="mb-md-4" src="/uploads/global/rent-paint.svg" alt="blue icon of an admin screen with a graph" />
                    <div class="d-flex flex-column d-md-block">
                      <h3 class="mb-2">Color</h3>
                      <p>Inspírese utilizando la paleta de colores característica de su empresa.</p>
                    </div>
                  </div>

                </div>

              </div>

              <div class="row">
                <div class="col-4">
                  <img class="customize-mockup" src="/uploads/global/rent-customization-van.png" srcset="/uploads/global/rent-customization-van@2x.png 2x" alt="Wunder Rent mockup customized with a van and in a red color scheme" />
                </div>
                <div class="col-4">
                  <img class="customize-mockup" src="/uploads/global/rent-customization-scooter.png" srcset="/uploads/global/rent-customization-scooter@2x.png 2x" alt="Wunder Rent mockup customized with an electric scooter and in a green color scheme" />
                </div>
                <div class="col-4">
                  <img class="customize-mockup" src="/uploads/global/rent-customization-car.png" srcset="/uploads/global/rent-customization-car@2x.png 2x" alt="Wunder Rent mockup customized with a car and in a orange color scheme" />
                </div>
              </div>

            </div>
          </div>

        </div>
      </div> <!-- end of success wrapper -->

    </section>

    <div class="container">

      <section id="section-hardware" class="product-section" >
        <div class="row">
          <div class="col-lg-10 offset-lg-2">
            <div class="row">
              <div class="col-md-4 order-md-1">
                <h2 class="page-heading">Hardware</h2>
                <div class="feature-list">
                  <div class="single-feature">
                    <div class="m-body">
                      <h3 class="text-blue">Conecte su flota a través de nuestra nube</h3>
                      <p>Comenzar un nuevo negocio o renovar una flota existente solo puede lograrse con éxito gracias a la ayuda de un hardware de vanguardia.</p>
                      <br>
                      <p>Podemos ayudarlo a identificar un proveedor de hardware ideal para sus necesidades o conectarlo con el proveedor que usted elija.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 order-md-0">

                  <svg class="mw-100 ml-auto d-block mr-auto mt-sm-5 mt-md-0" width="633px" height="437px" viewBox="0 0 633 437" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <image id="Bitmap" x="0" y="0" width="633" height="437" xlink:href="/uploads/global/fleet-hardware-bm.png"></image>
                          <g id="hardware">
                              <g id="car-signal" class="signal-circles" transform="translate(290.000000, 168.000000)" stroke="#009EFF">
                                  <circle id="Oval" opacity="0.849516369" cx="45" cy="45" r="24.5"></circle>
                                  <circle id="Oval" opacity="0.513578869" cx="45" cy="45" r="33.5"></circle>
                                  <circle id="Oval" opacity="0.178873698" cx="44.5" cy="44.5" r="44"></circle>
                              </g>
                              <g id="scoot-signal" class="signal-circles" transform="translate(78.000000, 148.000000)" stroke="#009EFF">
                                  <circle id="Oval" opacity="0.849516369" cx="45" cy="45" r="24.5"></circle>
                                  <circle id="Oval" opacity="0.513578869" cx="45" cy="45" r="33.5"></circle>
                                  <circle id="Oval" opacity="0.178873698" cx="44.5" cy="44.5" r="44"></circle>
                              </g>
                              <g id="bike-signal" class="signal-circles" transform="translate(241.000000, 55.000000)" stroke="#009EFF">
                                  <circle id="Oval" opacity="0.849516369" cx="45" cy="45" r="24.5"></circle>
                                  <circle id="Oval" opacity="0.513578869" cx="45" cy="45" r="33.5"></circle>
                                  <circle id="Oval" opacity="0.178873698" cx="44.5" cy="44.5" r="44"></circle>
                              </g>
                              <g id="car-hw" transform="translate(320.000000, 203.000000)">
                                  <polygon id="Path-3" stroke="#0076F3" fill="#0076F3" points="-3.55271368e-15 7.01660156 22 16.5166016 22 22.0166016 -3.55271368e-15 12.0166016"></polygon>
                                  <polygon id="Path-4" stroke="#0058B9" fill="#0058B9" points="23 16.5166016 31 9.51660156 31 14.8408203 23 21.7166016"></polygon>
                                  <polygon id="Path-5" stroke="#009EFF" fill="#009EFF" points="0.375244141 6.15429687 8.63867188 -5.5067062e-14 30.5192871 8.62963867 22.5385742 15.6166016"></polygon>
                              </g>
                              <g id="scoot-hw" transform="translate(117.000000, 177.000000)">
                                  <polygon id="Path-6" stroke="#0076F3" fill="#0076F3" points="0 3.37225342 6.20336914 5.30802614 6.20336914 30 0 27.7160034"></polygon>
                                  <polygon id="Path-7" stroke="#0058B9" fill="#0058B9" points="7.17614746 5.34539795 10.5755615 3.37225342 10.5755615 26.9425659 7.17614746 29.6838989"></polygon>
                                  <polygon id="Path-8" stroke="#009EFF" fill="#009EFF" points="0.756225586 2.62594604 6.65393066 4.52111816 9.99902344 2.54539795 4.55285645 0.730773926"></polygon>
                              </g>
                              <g id="bike-hw" transform="translate(278.000000, 84.000000)">
                                  <polygon id="Path-6" stroke="#0076F3" fill="#0076F3" points="0 3.37225342 6.20336914 5.30802614 6.20336914 30 0 27.7160034"></polygon>
                                  <polygon id="Path-7" stroke="#0058B9" fill="#0058B9" points="7.17614746 5.34539795 10.5755615 3.37225342 10.5755615 26.9425659 7.17614746 29.6838989"></polygon>
                                  <polygon id="Path-8" stroke="#009EFF" fill="#009EFF" points="0.756225586 2.62594604 6.65393066 4.52111816 9.99902344 2.54539795 4.55285645 0.730773926"></polygon>
                              </g>
                          </g>
                      </g>
                  </svg>

              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="section-features" class="product-section pt-5" >
        <div class="row pt-5">
          <div class="col-lg-9 offset-lg-3">
            <h2 class="page-heading pb-4">Seis maneras en las que wunder rent puede impulsar su negocio</h2>
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                  <img class="mb-md-4" src="/uploads/global/icon-person.svg" alt="blue icon of a person with a ring around them" />
                  <div class="d-flex flex-column d-md-block icon-feature__text">
                    <h4 class="mb-2">Autoservicio</h4>
                    <p>Elimina el mostrador de servicios, y aumenta la eficiencia y la satisfacción del usuario.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                  <img class="mb-md-4" src="/uploads/global/icon-mc.svg" alt="blue icon of an admin screen with a graph" />
                  <div class="d-flex flex-column d-md-block icon-feature__text">
                    <h4 class="mb-2">Panel de control</h4>
                    <p>Administra pagos, precios, cuentas, marketing y el historial de los vehículos desde un centro de control muy práctico.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                  <img class="mb-md-4" src="/uploads/global/icon-donut-chart.svg" alt="blue icon of a separated pie chart" />
                  <div class="d-flex flex-column d-md-block icon-feature__text">
                    <h4 class="mb-2">Análisis integral</h4>
                    <p>Optimiza su negocio con análisis de datos en profundidad.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                  <img class="mb-md-4" src="/uploads/global/icon-schedule.svg" alt="blue icon a calendar" />
                  <div class="d-flex flex-column d-md-block icon-feature__text">
                    <h4 class="mb-2">Reserva anticipada</h4>
                    <p>Permite que su cliente pueda reservar vehículos y planificar con anticipación.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                  <img class="mb-md-4" src="/uploads/global/icon-unlock.svg" alt="blue icon of an open padlock" />
                  <div class="d-flex flex-column d-md-block icon-feature__text">
                    <h4 class="mb-2">Activar y desbloquear</h4>
                    <p>Activa y desbloquea todos los vehículos de su flota con solo tocar un botón en su panel de control.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4">
                <div class="icon-feature d-flex flex-md-column align-items-center align-items-md-start mb-5">
                  <img class="mb-md-4" src="/uploads/global/icon-rocket.svg" alt="blue icon of space rocket, it bears an uncanny resemblence to apollo 11" />
                  <div class="d-flex flex-column d-md-block icon-feature__text">
                    <h4 class="mb-2">Lanzamiento rápido</h4>
                    <p>Pone sus operaciones en funcionamiento, u optimiza y actualiza su negocio en un plazo de 4 a 6 semanas.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </div>

</main>
