body {
  background-color: $white;
}

.video-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
  //padding: rem(120px) rem(30px) rem(80px);

  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;


  h1 {
    body:not(.careers) & {
      font-weight: 400;
      font-size: 55px;
      strong {
        font-weight: 900;
      }
    }
  }

  .video-banner__inner-content {
    padding: rem(200px) 0 rem(200px);
    position: relative;
    min-height: 615px;
    .careers & {
      text-align: center;
    }
    @include rwd(tablet-up) {
      padding: rem(280px) 0 rem(160px);
    }

  }

  .video-banner__title-wrapper {
    max-width: rem(800px);
    position: relative;
    color: $white;
    display: inline-block;
    z-index: 2;
    p {
      font-weight: 500;
    }

  }
}


.block-one-column-1 {
    min-height: 700px;
    .container {
      margin: 50px auto 200px;
    }
    h2 {
      margin-bottom: 1.5rem;
    }
    p {
      margin-bottom: 1.5rem;
    }
    ul {
      margin-bottom: 2rem;
    }
    li > p {
      margin-bottom: 0.5rem;
    }
}

.nav-padding {
  height: 180px;
  width: 100%;
  background-color: $olive-matt;
}

.block-hero-2 {
  position: relative;
  z-index: 10;

  .block-logo-list {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    @extend .w-shadow;
    background: $white;
    @include rwd(tablet-up) {
      left: 17px;
    }
  }
}

.block-full-right {
  &:not(.col-2-in) {
    @include align-left(1);
  }
  &.col-2-in {
    @include align-left(2);
  }
}

.press {

  .video-banner {
    //background-image: url('uploads/global/press-hero-bg.jpg');
  }

  .col-2-in {
    padding: rem(70px) rem(30px) rem(80px);
    background: $background-grey;
    @include rwd(tablet-up) {
      padding: rem(70px) rem(70px) rem(80px);
      padding-right: 0;
    }
    @include rwd(desktop-up) {
      padding-left: #{$col-desktop};
    }
    @include rwd(wide-up) {
      padding-left: #{$col-desktop-wide};
    }
  }

  .single-download {
    padding: 0 2rem;
    @include rwd(tablet-down) {
      margin-bottom: 4rem;
    }

    h2 {
      text-transform: none;
      letter-spacing: 0px;
    }
    p {
      font-size: 16px;
      line-height: 21px;
    }
    hr {
      max-width: 150px;
    }
  }

  .block-right-quote {
    margin-top: 7rem;
    margin-bottom: 5rem;
    .right-quote__wrapper {
      //background: linear-gradient(147.32deg, #07C6EB 0.27%, #06A0E3 53.82%);
    }
    img {
      width: 200px;
      padding: 2rem 4rem 2rem 1rem;
      //filter: saturate(0);
      //opacity: 0.5;
    }
  }

  blockquote {
    //color: white;
    font-weight: 700;
  }


  blockquote::before {
    content: '"';
    position: absolute;
    font-size: 160px;
    opacity: 0.1;
    top: -66px;
    left: -10px;
    font-weight: 700;
  }

}


.video-banner__video {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  z-index: -1;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  @include rwd(tablet-up) {
    display: block;
  }
  @media screen and (min-width: 1280px) {
    width: auto;
    height: auto;
  }
}

.video-banner__overflow {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.intro-text {
  width: 90%;
  margin: 0 auto;
  background: #07c6eb;
  background: linear-gradient(135deg, #07c6eb 0%,#06a0e3 100%);
  position: relative;
  padding: rem(60px) rem(25px);
  transform: translateY(rem(-35px));
  max-width: rem(1200px);
  z-index: 100;

  @include rwd(tablet-up) {
    padding: rem(70px);
    transform: translateY(rem(-75px));
  }

  .round-cta {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: -19px;
  }

  p {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.5px;
  }
}


.round-cta {
  background: $white;
  color: $sky-blue;
  text-align: center;
  border-radius: 30px;
  text-transform: uppercase;
  line-height: 22px;
  padding: rem(12px) rem(30px);
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 12px;
  min-width: 200px;
  width: fit-content;
  position: relative;
  height: 46px;
  display: inline-block;
  transition: all 0.2s linear;
  max-width: 270px;
  cursor: pointer;
  margin-right: 1rem;
  margin-bottom: rem(15px);

  &:not(.no-arrow) {
    padding: rem(13px) rem(65px) rem(11px) rem(30px);
    &:after {
      content: '';
      display: block;
      background: $white url(../uploads/global/arrow-right.svg) no-repeat center;
      background-size: 46px;
      width: 46px;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      right: 20px;
      top: 0;
      pointer-events: none;
      transition: right 0.2s ;
    }


    &:hover {
      background: $dark-blue;
      color: $white;
      &:after {
        background: $white url(../uploads/global/arrow-right.svg) no-repeat center;
        background-size: 46px;
        right: 0;
      }
    }

    &.dark {
      background: $sky-blue;
      color: $white !important;
      &:after {
        background: $sky-blue url(../uploads/global/arrow-right-white.svg) no-repeat center;
        background-size: 16px;
      }
      &:hover {
        background: $dark-blue;
      }
    }

  }

  &.clear {
    background-color: transparent;
    color: $white;
    border: 2px solid $white;
    &:hover {
      background-color: rgba(255,255,255,0.2);
    }
  }

   &:disabled {
     opacity: 0.4;
     pointer-events: none;
   }
} /* end of round-cta */

a.circle-arrow {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: $grey-light url(../uploads/global/arrow-right-dark.svg) no-repeat center;
  background-size: 17px 12px;
  border-radius: 20px;
  @extend .w-shadow;
  transition: all 0.4s;
  &:hover {
    transform: translateY(-2px) scale(1.04);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.1);
  }
}



.client-list__logotypes {
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: rem(15px) 0;
  background-color: $white;

  li {
    padding: rem(10px);
    text-align: center;
    img {
      max-height: 34px;
      max-width: 100%;
      vertical-align: middle;
    }
    p {
      opacity: 0.6;
      padding-left: rem(15px);
      text-align: left;
    }
  }
  @include rwd(tablet-down) {
    .col {
      min-width: 90px;
    }
  }
  @include rwd(tablet-up) {
    padding: rem(30px) 0;
    li {
      padding: 0 rem(15px);
    }
  }
  @include rwd(desktop-up) {
    li {
      padding: 0 rem(25px);
    }
  }
}

.nav-arrow {
  position: absolute;
  bottom: 28px;
  left: -75px;
  animation: breathing 0.8s ease-in-out infinite alternate;
  @include rwd(wide-up) {
    left: -89px;
  }
}


.content-dropdown {

  .content-dropdown__opener {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #D3D4D8;
    margin-right: 130px;
    a {
      @extend h4;
      padding: 0 25px;
      display: inline-block;
      transform: translateY(10px);
      background-color: $white;
      cursor: pointer;

    }
  }

  .content-dropdown__content {
    display: none;
  }

  li {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: $grey2;
    &:not(:first-child) {
      margin-top: rem(8px);
    }
    &.category {
      color: $olive-matt;
      font-weight: 600;
      &:not(:first-child) {
        margin-top: rem(20px);
      }
    }
  }
}


.horizontal-accordion {
  display: flex;
  flex-direction: column;
  margin-top: rem(40px);

  @include rwd(desktop-up) {
    flex-direction: row;
  }
  .card {
    overflow: hidden;
    flex: 1 1 33%;
    border: none;
    border-radius: 0;
    background-color: $white;
    transition: all 0.4s;
    &.expand {
      background-color: $background-grey;
      flex: 1 1 66%;
      z-index: -1;
      .card-img {
        opacity: 1;
      }
      .card-img-overlay {
        box-shadow: 10px 0 18px -10px rgba(0, 0, 0, 0.1) inset, inset -10px 0 18px -10px rgba(0, 0, 0, 0.1);
      }
      ion-icon {
        opacity: 0;
      }
      .card-text {
        opacity: 1;
      }

    }
    &:not(.expand) {
      @extend .w-shadow;
    }
    &:first-child {
      &.expand .card-img-overlay {
        box-shadow: -10px 0 18px -10px rgba(0, 0, 0, 0.1) inset;
      }
    }
    &:last-child {
      &.expand .card-img-overlay {
        box-shadow: 10px 0 18px -10px rgba(0, 0, 0, 0.1) inset;
      }
    }
    .fleet & {
      @include rwd(desktop-down) {
        background-color: $background-grey;
        z-index: -1;
        width: 450px;
        max-width: 100%;
        margin: 0 auto 1rem;
        box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
        .card-img {
          opacity: 1;
        }
        .card-img-overlay {
          box-shadow: none !important;
        }
        ion-icon {
          opacity: 0;
        }
        .card-text {
          opacity: 1;
        }
      }
      @include rwd(tablet-down) {
        .inner-content {
          left: 60%;
          width: 80%;
        }
        .card-outer-image {
          transform: translateX(-140px);
        }
      }
    }
  }

  .card-img {
    opacity: 0;
    transition: opacity 0.4s;
    margin: 80px 0 0;
    width: 300px;
  }

  .card-img-overlay {
    transition: box-shadow 0.4s;
    cursor: pointer;
  }

  .card-closed-display {
      max-width: 196px;
      height: 100%;
      position: relative;
      cursor: pointer;
      .carpool & {
        padding: 2.5rem 1.25rem;
      }
  }

  .card-logo {
    max-height: 50px;
    max-width: 105px;
    margin-bottom: rem(20px);
  }

  .card-text {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: rem(15px);
    opacity: 0;
    transition: opacity 0.4s;
    //color: $olive-matt;
    &.show {
      opacity: 1;
    }
  }
  .card-inner-image {
    position: absolute;
    right: 0;
    left: 230px;
    bottom: 25px;
    pointer-events: none;
    max-height: 89%;
    &.raised {
      bottom: 65px;
      left: 222px;
    }
  }

  .card-outer-image {
    transform: translateX(-80px);
    height: 70%;
    pointer-events: none;
    &.raised {
      height: 55%;
      @include rwd(desktop-up) {
        transform: translateX(-120px) translateY(40px);
      }
    }
    @include rwd(wide-up) {
      transform: translateX(-80px);
      height: 70%;
      &.raised {
        height: 60%;
        transform: translateX(-120px) translateY(30px);
      }
    }
  }
  ion-icon {
    position: absolute;
    opacity: 1;
    bottom: 0px;
    right: 0px;
    font-size: 35px;
    color: $sky-blue;
    cursor: pointer;
    transition: opacity 0.2s;
    .carpool & {
        bottom: 1.25rem;
    }
  }
}

.inner-content {
  position: absolute;
  left: 100%;
  top: 20px;
  width: 100%;
  @include rwd(desktop-up) {
    width: 80%;
  }
  @include rwd(wide-up) {
    width: 100%;
  }
  .card-text {
    opacity: 0;
  }
}

/*
.horizontal-accordion.wide-image {

  .card > div {
    transition: all 0.4s;
  }
  .card-open-display {
    position: absolute;
    left: 100%;
    width: 460px;
    z-index: 100;
  }

  .card.expand {
    .card-closed-display {
        transform: translateX(-100%);
    }
    .card-open-display {
        left: 0;
    }
  }

  .card-closed-display  {
      padding: 2.5rem 2rem;
      position: relative;
      .card-body {
        padding: 0;
      }
      ion-icon {
        bottom: 1.25rem;
        right: 1.25rem;
      }
  }

}
*/

.block-stories {
  margin: rem(0px) 0 rem(160px);
}

.wunder-bg {
  width: 1440px;
  height: 450px;
  top: 200px;
  border-radius: 225px;
  background-color: #F4F4F4;
  position: absolute;
  opacity: 0.5;
  z-index: -1;

  &.left {
    left: -1000px;
    transform: rotate(-45deg);
  }
  &.right {
    right: -1000px;
    transform: rotate(45deg);
  }
  &.top-1 {
    top: 1800px;
  }
  &.top-2 {
    top: 2700px;
  }
  &.top-3 {
    top: 3300px;
  }

  @include rwd(tablet-up) {
    &.top-1 {
      top: 900px;
    }
    &.top-2 {
      top: 1500px;
    }
    &.top-3 {
      top: 2100px;
    }
  }

  @include rwd(desktop-up) {
    &.left {
      left: -700px;
      transform: rotate(-45deg);
    }
    &.right {
      right: -900px;
      transform: rotate(45deg);
    }
    &.top-1 {
      top: 1000px;
    }
    &.top-2 {
      top: 1700px;
    }
    &.top-3 {
      top: 2400px;
    }

  }
}

img.abs-right {
  position: absolute;
  right: -150px;
  width: calc(100% + 100px);
  max-width: none;
}

.cta-banner {
  padding: rem(150px) 0;
  background-size: cover;
  background-repeat: no-repeat;
  //background-image: url(../img/careers/teams.jpg);
  background-position: center;
  transform: translateY(50px);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    //background-image: url(../img/careers/teams@2x.jpg);
  }
  h2 {
    margin-bottom: rem(38px);
  }
}




.block-footer-cta-1 ~ footer {
  padding-top: rem(125px);
}


main:not(.with-form) ~ footer {
  margin: rem(120px) 0 0;
}

.footer {
  background: $olive-matt;
  padding: rem(80px) rem(30px) rem(40px);
  clear: both;

  .summit & {
    background: url("/uploads/global/summit-bg.png") repeat;
    background-size: 200px 150px;
  }

  a {
    color: $white;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }

  h4 {
    margin-bottom: rem(10px);
    color: $grey-heading;
  }

  ul {
    margin-bottom: rem(30px);
    padding: 0;
  }

  li {
    padding: rem(9px) 0;
    list-style: none;

    p {
      color: $olive-matt;
      font-size: rem(16px);
      line-height: 1.5;
    }

  }

  .round-cta {
    font-weight: 800;
  }

  @include rwd(tablet-up) {
    li {
      font-size: rem(14px);
      padding: rem(2px) 0;

      p {
        font-size: rem(11px);
      }

      .subtitle {
        font-size: rem(10px);
      }
    }
  }
  @include rwd(tablet-down) {
    li {
      padding: rem(4px) 0;
      font-size: rem(14px);
    }

  }

  .careers & {
    background: $white;
    a {
      color: $olive-matt;
    }
  }

  .cta-wrapper {
    text-align: center;
    margin: 0 0 3rem;
    a {
      font-size: 12px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  address {
    margin-bottom: 1.875rem;
  }

} //END OF .FOOTER

.block-contact-form {
  margin-top: rem(130px);
}

.block-contact-form + .footer, .with-form + .footer {
  padding-top: 150px;
}

.footer__wrapper {
  margin-bottom: rem(25px);
}

.footer__logotype {
  filter: brightness(570%);
  .careers & {
    filter: none;
  }
  margin-bottom: rem(40px);
}

.footer__bottom {
  color: $grey-heading;
  margin-right: -15px;
  margin-left: -15px;
  font-size: rem(14px);

  ul {
    margin-top: rem(20px);
    margin-left: 15px;
  }

  li:first-child {
    //margin-bottom: rem(30px);
  }

  a {
    color: $grey-heading;
    font-weight: $font-regular;
  }

  @include rwd(tablet-up ) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: rem(10px);

    li {
      display: inline-block;
      padding: 0 rem(30px);

      &:first-child {
        margin: 0;
      }
    }

    ul {
      margin: 0;
    }
  }
}


ul.footer__socialmedia {
  display: flex;
  align-items: center;
  margin-bottom: rem(10px);

  li {
    padding-right: rem(20px);
  }

  ion-icon {
    font-size: 24px;
    color: $white;
    .careers & {
      color: $olive-matt;
    }

  }

  @include rwd(tablet-up) {
    ion-icon {
      font-size: 20px;
    }
  }
}


.table {
  padding: rem(10px) rem(30px);
  thead {
    th {
      font-size: 12px;
      color: $grey2;
      font-weight: 400;
      border: none;
      padding-bottom: 0;
    }
  }
  tbody {
    tr:first-child td {
      border-top: none;
    }
    td {
      padding: 1.5rem 1.2rem;
      vertical-align: middle;
      border-color: #EAECEC;
    }
  }
  @include rwd(tablet-down) {
    td {
      display: block;
      border: none;
      width: 100%;
      &:first-child {
        padding-bottom: 0;
      }
      &:nth-child(2){
        padding-top:0;
        padding-bottom: 0;
      }
    }
    tr {
      border-bottom: 1px solid #EAEAEA;
    }
    thead {
      display: none;
    }
  }

}

.table-wrapper {
  padding: rem(10px) rem(30px);
  background: $white;
}


.border-hl-left {
  border-left: solid 5px $sky-blue;
}


.card {
  border: none;
  border-radius: 0;
  .text-overlay {
    transform: translateY(-30px) translateX(20px);
    height: 0;
    font-size: 20px;
    color: $white;
    font-weight: 600;
  }
}

.block-text-1 {
  img {
    max-width: 100%;
  }
}

.block-thumbnail-gallery {
  margin: 7rem 0;
}



#hardware {
  .signal-circles:nth-child(1) {
    circle {
      &:nth-child(1) {
        animation: wireless1 2.5s ease-in 0s infinite;
      }
      &:nth-child(2) {
        animation: wireless2 2.5s linear 100ms infinite;
      }
      &:nth-child(3) {
        animation: wireless3 2.5s linear 200ms infinite;
      }
    }
  }
  .signal-circles:nth-child(3) {
    circle {
      &:nth-child(1) {
        animation: wireless1 2.5s ease-in 600ms infinite backwards;
      }
      &:nth-child(2) {
        animation: wireless2 2.5s linear 700ms infinite backwards;
      }
      &:nth-child(3) {
        animation: wireless3 2.5s linear 800ms infinite backwards;
      }
    }
  }
  .signal-circles:nth-child(2) {
    circle {
      &:nth-child(1) {
        animation: wireless1 2.5s ease-in 1200ms infinite backwards;
      }
      &:nth-child(2) {
        animation: wireless2 2.5s linear 1300ms infinite backwards;
      }
      &:nth-child(3) {
        animation: wireless3 2.5s linear 1400ms infinite backwards;
      }
    }
  }
}
