.block-blog-list {
    margin: 6rem 0;

    .card-img {
      border-radius: 0;
    }

    .card {
      [class*="col-"] {
        display: inherit;
        overflow: hidden;
      }
      @extend .w-x-shadow;
      border-radius: 0;
      border: 1px solid transparent;
      cursor: pointer;
      transition: all 0.4s;
      overflow: hidden;

      &:hover {
        //border: solid 1px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 10px 54px rgba(0, 0, 0, 0.2);
        .card-img, .card-img-top {
          //transform: scale(1.05);
          filter: brightness(1.1);
        }
      }

      .card-img, .card-img-top {
        //transform: scale(1.005);
        transition: all 0.4s;
      }

    }

    .card-body {
      display: flex;
      flex-direction: column;
      padding-top: 0.75rem;

      .card-text {
          color: $olive-matt;
      }

    }

    .horizontal-card {
      .card-body {
        padding-top: 1.75rem;
      }
    }

}


.card-columns {
  @include rwd(mobile-up) {
    column-count: 2;
    column-gap: 3rem;
  }

  .card {
    margin: 3rem 0;
  }
}


h4.card-title {
    font-size: 17px;
    line-height: 25px;
    margin: 10px 0;
}

.post-cat {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  &.insights {
    color: #04DE47;
  }
  &.news {
    color: #FF0043;
  }
  &.lifewunder {
    color: #06A0E3;
  }
}

.card-bottom {
    margin-top: auto;
}



#simple-article {
  h1 {
    font-size: rem(44px);
  }
  footer {
    margin-top: 6rem;
  }
  .post-cat {
    margin-bottom: 5px;;
  }
}

.article-header {

  margin-bottom: 2rem;

  .article-header__content {
    border-bottom: 1px solid $grey-heading;
    padding-bottom: rem(10px);
    margin-bottom: rem(30px);
  }

  .share-block {
    text-align: right;
    ion-icon {
      margin-left: rem(6px);
      width: 20px;
      height: 20px;
      cursor: pointer;
      &.linkedin-icon {
        color: #006CAC;
      }
      &.twitter-icon {
        color: #1A97F0;
      }
      &.facebook-icon {
        color: #3A5CA9;
      }
    }
  }

  .share-text {
    font-size: 12px;
  }

}


.blog-content {
  h3 {
    margin: rem(40px) 0 rem(15px);
  }

  p {
    color: $olive-matt;
    line-height: 24px;
    font-size: 16px;
  }

  img {
    display: block;
    margin: rem(30px) auto 0;
  }
  img + em {
    margin-bottom: rem(25px);
    display: block;
    font-size: 80%;
    color: $grey2;
    text-align: center;
  }

  blockquote {
    text-transform: uppercase;
    margin: rem(70px) rem(20px);
    text-align: center;
    p {
      font-weight: 100;
      font-size: 28px;
      letter-spacing: 2px;
      line-height: 36px;
    }
  }
}
