.home  {

  main {
    background-color: $white;
    padding-top: rem(100px);
    position: relative;
  }

  .maas-wrapper {
    position: relative;
    z-index: 10;
    overflow: hidden;
    //margin-top: rem(100px);
    @include rwd(desktop-up) {
      background: linear-gradient(
        rgba(255, 255, 255, 0) 86%,
        rgba(255, 255, 255, 1) 92%
      ), url('/uploads/global/3d-city.jpg') no-repeat;
      background-size: 1200px auto;
      background-position: calc(50vw - 446px) 50px;
    }
  }

  #section-maas {
    p {
      margin-top: rem(15px);
    }
  }

  .maas-section {
    p {
      margin: rem(15px) 0;
      letter-spacing: 0.25px;
      line-height: 22px;

    }
  }

  .solutions-area {

    .maas-section {
      position: relative;
      &:after {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0;
        background: url('/uploads/global/3d-city.jpg') no-repeat, linear-gradient(white 1%, transparent 10%, white 50%);
        background-size: 800px auto;
        height: 300px;
        width: 100%;
      }
      padding: rem(40px) 0 rem(330px);
      border-bottom: 1px solid #e6e6e6;

      &#section-carpool {
        &:after {
          background-position: -230px -12px;
        }
      }
      &#section-fleet {
        &:after {
          background-position: 0px -385px;
          transform: scaleX(-1);
        }
      }
      &#section-shuttle {
        &:after {
          background-position: -240px -850px;
        }
      }

    }

    @include rwd(tablet-up) {
      padding: 0 0 3.75rem;
      .maas-section {
        padding: rem(60px) 0 rem(200px);
        background: url('/uploads/global/3d-city.jpg') no-repeat;
        background-size: 800px auto;
        border-bottom: 1px solid #e6e6e6;
        &:after {
          display: none;
        }
      }
      #section-carpool {
        background-position: center 100px;
        padding: 60px 0 200px;
      }
      #section-fleet {
        background-position: 300px -300px;
        padding-right: 400px;
        margin-right: -400px;
      }
      #section-shuttle {
        background-position: 50px -800px;
        padding-right: 300px;
        margin-right: -300px;
      }
    }

    @include rwd(desktop-up) {
      padding: 7.5rem 0 3.125rem;
      #section-carpool, #section-fleet, #section-shuttle {
        padding: 0;
        background: none;
        border-bottom: none;
        padding-right: 0;
        margin-right: 0;
      }

      #section-carpool {
        padding-bottom: rem(300px);
        padding-top: rem(80px);
        p {
          padding-right: rem(50px);
        }
      }
      #section-fleet {
        padding-bottom: rem(400px);
        div[class^="col"] {
          padding-left: rem(50px);
        }
      }
      #section-shuttle {
        padding: rem(80px) 0 rem(500px);
      }
    }

  }

}


.success__wrapper {
  padding: rem(70px) rem(30px) rem(80px);
  background: #07c6eb;
  background: linear-gradient(135deg, #07c6eb 0%,#06a0e3 100%);
  color: $white;
  @include rwd(tablet-up) {
    padding-left: rem(40px);
  }
  @include rwd(desktop-up) {
    padding-left: rem(50px);
  }
  @include rwd(wide-up) {
    padding-left: rem(78px);
  }
  h2 {
    color: $white;
  }
}

.important-numbers__stats {
  margin: rem(70px) 0 0;
  text-transform: uppercase;
  text-align: left;

  .important-numbers__stat-wrapper {
    @include rwd(tablet-up) {
      margin-bottom: rem(70px);
    }
  }

  .important-numbers__stat {
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 6px;
    small {
      display: block;
      font-size: 18px;
      font-weight: 200;
      margin: 0 0 0.5rem;
      letter-spacing: 2px;
    }

  }
  p {
    font-size: 12px;
    color: $white;
    opacity: 0.5;
    letter-spacing: 0.75px;
  }

  @include rwd(desktop-up) {
    .important-numbers__stat {
      font-size: 80px;
      small {
        font-size: 20px;
      }
    }
    p {
      font-size: 14px;
    }
  }


}

.cities__wrapper {
  transform: translateY(-90px);
}

.cities-text {
  padding: rem(100px) 0 0 rem(20px);
  p {
    text-transform: uppercase;
    line-height: 32px;
    &:not(.city-number) {
      margin-bottom: rem(20px);
    }
  }
  .city-number {
    font-size: 50px;
    color: $olive-matt;
    font-weight: 900;
  }
}

.image-card {
  @extend .w-shadow;
  position: relative;
  img {
    max-width: 100%;
  }

  .image-card__content {
    position: absolute;
    bottom: 20px;
    left: 17px;

    p {
      text-transform: uppercase;
      font-size: 12px;
      &.image-card__title {
        margin-top: 2px;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 1px;
        color: $olive-matt;
      }
    }
  }
}

.block-two-column-horizontal {
  padding: rem(60px) 0 rem(80px);
  background-color: $white;
}
