$mkt-primary: #0026E6;
$black50: #808080;


/*
 ----- TYPOGRAPHY  ------
*/

h1, .h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
  font-weight: 600;
  @include rwd(tablet-up) {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 0px;
  }
}

h2, .h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  @include rwd(tablet-up) {
    font-size: 32px;
    line-height: 48px;
  }
}

h3, .h3 {
  font-size: 20px;
  font-weight: 600;
  @include rwd(tablet-up) {
    font-size: 24px;
    line-height: 40px;
  }
}

h4, .h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
  @include rwd(tablet-up) {
    font-size: 20px;
    line-height: 32px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  &.body-light, .body-light & {
    color: #4d4d4d;
  }
  ~ p {
    margin-top: inherit !important;
  }
  &.small {
    font-size: 10px;
    line-height: 16px;
    @include rwd(tablet-up) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &.large {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 12px;
    @include rwd(tablet-up) {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 16px;
    }
  }
}

.body-label {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: normal;
  @include rwd(tablet-up) {
    font-size: 12px;
  }
}


/*
 ------ COMPONENTS ------
*/


.btn {
  font-size: 14px;
  .arrow-svg {
    margin-left: 5px;
    max-width: 20px;
    max-height: 20px;
  }
}
.btn.btn-block {
  font-size: 16px;
}
.btn-mkt {
  padding: 16px 24px;
}
.btn-primary {
  background-color: $mkt-primary;
  &:hover {
    background-color: darken($mkt-primary, 8%);
  }
}

.btn-link {
  color: $black50;
  &.active {
    background-color: $black96;
    color: $mobility-black;
  }
}


.category-select {
  .btn-link {
    text-decoration: none;
  }
}

.mob-scroll {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}


.category-select {
  > * {
    white-space: nowrap;
    margin-right: 14px;
    @include rwd(wide-up) {
      margin-right: 22px;
    }
  }
  &:after {
    content: '';
    min-width: 30px;
    display: inline-block;
    height: 1px;
  }
}

#app-details {
  a {
    color: $mkt-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}

.text-highlight, .link-text {
  color: $mkt-primary;
}
.link-text:hover {
  text-decoration: underline;
}


.app-access {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  &:before {
    content: '';
    margin-right: 8px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url('/uploads/global/marketplace/check-icon.svg');
  }
}

.step-col {
  display: flex;
  align-items: flex-start;
  &:before {
    content: '';
    margin-right: 8px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url('/uploads/global/marketplace/li-number-1.svg');
  }
}

#wunder-statboxsvg {
  filter: drop-shadow(1px 4px 6px rgba(0,0,0,0.1));
  @include rwd(tablet-up){
    max-width: 120%;
    position: absolute;
    left: -20px;
  }
  @include rwd(desktop-up){
    max-width: 140%;
  }
}




.bg-gray-gradient {
  background: linear-gradient(141.15deg, #F1F3F7 0%, #EAECF0 93.23%, #EAEBEF 100%);
}

.bg-crossover {
  background: linear-gradient(357.49deg, rgba(255, 255, 255, 0) 85.6%, #FFFFFF 85.6%), linear-gradient(312.8deg, #F1F1F7 0%, #EAECF0 93.23%, #EAEBEF 100%);
  min-height: 26vw;
  padding-top: 120px;
  padding-bottom: 64px;
}

.bg-crossover.grey-white {
  background: linear-gradient(357.83deg, #FFFFFF 18.08%, rgba(255, 255, 255, 0) 18.09%), linear-gradient(96.72deg, #F1F3F7 8.38%, #EAECF0 90.71%, #EAEBEF 96.68%);
}

.white-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 42px;
  background-color: white;
  z-index: 0;
}


.applist-icon {
  max-width: 64px;
  max-height: 64px;
  @include rwd(tablet-up) {
    max-width: 72px;
    max-height: 72px;
  }
}
