$mkt-primary: #0026E6;
$black50: #808080;


/*
 ----- TYPOGRAPHY  ------
*/

h1, .h1 {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 32px;
  font-weight: 600;
  @include rwd(tablet-up) {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 0px;
  }
}

h2, .h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  @include rwd(tablet-up) {
    font-size: 32px;
    line-height: 48px;
  }
}

h3, .h3 {
  font-size: 20px;
  font-weight: 600;
  @include rwd(tablet-up) {
    font-size: 24px;
    line-height: 40px;
  }
}

h4, .h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 6px;
  @include rwd(tablet-up) {
    font-size: 20px;
    line-height: 32px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  &.body-light, .body-light & {
    color: #4d4d4d;
  }
  ~ p {
    margin-top: inherit !important;
  }
  &.small {
    font-size: 10px;
    line-height: 16px;
    @include rwd(tablet-up) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &.large {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 12px;
    @include rwd(tablet-up) {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 16px;
    }
  }
  &.smallprint {
    font-size: 12px;
    line-height: 20px;
  }
}

.body-label {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: normal;
  @include rwd(tablet-up) {
    font-size: 12px;
  }
}



/*
 ------ HEADER / NAV ------
*/

.marketplace-hero {
  background: no-repeat center -9vw;
  background-size: cover;
  background-image: linear-gradient(160.13deg, #FFFFFF 8.08%, rgba(255, 255, 255, 0.748634) 20.01%, rgba(255, 255, 255, 0) 48.26%), url("../uploads/global/marketplace/marketplace-hero_mob.jpg");
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: linear-gradient(160.13deg, #FFFFFF 8.08%, rgba(255, 255, 255, 0.748634) 20.01%, rgba(255, 255, 255, 0) 48.26%), url("../uploads/global/marketplace/marketplace-hero_mob@2x.jpg");
  }
  @include rwd(tablet-up) {
    background-image: url('../uploads/global/marketplace/marketplace-hero.jpg');
    background-position-y: center;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('../uploads/global/marketplace/marketplace-hero@2x.jpg');
    }
  }
}

.marketplace nav {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  z-index: 1020; // less than modal backdrop
}



/*
 ------ COMPONENTS ------
*/


.btn {
  font-size: 14px;
  .arrow-svg {
    margin-left: 4px;
    margin-top: -2px;
    max-width: 20px;
    max-height: 20px;
  }
}
.btn.btn-block {
  font-size: 16px;
}
.btn-mktlg {
  padding: 15px 24px;
}
.btn-mkt {
  padding: 11px 16px;
}
.btn-primary {
  background-color: $mkt-primary;
  border: none;
  &:hover {
    background-color: darken($mkt-primary, 8%);
  }
}

.btn-link {
  color: $black50;
  &.active {
    background-color: $black96;
    color: $mobility-black;
  }
}

.marketplace-radio:checked ~ .custom-control-label::before {
  border-color: $mkt-primary;
  background-color: $mkt-primary;
}


.category-select {
  .btn-link {
    text-decoration: none;
  }
}


.app-previews {
  &__single {
    width: 155px;
    margin-right: 16px;
    flex-shrink: 0;
    @include rwd(tablet-up) {
      width: 180px;
      margin-right: 24px;
    }
  }
  &:after {
    content: '';
    min-width: 30px;
    display: inline-block;
    height: 1px;
  }
}


/*
 ------ FORM ------
*/

.mktform {
  label {
    font-size: 12px;
    margin-bottom: 8px;
    color: $mobility-black;
  }
  .custom-radio label {
    font-size: 14px;
  }
  .text-input, .textarea-input {
    min-height: 48px;
    border: none;
    background: $black96;
    color: $mobility-black;
    width: 100%;
    padding-left: 12px;
    font-size: 14px;
    &:focus {
      background-color: white;
    }
  }
  .textarea-input {
    padding-top: 10px;
  }
  ::-webkit-input-placeholder, :-ms-input-placeholder, ::-ms-input-placeholder, ::placeholder {
    font-size: 14px;
    color: $black50;
  }
  
  .conditional-hide {
    display: none;
  }
}


.select2-container--default {
  span.select2-selection {
    background: $black96;
    border: none;
    border-radius: 0;
    height: 48px;
  }
  &.select2-container--focus {
    outline: -webkit-focus-ring-color auto 1px;
    .select2-selection--multiple {
      border: 0;
      background: $white;
    }
  }
   .select2-selection--multiple {
    padding: 5px 12px;
    .select2-selection__rendered {
     padding: 0;
    }
    .select2-selection__choice {
      background: $mkt-primary;
      color: $white;
      font-size: 12px;
      font-weight: 600;
      border: 0;
      border-radius: 0;
      padding: 5px 10px;
    }
    .select2-selection__choice__remove {
      color: $white;
      float: right;
      margin: 0 2px 0 8px;
      font-size: 16px;
      font-weight: 300;
      line-height: 1;
      &:hover {
        color: $black80;
      }
    }
  }
  .select2-search--inline .select2-search__field {
    font-size: 14px;
    color: $black50;
    margin-top: 7px;
  }
  .select2-results__option {
    font-size: 14px;
    padding: 6px 12px;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $black96;
    color: $mobility-black;
  }
}



.select2-dropdown {
  z-index: 2051;
  border: none;
  margin-top: 2px;
  @extend .w-shadow;
}


.mob-scroll {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}


.category-select {
  > * {
    white-space: nowrap;
    margin-right: 14px;
    @include rwd(wide-up) {
      margin-right: 22px;
    }
  }
  &:after {
    content: '';
    min-width: 30px;
    display: inline-block;
    height: 1px;
  }
}

#app-details {
  a {
    color: $mkt-primary;
    &:hover {
      text-decoration: underline;
    }
  }
}

.text-highlight, .link-text {
  color: $mkt-primary;
}
.link-text:hover {
  text-decoration: underline;
}


.app-access {
  margin-bottom: 16px;
  display: flex;
  align-items: flex-start;
  &:before {
    content: '';
    margin-right: 8px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url('/uploads/global/marketplace/check-icon.svg');
  }
}

.step-col {
  display: flex;
  align-items: flex-start;
  &:before {
    content: '';
    margin-right: 8px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    background: url('/uploads/global/marketplace/li-number-1.svg');
  }
  &.step2:before {
    background: url('/uploads/global/marketplace/li-number-2.svg');
  }
  &.step3:before {
    background: url('/uploads/global/marketplace/li-number-3.svg');
  }
}

#wunder-statboxsvg {
  @include rwd(tablet-up){
    max-width: 110%;
  }
  @include rwd(desktop-up){
    max-width: 140%;
  }
}




.bg-gray-gradient {
  background: linear-gradient(141.15deg, #F1F3F7 0%, #EAECF0 93.23%, #EAEBEF 100%);
}

.bg-crossover {
  background: linear-gradient(357.49deg, rgba(255, 255, 255, 0) 85.6%, #FFFFFF 85.6%), linear-gradient(312.8deg, #F1F1F7 0%, #EAECF0 93.23%, #EAEBEF 100%);
  min-height: 26vw;
  padding-top: 120px;
  padding-bottom: 64px;
}

.bg-crossover.grey-white {
  background: linear-gradient(357.83deg, #FFFFFF 18.08%, rgba(255, 255, 255, 0) 18.09%), linear-gradient(96.72deg, #F1F3F7 8.38%, #EAECF0 90.71%, #EAEBEF 96.68%);
}

.white-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22px;
  background-color: white;
  z-index: 0;
  @include rwd(tablet-up) {
    height: 75px;
  }
}

.marketplace .w-shadow {
  //filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.12));
  //box-shadow: none;
}

.applist-icon {
  max-width: 64px;
  max-height: 64px;
  @include rwd(tablet-up) {
    max-width: 72px;
    max-height: 72px;
  }
}
