main {
}



#section-os {
  margin-top: rem(50px);
  @include rwd(desktop-up) {
    //margin-top: rem(100px);
    padding-bottom: rem(100px);
  }
}

.product-area {
  margin-bottom: rem(100px);
  @include rwd(tablet-up) {
    margin-bottom: rem(200px);
  }
}

.solution-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 400px;
  margin-bottom: -400px;

  .page-heading {
      margin-bottom: rem(40px)
  }

  .top-image-wrapper {
    @include rwd(tablet-down) {
      margin-top: rem(30px);
      margin-left: -80px;
    }

    .abs-right {
      top: -50px;
      right: -220px;
      @include rwd(tablet-up) {
        width: calc(100% + 200px);
      }
    }
  }

  .abs-image-wrapper, .top-image-wrapper {
    @include rwd(tablet-down) {
      .abs-right {
        position: static;
        //max-width: 100%;
      }
    }
  }

  .product-section {
    margin-top: rem(70px);
    min-height: 350px;
    @include rwd(tablet-up) {
      margin-top: rem(150px);
    }
    @include rwd(desktop-up) {
      margin-top: rem(250px);
    }

  }

  .feature-list {
    .single-feature {
      display: flex;
      margin-bottom: rem(30px);
      h3 {
        margin-bottom: rem(10px);
        text-transform: capitalize;
        letter-spacing: normal;
      }
    }
    ion-icon {
      font-size: 30px;
      min-width: 50px;
      color: $sky-blue;
    }
  }

  #section-admin {
    .page-heading {
      margin-bottom: 1rem;
    }
    .single-feature:first-child {
      margin-bottom: 2.5rem;
    }
    img.abs-right {
      right: -300px;
      width: calc(100% + 250px);
    }
  }
}

#section-hardware {
  img {
    padding-right: 50px;
  }
  svg {
    margin: -100px auto -150px;
    @include rwd(tablet-up) {
        margin: 0 auto -150px;
    }

  }
}


.horizontal-accordion.image-top {

  .card {
    overflow: visible;
    flex: 1 1 100%;
    @include rwd(desktop-up) {
      overflow: hidden;
      flex: 1 1 33%;
      height: 400px;
    }
  }

  .card-outer-image {
    transition: margin 0.4s ease-in-out;
    transform: none;
    height: auto;
    max-height: none;
    @include rwd(desktop-up) {
      width: 400px;
    }
    width: 100%;
  }

  .card-logo {
    align-self: flex-start;
    margin: 30px;
    max-height: none;
    max-width: 120px;
  }

  .inner-content {
    position: absolute;
    padding: 0 30px 40px;
    transition: width 0.4s;
    @include rwd(wide-up) {
        width: 390px;
    }
    @include rwd(desktop-up) {
        width: 350px;
    }
    width: 100%;
  }

  ion-icon {
    bottom: 20px;
    right: 20px;
  }

  .expand {

    .card-outer-image {
      @include rwd(desktop-up) {
        margin-top: -215px;
      }

    }

    .inner-content {
      position: static;
    }

  }


  .park & {

    .card-outer-image {
      width: 612px;
    }

    .card {

      @include rwd(desktop-up) {
        height: 500px;
      }
      &.expand {
        .card-outer-image {
          @include rwd(desktop-up) {
            margin-top: 0;
          }
        }
        .inner-content {
          @include rwd(desktop-up) {
            right: 30px;
            left: auto;
            top: 30px;
            position: absolute;
            width: 380px;
          }
        }

      }
    }


  }


}

.photo-accordion {
  margin-top: rem(60px);

  .acc-container {
    display: table;
    table-layout: fixed;
    width: 100%;

    .collapsible {
      display: table-row;
      @include rwd(desktop-up) {
        display: table-cell;
        width: 33.3333%;
        transition: all 0.4s;
        filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.1));
        z-index: 2;
        position: relative;
        cursor: pointer;
      }

      .main-acc-content {
        height: auto;
        background: #FAFAFA;
        @include rwd(desktop-up) {
          height: 290px;
          background: #FFF;
          transition: background 0.4s;
        }
      }

      .collapsible-logo {
        position: relative;
        max-height: 95px;
        max-width: 140px;
        @include rwd(desktop-up) {
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.4s 0s;
        }

      }
      .collapsible-text {
        padding: 0 30px 50px;
        @include rwd(desktop-up) {
          padding: 0 30px 0 80px;
          opacity: 0;
          visibility: hidden;
          transition: none;
        }
      }

      @include rwd(desktop-up) {
        &.show {
          width: 66.6666%;
          z-index: 1;
          filter: drop-shadow(12px 0px 12px rgba(0,0,0,0.1));
          cursor: auto;
          .collapsible-text {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.4s 0.4s;
          }
          .collapsible-logo {
            transform: translateX(40px) scale(0.8);
            left: 0;
            transition: all 0.8s 0s;
          }
          .main-acc-content {
            background: #FAFAFA;
          }
        }
      }


    }

  }

  .collapsible-photo {
    height: 200px;
    background-repeat: no-repeat;
    background-position: left center;
  }

}


.shuttle .card {
  border: none;
  border-radius: none;
  .card-body {
    padding-left: rem(40px);
    padding-right: rem(40px);
    .card-logo {
      width: 200px;
      max-width: 80%;
    }
  }
  .card-closed-display {
    padding: 2.5rem 1.25rem;
  }

  .video-container {
    background: $black;
    height: 100%;
  }
  .plyr {
    transform: translateY(-50%);
    top: 50%;
  }

  #video-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }

  .blockquote {
    footer {
      font-size: 14px;
    }
  }
}


.park {

  .wunder-bg {
    margin-top: -300px;
  }

  main p:not(.text-grey2), main li {
    color: $olive-matt;
  }

  .top-image-wrapper svg {
    margin-top: -140px;
    margin-bottom: -200px;
    @include rwd(tablet-up) {
      margin-top: -100px;
      margin-bottom: -200px;
    }
  }

  /*
  .top-image-wrapper svg #Path-10 {
    stroke-dasharray: 539;
    stroke-dashoffset: 539;
    animation: path-dash 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate 1s;
  }
  */

  .solution-wrapper {
    #section-os {
      @include rwd(tablet-up) {
        padding-bottom: 0;
      }
    }

    h3 {
      font-weight: 800;
    }

    .product-section {
      margin: 0;
    }

    hr {
      border-color: #D3D4D8;
      margin: 6.5rem 0 5.5rem;
    }

  }


  .product-area {
    margin-bottom: 6rem;

    .product-image {
      max-height: 300px;
      @include rwd(desktop-up) {
        max-height: 500px;
      }
    }

  }

  .content-dropdown__opener {
    padding-top: 1rem;
  }
  a.with-down-arrow:after {
    filter: brightness(70%);
  }



  .wunder-bg {
    margin-top: 500px;
  }
  &.de {
    .wunder-bg {
      margin-top: 700px;
    }
  }

  #parkterminal  {
    margin: 50px auto 0;
    display: block;
    max-height: 300px;
    @include rwd(tablet-up) {
      margin-top: -140px;
      margin-bottom: -137px;
      max-width: 250px;
      max-height: none;
    }

    #phoneqr {
      animation: phone-in 3s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate 0s;
      transform: translateX(38px)
    }

    #terminal-toplight {
      animation: light-on 3s linear infinite alternate 1s;
    }
  }

  @keyframes phone-in {
    to {
      transform: translateX(58px) translateY(-10px) rotateZ(2deg) rotateY(36deg) scale(0.92);
    }
  }

  @keyframes light-on {
    0% {
      fill: #ffffff;
    }
    45% {
      fill: #ffffff;
    }
    53% {
    }
    55% {
      fill: #04DE47;
    }
    100% {
      fill: #04DE47;
    }
  }


  @include rwd(tablet-down) {
    .solution-wrapper .top-image-wrapper {
      margin-left: 0;
    }
    svg.abs-right {
        max-width: 100%;
    }
    .wunder-bg {
      display: none;
    }
  }

}

.image-text-cols {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
  .single-col {
    flex: 0 0 45%;
    &:nth-child(odd) {
      padding-right: rem(20px);
    }

  }
  .image-container {
    .park & {
      height: 300px;
      align-items: center;
    }
    img.product-image {
      max-height: 290px;
      margin: auto;
      max-width: 300px;
    }
  }

  h3 {
    margin-bottom: .625rem;
    text-transform: capitalize;
    letter-spacing: normal;
  }
}



.fleet, .carpool, .shuttle {
  .important-numbers__stat-wrapper  {
    @include rwd(mobile-up) {
      margin-bottom: 0;
    }
  }
  .product-section ion-icon {
    display: none;
  }

}

.fleet, .rent {
  @include highlight($fleet-highlight);
  .video-banner {
    background-position: center bottom;
  }
}
.shuttle {
  @include highlight($shuttle-highlight);
  .video-banner {
    background-position: center bottom;
  }
}
.carpool {
  @include highlight($carpool-highlight);
  .video-banner {
    background-position: center bottom;
  }
  .success__wrapper {
    background: linear-gradient(135.54deg, #04dE47 0.27%, #00CF40 53.82%);
  }
}
.park {
  //@include highlight($park-highlight);
  .video-banner {
    background-position: center bottom;
  }
}


.solution-wrapper.header-bridge {
  margin-top: 190px;
  @include rwd(tablet-up) {
    margin-top: 120px;
  }
}

.bridge-padding {
  height: 160px;
  @include rwd(tablet-up) {
  }
}

section.grey-bg {
  background: $background-grey;
  padding-top: rem(80px);
}



.fullimg-section {
  margin: 25px;
  background-color: #fff;
}
.fullimg-section__bgimage {
  background-size: cover;
  background-position: center;
  position: relative;
  padding-top: 20vh;

  .fullimg-section__overflow {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

.text-card {
  background-color: #fff;
  padding: 40px 30px;
  width: calc(100% + 110px);
  transform: translateX(-55px);
  @include rwd(mobile-up) {
    width: auto;
    transform: none;
    padding: 50px 70px;
  }
  p {
    color: $olive-matt !important;
  }

  blockquote {
    margin-bottom: 0;
  }
  .blockquote-footer {
    &:before {
      content: '';
    }
    margin-top: rem(40px);
    text-align: right;
    color: $olive-matt;
    font-size: 70%;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cite {
      font-size: 12px;
      display: block;
      font-weight: 400;
      font-style: normal;
    }
  }
  .quote-link {
    text-transform: none;
    font-size: 12px;
    color: $olive-matt;
    letter-spacing: 0;
    a {
      color: $olive-matt;
      text-decoration: underline;
    }
  }
}


ol.colored-numbers {
  list-style: none;
  counter-reset: wunder-counter;
  margin-top: 25px;
  li {
    counter-increment: wunder-counter;
    margin-bottom: 15px;
    &::before {
      content: "0" counter(wunder-counter) "";
      color: $sky-blue;
      font-size: 12px;
      position: absolute;
      left: -15px;
      margin-top: 4px;
    }
  }
}

.content-dropdown ol.colored-numbers {
  position: relative;
  padding-left: 30px;
  margin-top: 0;
  li::before {
    margin-top: 0;
    left: 0;
  }
}


.larger {

  p {
    color: $olive-matt;
    font-size: 16px;
    line-height: 21px;
  }
  p.lead {
    font-size: 18px;
    line-height: 25px;
    @include rwd(mobile-up) {
      font-size: 20px;
      line-height: 28px;
    }
  }

}
