main {
}



#section-os {
  margin-top: rem(50px);
  @include rwd(desktop-up) {
    //margin-top: rem(100px);
    padding-bottom: rem(100px);
  }
}

.product-area {
  margin-bottom: rem(200px);
}

.solution-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 400px;
  margin-bottom: -400px;

  .page-heading {
      margin-bottom: rem(40px)
  }

  .top-image-wrapper {
    @include rwd(tablet-down) {
      margin-top: rem(30px);
      margin-left: -80px;
    }

    .abs-right {
      top: -50px;
      right: -220px;
      @include rwd(tablet-up) {
        width: calc(100% + 200px);
      }
    }
  }

  .abs-image-wrapper, .top-image-wrapper {
    @include rwd(tablet-down) {
      .abs-right {
        position: static;
        //max-width: 100%;
      }
    }
  }

  .product-section {
    margin-top: rem(150px);
    min-height: 350px;
    @include rwd(desktop-up) {
      margin-top: rem(250px);
    }

  }

  .feature-list {
    .single-feature {
      display: flex;
      margin-bottom: rem(30px);
      h3 {
        margin-bottom: rem(10px);
        text-transform: capitalize;
        letter-spacing: normal;
      }
    }
    ion-icon {
      font-size: 30px;
      min-width: 50px;
      color: $sky-blue;
    }
  }

  #section-admin {
    .page-heading {
      margin-bottom: 1rem;
    }
    .single-feature:first-child {
      margin-bottom: 2.5rem;
    }
    img.abs-right {
      right: -300px;
      width: calc(100% + 250px);
    }
  }
}

#section-hardware {
  img {
    padding-right: 50px;
  }
  svg {
    margin-bottom: -150px
  }
}




.shuttle .card {
  border: none;
  border-radius: none;
  .card-body {
    padding-left: rem(40px);
    padding-right: rem(40px);
    .card-logo {
      width: 200px;
      max-width: 80%;
    }
  }
  .card-closed-display {
    padding: 2.5rem 1.25rem;
  }

  .video-container {
    background: $black;
    height: 100%;
  }
  .plyr {
    transform: translateY(-50%);
    top: 50%;
  }

  #video-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
  }

  .blockquote {
    footer {
      font-size: 14px;
    }
  }
}


.park {
  .top-image-wrapper svg {
    @include rwd(tablet-up) {
      margin-top: -60px;
    }
  }
  .top-image-wrapper svg path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: path-dash 3s ease-in-out alternate infinite;
  }

  .solution-wrapper {
    #section-os {
      @include rwd(tablet-up) {
        padding-bottom: 1.25rem;
      }
    }
    .product-section:not(.grid-section) {
      margin-top: 10.5rem;
      img {
        &:not(.mw-auto) {
          max-width: 80%;
          min-height: 460px;
        }
        @include rwd(tablet-down) {
          max-height: 400px;
        }
      }
    }
    .product-area {
      margin-bottom: 6rem;
    }
  }

  @include rwd(tablet-down) {
    .solution-wrapper .top-image-wrapper {
      margin-left: 0;
    }
    svg.abs-right {
        max-width: 100%;
    }
    .wunder-bg {
      display: none;
    }
  }

}



.fleet, .carpool, .shuttle {
  .important-numbers__stat-wrapper  {
    @include rwd(mobile-up) {
      margin-bottom: 0;
    }
  }
  .product-section ion-icon {
    display: none;
  }

}

.fleet {
  @include highlight($fleet-highlight);
  .video-banner {
    background-position: center bottom;
  }
}
.shuttle {
  @include highlight($shuttle-highlight);
  .video-banner {
    background-position: center bottom;
  }
}
.carpool {
  @include highlight($carpool-highlight);
  .video-banner {
    background-position: center bottom;
  }
  .success__wrapper {
    background: linear-gradient(135.54deg, #04dE47 0.27%, #00CF40 53.82%);
  }
}
.park {
  @include highlight($park-highlight);
  .video-banner {
    background-position: center bottom;
  }
}
