main {
}

#section-os {
  margin-top: rem(50px);
  @include rwd(desktop-up) {
    margin-top: rem(100px);
    padding-bottom: rem(100px);
  }
}

.product-area {
  margin-bottom: rem(200px);
}

.solution-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 400px;
  margin-bottom: -400px;

  .page-heading {
      margin-bottom: rem(40px)
  }

  .top-image-wrapper {
    @include rwd(tablet-down) {
      margin-top: rem(30px);
      margin-left: -80px;
    }
    .abs-right {
      top: -50px;
      width: calc(100% + 200px);
      right: -220px;
    }
  }

  .abs-image-wrapper, .top-image-wrapper {
    @include rwd(tablet-down) {
      img {
        position: static;
        //max-width: 100%;
      }
    }
  }

  .product-section {
    margin-top: rem(150px);
    @include rwd(desktop-up) {
      margin-top: rem(250px);
    }

  }

  .feature-list {
    .single-feature {
      display: flex;
      margin-bottom: rem(30px);
      h3 {
        margin-bottom: rem(10px);
      }
    }
    ion-icon {
      font-size: 30px;
      min-width: 50px;
      color: $sky-blue;
    }
  }

  #section-admin {
    img.abs-right {
      right: -300px;
      width: calc(100% + 250px);
    }
  }
}
