body[class*="summit"] {
  @include highlight($summit-highlight);
  /*.header .menu-item-cta:after {
    width: 125px;
    @include rwd(desktop-up) {
      width: 140px;
    }
  }*/

  .block-video-1 {
    margin: 3em 0;
  }

  .wunder-bg {
    &.top-1 {
      top: 2000px;
    }
    &.top-2 {
      top: 2800px;
    }
    &.top-3 {
      top: 3800px;
    }
    &.top-4 {
      top: 4900px;
    }
    @include rwd(desktop-up) {
      &.top-1 {
        top: 1300px;
      }
      &.top-2 {
        top: 2000px;
      }
      &.top-3 {
        top: 3000px;
      }
      &.top-4 {
        top: 4000px;
      }
    }
  }

  .client-list__logotypes {
    h3 {
      font-size: 14px;
      line-height: 18px;
      @include rwd(tablet-up) {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

}



.summit-main-wrapper, .autotech-main-wrapper, .event-main-wrapper {
  overflow: hidden;
  position: relative;
}



#section-intro {
  h2 {
    max-width: 600px;
  }
}

.block-bg-box {
  &:not(:first-child) {
    margin: rem(140px) 0;
  }
  &:first-child {
    margin-top: 1.5rem;
  }
}
.bg-box__wrapper {

  &.w-bg {
    padding: rem(60px) 0 rem(220px);
    background: url('/uploads/global/wms_bgphoto_1.jpg') no-repeat center center;
    background-position-x: 90px;
    background-size: cover;


    #section-future & {
      background-image: url('/uploads/global/wms_bgphoto_2.jpg');
      background-position-y: top;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('/uploads/global/wms_bgphoto_2@2x.jpg');
      }
    }

    .bg-box__box {
      width: 550px;
      .in-container & {
        width: 440px;
      }
    }


    @include rwd(tablet-down) {
      background-position-x: right;
      background-position-y: top;
      padding: rem(220px) 0 rem(0px);

      margin-bottom: 200px;
      .bg-box__box {
        max-width: 100%;
        padding: rem(40px) rem(40px) rem(80px);
        transform: translateY(100px);
      }
    }

  }

  .bg-box__box {
    @extend .w-x-shadow;
    border-left: 5px solid $sky-blue;
    background: $white;
    padding: rem(40px) rem(80px) rem(80px) rem(40px);
  }

}


body[class*="summit"] .gradient-block .block-full-right {
  background: linear-gradient(138.65deg, #F33092 0.27%, #DB006E 53.82%);
  color: $white;

  padding: rem(50px) rem(20px) rem(70px);
  &.speaker__wrapper {
      padding: rem(50px) rem(20px) rem(300px);
  }
  @include rwd(tablet-up) {
    padding: rem(50px) rem(70px) rem(70px);
    &.speaker__wrapper {
        padding: rem(50px) rem(70px) rem(300px);
    }
  }
  @include rwd(desktop-up) {
    padding: rem(50px) rem(90px) rem(70px);
    &.speaker__wrapper {
        padding: rem(50px) rem(90px) rem(300px);
    }
  }
  h2, p {
    color: $white;
  }
  &.last-summit__wrapper {
    margin-bottom: rem(200px);
    @include rwd(tablet-down) {
      margin-bottom: rem(600px);
    }
  }
}

.speakers-container {
  display: flex;
  flex-wrap: wrap;
  @include rwd(tablet-down) {
    justify-content: center;
  }

}

.speaker-cards {
  transform: translateY(-250px);
  margin-bottom: -250px;


  .card.speaker-card {
    @extend .w-shadow;
    border-radius: 0;
    border: none;
    margin-bottom: rem(40px);
    display: inline-block;

    margin-right: 15px;
    width: 45%;
    overflow: hidden;
    &:nth-child(even) {
      margin-right: 0;
    }
    @include rwd(tablet-up) {
      &:nth-child(even) {
        margin-right: 15px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      width: 31.8%;
    }
    @include rwd(wide-up) {
      margin-right: 20px;
      width: 23%;
      &:nth-child(3n+3) {
        margin-right: 20px;
      }
      &:nth-child(4n+4) {
        margin-right:0;
      }
    }
    .card-body {
      min-height: 140px;
      .card-link {
        margin: 0;
        position: relative;
        width: 30px;
        display: block;
        transform: translateY(-10px);
        outline: none;
      }
      .card-link ion-icon {
        color: $olive-matt !important;
        position: absolute;
        top: -30px;
        font-size: 28px;
        cursor: pointer;
        background-color: $white;
        border-radius: 50%;
      }
      .linkedin-icon ion-icon {
        left: 34px;
        border-radius: 14%;
      }
      .info-icon ion-icon {
        padding: 1px;
      }
    }




    .card-title {
      font-weight: 900;
      color: $olive-matt;
    }
    p {
      color: $olive;
      margin-bottom: rem(40px);
      font-size: 12px;
    }


    .card-img-top {
      border-radius: 0;
      object-fit: cover;
      height: auto;
      width: 100%;
      @include rwd(mobile-up) {
        /*height: 250px;
        width: auto;*/
      }
    }

    .company {
        color: $olive-matt;
    }

    .card-footer-logo {
      position: absolute;
      bottom: 20px;
      max-height: 30px;
      max-width: 60%;
    }

  }
}

.popover {
  border-radius: 0;
  border: none;
  @extend .w-x-shadow;
  .card-title {
    font-weight: 900;
    color: $olive-matt;
    margin-bottom: 0;
  }
  p {
    color: $olive;
    margin-bottom: rem(20px);
    font-size: 12px;
  }
  .company {
    color: $olive-matt;
  }
  .popover-body {
    padding: 1.5rem 1.75rem;
    color: $olive-matt;
    font-family: Averta PE;
    white-space: pre-line;
  }

  &.bs-popover-top {
    margin-top: -1.8rem !important;
  }
}


.card.location-card {
  .card-img-top {
    object-fit: cover;
    height: 250px;
    width: auto;
  }
  border: solid 1px transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.3s;
  &:hover {
    @extend .w-xx-shadow;
  }
}

#section-agenda {
  margin-top: 8rem;
  margin-bottom: 8rem;

  table {
    color: #334146;
  }

  .speaker-name {
    font-weight: 600;
    display: block;
  }
  .speaker-position {
    display: block;
    margin-bottom: rem(5px);
  }

}



.partner-box {
    padding-right: 30px;
    text-align: center;
    margin-bottom: 20px;
    img {
      max-width: 250px;
    }
    h3 {
      color: $grey2;
    }
}


.percent-bar__wrapper {
  @include rwd(desktop-up) {
    position: relative;
  }
}
.percent-bar {
  position: absolute;
  display: flex;
  text-align: center;
  color: $olive-matt;
  @extend .w-shadow;
  width: 100%;
  left: 0px;
  @include rwd(desktop-up) {
    left: auto;
  }
  h3 {
    font-weight: 800;
    padding: 0;
    margin-bottom: 0;
  }
  p {
    color: $olive-matt !important;
  }

  .percent-bar__block {
    padding: rem(35px) rem(10px);
    &:not(:first-child) {
      box-shadow: 4px 0px 22px -4px rgba(0, 0, 0, 0.1) inset;
    }
    &:nth-child(1) {
      background-color: $white;
    }
    @for $i from 2 through 7 {
      &:nth-child(#{$i}) {
        background-color: darken($white, ($i - 1) * 5%);
      }
    }
  }

  @include rwd(tablet-down) {
    flex-direction: column;
    width: 160%;
    box-shadow: none;
    .percent-bar__block {
      box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1) !important;
    }
  }

}




.autotech-events {

  .speaker-cards {
    transform: translateY(-200px);
    margin-bottom: -200px;
  }

  .gradient-block .block-full-right {
    @extend .success__wrapper;

    padding: rem(50px) rem(20px) rem(230px);
    @include rwd(tablet-up) {
      padding: rem(50px) rem(70px) rem(250px);
    }
    @include rwd(desktop-up) {
      padding: rem(50px) rem(90px) rem(250px);
    }

    h2, p {
      color: $white;
    }

  }

  .card.speaker-card {
    width: 45%;
    &:nth-child(even) {
      margin-right: 0;
    }
    @include rwd(mobile-up) {
      &:nth-child(even) {
        margin-right: 15px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      width: 31%;
    }
    @include rwd(wide-up) {
      &:nth-child(even) {
        margin-right: 15px;
      }
      &:nth-child(3n+3) {
        margin-right: 0;
      }
      width: 28%;
    }
  }


  .wunder-bg {
    &.top-1 {
      top: 610px;
    }
    &.top-2 {
      top: 2400px;
    }
    &.top-3 {
      top: 3800px;
    }
    &.top-4 {
      top: 4900px;
    }
    @include rwd(tablet-up) {
      &.top-2 {
        top: 2000px;
      }
      &.top-3 {
        top: 3000px;
      }
      &.top-4 {
        top: 4000px;
      }
    }
  }


  .table {
    margin-bottom: 0;
    td:first-child {
      font-size: 14px;
      white-space: nowrap;
    }
    td:nth-child(2) {
      font-weight: bold;
    }
  }


  #section-location {
    .bg-box__wrapper {
      background-image: url('/uploads/global/meetup_map.png');
      background-size: cover;
      background-position: 100px top;
      padding: 3.75rem 0 6.75rem;
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('/uploads/global/meetup_map@2x.png');
      }
      @include rwd(tablet-down) {
        background-position: right -125px;
        .container {
          max-width: 100%;
          width: 100%;
          margin: 0;
          margin-bottom: 5rem;
          padding: 0;
        }
        .bg-box__box {
          transform: translateY(230px);
        }
      }

      .bg-box__box {
        padding: 2rem 3rem 1.5rem 2rem;
      }

    }

  }

}

#section-wms18:not(:first-child) {
  margin-top: 8rem;
}


#section-map {
  margin-bottom: 5rem;

  .bg-box__wrapper {
    position: relative;
    background: none;
    padding: 7rem 0;

  }

  #map {
    height: 100%;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    position: absolute !important;
    z-index: 0;
    top: 0px;
    right: 0px;
    left: 100px;

  }

   .container-fullright {
     z-index: 10;
     position: relative;
     pointer-events: none;
   }

   .bg-box__box {
      width: 450px;
      pointer-events: auto;
      padding-right: 2.5rem;
      padding-bottom: 2.5rem;
   }

}



.photo-gallery {
    display: flex;
    flex-wrap: wrap;
}

.photo-gallery > a {
    flex: 1 1 31%;
    max-width: 34%;
    margin: 1px;
    padding: 0;
    display: -ms-grid;
    display: grid;
    @include rwd(tablet-up){
      flex: 1 1 24%;
      max-width: 24%;
    }
}

.photo-gallery a img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ekko-lightbox-nav-overlay a {
    opacity: 0.3;
    color: #fff !important;
}
