body.weallmove {
  padding-top: 0;
}

.weallmove-card {
  margin: 40px 0;
  border-radius: 30px;

  &__col {
    padding-top: 20px;
    padding-bottom: 40px;
    @include rwd(tablet-up) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    &:first-child {
      @include rwd(desktop-up) {
        border-bottom: none;
        border-right: 1px solid $black80;
      }
    }
  }

  &__logo {
    padding-bottom: 20px;
    border-bottom: 1px solid $black80;
    width: 100%;
    img {
      max-width: 200px;
      margin: 0 auto;
      @include rwd(desktop-up) {
        max-width: 100%;
      }
    }
    @include rwd(desktop-up) {
      border-bottom: none;
      padding-bottom: 0;
      padding-right: 20px;
      padding-left: 36px;
    }
  }

  &__offers {
    margin-left: 30px;
    padding-right: 15px;

    li {
      margin-bottom: 10px;
    }
  }


  transition: all 0.6s;
  opacity: 1;

  &.card-hidden {
    display: none;
    opacity: 0;
    margin: 0;
  }


}

.filter-form {
  max-width: 400px;
  margin: 0 auto;
  @include rwd(tablet-up) {
    max-width: none;
  }

  .form-group {
    @include rwd(tablet-up) {
      margin-bottom: 0;
    }
  }

}

.noshow-feedback {
  transition: opacity .4s;
  display: block;
  opacity: 1;
  &.hide {
    opacity: 0;
    display: none;
  }
}

.select2-container--default {

  .select2-selection--single {
    height: 32px;
    border-color: $white;
    text-align: left;
  }

  .select2-selection--single .select2-selection__placeholder, .select2-selection__rendered {
    color: $mobility-black;
    font-weight: bold;
    font-size: 14px;
  }
  .select2-results__option {
    font-size: 14px;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $black96;
    color: $mobility-black;
  }

}

.select2-container {
  width: 100% !important;
}
