
.two-col-cards {

  .image-captions__grid {
    @include rwd(mobile-up) {
      flex-flow: column;
      .image-captions__item {
        width: 100%;
      }
    }
    @include rwd(desktop-up) {
      flex-flow: wrap;
      .image-captions__item {
        width: auto;
      }
    }

    .image-captions__item:last-child {
      max-width: none;
    }
  }

  .image-captions__item {
    display: flex;
    align-items: center;
    min-height: 150px;

    &.w-arrow {
      position: relative;
      margin-bottom: rem(40px);
    }

    .image-captions__image {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1 0 35%;
      align-self: stretch;
      padding: rem(40px) rem(24px);
      background-color: $background-grey;
    }

    .image-captions__content {
      padding: rem(10px) rem(32px);
    }

    .image-captions__title {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }
    .article-date {
        color: $grey-heading;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
    }
    h4 {
      letter-spacing: 1px;
      padding: rem(10px) 0;
    }
  }
}
