
.our-teams {
  margin: rem(80px) 0 rem(30px);
}
.our-teams__grid {
  margin-top: rem(36px);
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;

  .our-teams__item {
    background-color: $white;
    flex: 1 1 40%;
    text-align: center;
    padding: rem(38px) rem(10px);
    margin-right: rem(16px);
    margin-bottom: rem(16px);
    border: 1px solid transparent;
    transition: all 0.2s;

    .animated-svg {
      height: 40px;
      margin-bottom: 1.3rem;
      transition: 0.2s;
      path {
        stroke: $grass-green;
      }
    }

    img {
      transition: all 0.2s;
      margin-bottom: rem(16px);
    }

    &:nth-child(even) {
      margin-right: 0;
    }
    @include rwd(mobile-up) {
      flex: 1 1 30%;
      &:nth-child(even) {
        margin-right: rem(16px);
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:last-child {
        max-width: 32%;
      }
    }
    @include rwd(tablet-up) {
      flex: 0 1 23%;
      &:nth-child(3n) {
        margin-right: rem(16px);
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
    @include rwd(desktop-up) {
      flex: 1 1 18%;
      &:nth-child(4n) {
        margin-right: rem(16px);
      }
      &:nth-child(5n) {
        margin-right: 0;
      }
    }
    &:last-child {
      margin-right: 0;
    }

  }
}

.our-teams__item:hover {
  transform: scale(0.97);
  //box-shadow: inset 0 0 9px 1px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,.1);
  img, .animated-svg {
    transform: scale(1.2);
  }
}



.image-captions {
  position: relative;
  z-index: 10;
}
.image-captions__grid {
  margin-top: rem(30px);
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;

  .image-captions__item {
    background-color: $white;
    flex: 1 1 100%;
    margin-right: rem(26px);
    margin-bottom: rem(26px);

    .image-captions__image img {
      max-width: 100%;
      body:not(.careers) & {
        max-height: 50px;
      }
    }
    @include rwd(mobile-up) {
      flex: 1 1 47%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:last-child {
        max-width: 50%;
      }
    }
  }

}

.image-captions__content {
  padding: rem(25px) rem(25px) rem(30px);

  .image-captions__title {
    display: flex;
    margin-bottom: rem(9px);
    align-items: center;
    img {
      margin-right: rem(15px);
    }
  }

  p {
    margin-bottom: rem(20px);
  }

  a {
    display: inline-block;
    margin-bottom: rem(7px);
  }


}



  .wunder-values {
    margin: rem(100px) 0 rem(80px);
  }
  .wunder-values__grid {
    margin-top: rem(36px);
    display: flex;
    flex-flow: wrap;
    .wunder-values__item {
      background-color: $white;
      flex: 1 1 40%;
      text-align: center;
      padding: rem(25px) rem(15px) rem(22px);
      margin-right: rem(2px);
      margin-bottom: rem(2px);
      img {
        margin-bottom: rem(16px);
      }
      h4 {
        margin-bottom: rem(6px);
      }
      &:nth-child(even) {
        margin-right: 0;
      }
      @include rwd(mobile-up) {
        flex: 1 1 32%;
        padding: rem(25px) rem(40px) rem(22px);
        &:nth-child(even) {
          margin-right: rem(2px);
        }
        &:nth-child(3n) {
          margin-right: 0;
        }

      }
      @include rwd(tablet-up) {
        flex: 1 1 32%;
        &:nth-child(3n) {
          margin-right: rem(2px);
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
