.block-video-1 {
  margin: rem(80px) 0;
  position: relative;
  h2 {
    margin-bottom: rem(30px);
  }
  img {
    max-width: 100%;
  }
  .home-video {
    position: relative;
  }
  a.round-cta {
    opacity: 1;
    position: absolute;
    top: calc(50% + 10px);
    right: calc(50% - 100px);
  }
  .plyr__poster {
    background-color: #fff;
  }
  a.plyr__custom-starter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40px, -40px);
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      background: url(/uploads/global/play-inner.svg) center center/19px no-repeat;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 3px solid $white;
      transition: all $transition-duration/2;
      position: absolute;
      //margin-left: 15px;
      //margin-top: -8px;
    }
    &:hover {
      &:after {
        background-color: $black;
        border-color: $black;
        filter: invert(1);
      }
    }
    &.invert {
      filter: invert(1);
    }
  }
}

.plyr--stopped {
  pointer-events: none;
  .round-cta {
    pointer-events: all;
  }
}
.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: $sky-blue;
}
.plyr--full-ui input[type=range] {
  color: $sky-blue;
}
