{% include marketplace/head.html %}

<header class="bg-gray-gradient position-relative">

  {% include marketplace/block-nav-top.html %}

  <div class="container pt-4 z-20">
    <div class="d-none d-md-block">
      {% include marketplace/block-breadcrumbs.html %}
    </div>

    <div class="row align-items-center">
      <div class="col-3 col-sm-2 col-lg-1">
        <img src="{{ page.icon | replace: '@2x', '' | replace: '-2x', '' }}" srcset="{{ page.icon }} 2x" alt="App icon for {{ page.title }}" />
      </div>
      <div class="col-sm-10 col-md-7">
        <h1 class="h2 mt-2 my-sm-0">{{ page.title }}</h1>
        <p>{{ page.excerpt }}</p>
      </div>
      <div class="offset-lg-1 col-md-3 d-none d-md-block">
        <a class="btn btn-dark btn-lg btn-block btn-mkt text-white" data-toggle="modal" data-target="#contactModal">Get started</a>
      </div>
    </div>
  </div>
  <div class="mob-scroll">
    <div class="container position-relative z-20">
      <div class="app-previews py-4 py-md-5 d-flex flex-nowrap align-items-center">
        {% for item in page.preview_gallery %}
        <div class="app-previews__single">
          <a href="{{ item.image-video }}" data-toggle="lightbox" data-gallery="app-preview" {% if item.image-video contains '.mp4' %}data-type="video"{% endif %} data-footer="{{ item.title }}" data-title="{{ forloop.index }} / {{ page.preview_gallery.size }}" >
            {% if item.image-video contains '.mp4' %}
            <video controls muted class="mw-100 w-shadow">
              <source src="{{ item.image-video }}" type="video/mp4">
            </video>
            {% else %}
            <img class="w-shadow" src="{{ item.image-video | replace: '@2x', '' | replace: '-2x', '' }}" srcset="{{ item.image-video }} 2x" alt="App preview image {{ forloop.index }}" />
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="container z-20">
    <div class="d-md-none">
      <a class="btn btn-dark btn-lg btn-block"  data-toggle="modal" data-target="#contactModal">Get started</a>
    </div>
  </div>

  <div class="white-bottom"></div>

</header>

<main id="app-info" class="py-5 pt-md-3">

  <div class="container">
    <div class="row">

      <div class="col-md-8 pr-lg-5">
        <h4>Description</h4>
        <div class="body-light">{{ page.description }}</div>

        {% if page.screenshot_details.size > 0 %}

        <div class="mt-4">
        {% for screen in page.screenshot_details %}
          <div class="row mt-5">
            <div class="col-md-5">
              <img class="w-shadow mb-3 mb-md-0" src="{{ screen.screenshot | replace: '@2x', '' | replace: '-2x', '' }}" srcset="{{ screen.screenshot }} 2x" alt="App screenshot for {{ page.title }} {{ forloop.index }}" />
            </div>
            <div class="col-md-7">
              <p class=""><strong>{{ screen.title }}</strong></p>
              <p class="body-light">{{ screen.screenshot_description }}</p>
            </div>
          </div>
        {% endfor %}
        </div>

        {% else %}

        {% if page.getting_started.size > 0 %}
          <div class="post-detail mt-5 pt-3">
            <h3 class="mb-4 pb-2">Getting started with {{ page.title }}</h3>
            <div class="row step-cols">
              {% for item in page.getting_started %}
                <div class="col-md-12 mb-4">
                  <div class="step-col step{{ forloop.index }}">
                    <div class="d-flex flex-column">
                      <p><strong>{{ item.column_title }}</strong></p>
                      <p>{{ item.column_description }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

        {% endif %}



      </div>

      <div class="col-md-4 mt-5 mt-md-0 d-none d-md-block" id="app-details">
        <h4 class="mb-4">App Details</h4>
        <p class="text-mute"><strong>Works with</strong></p>
        <div class="mb-4">
          <img src="/uploads/2020/07/27/wunder-fleet-140.png" srcset="/uploads/2020/07/27/wunder-fleet-140-2x.png 2x" alt="logo of wunder fleet" />
        </div>
        {% for detail in page.app_details %}
        <p class="text-mute"><strong>{{ detail.detail_title }}</strong></p>
        <div class="mb-4">{{ detail.detail_content | replace: '<a', '<a taget="_blank"'  }}</div>
        {% endfor %}

        <h4 class="mb-4">This App requests access to</h4>
        <ul class="list-unstyled">
        {% for item in page.access_needed %}
          <li class="app-access">{{ item }}</li>
        {% endfor %}
        </ul>


      </div>

    </div>

    {% if page.screenshot_details.size > 0 and page.getting_started.size > 0 %}
    <div class="post-detail mt-5 pt-3">
      <h3 class="mb-4 pb-2">Getting started with {{ page.title }}</h3>
      <div class="row step-cols">
        {% for item in page.getting_started %}
          <div class="col-md-4 mb-4 mb-md-0">
            <div class="step-col step{{ forloop.index }}">
              <div class="d-flex flex-column">
                <p><strong>{{ item.column_title }}</strong></p>
                <p>{{ item.column_description }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="mt-5 {% if page.screenshot_details.size > 0 %}text-center{% endif %}">
      <a class="btn btn-primary btn-mkt text-white" data-toggle="modal" data-target="#contactModal">Let's go
        <svg class="arrow-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#FFFFFF"/>
        </svg>
      </a>
    </div>

  </div>
</main>


<div class="bg-crossover">
  <div class="container">
    <h3>Discover other interesting solutions</h3>
    <div class="related-apps mt-4 pt-2">
      <div class="app-boxes row py-5">
        {% assign randomApps = site.apps | sample: 3 %}
        {% assign index = 1 %}
        {% for app in randomApps %}
        {% if app.title == page.title %}{% continue %}{% endif %}
        {% if index > 2 %}{% break %}{% endif %}
        <div class="col-sm-6 col-lg-4 mb-4 pb-2">
          <a href="{{ app.url }}">
            <div class="app-box px-3 px-md-4 py-3 pt-md-4 bg-white h-100 w-shadow d-flex flex-row flex-md-column">
                <img class="applist-icon mr-3" src="{{ app.icon | replace: '@2x', '' | replace: '-2x', '' }}" srcset="{{ app.icon }} 2x" alt="App icon for {{ app.title }}" />
                <div class="d-flex flex-column d-md-block">
                  <h3 class="mt-0 mb-2 my-sm-2">{{ app.title }}</h3>
                  <p class="body-light small mb-3 d-none d-md-block app-excerpt">{{ app.excerpt }}</p>
                  <div class="app-box__footer position-md-absolute">
                    <p class="badge badge-light body-label p-2">{{ app.category }}</p>
                    <svg class="d-none" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#0026E6"/>
                    </svg>
                  </div>
              </div>
            </div>
          </a>
        </div>
        {% assign index = index | plus: 1 %}
        {% endfor %}
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade wunderform-modal" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="Interested modal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content p-0">
      <div class="modal-header bg-dark text-white pl-4 pr-5 flex-column" id="modalheader">
        <h3 class="modal-title mb-2" id="mkt-formtitle">Let’s extend your business</h3>
        <p id="mkt-formintro">Tell us a bit about your idea to get this conversation started. We’ll get back to you in now time.</p>
        <button type="button" class="close text-white font-weight-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="modal-form" class="ajaxForm mktform" enctype="multipart/form-data" accept-charset="UTF-8" action="https://getform.io/f/ab543ce6-282f-4d25-93b6-76c727bb4c19" method="POST">
        <div class="modal-body">
          <input type="hidden" name="subject" id="modal_subject-field" value="Marketplace App Interest">
          <div class="container pt-3">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customerRadio1" name="customer" value="customerYes" class="custom-control-input marketplace-radio" checked>
              <label class="custom-control-label" for="customerRadio1">I'm a customer</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customerRadio2" name="customer" value="customerNo" class="custom-control-input marketplace-radio">
              <label class="custom-control-label" for="customerRadio2">I'm not a customer yet</label>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6">
                <div class="form-group mb-3">
                  <label for="recipient-email" class="form-label">How can we contact you?</label>
                  <input type="email" class="text-input" id="recipient-email" name="email" placeholder="name@company.com" required />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group mb-3 mb-md-0 conditional-hide">
                  <label for="phone" class="form-label">Work Phone Number</label>
                  <input type="text" class="text-input" id="phone" name="phone" placeholder="+00 1234 567 89"  />
                </div>
              </div>
            </div>

            <div class="form-group mb-3 conditional-hide">
              <label for="recipient-name" class="form-label">What should we call you?</label>
              <input type="text" class="text-input" id="recipient-name" name="name"  placeholder="Firstname Lastname" />
            </div>

            <div class="form-group">
              <div class="select-wrapper multiple">
                <label for="vehicle-interest[]" class="w-100">
                  Extensions you are interested in
                </label>
                <select name="extension-interest[]" class="form-control select2-init" style="width: 100%" id="extension-interest" multiple="multiple" required novalidate placeholder="Pick an extension from the list">
                  {% for app in site.apps %}
                  <option value="{{ app.title }}" {% if app.title == page.title %}selected{% endif %}>{{ app.title }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="message-text" class="form-label">What is your project idea? (optional)</label>
              <textarea rows="4" class="textarea-input" id="message-text" name="message" placeholder="Tell us a bit about the problem you want to solve"></textarea>
            </div>


            <input type="hidden" id="captchaResponse" name="g-recaptcha-response" />

            <p class="text-mute smallprint mt-3">By clicking "Get started" I agree that Wunder Mobility or its representatives may contact me by email, phone, or SMS at the email address or number I provide and that my information will be used in accordance with Wunder Mobility’s Privacy Policy.</p>

            <div class="mt-4 text-right">
              <button id="modal_form-submit" class="btn btn-primary btn-mkt" onclick="mktplaceSubmit(event)">
                Get Started
                <svg class="arrow-svg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="#FFFFFF"/>
                </svg>
              </button>
            </div>

          </div>

        </div>
      </form>
    </div>
  </div>
</div>

{% include block-footer-1.html %}
{% include marketplace/footer.html %}
