{% include head.html %}
{% include block-header-2.html %}
    {% assign blocks = page.event_block | map: 'template' %}
    <main id="simple-article">
      <div class="container">

        <header class="article-header">
          <div class="row align-items-centerr">
            <div class="col-sm-8 offset-sm-2">
              <div class="row article-header__content align-items-center">
                <div class="col-8 pl-0">
                  <a class="w-arrow" href="/blog" ><h3 class="mb-0">Wunder Blog</h3></a>
                </div>
                <div class="col-4 pr-0">
                  <div class="share-block">
                    <span class="share-text">Share on:</span>
                    <br>
                    <a class="gt-blogshare" data-platform="LinkedIn" title="Share this article on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode}}" target="_blank">
                      <ion-icon class="linkedin-icon" name="logo-linkedin"></ion-icon>
                    </a>
                    <a class="gt-blogshare" data-platform="Twitter"  title="Share this article on Twitter" href="http://twitter.com/share?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}" target="_blank">
                      <ion-icon class="twitter-icon" name="logo-twitter"></ion-icon>
                    </a>
                    <a class="gt-blogshare" data-platform="Facebook"  title="Share this article on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" target="_blank">
                      <ion-icon class="facebook-icon" name="logo-facebook"></ion-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>

        <div class="row">
          <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
            <p class="post-cat {{ page.category | downcase | replace: "@", "" }}">
              {{ page.category }}
            </p>
            <p class="post-date">
              {{ page.publish_date | date: "%B %-d, %Y" }}
            </p>
            <h1>{{ page.title }}</h1>
            <div class="blog-content">
              {{ content | replace: '<a ', '<a target="_blank" ' }}
            </div>

            <div class="post-author">
              {% for person in site.people %}
              {% if page.author contains person.path %}
                {% if person.type == 'Human' %}
                  <img class="author-image" src="{{ person.speaker_image }}" alt="Portrait photo of {{ person.name }}"/>
                  <p class="author-name mb-0"><strong>{{ person.name }}</strong></p>
                  <p class="mt-0 text-muted">{{ person.job_title }} @ {{ person.company }}</p>
                {% endif %}
                {% if person.type == 'Company' %}
                  <img class="company-image" style="max-width: 190px; max-height: 50px;" src="{{ person.company_logo }}" alt="Logo of {{ person.company }}"/>
                  <p class="author-name">Guest Post by <strong>{{ person.company }}</strong></p>
                {% endif %}
              {% endif %}
              {% endfor %}
            </div>

          </div>
        </div>

        <footer class="article-header">
          <div class="row align-items-centerr">
            <div class="col-sm-8 offset-sm-2">
              <div class="row article-header__content align-items-center">
                <div class="col-8 pl-0">
                 <a href="/blog" ><h3 class="mb-0"><img class="back-arrow" src="/uploads/global/arrow-right-dark.svg" /> Wunder Blog</h3></a>
                </div>
                <div class="col-4 pr-0">
                  <div class="share-block">
                    <span class="share-text">Share on:</span>
                    <br>
                    <a class="gt-blogshare" data-platform="LinkedIn" title="Share this article on LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode}}" target="_blank">
                      <ion-icon class="linkedin-icon" name="logo-linkedin"></ion-icon>
                    </a>
                    <a class="gt-blogshare" data-platform="Twitter" title="Share this article on Twitter" href="http://twitter.com/share?text={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}" target="_blank">
                      <ion-icon class="twitter-icon" name="logo-twitter"></ion-icon>
                    </a>
                    <a class="gt-blogshare" data-platform="Facebook" title="Share this article on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" target="_blank">
                      <ion-icon class="facebook-icon" name="logo-facebook"></ion-icon>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>


        <div class="bg-grey my-5">
          <div class="mini-section p-0 p-md-5">
            <div class="p-5 text-center mx-md-5">
              <h3 class="headline-medium">{{ page.cta_heading | default: 'Find out more about Wunder Mobility' }}</h3>
              <p>{{ page.cta_text | default: 'We have a range of solutions using latest news about Wunder Mobility and the future of mobility around the world.' }}</p>
              <div class="mt-4">
                {% capture ctalink %}{% if page.cta_link == empty %}pages/home.md{% else %}{{ page.cta_link }}{% endif %}{% endcapture %}
                {% for linkedpage in site.pages %}
                {% if linkedpage.path == ctalink %}
                  <a class="btn btn-primary mr-3" href="{{ linkedpage.url | default: site.url }}">Learn More</a>
                  {% unless linkedpage.url contains 'career' or linkedpage.url contains 'blog' or linkedpage.url contains 'newsletter' or linkedpage.url contains 'policy' %}<a class="btn btn-outline-primary" href="{{ linkedpage.url | default: site.url | absolute_url }}{% if page.cta_link contains 'summit' or page.cta_link contains 'sessions' %}#apply{% else %}#section-contact{% endif %}">Contact Us</a>{% endunless %}
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>


{% include block-footer-1.html %}
{% include footer.html %}
