{% include head.html %}

<nav class="navbar justify-content-between navbar-expand-md px-4">
  <a class="navbar-brand" href="https://www.wundermobility.com/" target="_blank">
    <p class="text-link text-blue">wundermobility.com</p>
  </a>
  <button class="hamburger hamburger--collapse header__hamburger d-md-none" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  {% comment %}
  <div class="col-md-2 language-select order-md-2">
    <div class="btn-group dropup">
      <a role="button" id="langMenuLink" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ion-icon name="ios-globe" class="inline-icon"></ion-icon>
        {% assign currentLang = site.data.global.languages | where: 'code', page.lang | first %}
        <span>{{ currentLang.label }}</span>
      </a>
      <ul class="lang_options dropdown-menu" aria-labelledby="langMenuLink">
      {% assign posts = site.pages | where: 'lang-ref', page.lang-ref %}
      {% for sitelang in site.data.global.languages %}
        {% for post in posts %}
          {% if post.lang == sitelang.code %}
            {% assign langlink = post.url %}
          {% endif %}
        {% endfor %}
        {% unless langlink %}
          {% assign langlink = sitelang.code %}
          {% if langlink == 'en' %}{% assign langlink = '' %}{% endif %}
        {% endunless %}
        {% if sitelang.code == 'es' %}
          {% unless langlink contains 'fleet' or langlink contains 'rent' %}
           {% break %}
          {% endunless %}
        {% endif %}
        <link rel="alternate" hreflang="{{ sitelang.code }}" href="{{ langlink }}" />
        <li>{{ sitelang.icon }} <a href="{{ langlink }}" class="{{ sitelang.code }}" title="View in {{ sitelang.label }}">{{ sitelang.label }}</a></li>
        {% assign langlink = false %}
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endcomment %}
  <div class="collapse navbar-collapse justify-content-center">
    <p class="text-link text-dark">Get the latest information about COVID-19 from the World Health Organization <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" class="text-blue">WHO <ion-icon class="text-blue" name="open-outline"></ion-icon></a></p>
  </div>
</nav>

<section id="weallmove-intro">
  <div class="container mt-5">
    <h1 class="headline-large text-center">#WeAllMove</h1>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h3 class="my-4 pb-5 px-3 headline-medium text-center">A movement to connect the world with mobility solutions during this time of crisis.</h3>
        <hr>
        <div class="row mt-5">
          <div class="col-md-6">
            <p>While some of us stay home, other members of our community are risking their well-being for the greater good. Medical professionals, delivery service employees, grocery store workers and others leave the safety of their homes each day to ensure that life keeps moving.</p>
          </div>
          <div class="col-md-6">
            <p>As a mobility community, we can work towards making mobility services more widely available to these everyday heroes. We can help our world move forward, even in this time of uncertainty.
              <br>
              This is not a statement. It’s an invitation. Because if one of us moves, #WeAllMove
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="weallmove-filters fullscreen-bg bg-blue py-5">
  <div class="container text-center my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="headline-large mb-5">Find an operator</h2>
        <p class="px-5 mb-5 text-center">We’ve created this tool to help you find mobility solutions for your specific needs. Whether you’re a hospital hoping to provide safe commuting options for your medical workers or a delivery service in need of more vehicles, we want to help. The tool is open to anyone who needs assistance. If you find a suitable solution here, get in touch with us and we'll connect you to that operator.</p>

        <div class="row">
          <div class="col-md-2">
            <p class="text-link text-light">Filter by</p>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <select name="country" class="form-control we-select2 text-left" id="countrySelect" data-placeholder="Country">
                <option></option>
                <option>Austria</option>
                <option>Germany</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <select name="city" class="form-control we-select2 text-left" id="citySelect" data-placeholder="City">
                <option></option>
                <option>Austria</option>
                <option>Germany</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <select name="need" class="form-control we-select2 text-left" id="needSelect" data-placeholder="Need">
                <option></option>
                <option>Austria</option>
                <option>Germany</option>
              </select>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>


{% assign operators = site.data.weallmove.operators | sort: 'last_modified_at' | reverse %}
<section class="weallmove-list my-5">
  <div class="container">

    {% for company in operators %}
    <div class="weallmove-card w-shadow">
      <div class="row">
        <div class="col-md-2 weallmove-card__col">
          <div class="weallmove-card__logo">
            <img class="" src="{{ company.logo }}" class="weallmove-card__logo" alt="{{ company.name }} logo" />
          </div>
        </div>
        <div class="col-md-4 weallmove-card__col">
          <div class="weallmove-card__offers">
            <h4 class="headline-small">Offers</h4>
            <ul class="list-unstyled">
              {% if company.service_1.size > 0 %}
              {% assign service = site.data.weallmove.services_detail | where: 'service_name', company.service_1 | first %}
                <li data-need="{{ service.need_this_helps_with | replace: ' ', '_' | downcase }}"><strong>{{ service.need_this_helps_with }}</strong>
                  <br>{% if company.service_1_notes.size > 0 %}
                      {{ company.service_1_notes }}
                    {% else %}
                      {{ service.service_description | replace: '__company_name__', company.name }}
                    {% endif %}
                </li>
              {% endif %}
              {% if company.service_2.size > 0 %}
              {% assign service2 = site.data.weallmove.services_detail | where: 'service_name', company.service_2 | first %}
                <li data-need="{{ service.need_this_helps_with | replace: ' ', '_' | downcase }}"><strong>{{ service2.need_this_helps_with }}</strong>
                  <br>{% if company.service_2_notes.size > 0 %}
                      {{ company.service_2_notes }}
                    {% else %}
                      {{ service2.service_description | replace: '__company_name__', company.name }}
                    {% endif %}
                </li>
              {% endif %}
              {% if company.service_3.size > 0 %}
              {% assign service3 = site.data.weallmove.services_detail | where: 'service_name', company.service_3 | first %}
                <li data-need="{{ service.need_this_helps_with | replace: ' ', '_' | downcase }}"><strong>{{ service3.need_this_helps_with }}</strong>
                  <br>{% if company.service_3_notes.size > 0 %}
                      {{ company.service_3_notes }}
                    {% else %}
                      {{ service3.service_description | replace: '__company_name__', company.name }}
                    {% endif %}
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-3 weallmove-card__col">
          <div class="weallmove-card__locations">
            <h4 class="headline-small">Areas of operation</h4>
            <p>{{ company.areas_of_operation }}</p>
          </div>
        </div>
        <div class="col-md-3 weallmove-card__col">
          <button class="btn btn-primary mb-3">Get in touch</button>
          <p><a href="{{ company.url }}" target="_blank" class="text-link text-blue">{{ company.name }}  <ion-icon class="text-blue" name="open-outline"></ion-icon></a></p>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</section>


   ---------- FORM

<footer class="footer">
  <div class="footer__bottom">
    <div class="row">
      <div class="col-md-6 order-3 order-md-1">
        <ul class="legal-links">
          <li class="small-label text-mute">© {{ site.title }} {{ site.time | date: '%Y' }}</li>
          {% for menu_item in site.menus.footerbottom %}
            <li><a class="small-label text-mute" href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-4 order-2 order-md-3">
        <ul class="footer__socialmedia d-flex justify-content-md-end my-4 my-md-0 mt-md-2">
          <li><a href="{{ site.data.global.linkedin }}" alt="{{ site.title }} on LinkedIn" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a></li>
          <li><a href="{{ site.data.global.twitter }}" alt="{{ site.title }} on Twitter" target="_blank"><ion-icon name="logo-twitter" ></ion-icon></a></li>
          <li><a href="{{ site.data.global.instagram }}" alt="{{ site.title }} on Instagram" target="_blank"><ion-icon name="logo-instagram" ></ion-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% include footer.html %}
