
.footer {
  background: $mobility-black;
  padding: rem(80px) rem(30px) rem(40px);
  clear: both;

  .summit & {
    background: url("/uploads/global/summit-bg.png") repeat;
    background-size: 200px 150px;
  }

  a {
    &:not(.text-mute) {
      color: $white;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  h3 {
    margin-bottom: 12px;
    color: $white;
  }

  ul {
    margin-bottom: 44px;
    padding: 0;
  }
  li {
    padding: 8px 0;
    list-style: none;
    p {
      color: $black48;
    }
  }

  .careers & {
    background: $white;
    a {
      color: $olive-matt;
    }
  }

  .cta-wrapper {
    text-align: center;
    margin: 0 0 3rem;
    a {
      font-size: 12px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  address {
    margin-bottom: 1.875rem;
  }

} //END OF .FOOTER

.block-contact-form {
  margin-top: rem(130px);
}

.block-contact-form + .footer, .with-form + .footer {
  padding-top: 150px;
}

.footer__wrapper {
  margin-bottom: rem(25px);
}

.footer__logotype {
  filter: brightness(570%);
  .careers & {
    filter: none;
  }
  margin-bottom: rem(40px);
}

.footer__bottom {
  ul {
    margin-top: rem(20px);
  }
  .legal-links {
    a {
      margin-left: 32px;
    }
  }

  @include rwd(tablet-up ) {

    li {
      display: inline-block;
    }
    ul {
      margin: 0;
    }
  }
}


ul.footer__socialmedia {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: rem(10px);
  li {
    padding: 0;
    margin-left: 36px;
  }

  ion-icon {
    font-size: 24px;
    color: $white;
    .careers & {
      color: $olive-matt;
    }

  }

  @include rwd(tablet-up) {
    ion-icon {
      font-size: 20px;
    }
  }
}
