body {
  background-color: $white;
}


/***** Grid stuff  *****/

div.mob-scroll {
  overflow: scroll;
}


.container-fluid {
  max-width: 1440px;
  padding: 0 32px;
  @include rwd(desktop-up) {
    padding: 0 80px;
  }
}

main > section {
  margin: 96px 0;
  overflow: hidden;
  @include rwd(tablet-up) {
    margin: 128px 0;
  }
}

section.fullwidth-bg {
  padding: 128px 0;
  &.grey-bg {
    background-color: $black96;
    background: linear-gradient(120.94deg, #F1F3F7 0%, #EAECF0 93.23%, #EAEBEF 100%);
  }
  &.dark-bg {
    background-color: $mobility-black;
    background: linear-gradient(120.94deg, #232323 0%, #141414 93.23%, #141414 100%);
    color: $white;
  }
  &.blue-bg {
    background-color: $mobility-blue;
    background: linear-gradient(121.04deg, #559CFF 0%, #2781FF 93.23%, #2781FF 100%);
    color: $white;
  }
  &.grey-fade {
    background-color: $black96;
    background: linear-gradient(to bottom, $black96 0%, $black96 20%, $white 100%);
  }
}

.jumbo-intro {
  margin: 96px 0;
  @include rwd(tablet-up) {
    margin: 120px 0;
  }
}

img {
  max-width: 100%;
}

.white-text {
  color: $white;
}






/***** Showcase Box  *****/

.showcase-box {
  margin: 16px 0;
  @include rwd(tablet-up) {
    margin: 40px 0;
  }
  &__bg {
    height: 460px;
    flex-direction: column;
    padding: 48px 24px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    &.grey-gradient-bg {
      height: 540px;
      background-image: linear-gradient(120deg, #F1F3F7 0%, #EAECF0 50%, #EAEBEF 100%);
    }
    @include rwd(tablet-up) {
      height: 720px;
      padding: 96px 0;
      &.grey-gradient-bg {
        height: 720px;
      }
    }
  }
  &__image {
    position: absolute;
    z-index: 2;
    &.halign-right {
      right: 0;
    }
    &.halign-left {
      left: 0;
    }
    &.halign-center {
      left: 50%;
      transform: translateX(-50%);
    }
    &.valign-center {
      top: 50%;
      transform: translateY(-50%);
    }
    &.valign-bottom {
      bottom: 0;
    }
    @include rwd(tablet-up) {
      &.valign-md-center {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
      }
      &.halign-md-right {
        right: 0;
        left: auto;
      }
    }
  }

  &__white-bg {
    margin: 120px 0 32px;
  }

  .showcase-box_inner-content {
    position: relative;
    z-index: 3;
    margin-left: 8px;
    max-width: 400px;
    @include rwd(tablet-up) {
      max-width: none;
    }
  }

  .btn, .text-highlight {
    margin-top: 12px;
    @include rwd(tablet-up) {
      margin-top: 24px;
    }
  }
}


.big-numbers {
  .headline-large {
    margin-bottom: 8px;
  }
}


.product-shadow {
  filter: drop-shadow(16px 0px 0px rgba(0,0,0,0.08));
}

/****** Press articles featured quote section *******/

.featured-quotes {
  display: flex;
  &__single-quote {
    min-width: 55vw;
    padding: 0 25px;
    text-align: center;
    scroll-snap-align: center;
    &:first-child {
      margin-left: 20vw;
    }
    @include rwd(tablet-up) {
      min-width: 42%;
      padding: 0 55px;
    }
  }
  &__spacer {
    min-width: 20vw;
  }
  .headline-small {
    max-width: 400px;
    margin: auto;
  }
}

.sidefade-overlay {
    width: 100vw;
    @include rwd(tablet-up) {
      width: 100%;
    }
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: rgba(255,255,255,0.1);
    background: linear-gradient(to right, white, rgba(255,255,255,1), rgba(255,255,255,0.001), rgba(255,255,255,0.001), rgba(255,255,255,0.001), rgba(255,255,255,0.001), white, white);
  }



/****** LOGO BOXES *******/

.logo-boxes {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(3, calc(33% - 8px));
  @include rwd(tablet-up) {
    grid-template-columns: repeat(5, calc(20% - 8px));
  }
  &.sq {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 100%;
    .single-box {
      max-width: 16%;
      max-height: 128px;
      height: auto;
      padding: 0;
    }
  }
  .client-logos & {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 32px;
      display: block;
      height: 1px;
      width: calc(100% - 64px);
      //box-shadow: 0px 0.5px 0px $black80;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }
  }

  .single-box {
    padding: 24px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}



.grecaptcha-badge {
  display: none;
}


/***** Video overlay Modal *****/

.modal-backdrop {
  opacity: 0.7;
}


.filmmodal {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter:  blur(10px);

  .modal-backdrop.in, .modal-backdrop.show {
      filter: alpha(opacity=8);
      opacity: 0.8;
  }

  .modal-content {
      background: none;
      border: 0;
      -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
      -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  }

  .modal-body {
      padding: 0 25px 25px 25px;
  }

  .modal-header {
      padding: 25px 25px 15px 25px;
      text-align: right;
  }

  .modal-header, .modal-footer {
      border: 0;
  }

  .modal-header .close {
      font-size: 36px;
      color: #fff;
      font-weight: 300;
      text-shadow: none;
      opacity: 1;
  }

  .modal-lg {
      max-width: 1200px;
  }


}
