body {
  background-color: $white;
}


/***** Grid stuff  *****/

div.mob-scroll {
  overflow: scroll;
}


.container-fluid {
  max-width: 1280px;
  @include rwd(desktop-up) {
    padding: 0 80px;
  }
}

main > section {
  margin: 128px 0;
  overflow: hidden;
}

section.grey-bg {
  background-color: $black96;
  padding: 128px 0;
}

.jumbo-intro {
  margin: 120px 0;
}

img {
  max-width: 100%;
}

.white-text {
  color: $white;
}






/***** Showcase Box  *****/

.showcase-box {
  margin: 40px 0;
  &__bg {
    height: 460px;
    flex-direction: column;
    padding: 48px 24px;
    background-size: cover;
    @include rwd(tablet-up) {
      height: 720px;
      padding: 96px 0;
    }
  }

  &__white-bg {
    margin: 120px 0 32px;
  }

  .showcase-box_inner-content {
    margin-left: 8px;
    max-width: 400px;
    @include rwd(tablet-up) {
      max-width: none;
    }
  }

  .btn, .text-highlight {
    margin-top: 12px;
    @include rwd(tablet-up) {
      margin-top: 24px;
    }
  }
}


.big-numbers {
  .headline-large {
    margin-bottom: 8px;
  }
}

/****** Press articles featured quote section *******/

.featured-quotes {
  display: flex;
  transform: translateX(-25%);
  &__single-quote {
    min-width: 50%;
    padding: 0 55px;
    text-align: center;
  }
}

.sidefade-overlay {
    width: 150%;
    height: 100%;
    position: absolute;
    /* left: 0; */
    /* top: 0; */
    background-color: rgba(255,255,255,0.1);
    background: linear-gradient(to right, rgba(255,255,255,0.6), rgba(255,255,255,0.6), transparent, transparent, rgba(255,255,255,0.6), rgba(255,255,255,0.6));
    background: linear-gradient(to right, rgba(255,255,255,0.6), rgba(255,255,255,0.6) 29%, transparent 30%,  transparent 69%, rgba(255,255,255,0.6) 70%, rgba(255,255,255,0.6));
  }



/***** Video overlay Modal *****/

.filmmodal {

  .modal-backdrop.in, .modal-backdrop.show {
      filter: alpha(opacity=8);
      opacity: 0.8;
  }

  .modal-content {
      background: none;
      border: 0;
      -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
      -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  }

  .modal-body {
      padding: 0 25px 25px 25px;
  }

  .modal-header {
      padding: 25px 25px 15px 25px;
      text-align: right;
  }

  .modal-header, .modal-footer {
      border: 0;
  }

  .modal-header .close {
      font-size: 36px;
      color: #fff;
      font-weight: 300;
      text-shadow: none;
      opacity: 1;
  }

  .modal-lg {
      max-width: 1200px;
  }


}
