.bg {
  &-grey {
    background: $grey-light;
  }
  &-blue {
    background: $mobility-blue;
    color: $white;
  }
}

.grey-bridge {
  background: linear-gradient(to bottom, $black96 0%, $black96 60%, $white 60%, $white 100%);
}

.text-blue {
  color: $mobility-blue;
}

/* test for carpool co2 = trees grey box */
.text-black {
  path {
    fill: $mobility-black;
  }
  .text-blue {
    color: $mobility-black;
  }
}



/* Range input slider for carpool calculations */

.custom-range {
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $white;
  }
}

.wunder-range {
  width: 100%;
  background: linear-gradient(to right, $white 0%, $white 50%, #FFFFFF90 50%, #FFFFFF90 100%);
  outline: none;
  border: none;
  border-radius: 8px;
  height: 4px;
  margin-top: 30px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 1rem;
    background-color: $white;
    border: 0;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    position: relative;
    -webkit-appearance: none;
    @include rwd(tablet-up) {
      width: 1rem;
      height: 1rem;
    }
  }

  &:before, &:after {
    position: absolute;
    bottom: -28px;
    color: white;
  }
  &:before {
    content: '0';
    left: 0px;
  }
  &:after {
    content: '30,000';
    right: 0px;
  }
}
.range-label {
  display: inline-block;
  width: 60px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: calc(50% - 30px);
  top: -8px;

}


.carpool-uphack {
  @include rwd(tablet-up) {
    margin-top: -100px;
  }
}

#carpool-mockup {
  @include rwd(tablet-up) {
    max-width: none;
  }
}

#carpool-dash {
  max-width: 190%;
  margin-left: -32px;
  @include rwd(tablet-up) {
    margin-left: 0;
    max-width: none;
  }
}

#carpool-park-animation {
  @include rwd(tablet-down) {
    max-width: 420px;
  }
  @include rwd(mobile-down) {
    width: 150%;
    transform: translateX(-20%);
    margin-top: 35px;
  }
}


.mini-section__text {
  @include rwd(tablet-up) {
    margin: 100px 0;
  }
  @include rwd(desktop-up) {
    margin: 180px 0;
  }
}



.shuttle {
  .hero-banner__title-wrapper {
    h1 {
      color: $mobility-black;
    }
  }
}


.out-right {
  // used in rent for macbook mockup section
  img {
    max-width: 140%;
    @include rwd(tablet-up) {
      max-width: 250%;
    }
  }
}


.rent {
  section.fullwidth-bg {
    padding: 100px 0;
  }
  #rent-features-section {
    h3 {
      top: 25%;
    }
  }
  .rent-animgif {
    height: 56px;
  }

  .rent-icons {
    object {
      max-height: 52px;
      margin-bottom: 5px;
    }
  }

  .mini-section__text {
    @include rwd(desktop-up){
      margin: 120px 0;
    }
  }
}


#twochart-dash {
  max-width: 67%;
  margin-left: -10px;
  @include rwd(tablet-up) {
    margin-left: 0;
    max-width: 76%;
  }

  .single-chart {
    max-width: 100%;
  }
}

.desktop-stretch {
  text-align: center;
  @include rwd(tablet-up) {
    text-align: unset;
    position: absolute;
    top: 0;
    z-index: -1;
    bottom: 0;
    width: 100%;
    .dark-bg & {
      background: $mobility-black;
    }
    &__pic {
      transform: translateX(-50%);
      margin-left: 75vw;
      position: absolute;
      height: 100%;
      img {
        height: 100%;
        max-width: none;
      }
    }
  }

}


.btn-group-filters .btn-group {
  @include rwd(tablet-down) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .btn {
      width: 100%;
      &:first-child {
        border-top-right-radius: 0.25rem;
      }
      &:last-child {
        border-bottom-left-radius: 0.25rem;
      }
      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -1px;
        margin-left: 0;
      }
    }
  } //end of tablet-down vertical styles
  .btn-outline-primary:not(:disabled):not(.disabled) {
    transition: all 0.1s;
    &:focus {
      box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.1);
    }
    &.active:focus, &.active,  {
      box-shadow: 0px 4px 10px rgba(31, 31, 31, 0.1);
      border-radius: 0.25rem;
      transform: scale(1.05);
    }
  }
  .btn {
    flex: 0 1 auto;
    padding: 0.375rem 0.95rem;
  }
}

.icon-text-list {
  margin-top: 40px;
  .icon-text {
    display: flex;
    align-items: center;
    margin-top: 20px;
    img {
      margin-right: 25px;
    }
  }
}



.smvideo-wrapper {
  display: table-cell;
  video {
    @extend .w-x-shadow;
  }
  & + .smvideo-wrapper {
    padding-left: 25px
  }
}


// Vehicles product page styling

.contact-form__wrapper {
  @include rwd(tablet-down) {
    box-shadow: 0px 10px 44px rgba(0, 0, 0, 0.1);
  }
}

body.vehicles, body.vehicles-yadea {
  .hero-banner .hero-banner__inner-content {
    @include rwd(tablet-up) {
      padding: 17.25rem 0;
    }
  }
}

.simple-radio-group {
  .radio-group {
    @include rwd(tablet-up) {
      margin: 0 1.5rem;
    }
  }
  input {
    appearance: none;
    -webkit-appearance: none;
    width: 0;
    opacity: 0;
  }
  label {
    // padding here too for a bigger touch area
    padding: 0 .5rem;
    cursor: pointer;
  }
  input:checked ~ label, input:hover ~ label {
    text-decoration: underline;
  }
}

svg.right-arrow {
  margin-left: 3px;
  margin-top: -3px;
  transition: transform $transition-duration;
  a:hover & {
    transform: translateX(8px);
  }
}

.catalog-item__wrapper {
  &.featured {
    @extend .col-12;
    @extend .col-md-6;
  }
  &:not(.featured) {
    @extend .col-6;
    @extend .col-md-4;
  }
}
.catalog-item {
  margin-bottom: 40px;
  &__image {
    height: 52vw;
    background-size: cover;
    background-position: center 85%;
    transition: all 0.4s;
    @include rwd(mobile-up) {
      height: 300px;
    }
    @include rwd(tablet-up) {
      height: 300px;
      background-size: auto 100%;
      background-position: center center;
      a:hover & {
        background-size: auto 105%;
      }
    }
    @include rwd(desktop-up) {
      height: 500px;
    }
  }

  a:hover & {
    p {
      text-decoration: underline;
    }
  }

  .featured & .catalog-item__image {
    height: 300px;
    @include rwd(mobile-up) {
      height: 400px;
    }
    @include rwd(tablet-up) {
      height: 500px;
    }
    @include rwd(desktop-up) {
      height: 650px;
    }
  }
}

.single-product-modal {
  .brand-logo {
    max-height: 29px;
  }
  .product-details {
    @include rwd(desktop-up) {
      column-count: 3;
      column-gap: 50px;
      column-fill: auto; //fills first columns first
      height: 290px;
      p {
        break-inside: avoid-column;
      }
    }
  }

  .loading & {
    display: none;
  }
}

.modal-content {
  .spinning-wrapper {
    display: none;
    .loading & {
      display: block;
    }
  }
}

.horizontal-gallery {
  white-space: nowrap;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  img {
    scroll-snap-align: start;
  }
}

.bgimage-section {
  &#bgimage-yadea {
    background-image: url('/uploads/global/yadeaconnection-bg_mob.jpg');
    background-size: cover;
    background-position: right;
    @include rwd(tablet-up) {

    }
    @include rwd(desktop-up) {
      background-image: url('/uploads/global/yadeaconnection-bg.jpg');
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/uploads/global/yadeaconnection-bg_mob@2x.jpg');
      @include rwd(tablet-up) {
        background-image: url('/uploads/global/yadeaconnection-bg@2x.jpg');
      }
    }

  }
  &__text {
    padding: 230px 0;
  }
}

.logo-boxes.sq .single-box.partners-text {
  @include rwd(tablet-down) {
    max-width: 100%;
    width: 100%;
  }
}


/* YADEAAAAAAAA */
.vehicles-yadea {
  .hero-banner {
    background-image: url("/uploads/global/yadea-hero_mob.jpg");
    @include rwd(mobile-up) {
      background-image: url("/uploads/global/yadea-hero.jpg");
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('/uploads/global/yadea-hero_mob@2x.jpg');
      @include rwd(mobile-up) {
        background-image: url('/uploads/global/yadea-hero@2x.jpg');
      }
    }
    @include rwd(mobile-down) {
      background-position: bottom;
      .hero-banner__inner-content {
        padding: 8.0625rem 0 123vw;
      }
    }


    h1 {
      font-size: 62px;
      @include rwd(tablet-up) {
        font-size: 120px;
      }
    }
    .powered-by {
      transform: translateX(110px);
      @include rwd(tablet-up) {
        transform: translateX(215px);
      }
    }


  }

  h1,h2:not(.page-heading) {
    font-weight: normal;
    line-height: 1;
  }
  .headline-large:not(.page-heading) {
    font-size: 40px;
    line-height: 48px;
    @include rwd(tablet-up) {
      font-size: 70px;
      line-height: 88px;
    }
  }


}

#yadea-3d {
  clipPath {
    rect, path {
      animation-iteration-count: infinite !important;
      animation-play-state: paused !important;
      animation-duration: 1.9s !important;
    }
    &.active {
      rect, path {
        animation-iteration-count: 1 !important;
        animation-play-state: running !important;
        animation-direction: normal !important;
      }
    }
    &.inactive {
      rect, path {
        animation-iteration-count: 1 !important;
        animation-direction: reverse !important;
        animation-play-state: running !important;
      }
    }
  }
  ellipse {
    animation: 1.9s linear infinite both pulsing-circle_1;
    cursor: pointer;
    &.active {
      animation: none;
      fill: none;
    }
  }
}
@keyframes pulsing-circle_1 { 0% { rx:8; ry:8; } 52.3157% { rx:12; ry:12; animation-timing-function: cubic-bezier(0.42,0,1,1); } 100% { rx:8; ry:8; } }


// yadea highlight section
#highlights {
  img {

    &#yadea-iot__front {
      max-width: 100%;
      @include rwd(tablet-up) {
        max-width: 140%;
        transform: translateX(-20%);
      }
      @include rwd(desktop-up) {
        transform: translateX(-12%);
        max-width: none;
      }
    }
    &#yadea-battery__side {
      max-width: 150%;
      @include rwd(tablet-up) {
        max-width: 195%;
      }
      @include rwd(desktop-up) {
        max-width: none;
      }
    }
  }
}



#gallery {
  video {
    object-fit: cover;
    object-position: center center;
  }
}

#gallery {
  .gallery-photo {
    margin: 8px;
    @include rwd(tablet-up) {
      margin: 15px;
    }
  }
}

/* END OF VEHICLES STYLING   */


ul.feature-list {
  padding-left: 1.8em;
  li {
    margin-bottom: 8px;
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      height: 1.5em;
      width: 1.5em;
      background-image: url('/uploads/global/check_24px.svg');
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      right: calc(100% + 4px);
      top: 1px;
    }
  }
  #rentintro-tabContent & {
    li {
      margin-bottom: 14px;
      padding-left: 1em;
    }
  }
  &.darker-check li:before {
    filter: brightness(0.2);
  }

}


/* ANIMATION FOR PHONE MOCKUPS - shuttle 02/2020 */

$eachslide-duration: 3s;
$count: 4;

.phonemockup-animation {
  position: relative;
  display: flex;
  justify-content: center;
  .mockup-section & {
    transform: scale(0.7);
    margin-top: -150px;
    margin-bottom: -25px;
    @include rwd(tablet-up) {
      margin: 0;
      transform: none;
    }
  }
  &.screens-5 {
    $count: 5;
  }
  &.screens-4 {
    $count: 4;
  }
  &_screen-mask {
    height: 597px;
    width: 281px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    z-index: 5;
    border-radius: 24px;
    > img {
      position: absolute;
    }
  }
  &_notch {
    position: absolute;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    top: 1.7%;
  }
  &_base {
    position: relative;
    animation: none;
    filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.1));
    .dark-bg & {
      filter: drop-shadow(0px 1px 16px rgba(200, 200, 200, 0.3))
    }
  }

  .progress-bar {
     position: absolute;
     bottom: -20px;
     width: 160px;
     height: 1px;
     background: #535253;
     &:after {
       content: '';
       position: absolute;
       left: 0;
       top: 0;
       width: 0%;
       height: 1px;
       background: $white;
       animation: fullexpand $eachslide-duration*$count linear $eachslide-duration infinite;
     }
     .grey-bg & {
       background: #A0A0A4;
       &:after {
         background: $mobility-black;
       }
     }
   }

   .phonemockup-animation_screen-mask img {
     animation: cycle#{$count} $eachslide-duration*$count infinite;
     @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          z-index: 11 - $i;
          animation-delay: $eachslide-duration*$i;
        }
     }
   }
}

.web-mockup {
  filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.1));
}

@keyframes cycle5 {
   0%  { left: 0px; opacity: 1; } /* When you start the slide, the first image is already visible */
   14%  { left: 0px; }
   20% { left: -281px; opacity: 1; }
   49% { left: -281px; opacity: 0}
   50% { left: 281px; opacity: 0;  }
   94% { left: 281px; opacity: 1; }
   100% { left: 0px; opacity: 1;  }
}
@keyframes cycle4 {
   0%  { left: 0px; opacity: 1; } /* When you start the slide, the first image is already visible */
   21%  { left: 0px; }
   25% { left: -281px; opacity: 1; }
   49% { left: -281px; opacity: 0}
   50% { left: 281px; opacity: 0;  }
   96% { left: 281px; opacity: 1; }
   100% { left: 0px; opacity: 1;  }
}

@keyframes fullexpand {
   /* In these keyframes, the progress-bar is stationary */
   0% { width: 0%; }
   94% { width: 100%; }
   100% { width: 0%; }
}

/* END OF animation for phone mockuos  */
