* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #F4F4F4;
}

@include rwd(tablet-down) {
  .container {
    max-width: 95%;
  }
}


a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: inherit;
    vertical-align: baseline;
}

.text-right {
  text-align: right;

  &-md {
    @include rwd(tablet-up) {
      text-align: right;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .careers .container {
      max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .careers .container {
      max-width: 1040px;
  }
}


.invisible {
  opacity: 0 !important;
}

.hidden {
  display: none;
}
.visible-xs {
  display: block;
  @include rwd(mobile-up) {
    display: none;
  }
}

.responsive-video {
  padding: 56.25% 0 0 0;
  position: relative;
  margin: 3em 0 0;

  @include rwd(tablet-up) {
    margin: 5rem 0;
  }

  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}


img.lazy {
  opacity: 0;
  transition: opacity 0.3s;
  &.loaded {
    opacity: 1;
  }
}

body.en .de-only {
  display: none;
}
body.de .en-only {
  display: none;
}
