@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta.otf');
  font-weight: 400;
  font-display: fallback
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Light.otf');
  font-weight: 300;
  font-display: fallback
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Bold.otf');
  font-weight: 700;
  font-display: fallback
}
@font-face {
  font-family: 'Averta';
  src: url('../fonts/Averta-Black.otf');
  font-weight: 900;
  font-display: fallback
}
